﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.SolicitacaoSaida;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")

}


@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>

    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

    <script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>

    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/Solicitacoes/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/Solicitacoes/_CriarOuEditarPreMovimentoItemModal.js")
}
@if (Model != null)
{
    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSolicitacao") + ": " + Model.Documento) : L("CreateNewSolicitacao")))

        <div class="portlet-body">

            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEstadoId" id="PreMovimentoEstadoId" value="@Model.PreMovimentoEstadoId" />
                <input type="hidden" name="Itens" id="itens" value="@Model.Itens" />


                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EstTipoMovimentoId">@L("TipoDocumento")</label>
                            @Html.DropDownListFor(m => m.EstTipoMovimentoId, Model.TipoMovimentos, L("SelecioneLista"), new { tabIndex = 1, required = "required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EmpresaId">@L("Empresa")</label>
                            @Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("SelecioneLista"), new { tabIndex = 2, required = "required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="EstoqueID">@L("Estoque")</label>
                            @Html.DropDownListFor(m => m.EstoqueId, Model.Estoques, L("SelecioneLista"), new { tabIndex = 3, @class = "form-control  selectpicker", required = "required", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-2">

                        <div class="form-group">
                            <label>@L("Solicitacao")</label>
                            <input name="Documento" id="documento" class="form-control input-sm" type="text" readonly value="@Model.Documento">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEmissao")</label>
                            <input name="Emissao" id="Emissao" class="form-control input-sm" type="text" value="@(Model.IsEditMode? Model.Emissao.ToShortDateString(): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div id="grupoOrganizacional" @Html.Raw((Model.EstTipoMovimentoId == 3) ? "hidden=\"hidden\"" : "")>
                            <div class="form-group  ">
                                <label for="UnidadeOrganizacional-Id">@L("UnidadeOrganizacional")</label>
                                @Html.DropDownListFor(m => m.UnidadeOrganizacionalId, Model.UnidadesOrganizacionais, L("SelecioneLista"), new { tabIndex = 4, @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("UnidadeOrganizacional") })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div id="atendimento" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId != 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="atendimentoId">@L("Atendimento")</label>
                            <select name="AtendimentoId" value="@Model.AtendimentoId" id="atendimentoId" class="editar form-control select2 selectAtendimento" tabIndex=7>
                                <option value="@Model.AtendimentoId"> @(Model.Atendimento != null ? string.Concat(Model.AtendimentoId, " - ", Model.Atendimento.Paciente.NomeCompleto) : "") </option>
                            </select>
                        </div>
                    </div>
                    <div id="divHoraPrescrita" class="col-sm-2" @Html.Raw((Model.EstTipoMovimentoId != 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="HoraPrescrita">@L("HoraPrescrita")</label>
                            <input name="HoraPrescrita" id="horaPrescrita" class="form-control input-sm" type="text" value="@(Model.IsEditMode? string.Format("{0: dd/MM/yyyy HH:mm}", Model.HoraPrescrita): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="paciente" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group">
                            <label for="pacienteInputId">@L("Paciente")</label>
                            <input name="PacienteInput" id="pacienteInputId" class="form-control input-sm hidden" tabIndex=8, type="text" value="@(Model.Paciente != null ? Model.Paciente.NomeCompleto : "")">
                            <div id="divPaciente">
                                <select name="PacienteId" value="@Model.PacienteId" id="pacienteId" class="form-control select2 selectPaciente ">
                                    <option value="@Model.PacienteId"> @(Model.Paciente != null ? string.Concat(Model.PacienteId, " - ", Model.Paciente.NomeCompleto) : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="medico" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="Medico-Id">@L("Medico")</label>
                            <input name="MedicoSolcitante" id="medicoSolcitante" class="form-control input-sm hidden" type="text" tabIndex=9, value="@(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "")">
                            <div id="divMedico">
                                <select name="MedicoSolcitanteId" value="@Model.MedicoSolcitanteId" id="medicoSolcitanteId" class="form-control select2 selectMedico  ">
                                    <option value="@Model.MedicoSolcitanteId"> @(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="observacao">@L("Observacao")</label>
                        @*<input name="Observacao" id="observacao" class="form-control input-sm" type="text" tabIndex=10, value="@(Model.Observacao)">*@
                        <textarea class="form-control text-editor" name="Observacao" id="observacao">@(Model.Observacao)</textarea>
                        @*<textarea class="text-editor" name="Observacao" id="observacao"></textarea>*@
                    </div>
                </div>

                <p class="white-space">&nbsp;</p>


                <form name="PreMovimentoItemInformationsForm" role="form" novalidate>

                    <div id="exTab3" @Html.Raw(Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : "")>
                        @*<button id="btn-novo-PreMovimentoItem" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Item")</button>*@
                        <input type="hidden" name="IdGrid" id="idGrid" />


                        <div class="row">
                            <div class="col-sm-6">


                                <label for="ProdutoId">@L("Produto")</label>

                                <select name="ProdutoId" id="produtoId" tabindex="11" class="editar form-control select2 selectProduto" width: 100%>
                                    @*<option value="@Model.ProdutoId">@(Model.Produto != null ? String.Concat(Model.Produto.Codigo, " - ", Model.Produto.Descricao) : "Informe um produto") </option>*@
                                </select>

                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>@L("Quantidade")</label>
                                    <input name="Quantidade" id="QuantidadeItemid" class="editar form-control  input-sm" type="text" tabindex="12">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label for="ProdutoUnidadeId">@L("Unidade")</label>

                                    <select name="ProdutoUnidadeId" id="ProdutoUnidadeId" tabindex="13" class="editar form-control select2 selectProdutoUnidade " width: 100%></select>


                                    @*@Html.DropDownListFor(m => m.ProdutoUnidadeId, Model.Unidades, L("SelecioneLista"), new { tabIndex = 13, @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <label for="NumeroNotaFiscal"> </label>
                                <button name="salvar-PreMovimento-Item" id="salvar-PreMovimento-Item" class="btn blue " tabindex="14"><i class="fa fa-check"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>

                            @*<div class="col-sm-1">
                                <div class="form-group ">
                                    <label for="ProdutoUnidadeId">    </label>
                                    <button type="button" id="salvar-PreMovimento-Item" class="btn blue save-button"><i class="fa fa-check"></i> </button>
                                </div>
                                </div>*@

                        </div>




                    </div>
                </form>
                <div id="EstoquePreMovimentoItemTable"></div>

                <p class="white-space">&nbsp;</p>

                <div class="modal-footer">
                    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>

                    <span @Html.Raw((Model.PreMovimentoEstadoId == 6 || Model.PreMovimentoEstadoId == 5) ? "hidden=\" hidden\"" : "")>
                        <button type="button" id="salvar-PreMovimento" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </span>
                </div>

            </form>
        </div>
    </div>

}
