﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@*remover isso*@
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.PreMovimentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.SolicitacaoSaida;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/Solicitacoes/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/Solicitacoes/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("SolicitacaoSaida")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_Entrada_Create))
        {
            <button id="CreateNewPreMovimentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSolicitacao")</button>
        }
        <button id="RefreshAtendimentosButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PreMovimentoFilterForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <label>@L("Estoque")</label>
                                                    <select name="EstoqueId" value="@Model.EstoqueId" id="estoqueId" required class="editar form-control select2 selectEstoque">
                                                    </select>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("DateRangeEmissao")</label>
                                                        <input type="text" class="form-control date-range-picker" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="EstTipoMovimentoId">@L("TipoMovimento")</label>
                                                        @Html.DropDownListFor(m => m.EstTipoMovimentoId, Model.TipoMovimentos, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>@L("Filtro")</label>
                                                    <input id="PreMovimentoTableFilter" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div id="PreMovimentoTable"></div>
    </div>
</div>
