﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Financeiros.RateioCentroCustoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRateioPadrao") + ": " + Model.Descricao) : L("CreateNewRateioPadrao")))

<div class="modal-body">


    <div class="tab-content">
        <div class="tab-pane active" id="rateioCentroCustoInformationsTab">
            <form name="rateioCentroCustoInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }

                <input type="hidden" name="CentrosCustos" id="centrosCustos" value="@Model.CentrosCustos" />


                <div class="row">
                    <div class="col-sm-4">
                        <label>@L("Codigo")</label>
                        <input type="text" name="Codigo" id="codigo" class="form-control input-sm" value="@Model.Codigo">
                    </div>
                    <div class="col-sm-8">
                        <label>@L("Descricao")</label>
                        <input type="text" name="Descricao" id="descricao" class="form-control input-sm" value="@Model.Descricao">
                    </div>
                </div>


                <p class="white-space">&nbsp;</p>

                <form name="RateioItemInformationsForm" role="form" novalidate>

                    <div class="portlet box blue">

                        <div class="portlet-title">
                            <div class="caption">
                                @L("CentroCustoRateio")
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <input type="hidden" name="IdGrid" id="idGrid" />

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>@L("CentroCusto")</label>
                                    <select name="CentroCustoId" id="centroCustoId" class="editar form-control select2 selectcentrocusto " required></select>
                                </div>
                                <div class="col-sm-4">
                                    <label>@L("Percentual")</label>
                                    <input type="text" name="Percentual" id="percentual" class="form-control input-sm" ">
                                </div>

                                <div class="col-sm-1">
                                    <button name="Inserir" id="inserir" class="btn blue " tabindex="14"><i class="fa fa-check"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                  <div class="col-sm-4">
                        <label>@L("SomaPercentual")</label>
                        <input type="text" name="SomaPercentual" id="somaPercentual" class="form-control input-sm"  readonly>
                    </div>

                </div>
                <p class="white-space">&nbsp;</p>
                <div id="centroCustoTable"></div>

            </form>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
