﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Estoques.CriarOuEditarEstoqueModalViewModel

@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEstoque") + ": " + Model.Descricao) : L("CreateNewEstoque")))*@

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEstoque") + ": " + Model.Descricao) : L("CreateNewEstoque")))

<div class="modal-body">

    <form name="EstoqueInformationsForm" role="form" novalidate class="form-validation">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <!-- Conferir o porque desse hidden-->
        <input type="hidden" name="FornecedorId" id="FornecedorId" value="1" />

        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
        }

        <div class="row">
            @using (Html.InputFor(m => m.Descricao, Model.Descricao, L("Descricao"), 6, required: true)) { }

        </div>

        <div class="portlet light bordered">
            <div class="portlet-body">
                @using (Html.Abas())
                {
                    Html.Aba("tab_grupo", L("Grupos"), true);
                }

                @using (Html.AbasConteudo())
                {
                    using (Html.AbaConteudo("tab_grupo", true))
                    {
                        using (Html.Row())
                        {
                            if (Model.IsEditMode)
                            {
                                //using (Html.SWMultiSelect("Disponiveis", "Selecionados", "grupo", "listarTodos", Model.aEstoquesGrupo, 12)) { }

                                using (Html.SWMultiSelect("Disponiveis", "Selecionados", "grupo", "listarTodos", Model.EstoquesGrupo, 12)) { }
                            }
                            else
                            {
                                using (Html.SWMultiSelect("Disponiveis", "Selecionados", "grupo", "listarTodos", null, 12)) { }
                            }
                        }
                    }
                }
            </div>
        </div>

    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

