﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Estoques.ProdutosEstoqueViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.ProdutoEstoque;
}

@section Styles
{

}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Estoques/Index.js")
    @Html.InjetarJavascript(){ }
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Estoque")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarEstoquesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosSuprimentos_Estoque_Create))
            {
            <button id="CreateNewEstoqueButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEstoque")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="EstoquesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getEstoques()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="EstoquesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetEstoquesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @*@using (Html.SWMultiSelect("Disponiveis", "Selecionados", "estoque", "listarTodos")) { }*@
        <div id="EstoquesTable"></div>
    </div>
</div>
