﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamentos.Tabelas

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamentos.BrasItens.CriarOuEditarFaturamentoBrasItemModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBrasItem") + ": " + Model.Descricao) : L("CreateNewBrasItem")))

<div class="modal-body container-fluid">
    <form name="BrasItemInformationsForm" role="form" novalidate class="form-validation">

        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>@L("Codigo")</label>
                    <input name="Codigo" class="form-control input-sm" type="text" value="@Model.Codigo">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label>@L("Descricao")</label>
                    <input name="Descricao" class="form-control input-sm" type="text" value="@Model.Descricao">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn default close-button" id="btn-fechar-modal" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn blue save-button" id="btn-salvar-brasItem"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

</script>
