﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Estados.CriarOuEditarEstadoModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEstado") + ": " + Model.Nome) : L("CreateNewEstado")))

<div class="modal-body container-fluid">

    <div class="tabbable-line container-fluid">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#EstadoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Estado")
                </a>
            </li>
            @*<li>
                    <a href="#EstadoInformationsTab" data-toggle="tab" aria-expanded="true">
                        @L("Pesos")
                    </a>
                </li>
                <li>
                    <a href="#EstadoInformationsTab" data-toggle="tab" aria-expanded="true">
                        @L("Convenios")
                    </a>
                </li>*@
        </ul>
        <div class="tab-content container-fluid">
            <div class="tab-pane active" id="EstadoInformationsTab">
                <form name="EstadoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>@L("Codigo")</label>
                                <input name="Codigo" class="form-control input-sm" type="text" value="@Model.Codigo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label>@L("Nome")</label>
                                <input name="Nome" class="form-control input-sm" type="text" value="@Model.Nome">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>@L("Uf")</label>
                                <input name="Uf" class="form-control input-sm" type="text" value="@Model.Uf">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>@L("Pais")</label>
                                @Html.DropDownListFor(m => m.PaisId, Model.Paises, L("SelecioneLista"), new { @class = "form-control edited", required = "required" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
