﻿@using Abp.Collections.Extensions
@using SW10.SWMANAGER.Web.Views
@using SW10.SWMANAGER.Web.Areas.Mpa.Startup

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Layout.SidebarViewModel

@{
    var key = ViewBag.Key;
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }
        if (UrlChecker.IsRooted(url))
        {
            return url;
        }
        return ApplicationPath + url;
    });
    var verticalMenu = string.Empty;
    var verticalContent = string.Empty;
    var countI = 0;
}
@if (Model.Menu.Items.Count() > 0)
{
    verticalMenu = "<ul class=\"nav nav-tabs tabs-left\">";
    verticalContent = "<div class=\"tab-content\">";
    //L0 - vertical: 2 colunas - 1 tabs; 2 conteúdo/subtabs
    #region loop_menuvertical
    for (var i = 0; i < Model.Menu.Items.Count; i++)
    {
        var horizontalMenu = string.Empty;
        var horizontalContent = string.Empty;
        var countX = 0;
        var menuItem = Model.Menu.Items[i];
        var isActive = Model.CurrentPageName == menuItem.Name ||
                       (!menuItem.Items.IsNullOrEmpty() && menuItem.Items.Any(item => item.Name == Model.CurrentPageName));
        if (menuItem.Items.IsNullOrEmpty())
        {
            verticalMenu += "<li class=\" \">";
            verticalMenu += "<a href=\"#tab-vertical-" + key + "-" + i + "\" data-toggle=\"tab\" data-page-name=\"" + menuItem.Name + "\" onclick=\"setActivePage('" + menuItem.Name + "');LerParcial('tab-vertical-" + key + "-" + i + "','" + menuItem.Url + "');\">";
            verticalMenu += "<i class=\"" + menuItem.Icon + "\"></i>";
            verticalMenu += menuItem.DisplayName;
            verticalMenu += "</a>";
            verticalMenu += "</li>";
            verticalContent += "<div class=\"tab-pane fade " + "\" id=\"tab-vertical-" + key + "-" + i + "\" data-reload='0'>";
            verticalContent += "</div>";
        }
        else
        {
            verticalMenu += "<li class=\" \">";
            verticalMenu += "<a href=\"#tab-vertical-" + key + "-" + i + "\" data-toggle=\"tab\" data-page-name=\"" + menuItem.Name + "\">";
            verticalMenu += "<i class=\"" + menuItem.Icon + "\"></i>";
            verticalMenu += menuItem.DisplayName;
            verticalMenu += "</a>";
            verticalMenu += "</li>";
            countI++;
            verticalContent += "<div class=\"tab-pane fade " + "\" id=\"tab-vertical-" + key + "-" + i + "\">";
            #region loop_menuhorizontal
            for (var x = 0; x < menuItem.Items.Count(); x++)
            {
                var horizontalSubmenu = string.Empty;
                var horizontalSubContent = string.Empty;
                var countY = 0;
                if (countX == 0)
                {
                    horizontalMenu = "<ul class=\"nav nav-tabs\">";
                    horizontalContent = "<div class=\"tab-content\">";
                }
                var subMenuItem = menuItem.Items[x];
                if (subMenuItem.Items.IsNullOrEmpty())
                {
                    horizontalMenu += "<li class=\" \">";
                    horizontalMenu += "<a href=\"#tab-horizontal-" + key + "-" + i + "-" + x + "\" onclick =\"setActivePage('" + subMenuItem.Name + "');LerParcial('tab-horizontal-" + key + "-" + i + "-" + x + "','" + subMenuItem.Url + "');\" data-toggle=\"tab\" data-page-name=\"" + subMenuItem.Name + "\">";
                    horizontalMenu += subMenuItem.DisplayName;
                    horizontalMenu += "</a>";
                    horizontalMenu += "</li>";
                    horizontalContent += "<div class=\"tab-pane fade " + "\" id=\"tab-horizontal-" + key + "-" + i + "-" + x + "\" data-reload='0'>";
                    horizontalContent += "</div>";
                }
                else
                {
                    horizontalMenu += "<li class=\" \">";
                    horizontalMenu += "<a href=\"#tab-horizontal-" + key + "-" + i + "-" + x + "\" data-toggle=\"tab\" data-page-name=\"" + subMenuItem.Name + "\">";
                    horizontalMenu += subMenuItem.DisplayName;
                    horizontalMenu += "<i class=\"fa fa-angle-down\"></i>";
                    horizontalMenu += "</a>";
                    horizontalMenu += "</li>";
                    //L3 - subtabs - 2 linhas: 1: tabs; 2: conteudo
                    horizontalContent += "<div class=\"tab-pane fade " + "\" id=\"tab-horizontal-" + key + "-" + i + "-" + x + "\" data-reload='0'>";
                    #region loop_submenuhorizontal
                    for (var y = 0; y < subMenuItem.Items.Count(); y++)
                    {
                        if (countY == 0)
                        {
                            horizontalSubmenu = "<ul class=\"nav nav-tabs\">";
                            horizontalSubContent = "<div class=\"tab-content\">";
                        }
                        var childMenu = subMenuItem.Items[y];
                        horizontalSubmenu += "<li class=\" \">";
                        horizontalSubmenu += "<a href=\"#tab-horizontal-" + key + "-" + i + "-" + x + "-" + y + "\" onclick =\"setActivePage('" + childMenu.Name + "');LerParcial('tab-horizontal-" + key + "-" + i + "-" + x + "-" + y + "','" + childMenu.Url + "');\" data-toggle=\"tab\" data-page-name=\"" + childMenu.Name + "\">";
                        horizontalSubmenu += childMenu.DisplayName;
                        horizontalSubmenu += "</a>";
                        horizontalSubmenu += "</li>";
                        horizontalSubContent += "<div class=\"tab-pane fade " + "\" id =\"tab-horizontal-" + key + "-" + i + "-" + x + "-" + y + "\" data-reload='0'>";
                        horizontalSubContent += "</div>";
                        countY++;
                    }
                    #endregion
                    horizontalSubmenu += "</ul>";
                    horizontalSubContent += "</div>";
                    horizontalContent += horizontalSubmenu;
                    horizontalContent += horizontalSubContent;
                    horizontalContent += "</div>";
                }
                countX++;
            }
            horizontalMenu += "</ul>";
            horizontalContent += "</div>";
            verticalContent += horizontalMenu;
            verticalContent += horizontalContent;
            #endregion
            verticalContent += "</div>";
        }
        countI++;
    }
    #endregion
    verticalContent += "</div>";
    verticalMenu += "</ul>";
}
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2" id="tab-vertical">
        @{
            WriteLiteral(verticalMenu);
        }
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10" id="tab-horizontal">
        <div class="row">
            <div class="col-md-12" id="vertical-content">
                @{
                    WriteLiteral(verticalContent);
                }
            </div>
        </div>
    </div>
</div>
