﻿@using Abp.Collections.Extensions
@using SW10.SWMANAGER.Web.Views
@using SW10.SWMANAGER.Web.Areas.Mpa.Startup

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Layout.SidebarViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }
        if (UrlChecker.IsRooted(url))
        {
            return url;
        }
        return ApplicationPath + url;
        Dictionary<string, string> _customData = new Dictionary<string, string>();
    });
}
<div class="page-sidebar navbar-collapse collapse">
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" id="menu-lateral" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        @for (var i = 0; i < Model.Menu.Items.Count; i++)
        {
            //  var linkClasse = string.Empty;
            var target = string.Empty;
            var hiddenValue = string.Empty;
            var menuItem = Model.Menu.Items[i];
            var isActive = Model.CurrentPageName == menuItem.Name ||
                           (!menuItem.Items.IsNullOrEmpty() && menuItem.Items.Any(item => item.Name == Model.CurrentPageName));
            <li class="@(i==0 ? "start" : "") @(isActive ? "active" : "")">
                @if (menuItem.Items.IsNullOrEmpty())
                {
                    if (menuItem.CustomData != null)
                    {
                        var cd = (MenuItemCustomData)menuItem.CustomData;
                        target = string.Format("{0}={1}", cd.Target.Key, menuItem.Name);   //string.Format("{0}={1}", cd.Target.Key, cd.Target.Value);
                        hiddenValue = menuItem.Name;
                    }
                    <a href="@calculateMenuUrl(menuItem.Url)" @(target) data-page-name="@menuItem.Name" onclick="setActivePage('@menuItem.Name');">
                        <i class="@menuItem.Icon"></i>
                        <span class="title">@menuItem.DisplayName</span>
                        <input type="hidden" value="@(hiddenValue)" />
                    </a>
                }
                else
                {
                    <a href="javascript:;" class="auto">
                        <i class="@menuItem.Icon"></i>
                        <span class="title">@menuItem.DisplayName</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        @foreach (var childMenuItem in menuItem.Items)
                        {
                            target = string.Empty;
                            hiddenValue = string.Empty;
                            <li class="@(Model.CurrentPageName == childMenuItem.Name ? "active" : "")">
                                @if (childMenuItem.Items.IsNullOrEmpty())
                                {
                                    if (childMenuItem.CustomData != null)
                                    {
                                        var cd = (MenuItemCustomData)childMenuItem.CustomData;
                                        target = string.Format("{0}={1}", cd.Target.Key, childMenuItem.Name); //string.Format("{0}={1}", cd.Target.Key, cd.Target.Value);
                                        hiddenValue = childMenuItem.Name;
                                    }
                                    <a href="@calculateMenuUrl(childMenuItem.Url)" @(target) data-page-name="@childMenuItem.Name" onclick="setActivePage('@childMenuItem.Name');">
                                        <span><i class="sub-menu-icon @childMenuItem.Icon"></i> @childMenuItem.DisplayName</span>
                                        <input type="hidden" value="@(hiddenValue)" />
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:;" class="auto">
                                        <i class="@childMenuItem.Icon"></i>
                                        <span class="title">@childMenuItem.DisplayName</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        @foreach (var secondLevelChildMenuItem in childMenuItem.Items)
                                        {
                                            target = string.Empty;
                                            hiddenValue = string.Empty;
                                            <li class="@(Model.CurrentPageName == secondLevelChildMenuItem.Name ? "active" : "")">
                                                @if (secondLevelChildMenuItem.Items.IsNullOrEmpty())
                                                {
                                                    if (secondLevelChildMenuItem.CustomData != null)
                                                    {
                                                        var cd = (MenuItemCustomData)secondLevelChildMenuItem.CustomData;
                                                        target = string.Format("{0}={1}", cd.Target.Key, secondLevelChildMenuItem.Name); //string.Format("{0}={1}", cd.Target.Key, cd.Target.Value);
                                                        hiddenValue = secondLevelChildMenuItem.Name;
                                                    }
                                                    <a href="@calculateMenuUrl(secondLevelChildMenuItem.Url)" @(target) data-page-name="@secondLevelChildMenuItem.Name" onclick="setActivePage('@secondLevelChildMenuItem.Name');">
                                                        <span><i class="sub-menu-icon @secondLevelChildMenuItem.Icon"></i> @secondLevelChildMenuItem.DisplayName</span>
                                                        <input type="hidden" value="@(hiddenValue)" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:;" class="auto">
                                                        <i class="@secondLevelChildMenuItem.Icon"></i>
                                                        <span class="title">@secondLevelChildMenuItem.DisplayName</span>
                                                        <span class="arrow"></span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        @foreach (var thirdLevelChildMenuItem in secondLevelChildMenuItem.Items)
                                                        {
                                                            target = string.Empty;
                                                            hiddenValue = string.Empty;
                                                            <li class="@(Model.CurrentPageName == thirdLevelChildMenuItem.Name ? "active" : "")">
                                                                @if (thirdLevelChildMenuItem.CustomData != null)
                                                                {
                                                                    var cd = (MenuItemCustomData)thirdLevelChildMenuItem.CustomData;
                                                                    target = string.Format("{0}={1}", cd.Target.Key, thirdLevelChildMenuItem.Name); //string.Format("{0}={1}", cd.Target.Key, cd.Target.Value);
                                                                    hiddenValue = thirdLevelChildMenuItem.Name;
                                                                }
                                                                <a href="@calculateMenuUrl(thirdLevelChildMenuItem.Url)" @(target) data-page-name="@thirdLevelChildMenuItem.Name" onclick="setActivePage('@thirdLevelChildMenuItem.Name');">
                                                                    <span><i class="sub-menu-icon @thirdLevelChildMenuItem.Icon"></i> @thirdLevelChildMenuItem.DisplayName</span>
                                                                    <input type="hidden" value="@(hiddenValue)" />
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
