﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers
@using SW10.SWMANAGER.Authorization


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.TiposControles.CriarOuEditarTipoControleViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTipoControle") + ": " + Model.Descricao) : L("CreateNewTipoControle")))

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#TipoControleInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("TipoControle")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="TipoControleInformationsTab">
                <form name="TipoControleInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="Id" value="@Model.Id" id="tipo-resposta-id-principal" />
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>@L("Codigo")</label>
                                <input class="form-control input-sm" value="@Model.Codigo" type="text" name="Codigo">
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label>@L("Descricao")</label>
                                <input class="form-control input-sm" value="@Model.Descricao" type="text" name="Descricao">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
