﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.Visitantes.CriarOuEditarVisitanteModalViewModel
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditVisitante") + ": " + Model.Nome) : L("CreateNewVisitante")))

<div class="modal-body container-fluid">
    <div class="tabbable-line container-fluid">
        <div class="tab-content container-fluid">
            <div class="tab-pane active" id="VisitanteInformationsTab">
                <form name="VisitanteInformationsTab" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="AtId" value="@Model.AtendimentoId" />
                        <script>
                            @Model.IsFornecedor = $('#chk-isFornecedor').is(':checked');
                        </script>
                    }

                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="row">
                                <div class="col-sm-12" id="div-foto-paciente">
                                    @if (Model.Foto.Length == 0)
                                    {
                                        <img id="foto-paciente" src="@Url.Content("~/Common/Images/default-profile-picture.png")" class="img-thumbnail img-rounded" />
                                    }
                                    else
                                    {
                                        var base64 = Convert.ToBase64String(Model.Foto);
                                        var imgSrc = string.Format("data:{0};base64,{1}", Model.FotoMimeType, base64);
                                        <img src="@imgSrc" id="foto-paciente" class="img-thumbnail img-rounded" />
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button name="CapturarFoto" id="capturar-foto" class="btn btn-primary">@L("CapturarFoto")</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="hidden" id="area-captura"></div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-sm-9">
                            @*<div class="row">*@
                            <br />
                            <br />
                            @using (Html.Row())
                            {

                                using (Html.SWRadios(2/*DIFERENCIADOR DE GRUPO*/, new SWTag[]
                                             {
                                            new SWTag("chk-isVisitante", "IsVisitante",   @L("Visitante"),"personal", _checked:Model.IsVisitante, col:2),
                                            new SWTag("chk-isAcompanhante", "IsAcompanhante", @L("Acompanhante") ,_checked:Model.IsAcompanhante, col:2),
                                            new SWTag("chk-isMedico", "IsMedico",  @L("Medico"),_checked:Model.IsMedico, col:1)
                                             }, 9 /*TAMANHO DA COLUNA QUE O GRUPO OCUPA*/ ))
                                {
                                }

                                <br />
                            }

                            @*</div>*@
                            @*<div class="row">*@
                            @using (Html.Row())
                            {
                                <br />
                                <br />
                                using (Html.SWRadios(1/*DIFERENCIADOR DE GRUPO*/, new SWTag[]
                                             {

                                            new SWTag("chk-isEmergencia", "IsEmergencia",  @L("Emergencia"), classeCss:"chk", _checked:Model.IsEmergencia, col:2),
                                            new SWTag("chk-isInternado", "IsInternado",   @L("Internacao"), classeCss:"chk" ,_checked:Model.IsInternado, col:2),
                                            new SWTag("chk-isSetor", "IsSetor", @L("Setor") ,classeCss:"chk", _checked:Model.IsSetor, col:2),
                                            new SWTag("chk-isFornecedor", "IsFornecedor",  @L("Fornecedor"), classeCss:"chk", _checked:Model.IsFornecedor, col:2)
                                             }, 9 /*TAMANHO DA COLUNA QUE O GRUPO OCUPA*/ ))
                                { }
                                <br />
                            }

                            @*</div>*@
                        </div>
                    </div>



                    @*@using (Html.Row())
                        {

                            using (Html.SWRadios(1/*DIFERENCIADOR DE GRUPO*/, new SWTag[]
                                         {

                                                new SWTag("chk-isEmergencia", "IsEmergencia",  @L("Emergencia"), classeCss:"chk", _checked:Model.IsEmergencia, col:3),
                                                new SWTag("chk-isInternado", "IsInternado",   @L("Internacao"), classeCss:"chk" ,_checked:Model.IsInternado, col:3),
                                                new SWTag("chk-isSetor", "IsSetor", @L("Setor") ,classeCss:"chk", _checked:Model.IsSetor, col:3),
                                                new SWTag("chk-isFornecedor", "IsFornecedor",  @L("Fornecedor"), classeCss:"chk", _checked:Model.IsFornecedor, col:3)
                                         }, 12 /*TAMANHO DA COLUNA QUE O GRUPO OCUPA*/ ))
                            { }
                            <br />
                        }
                        @using (Html.Row())
                        {

                            using (Html.SWRadios(2/*DIFERENCIADOR DE GRUPO*/, new SWTag[]
                                         {
                                                new SWTag("chk-isVisitante", "IsVisitante",   @L("Visitante"), _checked:Model.IsVisitante, col:3),
                                                new SWTag("chk-isAcompanhante", "IsAcompanhante", @L("Acompanhante") ,_checked:Model.IsAcompanhante, col:3),
                                                new SWTag("chk-isMedico", "IsMedico",  @L("Medico"),_checked:Model.IsMedico, col:3)
                                         }, 8 /*TAMANHO DA COLUNA QUE O GRUPO OCUPA*/ ))
                            {
                            }

                            <br />
                        }*@

                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.Nome, Model.Nome, "Nome", 6, false, true);
                        Html.InputFor(m => m.Documento, Model.Documento, "Documento", 2, false);
                        Html.DatePickerFor(m => m.DataEntrada, (Model.IsEditMode ? Model.DataEntrada.ToString() : DateTime.Now.ToString()), @L("DataEntrada"), 2);
                        Html.DatePickerFor(m => m.DataSaida, (Model.IsEditMode ? Model.DataSaida.ToString() : string.Empty), @L("DataSaida"), 2);
                        <br />
                    }
                    @using (Html.Row())
                    {
                        //Html.Select2For(m => m.AtendimentoId, "PacienteId", "select2Paciente", L("Paciente"), Model.Atendimento != null ? Model.Atendimento.PacienteId.ToString() : string.Empty, Model.Atendimento != null ? Model.Atendimento.Paciente.NomeCompleto : string.Empty, "visitante/ListarDropdownModalVisitantePaciente", "", 6);
                        Html.Select2For(m => m.AteId, "PacienteId", "select2PacientesInternados", L("PacientesInternados"), Model.Atendimento != null ? Model.Atendimento.Id.ToString() : string.Empty, Model.Atendimento != null ? Model.Atendimento.Paciente.NomeCompleto : string.Empty, "visitante/ListarDropdownModalVisitantePaciente", "", 6);
                        Html.Select2For(m => m.AtendimentoId, "PacienteId2", "select2PacientesAmbuEmerg", L("PacientesAmbuEmerg"), Model.Atendimento != null ? Model.Atendimento.Id.ToString() : string.Empty, Model.Atendimento != null ? Model.Atendimento.Paciente.NomeCompleto : string.Empty, "visitante/ListarDropdownModalVisitantePaciente2", "", 6);
                        Html.Select2For(m => m.FornecedorId, "FornecedorId", "select2Fornecedor", L("Fornecedores"), Model.FornecedorId != null ? Model.FornecedorId.ToString() : string.Empty, Model.FornecedorId != null ? Model.Fornecedor.Descricao : string.Empty, "fornecedor/ListarDropdownSisFornecedor", "", 6);
                        @*<div class="col-md-6">
                                <label>@L("Fornecedores")</label>
                                <select name="FornecedorId" id="fornecedor-id" class="form-control select2">
                                    @if (Model.FornecedorId.HasValue)
                                    {
                                        <option value="@Model.FornecedorId.Value">@Model.Fornecedor.Codigo - @Model.Fornecedor.Descricao</option>
                                    }
                                </select>
                            </div>*@
                        Html.Select2For(m => m.UnidadeOrganizacionalId, "UnidadeOrganizacionalId", "select2UnidadeOrganizacional", "UnidadeOrganizacional", Model.UnidadeOrganizacionalId != null ? Model.UnidadeOrganizacionalId.ToString() : string.Empty, Model.UnidadeOrganizacionalId != null ? Model.UnidadeOrganizacional.Descricao : string.Empty, "unidadeOrganizacional/ListarDropdown", "", 6);

                    }

                </form>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</div>

@*<div class="row">
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsEmergencia" id="chk-isEmergencia" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsEmergencia ? "checked=\"checked\"" : "") />
                    <label for="chk-isEmergencia">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Emergencia")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsInternado" id="chk-isInternado" class="md-check" type="checkbox" value="@Model.IsEmergencia" checked />
                    <label for="chk-isInternado">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Internacao")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsSetor" id="chk-isSetor" class="md-isSetor" type="checkbox" value="true" @Html.Raw(Model.IsSetor ? "checked=\" checked\"" : "") />
                    <label for="chk-isSetor">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Setor")
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsFornecedor" id="chk-isFornecedor" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsFornecedor ? "checked=\" checked\"" : "") />
                    <label for="chk-isFornecedor">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Fornecedor")
                    </label>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="row">
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsVisitante" id="chk-isVisitante" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsVisitante ? "checked=\"checked\"" : "") />
                    <label for="chk-isVisitante">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Visitante")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsAcompanhante" id="chk-isAcompanhante" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsAcompanhante ? "checked=\" checked\"" : "") />
                    <label for="chk-isAcompanhante">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Acompanhante")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsMedico" id="chk-isMedico" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsMedico ? "checked=\" checked\"" : "") />
                    <label for="chk-isMedico">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Medico")
                    </label>
                </div>
            </div>
        </div>
    </div>*@