﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Atendimentos.ModalFichaAmbulatorioViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("FichaAtendimento")))

<script src="~/libs/PDFObject/pdfobject.js"></script>

<div class="modal-body container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="FichaAmbulatorio" style="margin:auto; width:90%; height:1000px; border:7px solid #6da6c6; border-radius: 5px;"></div>
        </div>
    </div>
</div>

<script>
    var caminho = "/Mpa/FichaAmbulatorio/GerarFichaAmbulatorio?atendimentoId=" + '@Model.AtendimentoId';
    PDFObject.embed(caminho, "#FichaAmbulatorio");
</script>

