﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.ContasMedicas.ContasMedicasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Faturamentos.FaturamentoEntregaContas;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Faturamentos/ContasMedicas/index.min.css")
}
@section Scripts
{
    <script src="~/Areas/Mpa/Views/Aplicacao/Faturamentos/ModuloFaturamento.js"></script>
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/ContasMedicas/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/EntregaContas/conferencia_contas.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/EntregaContas/entrega_contas.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/EntregaContas/gerar_lotes.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/EntregaContas/lotes_gerados.js")
    @using (Html.InjetarJavascript()) { }
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("EntregaContas")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <!-- ABAS -->
        @using (Html.Abas())
        {
            Html.Aba("aba-conferencia", L("Conferencia"), true);
            Html.Aba("aba-entregar", L("Entregar"), false);
            Html.Aba("aba-gerar-lotes", L("GerarLotes"), false);
            Html.Aba("aba-lotes-gerados", L("LotesGerados"), false);
        }
        <!-- CONTEUDO ABAS -->
        @using (Html.AbasConteudo())
        {
            <!-- CONFERENCIA -->
            using (Html.AbaConteudo("aba-conferencia", true))
            {
                <div class="form">
                    <form id="ConfContasMedicasFilterForm" class="horizontal-form">
                        <div class="form-body" enter-key="vm.getContasMedicas()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <fieldset>
                                                            <!-- TIPO DE ATENDIMENTO -->
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Tipo do atendimento</legend>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsAmbulatorioEmergencia" id="is-ambulatorioemergencia-conf" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-ambulatorioemergencia-sub">@L("IsAmbulatorioEmergencia")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsInternacao" id="is-internacao-conf" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-internacao-sub">@L("IsInternacao")</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    @using (Html.Select2For(m => m.EmpresaId, "comboEmpresaConf", "select2EmpresaConf", L("Empresa"), "", "", "empresa/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.ConvenioId, "comboConvenioConf", "select2ConvenioConf", L("Convenio"), "", "", "convenio/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.PacienteId, "comboPacienteConf", "select2PacienteConf", L("Paciente"), "", "", "paciente/ListarDropdown", null, 4, true)) { }
                                                    <div class="col-sm-2">
                                                        <label for="ConfContasMedicasTableFilter" class="transparente">Filtro</label>
                                                        <input id="ConfContasMedicasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="position:relative; top:20px;">
                                                            <input name="IgnoraPeriodoConf" id="ignora-periodo-conf" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" />&nbsp;
                                                            <label for="controlaalta-sub">@L("IgnorarPeriodo")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="AdvacedConfContasMedicasFiltersArea">
                                    <div class="form-body" style="padding:3px;">
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("num-guia-conf", "NumeroGuiaConf", "", col: 2), L("NumeroGuia"))) { }
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("num-atendimento-conf", "NumeroAtendimentoConf", "", col: 2), L("Atendimento"))) { }
                                        @using (Html.Select2For(m => m.GuiaId, "filtroTipoGuiaConf", "select2TipoGuiaConf", L("TipoGuia"), "", "", "faturamentoGuia/ListarDropdown", null, 2, true)) { }
                                        @using (Html.Select2For(m => m.MedicoId, "comboMedicoConf", "select2MedicoConf", L("Medico"), "", "", "medico/ListarDropdown", null, 4, true)) { }
                                        @using (Html.DateRangePicker1aGuerra(new SWTag("dateRangeConf", "dateRNameConf", L("Periodo"), col: 2))) { }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-5">
                            <span id="ShowAdvancedFiltersSpanConf" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                            <span id="HideAdvancedFiltersSpanConf" class="clickable-item text-muted"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                        </div>
                        <div class="col-md-7 text-right">
                            <button id="btn-conferir" class="btn ciano"><i class="glyphicon glyphicon-ok-sign"></i> @L("Conferir")</button>
                            <button id="RefreshContasMedicasButtonConf" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            <button id="ExportarContasMedicasParaExcelButtonConf" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        </div>
                    </div>
                </div>
                <br />
                <!-- JTABLE CONFERENCIA -->
                <div id="conferencia-table"></div>
                <p class="white-space">&nbsp;</p>
                <div class="row">
                    @foreach (var item in Model.ListaStatus)
                    {
                        <div class="col-sm-1">
                            <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                            <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                        </div>
                    }
                </div>
            }
                    <!-- ENTREGA -->
            using (Html.AbaConteudo("aba-entregar", false))
            {
                <div class="form">
                    <form id="ContasMedicasFilterForm" class="horizontal-form">
                        <div class="form-body" enter-key="vm.getContasMedicas()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- TIPO ATENDIMENTO -->
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Tipo do atendimento</legend>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsAmbulatorioEmergencia" id="is-ambulatorioemergencia-ent" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-ambulatorioemergencia-sub">@L("IsAmbulatorioEmergencia")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsInternacao" id="is-internacao-ent" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-internacao-sub">@L("IsInternacao")</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Status da conta</legend>
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <input name="filtro-conferidas-entregar" id="filtro-conferidas-entregar" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                                                                    <label for="filtro-conferidas-entregar-sub">@L("ApenasConferidas")</label>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Usuário</legend>
                                                            <div class="row">
                                                                @using (Html.Select2For(m => m.EmpresaId, "combo-entregar-usuario", "select2Usuario", L("Usuario"), "", "", "user/ListarDropdown", null, 12, true)) { }
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    @using (Html.Select2For(m => m.EmpresaId, "comboEmpresa", "select2Empresa", L("Empresa"), "", "", "empresa/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.ConvenioId, "comboConvenio", "select2Convenio", L("Convenio"), "", "", "convenio/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.PacienteId, "comboPaciente", "select2Paciente", L("Paciente"), "", "", "paciente/ListarDropdown", null, 4, true)) { }
                                                    <div class="col-sm-2">
                                                        <label for="ContasMedicasTableFilter" class="transparente">Filtro</label>
                                                        <input id="ContasMedicasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="AdvacedContasMedicasFiltersArea">
                                    <div class="form-body" style="padding:3px;">
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numGuia", "NumeroGuia", "", col: 2), L("NumeroGuia"))) { }
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numAtendimento", "NumeroAtendimento", "", col: 2), L("Atendimento"))) { }
                                        @using (Html.Select2For(m => m.GuiaId, "filtroTipoGuia", "select2TipoGuia", L("TipoGuia"), "", "", "faturamentoGuia/ListarDropdown", null, 2, true)) { }
                                        @using (Html.Select2For(m => m.MedicoId, "comboMedico", "select2Medico", L("Medico"), "", "", "medico/ListarDropdown", null, 4, true)) { }
                                        @using (Html.DateRangePicker1aGuerra(new SWTag("dateRange", "dateRName", L("Periodo"), col: 2))) { }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-5">
                            <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                            <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                        </div>
                        <div class="col-md-7 text-right">
                            <button id="btn-entregar" class="btn ciano"><i class="glyphicon glyphicon-ok-sign"></i> @L("Entregar")</button>
                            <button id="RefreshContasMedicasButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            <button id="ExportarContasMedicasParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        </div>
                    </div>
                </div>
                <br />
                    <!-- JTABLE ENTREGAR -->
                <div id="entregar-table"></div>
                <p class="white-space">&nbsp;</p>
                    <div class="row">
                        @foreach (var item in Model.ListaStatus)
                    {
                            <div class="col-sm-1">
                                <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                                <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                            </div>
                        }
                    </div>
            }
                        <!-- GERAR LOTES -->
            using (Html.AbaConteudo("aba-gerar-lotes", false))
            {
                <div class="form">
                    <form id="ContasMedicasFilterFormGerarLotes" class="horizontal-form">
                        <div class="form-body" enter-key="vm.getContasMedicas()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- TIPO ATENDIMENTO -->
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Tipo do atendimento</legend>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsAmbulatorioEmergencia" id="is-ambulatorioemergencia-ger" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-ambulatorioemergencia-sub">@L("IsAmbulatorioEmergencia")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsInternacao" id="is-internacao-ger" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-internacao-sub">@L("IsInternacao")</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-sm-4">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Usuário</legend>
                                                            <div class="row">
                                                                @using (Html.Select2For(m => m.EmpresaId, "combo-gerar-lotes-usuario", "select2UsuarioGerar", L("Usuario"), "", "", "user/ListarDropdown", null, 12, true)) { }
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    @using (Html.Select2For(m => m.EmpresaId, "comboEmpresa-gerar-lotes", "select2EmpresaGerarLotes", L("Empresa"), "", "", "empresa/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.ConvenioId, "comboConvenio-gerar-lotes", "select2ConvenioGerarLotes", L("Convenio"), "", "", "convenio/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.PacienteId, "comboPaciente-gerar-lotes", "select2PacienteGerarLotes", L("Paciente"), "", "", "paciente/ListarDropdown", null, 4, true)) { }
                                                    <div class="col-sm-2">
                                                        <label for="ContasMedicasTableFilterGerarLotes" class="transparente">Filtro</label>
                                                        <input id="ContasMedicasTableFilterGerarLotes" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="AdvacedContasMedicasFiltersAreaGerarLotes">
                                    <div class="form-body" style="padding:3px;">
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numGuia-gerar-lotes", "NumeroGuiaGerarLotes", "", col: 2), L("NumeroGuia"))) { }
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numAtendimento-gerar-lotes", "NumeroAtendimentoGerarLotes", "", col: 2), L("Atendimento"))) { }
                                        @using (Html.Select2For(m => m.GuiaId, "filtroTipoGuia-gerar-lotes", "select2TipoGuiaGerarLotes", L("TipoGuia"), "", "", "faturamentoGuia/ListarDropdown", null, 2, true)) { }
                                        @using (Html.Select2For(m => m.MedicoId, "comboMedico-gerar-lotes", "select2MedicoGerarLotes", L("Medico"), "", "", "medico/ListarDropdown", null, 4, true)) { }
                                        @using (Html.DateRangePicker1aGuerra(new SWTag("dateRange-gerar-lotes", "dateRNameGerarLotes", L("Periodo"), col: 2))) { }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-5">
                            <span id="ShowAdvancedFiltersSpanGerarLotes" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                            <span id="HideAdvancedFiltersSpanGerarLotes" class="clickable-item text-muted"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                        </div>
                        <div class="col-md-7 text-right">
                            <button id="btn-cancelar-entregas" class="btn ciano"><i class="fa fa-reply"></i> @L("CancelarEntregas")</button>
                            <button id="btn-gerar-lotes" class="btn ciano btn-bloqueado"><i class="glyphicon glyphicon-ok-sign"></i> @L("GerarLote")</button>
                            <button id="RefreshContasMedicasButtonGerarLotes" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            <button id="ExportarContasMedicasParaExcelButtonGerarLotes" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    @using (Html.SWInput(new SWTag("gerar-lotes-num-processo", "NumeroProcesso", L("NumProcesso"), col: 4))) { }
                    @using (Html.SWInput(new SWTag("gerar-lotes-cod-entrega", "CodEntrega", L("CodEntrega"), col: 4))) { }
                </div>
                        <!-- JTABLE GERAR LOTES -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="gerar-lotes-table"></div>
                            </div>
                        </div>
                        <p class="white-space">&nbsp;</p>
                        <div class="row">
                            @foreach (var item in Model.ListaStatus)
                    {
                                <div class="col-sm-1">
                                    <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                                    <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                                </div>
                            }
                        </div>


            }
                        <!-- LOTES GERADOS -->
            using (Html.AbaConteudo("aba-lotes-gerados", false))
            {
                <div class="form">
                    <form id="ContasMedicasFilterFormLotesGerados" class="horizontal-form">
                        <div class="form-body" enter-key="vm.getContasMedicas()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- TIPO DE ATENDIMENTO -->
                                                        <fieldset>
                                                            <legend class="" style="margin-top:15px; margin-bottom:15px;">Tipo do atendimento</legend>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsAmbulatorioEmergencia" id="is-ambulatorioemergencia-lot" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-ambulatorioemergencia-sub">@L("IsAmbulatorioEmergencia")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <input name="IsInternacao" id="is-internacao-lot" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                                                        <label for="is-internacao-sub">@L("IsInternacao")</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-sm-4">
                                                    </div>
                                                    <div class="col-sm-4">
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    @using (Html.Select2For(m => m.EmpresaId, "comboEmpresa-lotes-gerados", "select2EmpresaLotesGerados", L("Empresa"), "", "", "empresa/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.ConvenioId, "comboConvenio-lotes-gerados", "select2ConvenioLotesGerados", L("Convenio"), "", "", "convenio/ListarDropdown", null, 2, true)) { }
                                                    @using (Html.Select2For(m => m.PacienteId, "comboPaciente-lotes-gerados", "select2PacienteLotesGerados", L("Paciente"), "", "", "paciente/ListarDropdown", null, 4, true)) { }
                                                    <div class="col-sm-2">
                                                        <label for="ContasMedicasTableFilterLotesGerados" class="transparente">Filtro</label>
                                                        <input id="ContasMedicasTableFilterLotesGerados" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="AdvacedContasMedicasFiltersAreaLotesGerados">
                                    <div class="form-body" style="padding:3px;">
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numGuia-lotes-gerados", "NumeroGuiaLotesGerados", "", col: 2), L("NumeroGuia"))) { }
                                        @using (Html.InputFor(m => m.NumeroGuia, new SWTag("numAtendimento-lotes-gerados", "NumeroAtendimentoLotesGerados", "", col: 2), L("Atendimento"))) { }
                                        @using (Html.Select2For(m => m.GuiaId, "filtroTipoGuia-lotes-gerados", "select2TipoGuiaLotesGerados", L("TipoGuia"), "", "", "faturamentoGuia/ListarDropdown", null, 2, true)) { }
                                        @using (Html.Select2For(m => m.MedicoId, "comboMedico-lotes-gerados", "select2MedicoLotesGerados", L("Medico"), "", "", "medico/ListarDropdown", null, 4, true)) { }
                                        @using (Html.DateRangePicker1aGuerra(new SWTag("dateRange-lotes-gerados", "dateRNameLotesGerados", L("Periodo"), col: 2))) { }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-5">
                            <span id="ShowAdvancedFiltersSpanLotesGerados" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                            <span id="HideAdvancedFiltersSpanLotesGerados" class="clickable-item text-muted"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                        </div>
                        <div class="col-md-7 text-right">
                            <button id="RefreshContasMedicasButtonLotesGerados" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            <button id="ExportarContasMedicasParaExcelButtonLotesGerados" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        </div>
                    </div>
                </div>
                <br />
                        <!-- JTABLE LOTES GERADOS -->
                <div id="lotes-gerados-table"></div>

                        <p class="white-space">&nbsp;</p>
                        <div class="row">
                            @foreach (var item in Model.ListaStatus)
                    {
                                <div class="col-sm-1">
                                    <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                                    <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                                </div>
                            }
                        </div>
            }
        }
    </div>
</div>

<script>
    document.getElementById('cbo-lblcombo-entregar-usuario').style.display = 'none';
</script>

<style>
    .ciano {
        color: white;
        background-color: #3dede1;
    }

    .btn-bloqueado {
        color: gray;
        ;
        display: inline-block;
        pointer-events: none;
        cursor: not-allowed;
    }
</style>
