﻿#InternacoesTable .jtable-main-container .jtable-title {
  min-width: 990px;
}
#InternacoesTable .jtable-main-container .jtable {
  min-width: 990px;
}
#InternacoesTable .jtable-main-container .jtable-bottom-panel {
  min-width: 990px;
}
.user-edit-dialog-profile-image {
  margin-bottom: 20px;
}
/*# sourceMappingURL=index.css.map */