﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.ClassesAplicacao
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation


@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.Atendimentos.CancelamentoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CancelarAtendimento")))

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/PreAtendimentos/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/Internacoes/Home/Cancelamento/CancelarAtendimentoModal.js")
}


@*<div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Atendimento")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>*@

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="cancelarAtendimentoForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    @*<form>*@
                                    <div class="input-group">
                                        <input type="hidden" id="atendimentoId" value="@Model.AtendimentoId" />
                                        <label>@L("MotivoCancelamento")</label>
                                        <select name="MotivoCancelamentoId" id="motivoCancelamentoId" class="form-control select2 selectMotivoCancelamento" style="width:100%;" required></select>
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div id="PreAtendimentosTable"></div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" id="cancelar" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="mudar" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Confirma")</span></button>
</div>
