﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoItemModalViewModel


@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.DevolucaoProduto;
}

@if (Model != null)
{
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDevolucao") + ": " + Model.NumeroSerie) : L("CreateNewDevolucao")))
            <div class="modal-body container-fluid">
                <form name="PreMovimentoItemInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="PreMovimentoId" id="PreMovimentoId" value="@Model.PreMovimentoId" />
                    <input type="hidden" name="EstoquePreMovimentoLoteValidadeId" id="EstoquePreMovimentoLoteValidadeId" value="@Model.EstoquePreMovimentoLoteValidadeId" />
                    <input type="hidden" name="EstoqueId" id="EstoqueId" value="@Model.EstoqueId" />


                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    else
                    {
                        //Model.Data = DateTime.Now;
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="ProdutoId">@L("CodigoBarra")</label>
                                <input name="CodigoBarra" id="CodigoBarra" class="form-control  input-sm" type="text" value="@(Model.CodigoBarra)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group ">
                                <label for="ProdutoId">@L("Produto")</label>
                                <select name="ProdutoId" value="@Model.ProdutoId" id="ProdutoId" class="editar form-control select2 selectProduto " width: 100%>
                                    <option value="@Model.ProdutoId">@(Model.Produto != null ? Model.Produto.Descricao : "Informe um produto") </option>
                                    <option value=""> </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div id="divNumeroSerie" class="form-group " @Html.Raw(Model.IsNumeroSerie ? "" : "hidden")>
                                <label for="NumeroSerieId">@L("NumeroSerie")</label>
                                <input name="NumeroSerie" id="numeroSerieId" class="form-control  input-sm" value="@(Model.NumeroSerie)">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("Quantidade")</label>
                                <input name="Quantidade" id="Quantidade" required class="form-control  input-sm" type="text" value="@(Model.Quantidade.ToString())">

                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group ">
                                <label for="produto-search">@L("Unidade")</label>
                                @Html.DropDownListFor(m => m.ProdutoUnidadeId, Model.Unidades, L("SelecioneLista"), new { @class = "form-control edited", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div id="loteValidade" @Model.Hidden>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="LoteValidadeId-search">@L("LoteValidade")</label>
                                <select name="LoteValidadeId" value="@Model.LotesValidades" id="LoteValidadeId" class="editar form-control select2 selectLoteValidade"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
                        <button type="button" id="salvar-PreMovimento-Item" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


