﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.DevolucaoProduto;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
}




@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>



    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

    <script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>


    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")

    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/Devolucoes/_CriarOuEditarModal.js")
    @*@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/_CriarOuEditarPreMovimentoItemModal.js")*@
}
@if (Model != null)
{

    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDevolucao") + ": " + Model.Documento) : L("CreateNewDevolucao")))

        <div class="portlet-body">

            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEstadoId" id="PreMovimentoEstadoId" value="@Model.PreMovimentoEstadoId" />

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EstTipoMovimentoId">@L("TipoDevolucao")</label>
                            <select name="EstTipoMovimentoId" value="@Model.TipoMovimentoId" id="EstTipoMovimentoId" class="editar form-control select2 selectTipoDevolucao"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EmpresaId">@L("Empresa")</label>
                            <select name="EmpresaId" value="@Model.EmpresaId" id="EmpresaId" class="editar form-control select2 selectEmpresa" required>
                                <option value="@Model.EmpresaId">@(Model.Empresa != null ? string.Concat(Model.Empresa.Codigo, " - ", Model.Empresa.NomeFantasia) : null) </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label>@L("Documento")</label>
                            <input name="Documento" id="DocumentoId" readonly class="form-control input-sm" type="text" value="@Model.Documento">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataSaida")</label>
                            <input name="Emissao" id="Emissao" class="form-control input-sm" type="text" value="@(Model.IsEditMode? Model.Emissao: DateTime.Now)">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EstoqueID">@L("Estoque")</label>
                            <select name="EstoqueId" value="@Model.EstoqueId" id="EstoqueId" class="editar form-control select2 selectEstoque" required>
                                <option value="@Model.EstoqueId">@(Model.Estoque != null ? string.Concat(Model.Estoque.Codigo, " - ", Model.Estoque.Descricao) : "") </option>
                            </select>
                        </div>
                    </div>

                    <div id="grupoOrganizacional" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="UnidadeOrganizacionalId">@L("UnidadeOrganizacional")</label>
                            <select name="UnidadeOrganizacionalId" value="@Model.UnidadeOrganizacionalId" id="UnidadeOrganizacionalId" class="editar form-control select2 selectUnidadeOrganizacional"></select>
                        </div>
                    </div>

                    <div id="atendimento" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId != 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="atendimentoId">@L("Atendimento")</label>
                            @*@Html.DropDownListFor(m => m.AtendimentoId, Model.Atendimentos, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("UnidadeOrganizacional") })*@

                            <select name="AtendimentoId" value="@Model.AtendimentoId" id="atendimentoId" class="editar form-control select2 selectAtendimento">
                                <option value="@Model.AtendimentoId"> @(Model.Atendimento != null ? Model.Atendimento.Paciente.NomeCompleto : "") </option>
                            </select>


                        </div>
                    </div>

                </div>

                <div class="row">


                    <div id="paciente" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group">
                            <label for="pacienteInputId">@L("Paciente")</label>

                            <input name="PacienteInput" id="pacienteInputId" class="form-control input-sm hidden" type="text" value="@(Model.Paciente != null ? Model.Paciente.NomeCompleto : "")">

                            <div id="divPaciente">
                                <select name="PacienteId" value="@Model.PacienteId" id="pacienteId" required class="form-control select2 selectPaciente  ">
                                    <option value="@Model.PacienteId"> @(Model.Paciente != null ? Model.Paciente.NomeCompleto : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="medico" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="Medico-Id">@L("Medico")</label>
                            <input name="MedicoSolcitanteId" id="medicoSolcitanteId" class="form-control input-sm hidden" type="text" value="@(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "")">
                            <div id="divMedico">
                                <select name="MedicoSolcitanteId" value="@Model.MedicoSolcitanteId" id="medicoSolcitanteId" required class="form-control select2 selectMedico  ">
                                    <option value="@Model.MedicoSolcitanteId"> @(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <label for="observacao">@L("Observacao")</label>
                        <input name="Observacao" id="observacao" class="form-control input-sm" type="text" value="@(Model.Observacao)">
                    </div>
                </div>
                <p class="white-space">&nbsp;</p>
                <p class="white-space">&nbsp;</p>
                <div id="exTab3" @Html.Raw(Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : "")>
                    <button id="btn-novo-PreMovimentoItem" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Item")</button>
                </div>
                <div id="EstoquePreMovimentoItemTable"></div>
                <div class="modal-footer">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-1">
                        @*<div id="divConfirmarSaida"  @Html.Raw((!Model.PermiteConfirmacaoEntrada || Model.PreMovimentoEstadoId == 2) ? "hidden=\" hidden\"" : "")>
                                @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_SaidaProduto_ConfirmarSaida))
                                {
                                    <button id="ConfirmarSaidaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("ConfirmarSaida")</button>
                                }
                            </div>*@
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="btnImprimir" class="btn  blue botao-padrao-footer"><i class="fa fa-print"></i>Imprimir</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn default close-button">@L("Cancel")</button>
                    </div>
                    <div class="col-sm-3">
                        <div @Html.Raw((Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : ""))>
                            <button type="button" id="salvar-PreMovimento" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

}


