﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.TiposDocumento.CriarOuEditarTipoDocumentoModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTipoDocumento") + ": " + Model.Descricao) : L("CreateNewTipoDocumento")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#TipoDocumentoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("TipoDocumento")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="TipoDocumentoInformationsTab">
                <form name="TipoDocumentoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Descricao" required>
                                <label>@L("Description")</label>
                            </div>

                            <div class="col-sm-10">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint ">
                                    @Html.DropDownListFor(m => m.TipoEntradaId, Model.TiposEntrada, L("SelecioneLista"), new { @class = "form-control selectpicker", @required="requied" })
                                    <label for="TipoEntradaId">@L("TipoEntrada")</label>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="md-checkbox">
                                    <input name="IsDocumentoFiscal" id="chk-is-DocumentoFiscal" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsDocumentoFiscal ? "checked=\"checked\"" : "") />
                                    <label for="chk-is-DocumentoFiscal">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsDocumentoFiscal")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="md-checkbox">
                                    <input name="IsAtualizaPreco" id="chk-is-AtualizaPreco" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsAtualizaPreco ? "checked=\"checked\"" : "") />
                                    <label for="chk-is-AtualizaPreco">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsAtualizaPreco")
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
