﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.TabelasDominio.TabelasDominioViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosDominioTiss.TabelaDominio;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/TabelasDominio/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/TabelasDominio/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/TabelasDominio/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("TabelaDominio")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarTabelasDominioParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if(IsGranted(AppPermissions.Pages_Tenant_Cadastros_DominioTiss_TabelasDominio_Create))
        {
            <button id="CreateNewTabelaDominioButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTabelaDominio")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="TabelasDominioFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getTabelasDominio()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                @Html.DropDownListFor(m => m.TipoTabelaId, Model.TiposTabela, L("FiltroTipoTabela"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroTipoTabela"), id = "cbo-tipos-tabela" })
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.DropDownListFor(m => m.VersaoTissId, Model.VersoesTiss, L("FiltroVersaoTiss"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroVersaoTiss"), id = "cbo-versoes-tiss" })
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <button id="RefreshTabelasDominioListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <input id="TabelasDominioTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetTabelasDominioButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="TabelasDominioTable"></div>
        <div id="ultimo-tipo-salvo" data="nenhum"></div>
        <div id="ultimo-codigo-salvo" data="nenhum"></div>
    </div>
</div>