﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.Relatorios.Guias.GuiaSpsadtModel

@{
    //ViewBag.CurrentPageName = PageNames.App.Faturamentos.Guias;
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Guias")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">

            <div class="form-body" enter-key="vm.getEntradas()">
                <div class="row margin-bottom-10">

                    @*<div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @if (Model.Empresas.Count() == 1)
                        {
                            <input type="hidden" name="Empresa" id="Empresa" value="@Model.Empresas[0].Value" />
                            <span class="form-control">@Model.Empresas[0].Text</span>
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.Empresa, Model.Empresas, new { @class = "form-control" })
                        }
                    </div>*@

                    <div class="form-group col-md-4" style="padding-top:2%">
                        <button type="button" id="btnVisualizar" class="btn btn-primary blue"><i class="fa fa-search"></i>Visualizar</button>
                    </div>

                </div>
            </div>

        </div>

        <div id="dvVisualizar" class="row">
            <iframe id="fVisualizar" src="" style="width:100%; height:400px; border:none 0; background-color:white"></iframe>
        </div>
    </div>
</div>
@section Styles
{

}
<script>
    $(function () {

        var urlVisualizar = "@Url.Action("VisualizarSpsadt", "ContasMedicas")";
        var empresa = $("#Empresa");
        var painel = $("#dvVisualizar");
        painel.hide();


        function carregaRelatorio() {
            var url = urlVisualizar + montarParam();
            //console.log(url);
            $('#fVisualizar').attr('src', url);
            painel.show();
        }


        $("#btnVisualizar").click(function (e) {
            e.preventDefault();
        //   
            carregaRelatorio();
        });

        carregaRelatorio();

        //Exportar arquivos Word, PDF, Excel
        $(".btnExportar").click(function (e) {
            e.preventDefault();
            window.open(urlExportar + montarParam() + "&formato=" + $(this).data("formato"));
        });
        function montarParam() {
            return "?Empresa=" + empresa.val() + "&PescricaoId=" + $('#id-' + localStorage["AtendimentoId"]).val();
        }
    });
</script>
