﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.Frequencias.CriarOuEditarFrequenciaViewModel


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFrequencia") + ": " + Model.Descricao) : L("CreateNewFrequencia")))

<div class="modal-body">
    <form name="FrequenciaInformationsForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Id" />
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
        }
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>@L("Codigo")</label>
                    <input class="form-control input-sm" value="@Model.Codigo" type="text" name="Codigo" id="codigo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>@L("Descricao")</label>
                    <input type="text" name="Descricao" class="form-control input-sm" value="@Model.Descricao" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>@L("Intervalo")</label>
                    <input type="number" name="Intervalo" id="intervalo" class="form-control input-sm" value="@Model.Intervalo" min="1" max="24" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>@L("HoraInicial")</label>
                    <input type="time" name="HoraInicialMedicacao" id="hora-inicial" class="form-control input-sm" value="@Model.HoraInicialMedicacao" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>@L("Horarios")</label>
                    <div class="input-group">
                        <input type="text" name="Horarios" id="horarios" class="form-control input-sm" value="@Model.Horarios" />
                        <span class="input-group-addon input-icon-sm" title="@L("CalcularHorarios")">
                            <i class="fa fa-calculator"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" name="IsSos" id="is-sos" class="form-control icheck checkbox-inline" value="@Model.IsSos" />
                    <label for="is-sos">@L("IsSos")</label>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
