﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamentos.Itens.ItensViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosFaturamento.Item;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/Itens/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/Itens/Index.js")
    @using (Html.InjetarJavascript()) { }
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Item")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ItensFilterForm" class="horizontal-form">
                <div id="AdvacedItensFiltersArea">
                    <div class="form-body" style="padding:3px;">
                        
                        @using (Html.Row())
                        {
                            Html.Select2MestreFor(m => m.TipoId, "combo-tipo", "select2Tipo", L("Tipo"), "", "", "faturamentoTipoGrupo/ListarDropDown", "selec2Grupo", "faturamentoGrupo/ListarDropDown", 3, true);
                            Html.Select2For(m => m.GrupoId, "combo-grupo", "select2Grupo", L("Grupo"), "", "", "faturamentoGrupo/ListarPorTipo", "combo-tipo", 3, true);
                            Html.Select2For(m => m.SubGrupoId, "combo-subGrupo", "select2SubGrupo", L("SubGrupo"), "", "", "faturamentoSubGrupo/ListarDropdown", "combo-grupo", 3, true);

                            <div class="col-md-3 text-right" style="padding-top:5px;">
                                <br />
                                <button id="RefreshItensListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Faturamento_Item_Create))
                                {
                                    <span id="CreateNewItemButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewItem")</span>
                                }
                            </div>
                        }

                    </div>
                </div>
                <div class="form-body" enter-key="vm.getItens()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ItensTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetItensButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div id="ItensTable"></div>
    </div>
</div>

<style>
    .Centralizado {
        text-align: center;
    }
</style>