﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers;

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Medicos.CriarOuEditarMedicoModalViewModel

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="PlanoId">@L("Religiao")</label>
            @Html.DropDownListFor(m => m.Religiao, Model.Religioes, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroConvenio") })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="CorPele">@L("CorPele")</label>
            @Html.DropDownListFor(m => m.CorPele, Model.CoresPele, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroConvenio") })
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>@L("EstadoCivil")</label>
            @Html.DropDownListFor(m => m.EstadoCivil, Model.EstadosCivis, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroConvenio") })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>@L("NomeMae")</label>
            <input name="NomeMae" id="nomeMae" class="form-control imput-sm upper" type="text" value="@Model.NomeMae">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>@L("NomePai")</label>
            <input name="NomePai" id="nomePai"  class="form-control imput-sm upper" type="text" value="@Model.NomePai">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>@L("Rg")</label>
            <input name="Rg" id="rg" class="form-control imput-sm" type="text" value="@Model.Rg" onkeyup="SomenteNumero(this, 2);">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>@L("Emissao")</label>
            <input name="Emissao" id="emissao" class="form-control imput-sm" type="text" value="@(!Model.Emissao.HasValue ? string.Empty : Convert.ToDateTime(Model.Emissao).ToShortDateString())" ng-pattern="/^((0[1-9]|1[012])[\-](0[1-9]|[12][0-9]|3[01])[\-](19|20)[0-9]{2})*$/" pattern="/^((0[1-9]|1[012])[\-](0[1-9]|[12][0-9]|3[01])[\-](19|20)[0-9]{2})*$/" />

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>@L("Emissor")</label>
            <input name="Emissor" id="emissor" class="form-control imput-sm upper" type="text" value="@Model.Emissor">
        </div>
    </div>

    @*<div class="col-md-6">
        <div class="row">
        </div>
    </div>*@

    <div class="col-md-3">
        <div class="form-group">
            <label>@L("Cpf")*</label>
            <input name="Cpf" id="cpf" required data-val-required="@L("CampoObrigatorio")" class="form-control imput-sm" type="text" maxlength="12" value="@Model.Cpf" onkeyup="SomenteNumero(this, 2);">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>@L("Cns")</label>
            <input name="Cns" class="form-control imput-sm" type="text" value="@Model.Cns">
        </div>
    </div>
</div>

<div class="row">
    @using (Html.Select2For(m => m.ProfissaoId, "cbo-profissaoid", "Profissaoclass", L("Profissao"), Model.Profissao != null ? Model.ProfissaoId.ToString() : "", Model.Profissao != null ? Model.Profissao.Descricao : "", "profissao/ListarDropdown", "", col: 4, injetado: false)) { }

    <div class="col-md-4">
        <div class="form-group">
            <label>@L("Escolaridade")</label>
            @Html.DropDownListFor(m => m.Escolaridade, Model.Escolaridades, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroConvenio") })
        </div>
    </div>

    @*@using (Html.Select2For(m => m.NaturalidadeId, "cbo-naturalidadeid", "naturalidadeclass", L("Naturalidade"), Model.Naturalidade != null ? Model.NaturalidadeId.ToString() : "", Model.Naturalidade != null ? Model.Naturalidade.Descricao : "", "naturalidade/ListarDropdown", "", col: 4, injetado: false)) { }*@
    @*@using (Html.Select2For(m => m.CidadeId, "cbo-cidadeid", "cidadeclass", L("Cidade"), Model.Cidade != null ? Model.CidadeId.ToString() : "", Model.Cidade != null ? Model.Cidade.Descricao : "", "cidade/ListarDropdown", "cbo-estadoid", col: 4, injetado: false)) { }*@
</div>

<div class="row">
    @using (Html.Select2For(m => m.ConselhoId, "cbo-conselhoid", "conselhoclass", L("Conselho"), Model.Conselho != null ? Model.ConselhoId.ToString() : "", Model.Conselho != null ? Model.Conselho.Descricao : "", "conselho/ListarDropdown", "", col: 4, injetado: false)) { }

    <div class="col-md-3">
        <div class="form-group">
            <label>@L("NumeroConselho")*</label>
            <input name="NumeroConselho" class="form-control imput-sm" type="text" required data-val-required="@L("CampoObrigatorio")" value="@Model.NumeroConselho">
        </div>
    </div>
</div>
