﻿@using Abp.Extensions

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Medicos.MedicoEspecialidadesViewModel

@{
    var medicoEspecialidades = Model.MedicoEspecialidades;
    var especialidadesCadastradas = medicoEspecialidades.Select(m => m.EspecialidadeId);
    var especialidadesMedico = Model.Especialidades.Where(m => m.Id.IsIn(especialidadesCadastradas.ToArray()));
    var especialidadesDisponiveis = Model.Especialidades.Except(especialidadesMedico).ToList();

    if (especialidadesDisponiveis.Count() > 0)
    {
        <div class="row">
            <div class="col-sm-12">
                <button class="btn blue" id="btn-nova-especialidade">@L("CreateNewMedicoEspecialidade")</button>
            </div>
        </div>
    }
}
<table class="table table-responsive table-striped table table-bordered">
    <tr>
        <th>Ações</th>
        <th>@L("Codigo")</th>
        <th>@L("Nome")</th>
        <th>@L("Cbo")</th>
        <th>@L("CboSus")</th>
    </tr>
    @foreach (var item in Model.MedicoEspecialidades)
    {
        var especialidade = Model.Especialidades.Where(m => m.Id == item.EspecialidadeId).FirstOrDefault();
        <tr>
            <td>
                @if (especialidadesDisponiveis.Count() > 0)
                {
                    <button id="editar-medico-especialidade" class="btn btn-default btn-xs edit-field" value="@item.Id" title="@L("EditMedicoEspecialidade")"><i class="fa fa-edit"></i></button>
                }
                <button id="excluir-medico-especialidade" class="btn btn-default btn-xs delete-field" value="@item.Id" title="@L("DeleteMedicoEspecialidade")"><i class="fa fa-trash-o"></i></button>
            </td>
            <td>@Html.DisplayFor(m => especialidade.Codigo)</td>
            <td>@Html.DisplayFor(m => especialidade.Nome)</td>
            <td>@Html.DisplayFor(m => especialidade.Cbo)</td>
            <td>@Html.DisplayFor(m => especialidade.CboSus)</td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('.delete-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            deleteMedicoEspecialidade(id);
        });

        $('.edit-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            $('#medico-especialidade-parcial').load('/Medicos/_CriarOuEditarMedicoEspecialidadeModal?medicoId=' + $('#id').val() + '&id=' + id);
        });

        $('#btn-nova-especialidade').click(function (e) {
            e.preventDefault()
            $('#medico-especialidade-parcial').load('/Medicos/_CriarOuEditarMedicoEspecialidadeModal?medicoId=' + $('#id').val());
        });

        $('.chosen-select').chosen({ no_results_text: app.localize("NotFound"), width: '100%' });

    });

    function deleteMedicoEspecialidade(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ExcluirMedicoEspecialidade","Medicos")',
            dataType: 'text',
            data: {
                id: id
            },
            success: function (result) {
                abp.notify.info(app.localize('SuccessfullyDeleted'));
                atualizarTabela();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                abp.notify.info(app.localize('ErroExcluir'));
            },
            beforeSend: function () {
                $('#excluir-medico-especialidade').attr('disabled', 'disabled');
            },
            complete: function () {
                $('#excluir-medico-especialidade').removeAttr('disabled');
                atualizarTabela();
            }
        });

    }
    function atualizarTabela() {
        $('#MedicoEspecialidadesTable').load('/Medicos/_MedicoEspecialidades?id=' + $('#id').val());
    }

</script>
