﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.ClassesAplicacao.Services.Manutencoes.MailingTemplates.Dto

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Medicos.MedicosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Medicos.Medico;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Medicos/index.min.css")
    <link href="~/libs/jquery-minicolors/css/jquery.minicolors.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Medicos/Index.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Medicos/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Medicos/_AbaEspecialidades.js")
    @*  @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Medicos/IndexMedicoEspecialidade.js")*@
    <script src="~/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-md-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Medico")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-right">
        @*<button id="ExportarMedicosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

        <img src="~/Common/Images/Icons/excel.png" id="ExportarMedicosParaExcelButton" alt="Exportar para Excel" class="icone-export" />
        @*<img src="~/Common/Images/Icons/pdf.png" alt="Exportar para PDF" class="icone-export" />
            <img src="~/Common/Images/Icons/printer.png" alt="Imprimir" class="icone-export" />*@

        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_Medico_Create))
        {
            <button id="CreateNewMedicoButton" class="btn btn-primary botao-novo" style="margin-left: 15px"><i class="fa fa-plus"></i> @L("CreateNewMedico")</button>
            @*<button id="CreateNewMedicoButton" class="btn btn-primary botao-novo"><img src="~/Common/Images/Icons/add-square-button.png" class="icone" id="ImgNovoMedico" alt=""/> @L("CreateNewMedico")</button>*@
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="MedicosFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getMedicos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="MedicosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetMedicosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="MedicosTable"></div>
        <p class="white-space">&nbsp;</p>
        <div class="row">
            <div class="col-sm-5">
                <span>@L("MailingTemplate"):</span>
                <select id="template" name="template" class="chosen-select">
                    @foreach (var item in (IList<MailingTemplateDto>)ViewBag.Templates)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-7">
                <p class="white-space">&nbsp;</p>
                <button id="enviar" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-send"></i> Enviar</button>
            </div>
        </div>
    </div>
</div>
