﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamentos.SubGrupos.FaturamentoSubGruposViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Faturamentos.Faturamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/SubGrupos/index.min.css")
}

<div class="row">
    <div class="col-sm-12 text-left">
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Faturamento_Grupo_Create))
        {
            <span id="CreateNewSubGrupoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSubGrupo")</span>
        }
    </div>
</div>
<div class="form" style="display:none;">
    <form id="SubGruposFilterForm" class="horizontal-form">
        <div class="form-body" enter-key="vm.getSubGrupos()">
            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form>
                                <div class="input-group">
                                    <input id="SubGruposTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro" data-grupo="@Model.GrupoId">
                                    <span class="input-group-btn">
                                        <button id="GetSubGruposButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="SubGruposTable"></div>

<script type="text/javascript">

    $(document).ready(function () {

        // Exibindo aba de acordo com selecao de 'grupo'
        var _$SubGruposTable = $('#SubGruposTable');
        var _SubGruposService = abp.services.app.faturamentoSubGrupo;
        var _$filterForm = $('#SubGruposFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Grupos.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Grupos.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Grupos.Delete')
        };

        var _createOrEditModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/FaturamentoSubGrupos/CriarOuEditarModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/SubGrupos/_CriarOuEditarModal.js',
            modalClass: 'CriarOuEditarFaturamentoSubGrupoModal'
        });

        _$SubGruposTable.jtable({

            title: app.localize('SubGrupos'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _SubGruposService.listarParaGrupo
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '30%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<span class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></span>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id, grupoId:'@Model.GrupoId' });
                                });
                        }

                        if (_permissions.delete) {
                            $('<span class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></span>')
                                .appendTo($span)
                                .click(function () {
                                    deleteSubGrupos(data.record);
                                });
                        }

                        return $span;
                    }
                },
                text: {
                    title: app.localize('Descricao'),
                    width: '70%'
                    //,
                    //display: function (data) {

                    //    //console.log(JSON.stringify(data.record));
                    //    return "fafsa";
                    //}
                }
            }
        });

        function getSubGrupos(reload) {
            if (reload) {
                _$SubGruposTable.jtable('reload');
            } else {
                _$SubGruposTable.jtable('load', {
                    //filtro: $('#SubGruposTableFilter').val(),
                    //grupoId: $('#SubGruposTableFilter').attr('data-grupo')

                    filtro: $('#SubGruposTableFilter').attr('data-grupo')
                });
            }
        }

        function deleteSubGrupos(subGrupo) {

            abp.message.confirm(
                app.localize('DeleteWarning', subGrupo.Nome),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _SubGruposService.excluir(subGrupo)
                            .done(function () {
                                getSubGrupos(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        function createRequestParams() {
            var prms = {};
            _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
            return $.extend(prms);
        }

        $('#CreateNewSubGrupoButton').click(function () {
            var grupoId = document.getElementById('model-id').value;
           // //console.log(grupoId);
            _createOrEditModal.open({ grupoId: grupoId });
        });

        $('#GetSubGruposButton, #RefreshSubGruposListButton').click(function (e) {
            e.preventDefault();
            getSubGrupos();
        });

        abp.event.on('app.CriarOuEditarSubGrupoModalSaved', function () {
            //getSubGrupos(true);// getSubGrupos(false);
            //getSubGrupos();
            getSubGrupos();
        });
        getSubGrupos();
        //getSubGrupos(false);
    });


</script>

<style>

</style>