﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers;

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Pacientes.CriarOuEditarPacienteModalViewModel

<div class="row">
    <table class="table table-responsive table-striped table table-bordered">
        <tr>
            <th>Ações</th>
            <th>@L("DataPesagem")</th>
            <th>@L("Valor")</th>
            <th>@L("Altura")</th>
            <th>@L("PerimetroCefalico")</th>
            <th>@L("Imc")</th>
        </tr>
        @foreach(var peso in Model.PacientePesos)
    {
    <tr>
        <td>
            <button id="editar-paciente-peso" class="btn btn-default btn-xs edit-field" value="@peso.Id" title="@L("EditPacientePeso")"><i class="fa fa-edit"></i></button>
            <button id="excluir-paciente-peso" class="btn btn-default btn-xs delete-field" value="@peso.Id" title="@L("DeletePacientePeso")"><i class="fa fa-trash-o"></i></button>
        </td>
        <td>@Html.DisplayFor(m => peso.DataPesagem)</td>
        <td>@Html.DisplayFor(m => peso.Valor)</td>
        <td>@Html.DisplayFor(m => peso.Altura)</td>
        <td>@Html.DisplayFor(m => peso.PerimetroCefalico)</td>
        <td>@Html.DisplayFor(m => peso.Imc)</td>
    </tr>
    }
    </table>
</div>
    <script>
    $(document).ready(function () {
        $('.delete-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            deletePacientePeso(id);
        });

        $('.edit-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            $('#paciente-peso-parcial').load('/Pacientes/_CriarOuEditarPacientePesoModal?pacienteId=' + $('#PacienteId').val() + '&id=' + id);
        });

        $('#btn-novo-peso').click(function (e) {
            e.preventDefault()
            $('#paciente-peso-parcial').load('/Pacientes/_CriarOuEditarPacientePesoModal?pacienteId=' + $('#PacienteId').val());
        });

    });

    function deletePacientePeso(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ExcluirPacientePeso","Pacientes")',
            dataType: 'text',
            data: {
                id: id
            },
            success: function (result) {
                abp.notify.info(app.localize('SuccessfullyDeleted'));
                atualizarTabela();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                abp.notify.info(app.localize('ErroExcluir'));
            },
            beforeSend: function () {
                $('#excluir-paciente-peso').attr('disabled', 'disabled');
            },
            complete: function () {
                $('#excluir-paciente-peso').removeAttr('disabled');
                atualizarTabela();
            }
        });

    }
    function atualizarTabela() {
        $('#PacientePesosTable').load('/Pacientes/_PacientePesos?id=' + $('#PacienteId').val());
    }

    </script>
