﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Dashboards.DashboardViewModel


@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.Dashboard;
    var bi = TempData.Peek("Bi") as SW10.SWMANAGER.ClassesAplicacao.Services.Manutencoes.BIs.Dto.BIDto;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Dashboard/index.min.css")
}

@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Dashboard/Index.js")
    @if (bi != null)
    {
        @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Manutencoes/BIs/Bi.js")
    }
}

@*<div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Dashboard")</span> <small>@L("DashboardHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <a href="" class="fa fa-bar-chart" data-original-title="" title="" id="exibir-relatorio-despesas"></a>
        </div>
    </div>*@
<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-tachometer"></i>
            <span class="caption-subject bold uppercase">@L("Dashboard")</span>
            <span class="caption-helper">@L("DashboardHeaderInfo")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            @if (bi != null)
            {
                <a class="btn btn-circle btn-icon-only btn-default fa fa-bar-chart" href="" id="exibir-bi-@bi.Id"></a>
            }
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        @if (bi != null)
        {
            Html.RenderPartial("~/Areas/Mpa/Views/Aplicacao/Manutencoes/BIs/_BiBody.cshtml", bi);
        }
        <!--Tabela de Lançamentos abertos últimos seis meses-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <div class="caption">
                        <i class="fa fa-line-chart"></i>
                        <span class="caption-subject bold">Faturamento em aberto dos últimos seis meses</span>
                    </div>
                </div>
                <div class="tools">
                    <a href="" class="reload" data-original-title="" title="" id="refresh-grid-faturamento"> </a>
                    <a href="javascript:;" class="expand" data-original-title="" title="" id="show-grid-faturamento"> </a>
                </div>
            </div>
            <div class="portlet-body" style="display: none;">
                <div class="form">
                    <form id="FaturamentosFilterForm" class="horizontal-form">
                        <div class="form-body" enter-key="vm.getFaturamentos()">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Empresa")</label>
                                                            @if (Model.Empresas != null && Model.Empresas.Count() == 1)
                                                            {
                                                                <input type="hidden" name="EmpresaId" value="@Model.Empresas.FirstOrDefault().Value" id="cbo-empresas" />
                                                                <input type="text" class="form-control" name="EmpresaLabel" value="@Model.Empresas.FirstOrDefault().Text" id="empresa-label" disabled />
                                                            }
                                                            else if (Model.Empresas == null || Model.Empresas.Count() == 0)
                                                            {
                                                                <span class="form-control input-sm">@L("Todas")</span>
                                                            }
                                                            else
                                                            {
                                                                //@Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("SelecioneLista"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEmpresa"), id = "cbo-empresas" })
                                                                <select name="EmpresaId" id="empresa-id" class="form-control select2">
                                                                    @*@if (Model.Empresas.Count() == 1)
                                                                        {
                                                                        <option value="@Model.Empresas.FirstOrDefault().Value">@Model.Empresas.FirstOrDefault().Text</option>
                                                                        }*@
                                                                </select>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="FaturamentosTableFilter" class="form-control input-sm" placeholder="@L(" SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button id="RefreshFaturamentosListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                        </div>
                                                    </div>*@
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="FaturamentosTable"></div>
            </div>
        </div>
        <!-- Graficos -->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <div class="caption">
                        <i class="fa fa-line-chart"></i>
                        <span class="caption-subject bold">Gráficos de Faturamento</span>
                    </div>
                </div>
                <div class="tools">
                    <a href="" class="reload" data-original-title="" title="" id="refresh-graficos"> </a>
                    <a href="javascript:;" class="expand" data-original-title="" title="" id="show-graficos"> </a>
                </div>
            </div>
            <div class="portlet-body" style="display: none;">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <!-- BEGIN PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart font-green-haze hide"></i>
                                    <span class="caption-subject font-green-haze bold uppercase">Faturamento Entregue</span>
                                    <span class="caption-helper hide">weekly stats...</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row list-separated">
                                </div>
                                <ul class="list-separated list-inline-xs hide">
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Total Sales
                                        </div>
                                        <div class="uppercase font-hg font-red-flamingo">
                                            13,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li>
                                    </li>
                                    <li class="border">
                                        <div class="font-grey-mint font-sm">
                                            Revenue
                                        </div>
                                        <div class="uppercase font-hg font-green-haze">
                                            4,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Expenses
                                        </div>
                                        <div class="uppercase font-hg font-purple">
                                            11,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Growth
                                        </div>
                                        <div class="uppercase font-hg font-blue-sharp">
                                            9,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                </ul>
                                <div id="faturamento_entregue" class="portlet-body-morris-fit morris-chart" style="height: 260px">
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart font-green-haze hide"></i>
                                    <span class="caption-subject font-green-haze bold uppercase">Faturamento Aberto</span>
                                    <span class="caption-helper hide">weekly stats...</span>
                                </div>

                                <div class="row" style="display:none;">

                                    <div class="col-md-3 col-sm-3 col-lg-3">
                                        <div class="md-checkbox">
                                            <div class="md-checkbox">
                                                <input name="checkboxes" id="chkRecebimentoInternacao" class="md-check" type="checkbox" value="true" @*@Html.Raw(Model.IsCodigoDeBarra ? "checked=\" checked\"" : "" )*@ />
                                                <label for="chkRecebimentoInternacao">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Internação
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-lg-3">
                                        <div class="md-checkbox">
                                            <input name="checkboxes" id="chkRecebimentoAmbulatorio" class="md-check" type="checkbox" value="true" @*@Html.Raw(Model.IsCodigoDeBarra ? "checked=\" checked\"" : "" )*@ />
                                            <label for="chkRecebimentoAmbulatorio">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Ambulatório
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    </div>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div class="row list-separated">
                                </div>
                                <ul class="list-separated list-inline-xs hide">
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Total Sales
                                        </div>
                                        <div class="uppercase font-hg font-red-flamingo">
                                            13,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li>
                                    </li>
                                    <li class="border">
                                        <div class="font-grey-mint font-sm">
                                            Revenue
                                        </div>
                                        <div class="uppercase font-hg font-green-haze">
                                            4,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Expenses
                                        </div>
                                        <div class="uppercase font-hg font-purple">
                                            11,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <div class="font-grey-mint font-sm">
                                            Growth
                                        </div>
                                        <div class="uppercase font-hg font-blue-sharp">
                                            9,760 <span class="font-lg font-grey-mint">$</span>
                                        </div>
                                    </li>
                                </ul>
                                <div id="faturamento_aberto" class="portlet-body-morris-fit morris-chart" style="height: 260px">
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart font-green-haze hide"></i>
                                    <span class="caption-subject font-green-haze bold uppercase">Faturamento Recebido</span>
                                </div>
                                <div class="row" style="display:none;">

                                    @*<div class="col-md-2 col-sm-2 col-lg-2">
                                        </div>*@

                                    <div class="col-md-3 col-sm-3 col-lg-3">
                                        <div class="md-checkbox">
                                            <input name="checkboxes" id="chkRecebimentoInternacao" class="md-check" type="checkbox" value="true" @*@Html.Raw(Model.IsCodigoDeBarra ? "checked=\" checked\"" : "" )*@ />
                                            <label for="chkRecebimentoInternacao">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Internação
                                            </label>
                                        </div>
                                    </div>

                                    @*<div class="col-md-2 col-sm-2 col-lg-2">
                                        </div>*@

                                    <div class="col-md-3 col-sm-3 col-lg-3">
                                        <div class="md-checkbox">
                                            <input name="checkboxes" id="chkRecebimentoAmbulatorio" class="md-check" type="checkbox" value="true" @*@Html.Raw(Model.IsCodigoDeBarra ? "checked=\" checked\"" : "" )*@ />
                                            <label for="chkRecebimentoAmbulatorio">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Ambulatório
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="portlet-body">
                                <div id="faturamento_recebimento" class="portlet-body-morris-fit morris-chart" style="height: 260px">
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <!-- G Implementation-->
                        <div class="row margin-top-10">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                7800<small class="font-green-sharp">$</small>
                                            </h3>
                                            <small>Atendimentos por Dia</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% progress</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title">
                                                progress
                                            </div>
                                            <div class="status-number">
                                                76%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">1349</h3>
                                            <small>Pacientes internados</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% change</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title">
                                                change
                                            </div>
                                            <div class="status-number">
                                                85%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">567</h3>
                                            <small>Internações por Dia</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-basket"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% grow</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title">
                                                grow
                                            </div>
                                            <div class="status-number">
                                                45%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-purple-soft">276</h3>
                                            <small>Altas por Dia</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% change</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title">
                                                change
                                            </div>
                                            <div class="status-number">
                                                57%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>