﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.ClassificacoesRisco.ClassificacoesRiscoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.ClassificacaoRiscos;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/ClassificacaoRiscos/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/ClassificacaoRiscos/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/ClassificacaoRiscos/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ClassificacaoRisco")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarClassificacoesRiscoParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Atendimento_ClassificacaoRiscos_Create))
        {
            <button id="CreateNewClassificacaoRiscoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewClassificacaoRisco")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ClassificacoesRiscoFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getClassificacoesRisco()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ClassificacoesRiscoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetClassificacoesRiscoButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ClassificacoesRiscoTable"></div>
        <div class="pagina" id="criar-ou-editar"> </div>
    </div>
</div>

