﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.ClassesAplicacao.Services.Cadastros.Faturamentos.Autorizacoes.Dto.FaturamentoAutorizacaoDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode() ? (L("EditarAutorizacao") + ": " + Model.Descricao) : L("NovaAutorizacao")))

<div class="modal-body container-fluid">
    <form name="AutorizacaoInformationsForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" id="model-id" value="@Model.Id" />
        <div class="row">
            <div class="col-sm-12">
                <label>Mensagem</label>
                <textarea id="mensagem" style="width:100%;" rows="10">@Model.Mensagem</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input id="placebo-focus" style="display:none;" />
                <div class="form-group">
                    @{
                        var dataInicial = DateTime.Now.ToString("dd/MM/yyyy");

                        if (Model.DataInicial.ToString("dd/MM/yy") != "01/01/01")
                        {
                            dataInicial = Model.DataInicial.ToString("dd/MM/yyyy");
                        }
                    }
                    <label>@L("DataInicial")</label>
                    <input name="DataInicial" class="form-control input-sm" type="text" value="@dataInicial">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>@L("DataFim")</label>
                    @{
                        var dataFinal = "";

                        if (Model.DataFinal != null)
                        {
                            dataFinal = ((DateTime)Model.DataFinal).ToString("dd/MM/yy");
                        }
                    }
                    <input name="DataFinal" class="form-control input-sm" type="text" value="@dataFinal">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div style="position:relative; top:19px;">
                        <input name="IsAmbulatorio" id="is-ambulatorio-emergencia-tab" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsAmbulatorio ? "checked=\"checked\"" : "") />&nbsp;
                        <label for="is-ambulatorio-emergencia">@L("IsAmbulatorioEmergencia")</label>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div style="position:relative; top:19px;">
                        <input name="IsInternacao" id="is-internacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsInternacao ? "checked=\"checked\"" : "") />&nbsp;
                        <label for="is-internacao">@L("IsInternacao")</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input name="IsAutorizacao" id="is-autorizacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsAutorizacao ? "checked=\"checked\"" : "") />&nbsp;
                    <label for="is-autorizacao">@L("IsAutorizacao")</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input name="IsLiberacao" id="is-liberacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsLiberacao ? "checked=\"checked\"" : "") />&nbsp;
                    <label for="is-liberacao">@L("IsLiberacao")</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input name="IsJustificativa" id="is-justificativa" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsJustificativa ? "checked=\"checked\"" : "") />&nbsp;
                    <label for="is-justificativa">@L("IsJustificativa")</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input name="IsBloqueio" id="is-bloqueio" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(Model.IsBloqueio ? "checked=\"checked\"" : "") />&nbsp;
                    <label for="is-bloqueio">@L("IsBloqueioAut")</label>
                </div>
            </div>
        </div>
    </form>
        @using (Html.SWDivRetratil("crud-detalhe", L("CadastroDetalhes"), true, 12, injetado: false, row: true))
        {
            <form id="form-autorizacao">
                <div class="row">
                    @using (Html.Select2For(m => m.Detalhe.ConvenioId, "cbo-convenio", "ConvenioSel2", L("Convenio"), Model.Combo, "Selecione", "convenio/ListarDropdown", "", 3, required: false, dataServico: "convenio", injetado: false)) { }
                    @using (Html.Select2For(m => m.Detalhe.ConvenioId, "cbo-convenio", "ConvenioSel2", L("Plano"), Model.Combo, "Selecione", "convenio/ListarDropdown", "", 3, required: false, dataServico: "convenio", injetado: false)) { }
                    <div class="col-sm-2">
                        <div class="form-group" style="position:relative;top:19px;">
                            <input name="IsLimiteQtd" id="is-limiteqtd" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(true ? "checked=\"checked\"" : "") />&nbsp;
                            <label for="is-limiteqtd">@L("IsLimiteQtd")</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("Min")</label>
                            <input name="QtdMinimo" id="min" class="form-control input-sm qtd" type="text" value="">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("Max")</label>
                            <input name="QtdMaximo" id="max" class="form-control input-sm qtd" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @using (Html.Select2For(m => m.Detalhe.UnidadeId, "cbo-unidade", "UnidadeSel2", L("Unidade"), Model.Combo, "Selecione", "unidadeOrganizacional/ListarDropdown", "", 3, required: false, dataServico: "unidadeOrganizacional", injetado: false)) { }
                    @using (Html.Select2For(m => m.Detalhe.GrupoId, "cbo-grupo", "GrupoSel2", L("Grupo"), Model.Combo, "Selecione", "faturamentoGrupo/ListarDropdown", "", 3, required: false, dataServico: "faturamentoGrupo", injetado: false)) { }
                    @using (Html.Select2For(m => m.Detalhe.SubGrupoId, "cbo-subgrupo", "SubgrupoSel2", L("SubGrupo"), Model.Combo, "Selecione", "faturamentoSubGrupo/ListarDropdown", "", 3, required: false, dataServico: "faturamentoSubGrupo", injetado: false)) { }
                    @using (Html.Select2For(m => m.Detalhe.ItemId, "cbo-item", "ItemSel2", L("Item"), Model.Combo, "Selecione", "faturamentoItem/ListarDropdown", "", 3, required: false, dataServico: "faturamentoItem", injetado: false)) { }
                </div>
                <div class="row">
                    <div class="col-sm-11">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn blue" id="salvar-detalhe" @*style="position:relative; top:21px; right:-5px;"*@><i id="icone-btn-salvar" class="fa fa-plus"></i></button>
                    </div>
                </div>
            </form>
        }
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div id="detalhes-table"></div>
            </div>
        </div>
    
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script type="text/javascript">
    $(document).ready(function () {

        _AutorizacoesService = abp.services.app.faturamentoAutorizacao;
        _$DetalhesTable  = $('#detalhes-table');
        _$DetalhesForm = $('#form-autorizacao');

        // Salvar Detalhe
        $('#salvar-detalhe').on('click', function (e) {
            salvarDetalhe();
        });

        function salvarDetalhe() {

            var detalhe = {
                 AutorizacaoId: '@Model.Id',
                 ConvenioId   : $('#cbo-convenio').val(),
                 PlanoId      : $('#cbo-plano')   .val(),
                 GrupoId      : $('#cbo-grupo')   .val(),
                 SubGrupoId   : $('#cbo-subgrupo').val(),
                 ItemId       : $('#cbo-item')    .val(),
                 UnidadeId    : $('#cbo-unidade') .val(),
                 QtdMinimo    : $('#min')         .val(),
                 QtdMaximo    : $('#max')         .val(),
                 IsLimiteQtd  : $('#is-limiteqtd').swChkValor()
            };

            // debugger

            _AutorizacoesService.salvarDetalhe(detalhe)
                .done(function (result) {
                    abp.notify.info(app.localize('SavedSuccessfully'));
                });
        }
        // Fim de Salvar Detalhe

        // Toggle Max-Min (IsLimiteQtd)
        $('#is-limiteqtd').on('change', function () {
            if ($(this).swChkValor()) {
                $('.qtd').fadeIn();
            } else {
                $('.qtd').fadeOut();
                $('.qtd').val('0');
            }
        });

        // DatePicker
        $('input[name="DataInicial"]').daterangepicker({
            "singleDatePicker": true,
            "showDropdowns": true,
            "timePicker": false,
            "timePicker24Hour": true,
            autoUpdateInput: false,
            maxDate: new Date(),
            changeYear: true,
            yearRange: 'c-10:c+10',
            showOn: "both",
            "locale": {
                "format": moment.locale().toUpperCase() === 'PT-BR' ? "DD/MM/YYYY" : moment.locale().toUpperCase() === 'US' ? "MM/DD/YYYY" : "YYYY-MM-DD",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    app.localize('Dom'),
                    app.localize('Seg'),
                    app.localize('Ter'),
                    app.localize('Qua'),
                    app.localize('Qui'),
                    app.localize('Sex'),
                    app.localize('Sab')
                ],
                "monthNames": [
                    app.localize("Jan"),
                    app.localize("Fev"),
                    app.localize("Mar"),
                    app.localize("Abr"),
                    app.localize("Mai"),
                    app.localize("Jun"),
                    app.localize("Jul"),
                    app.localize("Ago"),
                    app.localize("Set"),
                    app.localize("Out"),
                    app.localize("Nov"),
                    app.localize("Dez"),
                ],
                "firstDay": 0
            }
        },
            function (selDate) {
                $('input[name="DataInicial"]').val(selDate.format('L')).addClass('form-control edited');
            }
        );

        $('input[name="DataFinal"]').daterangepicker({
            "singleDatePicker": true,
            "showDropdowns": true,
            "timePicker": false,
            "timePicker24Hour": true,
            autoUpdateInput: false,
            maxDate: new Date('10/10/2080'),
            changeYear: true,
            yearRange: 'c-10:c+10',
            showOn: "both",
            "locale": {
                "format": moment.locale().toUpperCase() === 'PT-BR' ? "DD/MM/YYYY" : moment.locale().toUpperCase() === 'US' ? "MM/DD/YYYY" : "YYYY-MM-DD",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    app.localize('Dom'),
                    app.localize('Seg'),
                    app.localize('Ter'),
                    app.localize('Qua'),
                    app.localize('Qui'),
                    app.localize('Sex'),
                    app.localize('Sab')
                ],
                "monthNames": [
                    app.localize("Jan"),
                    app.localize("Fev"),
                    app.localize("Mar"),
                    app.localize("Abr"),
                    app.localize("Mai"),
                    app.localize("Jun"),
                    app.localize("Jul"),
                    app.localize("Ago"),
                    app.localize("Set"),
                    app.localize("Out"),
                    app.localize("Nov"),
                    app.localize("Dez"),
                ],
                "firstDay": 0
            }
        },
            function (selDate) {
                $('input[name="DataFinal"]').val(selDate.format('L')).addClass('form-control edited');
            }
        );
        // Fim de DatePickers

        // Crud sem modal
        var formDetalhe = {};

        // Atribuir campos da form
        var gerarFormDetalhe = function (_form) {
            formDetalhe.campos = _form.find('input, select');
        };
        gerarFormDetalhe(_$DetalhesForm);

        var setarFormDetalhe = function (registro) {

            // $('#inp-empresa').val(conta.empresaNome);
            if (!formDetalhe.campos)
                return;

            formDetalhe.campos.each(function () {
                var name = $(this).attr('name');
                var nomeServico = $(this).attr('data-servico');
                var servico = abp.services.app[nomeServico];

                if (name) {
                    var prop = name.charAt(0).toLowerCase() + name.slice(1);
                    var valor = registro[prop];
                    $(this).swSetCampo(valor, servico);

                    if (name == 'QtdMinimo') {
                        qtdMinCorrecao(valor);
                    }
                }
            });

            // Correcao 0 saindo 'vazio'
            function qtdMinCorrecao(valor) {
                if (valor == 0) {
                    $('#min').val(0);
                }
            }

        };
        // Fim de SetarForm()
        // Fim de Crud sem modal

        // Checkbox para tipo de atendimento
        $('#is-ambulatorio-emergencia-tab').swChecks2Radio('#is-internacao');

        // JTABLE
        _$DetalhesTable.jtable({

            title: app.localize('Autorizacoes'),
            paging: true,
            sorting: true,
            multiSorting: true,
            selecting: true,
            selectingCheckboxes: true,

            actions: { listAction: { method: _AutorizacoesService.listarDetalhes } }
            ,
            // Colunas
            fields: { id: { key: true, list: false },

                actions: {
                    title: app.localize('Actions'),
                    width: '8%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        //      if (_permissions.edit) {
                        $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                            .appendTo($span)
                            .click(function () {
                                _createOrEditModal.open({ id: data.record.id });
                            });
                        //   }

                        //     if (_permissions.delete) {
                        $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                            .appendTo($span)
                            .click(function () {
                                deleteAutorizacoes(data.record);
                            });
                        //     }

                        return $span;
                    }
                }
                ,
                convenioPlano: {
                    title: app.localize('Convenio'),
                    width: '15%',
                    display: function (data) {
                        var retorno;
                        if (data.record.convenio) {
                            if (data.record.convenio.sisPessoa) {
                                retorno = data.record.convenio.sisPessoa.nomeFantasia;
                            }
                        }
                        if (data.record.plano) {
                            retorno = retorno + '/' + data.record.plano.descricao;
                        }
                        return retorno;
                    }
                }
                ,
                grupoSub: {
                    title: app.localize('Grupo'),
                    width: '15%',
                    display: function (data) {
                        var retorno;
                        if (data.record.grupo) {
                            retorno = data.record.grupo.descricao;
                        }
                        if (data.record.subGrupo) {
                            retorno = retorno + '/' + data.record.subGrupo.descricao;
                        }
                        return retorno;
                    }
                }
                ,
                item: {
                    title: app.localize('Item'),
                    width: '15%',
                    display: function (data) {
                        if (data.record.item) {
                            return data.record.item.descricao;
                        }
                        return '';
                    }
                }
                ,
                unidade: {
                    title: app.localize('Unidade'),
                    width: '15%',
                    display: function (data) {
                        if (data.record.unidade) {
                            return data.record.unidade.descricao;
                        }
                        return '';
                    }
                }
                ,
                isLimite: {
                    title: app.localize('Limite'),
                    width: '15%',
                    display: function (data) {
                        if (data.record.isLimiteQtd) {
                            return 'Min:' + data.record.qtdMinimo + 'Máx:' + data.record.qtdMaximo;   // '<span class="label label-success">' + app.localize('Yes') + '</span>';
                        } else {
                            return '<span class="label label-default">' + app.localize('SemLimite') + '</span>';
                        }
                    }
                }
            }
            ,
            // Selecao JTable
            selectionChanged: function () {
                var registroSelecionado = _$DetalhesTable.jtable('registroSelecionado');
                if (registroSelecionado) {
                    setarFormDetalhe(registroSelecionado);
                } else {
                    resetarFormDetalhe();
                }
            }
        });

        // Carregar grid
        function getDetalhes(reload) {
            if (reload) {
                _$DetalhesTable.jtable('reload');
            } else {
                var autorizacaoId = '@Model.Id';
                _$DetalhesTable.jtable('load', {
                    filtro: autorizacaoId
                });
            }
        }

        getDetalhes();

        // Fim de JTable

    }); // Fim de: "$(document).ready..."
</script>
