﻿@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.CriarOuEditarProdutoModalViewModel

@if (Model.IsEditMode)
{
    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
}

<input name="Id" id="id" type="hidden" value="@Model.Id">
<input name="Id" id="id-cad-produto" type="hidden" value="@Model.Id">
<input name="ProdutoPrincipalId" id="produtoPrincipalId" type="hidden" value="@Model.ProdutoPrincipalId">

<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo">@L("Codigo")</label>
            <input type="text" readonly name="codigo" id="codigo-produto" maxlength="4" class="form-control input-sm" value="@Model.Codigo">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="descricao">@L("Descricao")</label>
            <input type="text" name="Descricao" id="descricao" class="form-control input-sm" required data-val-required="@L("CampoObrigatorio")" value="@Model.Descricao">
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="descricaoResumida">@L("DescricaoResumida")</label>
            <input type="text" name="DescricaoResumida" id="descricaoResumida" required data-val-required="@L("CampoObrigatorio")" maxlength="37" class="form-control input-sm" value="@Model.DescricaoResumida">
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-1">
        <div class="form-group" style="position:relative; top:19px">
            <input name="IsPrincipal" id="chk-is-principal" type="checkbox" class="form-control icheck checkbox-inline" value="true" @Html.Raw(Model.IsPrincipal ? "checked=\"checked\"" : "") />
            <label for="IsPrincipal">&nbsp;@L("Principal")</label>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-produto-principal">@L("Codigo")</label>
            <input type="search" name="CodigoProdutoPrincipal" id="codigo-produto-principal" maxlength="4" class="form-control imput-sm" value="@(Model.ProdutoPrincipalId > 0 ? Model.ProdutoPrincipalId.ToString() : string.Empty)" />
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="cbo-produto-principal">@L("ProdutoPrincipal")</label>
            @Html.DropDownListFor(m => m.ProdutoPrincipalId, Model.ProdutosPrincipais, L("SelecioneLista"), new { id = "cbo-produto-principal", @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-dcb">@L("Codigo")</label>
            <input type="search" name="codigoDcbSearch" id="codigo-dcb" class="form-control input-sm bloquear codigo elemento" value="@(Model.DCBId > 0 ? Model.DCBId.ToString() : string.Empty)" />
        </div>
    </div>

    @using (Html.Select2For(m => m.DCBId, "cbo-dcbid", "dcbclass", L("DCB"), Model.DCB != null ? Model.DCBId.ToString() : "", Model.DCB != null ? Model.DCB.Descricao : "", "produto/ListarDcbDropdown", "", col: 4, injetado: true)) { }

</div>

<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-unidade-referencial">@L("Sigla")</label>
            @*<input type="search" name="UnidadeReferencialSearch" id="codigo-unidade-referencial" class="form-control imput-sm" value="@(Model.UnidadeReferencialId > 0 ? Model.UnidadeReferencialId.ToString() : string.Empty)" />*@
            <input type="search" name="UnidadeReferencialSearch" id="codigo-unidade-referencial" maxlength="10" class="form-control imput-sm bloquear" value="@(Model.UnidadeReferencialId > 0 ? Model.UnidadeReferencial.Sigla : string.Empty)" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="cbo-unidade-referencial">@L("UnidadeReferencia") *</label>
            @*@Html.DropDownListFor(m => m.UnidadeReferencialId, Model.UnidadesReferenciais, L("SelecioneLista"), new { Id = "unidadereferencia-id", @class = "form-control selectpicker"})*@
            @Html.DropDownListFor(m => m.UnidadeReferencialId, Model.UnidadesReferenciais, L("SelecioneLista"), new { Id = "cbo-unidade-referencial", @required = "required", @class = "form-control selectpicker bloquear combo", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-unidade-gerencial">@L("Sigla")</label>
            @*<input type="search" name="UnidadeGerencialSearch" id="codigo-unidade-gerencial" class="form-control imput-sm" value="@(Model.UnidadeGerencialId > 0 ? Model.UnidadeGerencialId.ToString() : string.Empty)" />*@
            <input type="search" name="UnidadeGerencialSearch" id="codigo-unidade-gerencial" maxlength="10" class="form-control imput-sm bloquear" value="@(Model.UnidadeGerencialId > 0 ? Model.UnidadeGerencial.Sigla : string.Empty)" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="cbo-unidade-gerencial">@L("UnidadeGerencial") *</label>
            @Html.DropDownListFor(m => m.UnidadeGerencialId, Model.UnidadesGerenciais, L("SelecioneLista"), new { Id = "cbo-unidade-gerencial", @required = "required", @class = "form-control selectpicker bloquear combo", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="fator-search" style="display:none">@L("Fator")</label>
            <input type="search" name="FatorSearch" id="fator-search" disabled style="display:none" maxlength="10" class="form-control input-sm bloquear" @*value="@(Model.GrupoId > 0 ? Model.GrupoId.ToString() : string.Empty)"*@ />
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-grupo">@L("Codigo")</label>
            <input type="search" name="codigoGrupoSearch" id="codigo-grupo" maxlenght="10" class="form-control input-sm codigo bloquear" value="@(Model.GrupoId > 0 ? Model.GrupoId.ToString() : string.Empty)" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="grupo-search">@L("Grupo") *</label>
            @Html.DropDownListFor(m => m.GrupoId, Model.Grupos, L("SelecioneLista"), new { id = "cbo-grupo", @required = "required", @class = "form-control selectpicker bloquear combo", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-classe">@L("Codigo")</label>
            <input type="search" name="codigoClasseSearch" id="codigo-classe" maxlenght="10" class="form-control input-sm codigo bloquear" value="@(Model.GrupoClasseId > 0 ? Model.GrupoClasseId.ToString() : string.Empty)" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="classe-search">@L("Classe")</label>
            @Html.DropDownListFor(m => m.GrupoClasseId, Model.Classes, L("SelecioneLista"), new { id = "cbo-classe", @class = "form-control selectpicker bloquear combo", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
            @*<input type="search" name="classeSearch" id="classe-search" class="form-control input-sm" value="@(Model.GrupoSubClasseId > 0 ? Model.Classe.Descricao : string.Empty)" />*@
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-subclasse">@L("Codigo")</label>
            <input type="search" name="codigoSubClasseSearch" id="codigo-subclasse" maxlenght="10" class="form-control input-sm codigo bloquear" value="@(Model.GrupoSubClasseId > 0 ? Model.GrupoSubClasseId.ToString() : string.Empty)" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="subclasse-search">@L("SubClasse")</label>
            @*<input type="search" name="subclasseSearch" id="subClasse-search" class="form-control input-sm" value="@(Model.GrupoSubClasseId > 0 ? Model.SubClasse.Descricao : string.Empty)" />*@
            @*@Html.DropDownListFor(m => m.GrupoSubClasseId, Model.SubClasses, L("SelecioneLista"), new { Id = "subcbo-classe", @class = "form-control selectpicker" })*@
            @Html.DropDownListFor(m => m.GrupoSubClasseId, Model.SubClasses, L("SelecioneLista"), new { Id = "cbo-subclasse", @class = "form-control selectpicker bloquear combo", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="conta-administrativa-">@L("ContaAdministrativa")</label>
            <select name="ContaAdministrativaId" id="conta-administrativa-id" class="form-control select2"></select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="faturamento-item-id">@L("FaturamentoItem")</label>
            @*<input type="search" name="ProcedimentoFaturamentoSearch" disabled id="procedimento-faturamento-search" class="form-control imput-sm bloquear" <!--value="@(Model.ProcedimentoFaturamentoId > 0 ? Model.ProcedimentoFaturamento.Descricao : string.Empty)"--> />*@
            <select name="FaturamentoItemId" id="produto-faturamento-item-id" class="form-control select2 selectFatItem"></select>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <label for="codigo-procedimento-faturamento-sus-search">@L("Codigo")</label>
            <input type="search" name="CodigoProcedimentoFaturamentoSusSearch" disabled id="codigo-procedimento-faturamento-sus-search" maxlength="8" class="form-control imput-sm codigo bloquear" @*value="@(Model.ProcedimentoFaturamentoSusId > 0 ? Model.ProcedimentoFaturamentoSusId.ToString() : string.Empty)"*@ />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="procedimento-faturamento-sus-search">@L("ProcedimentoFaturamentoSUS")</label>
            <input type="search" name="ProcedimentoFaturamentoSusSearch" disabled id="procedimento-faturamento-sus-search" class="form-control imput-sm bloquear" @*value="@(Model.ProcedimentoFaturamentoSusId > 0 ? Model.ProcedimentoFaturamentoSus.Descricao : string.Empty)"*@ />
        </div>
    </div>
</div>

<style>
    .editar {
        width: 100%;
        display: inline-block;
    }
</style>
