﻿
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.CriarOuEditarProdutoModalViewModel

<button id="btn-atualizarSaldoFilho" class="btn  blue"><i class="fa fa-refresh"></i>@L("Refresh")</button>
<div id="ProdutoFilhosSaldoTable"></div>
