﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.ProdutosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.Produto;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Produtos/index.min.css")
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Produtos/Index.js")
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Produto")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="RefreshProdutossButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
        <button id="ExportarProdutosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Suprimentos_Produto_Create))
            {
            <button id="CreateNewProdutoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProduto")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ProdutosFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getProdutos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            @*<input id="ProdutosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">*@
                                            <span class="input-group-btn">
                                                @*<button id="GetProdutosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>*@
                                            </span>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>@L("Filtro")</label>
                                                <input id="ProdutosTableFilter" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="cbo-dcb">@L("DCB") @L("DCBextenso")</label>
                                                <select name="DCBId" value="@Model.DCBId" id="cbo-dcb" class="editar form-control select2 select2Dcb">
                                                    <option value="@Model.DCBId">@(Model.DCB != null ? Model.DCB.Descricao : "Informe um DCB") </option>
                                                    <option value=""> </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="grupo-search">@L("Grupo") </label>
                                                    @Html.DropDownListFor(m => m.GrupoId, Model.Grupos, L("SelecioneLista"), new { id = "cbo-grupo", @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="classe-search">@L("Classe")</label>
                                                    @Html.DropDownListFor(m => m.GrupoClasseId, Model.Classes, L("SelecioneLista"), new { id = "cbo-classe", @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="subclasse-search">@L("SubClasse")</label>
                                                    @Html.DropDownListFor(m => m.GrupoSubClasseId, Model.SubClasses, L("SelecioneLista"), new { Id = "cbo-subclasse", @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="grupo-search">@L("ApenasPrincipais") </label>
                                                    @Html.DropDownListFor(m => m.Filtro, Model.FiltroPrincipais, L("Todos"), new { id = "cbo-filtro-principal", @class = "form-control selectpicker elemento", data_live_search = "true" })
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="grupo-search">@L("Status") </label>
                                                    @Html.DropDownListFor(m => m.Filtro, Model.FiltroStatus, L("Todos"), new { id = "cbo-filtro-status", @class = "form-control selectpicker elemento", data_live_search = "true" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ProdutosTable"></div>
    </div>
</div>

@*<style>
        .Centralizado {
            text-align: center;
        }
    </style>*@