﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Diagnosticos.Modalidades.ModalidadeViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosDiagnostico.Modalidade;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/Modalidades/index.min.css")
    @*<link href="~/libs/linecontrol-editor/editor.css" rel="stylesheet" />
        <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />*@
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/Modalidades/Index.js")
    @*<script src="~/libs/linecontrol-editor/editor.js"></script>
        <script src="~/libs/jquery-chosen/js/chosen.js"></script>*@
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Modalidade")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarModalidadesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Diagnosticos_Cadastros_Modalidade_Create))
        {
            <button id="CreateNewModalidadeButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewModalidade")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ModalidadesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getModalidades()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ModalidadesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetMapasButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ModalidadesTable"></div>
    </div>
</div>
