﻿@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@using System.Threading;


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.AgendamentoConsultas.CriarOuEditarAgendamentoConsultaModal


@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AgendamentoConsultas/_CriarOuEditarAgendamentoConsulta.js")

@{
    var teste = Thread.CurrentThread.CurrentCulture;
}

<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span id="form-titulo">@L("CreateNewAgendamentoConsulta")</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="inputs inputs-full-width">
    <div class="portlet-input">
        <form name="AgendamentoConsultaInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="ModelEspecialidadeId" id="model-especialidade-id" value="@Model.MedicoEspecialidadeId" />

            <input type="hidden" name="IntervaloMinutos" id="intervalo-minutos" value="@TempData.Peek("IntervaloMinutos")" />

            <input type="hidden" name="Id" id="id" value="@Model.Id" />

            <input type="hidden" name="HoraAgendamento" id="form-hora-agendamento" value="@Model.HoraAgendamento" />

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input name="DataAgendamento" id="form-data-agendamento" class="form-control@(Model.DataAgendamento.ToString().IsNullOrEmpty() ? " " : " edited")" type="text" value="@(teste.ToString().ToUpper()=="PT-BR"?Model.DataAgendamento.ToString("dd/MM/yyyy"): teste.ToString().ToUpper() == "EN"? Model.DataAgendamento.ToString("MM/dd/yyyy"): Model.DataAgendamento.ToString("yyyy/MM/dd"))" maxlength="10" required>
                        <label>@L("DataAgendamento")</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="div-medicos">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="div-medico-especialidades">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="div-horarios">
                </div>
            </div>
            <div class="md-checkbox-list">
                <div class="md-checkbox">
                    <input name="OptPacienteCadastrado" id="opt-paciente-cadastrado" class="md-check" type="checkbox" value="true" checked />
                    <label for="opt-paciente-cadastrado">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("PacienteCadastrado")
                    </label>
                </div>
            </div>
            <div class="row" id="paciente-cadastrado">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.PacienteId, Model.Pacientes, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "form-paciente-id" })
                                <label>@L("Paciente")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.ConvenioId, Model.Convenios, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "form-convenio-id" })
                                <label>@L("Convenio")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.PlanoId, Model.Planos, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "form-plano-id" })
                                <label>@L("Plano")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden" id="paciente-nao-cadastrado">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input name="NomeReservante" id="nome-reservante" class="form-control@(Model.NomeReservante.IsNullOrEmpty() ? " " : " edited")" type="text" value="@Model.NomeReservante">
                                <label>@L("NomeReservante")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input name="TelefoneReservante" id="telefone-reservante" class="form-control@(Model.TelefoneReservante.IsNullOrEmpty() ? " " : " edited")" type="text" value="@Model.TelefoneReservante" required>
                                <label>@L("TelefoneReservante")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input name="DataNascimentoReservante" id="data-agendamento" class="form-control@(Model.DataNascimentoReservante.ToString().IsNullOrEmpty() ? " " : " edited")" type="text" value="@(Model.DataNascimentoReservante.HasValue?teste.ToString().ToUpper()=="PT-BR"?Convert.ToDateTime(Model.DataNascimentoReservante).ToString("dd/MM/yyyy"): teste.ToString().ToUpper() == "EN"? Convert.ToDateTime(Model.DataNascimentoReservante).ToString("MM/dd/yyyy"): Convert.ToDateTime(Model.DataNascimentoReservante).ToString("yyyy/MM/dd"):string.Empty)">
                                <label>@L("DataNascimentoReservante")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.ConvenioReservante, Model.Convenios, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "form-convenio-reservante" })
                                <label>@L("Convenio")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.PlanoReservante, Model.Planos, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "form-plano-reservante" })
                                <label>@L("Plano")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <textarea name="Notas" id="form-notas" rows="5" class="form-control@(Model.Notas.IsNullOrEmpty() ? " " : " edited")">@Model.Notas</textarea>
                        <label>@L("Notas")</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 center-block text-center">
                    <button class="btn blue" id="btn-salvar-agendamento" title="@L("SalvarAgendamento")"><i class="fa fa-save"></i></button>
                </div>
                <div class="col-sm-6 center-block text-center hidden" id="div-btn-excluir">
                    <button class="btn btn-danger" id="btn-excluir-agendamento" title="@L("DeleteAgendamentoConsulta")"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <p class="white-space">&nbsp;</p>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#calendar').fullcalendar('option', 'slotDuration', $('#intervalo-minutos').val());
        });
    </script>
}