﻿@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.AgendamentoConsultas.MontarComboHorariosViewModel

<div class="form-group">
    @*@Html.DropDownListFor(m => m.AgendamentoConsultaMedicoDisponibilidadeId, Model.Horarios, L("SelecioneLista"), new { @class = "form-control chosen-select", id = "form-agendamento-consulta-medico-disponibilidade-id" })*@

    <label>@L("HoraAgendamento")</label>
    <select name="AgendamentoConsultaMedicoDisponibilidadeId" id="agendamento-consulta-medico-disponibilidade-id" class="form-control input-sm">
        @foreach (var horario in Model.Horarios)
        {
            <option value="@horario.Value" @Html.Raw(horario.Selected ? "selected" : "")>@horario.Text</option>
        }
    </select>
</div>
