﻿@* teste calendario *@
@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.AgendamentoConsultas.AgendamentoConsultasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.AgendamentoConsultas;
}

@section Styles
{
    @Html.IncludeStyle("~/libs/jquery-fullcalendar/css/fullcalendar.min.css")
    <link href="~/libs/jquery-fullcalendar/css/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    @Html.IncludeStyle("~/libs/jquery-fullcalendar/lib/cupertino/jquery-ui.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AgendamentoConsultas/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AgendamentoConsultas/Index.js")
    @Html.IncludeScript("~/libs/jquery-fullcalendar/js/fullcalendar.min.js")
    @Html.IncludeScript("~/libs/jquery-fullcalendar/js/gcal.min.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("AgendamentoConsultas")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
    </div>
</div>
<!--Calendário-->
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12" id="filtro-cbo-medico-especialidades">
                        @if (Model.Especialidades.Count() > 0)
                        {
                            @Html.DropDownListFor(m => m.MedicoEspecialidadeId, Model.Especialidades, L("FiltroEspecialidade"), new { @class = "form-control chosen-select", data_live_search = "true", data_none_selected_text = L("FiltroEspecialidade"), id = "filtro-medico-especialidade-id" })
                        }
                    </div>
                </div>
                <p class="white-space">&nbsp;</p>
                <div class="row">
                    <div class="col-sm-12 partial-body">
                        <div id="legendas-agendamento"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        @if (IsGranted(AppPermissions.Pages_Tenant_Atendimento_AgendamentoConsultas_Create))
                        {
                            <button id="CreateNewAgendamentoConsulta" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAgendamento")</button>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div id="loading-calendar" class="hidden">
                            <img src="~/metronic/assets/global/img/loading-spinner-blue.gif" />
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p class="white-space">&nbsp;</p>
                    </div>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
