﻿@using Abp.Extensions

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ConsultorTabelas.ConsultorTabelaCamposViewModel

@{
    var campos = Model.ConsultorTabelaCampos;
    var camposCadastrados = campos.Select(m => m.Id);
    var camposConsultorTabela = Model.ConsultorTabelaCampos.Where(m => m.Id.IsIn(camposCadastrados.ToArray()));
    var camposDisponiveis = Model.ConsultorTabelaCampos.Except(camposConsultorTabela).ToList();

    <div id="tabelaId" data="@Model.TabelaId"></div>

    <div class="topo-tabela">
        <div class="titulo-tabela">
            @L("Campos")
        </div>
    </div>

    <table class="table table-responsive table-striped table table-bordered">
        <tr>
            <th>Ações</th>
            <th>@L("Campo")</th>
            <th>@L("Descricao")</th>
            <th>@L("Codigo")</th>
            <th>@L("Ele")</th>
            <th>@L("TipoDadoNF")</th>
            <th>@L("Ocorrencia")</th>
            <th>@L("Observacao")</th>
        </tr>

        @foreach (var item in Model.ConsultorTabelaCampos)
        {
            var campo = Model.ConsultorTabelaCampos.Where(m => m.Id == item.ConsultorTabelaId).FirstOrDefault();
            <tr>
                <td>
                    <button id="editar-consultor-tabela-campo" class="btn btn-default btn-xs edit-field" value="@item.Id" title="@L("EditConsultorTabelaCampo")"><i class="fa fa-edit"></i></button>
                    <button id="excluir-consultor-tabela-campo" class="btn btn-default btn-xs delete-field" value="@item.Id" title="@L("DeleteConsultorTabelaCampo")"><i class="fa fa-trash-o"></i></button>
                </td>
                <td>@Html.DisplayFor(m => item.Campo)</td>
                <td>@Html.DisplayFor(m => item.Codigo)</td>
                <td>@Html.DisplayFor(m => item.Descricao)</td>
                <td>@Html.DisplayFor(m => item.Ele)</td>
                <td>@Html.DisplayFor(m => item.ConsultorTipoDadoNF.Descricao)</td>
                <td>@Html.DisplayFor(m => item.ConsultorOcorrencia.Descricao)</td>
                <td>@Html.DisplayFor(m => item.Observacao)</td>
            </tr>
        }
    </table>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn blue pull-right" id="btn-criar-campo">@L("CreateNewConsultorTabelaCampo")</button>
        </div>
    </div>
        <div id="campo-edit"></div>
}

<script>
    $(document).ready(function () {
        $('.delete-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            var tabelaId = $('#tabelaId').attr('data');
            deleteConsultorTabelaCampo(id, tabelaId);
        });

        $('.edit-field').on('click', function (e) {
            e.preventDefault();
            var id = $(this).val();
            var tabelaId = $('#tabelaId').attr('data');
            $('#campo-edit').load('/ConsultorTabelas/CriarOuEditarCampo?id=' + id + '&tabelaId=' + tabelaId);
        });

        $('#btn-criar-campo').click(function (e) {
            e.preventDefault();
            $('#campo-edit').load('/ConsultorTabelas/CriarOuEditarCampo');
        });

        $('.chosen-select').chosen({ no_results_text: app.localize("NotFound"), width: '100%' });
    });

    function deleteConsultorTabelaCampo(id, tabelaId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ExcluirConsultorTabelaCampo","ConsultorTabelas")',
            dataType: 'text',
            data: {
                id: id,
                tabelaId: tabelaId
            },
            success: function (result) {
                abp.notify.info(app.localize('SuccessfullyDeleted'));
                atualizarTabela2();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                abp.notify.info(app.localize('ErroExcluir'));
            },
            beforeSend: function () {
                $('#excluir-consultor-tabela-campo').attr('disabled', 'disabled');
            },
            complete: function () {
                $('#excluir-consultor-tabela-campo').removeAttr('disabled');
            }
        });
    }

</script>

<style>
    .topo-tabela {
        background-color: #3598dc;
        padding-left: 10px;
        font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.3;
    }

    .titulo-tabela {
        font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 34px;
        color: #fff;
    }
</style>
