﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ConsultorTabelas.ConsultorTabelasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Manutencao.ConsultorTabela;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/ConsultorTabelas/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ConsultorTabelas/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ConsultorTabelas/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ConsultorTabela")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarConsultorTabelasParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if(IsGranted(AppPermissions.Pages_Tenant_Manutencao_Consultor_Tabela_Create))
        {
            <button id="CreateNewConsultorTabelaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewConsultorTabela")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ConsultorTabelasFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getConsultorTabelas()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                @Html.DropDownListFor(m => m.CampoId, Model.Campos, L("FiltroCampo"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroCampo"), id = "cbo-versoes-tiss" })
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <button id="RefreshConsultorTabelasListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <input id="ConsultorTabelasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetConsultorTabelasButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ConsultorTabelasTable"></div>
    </div>
</div>