﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.AtendimentosLeitosMov.CriarOuEditarAtendimentoLeitoMovModalViewModel
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditAtendimentoLeitoMov")))

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AtendimentosLeitosMmov/index.min.css")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AtendimentosLeitosMmov/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AtendimentosLeitosMmov/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="modal-body container-fluid">
    <div class="tabbable-line container-fluid">
        <div class="tab-content container-fluid">
            @*<div class="tab-pane active" id="VisitanteInformationsTab">*@
                <form name="AtendimentoLeitoMovInformationsTab" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id"  value="@Model.Id" />
                        <input type="hidden" name="AtendimentoId" id="atendimentoId" value="@Model.AtendimentoId">
                        @*<input type="hidden" name="Atendimento.UnidadeOrganizacionalId" id="unidadeOrganizacionalId" value="@Model.Atendimento.UnidadeOrganizacionalId">*@

                        <script>
                            //@*@Model.IsFornecedor = $('#chk-isFornecedor').is(':checked');*@
                        </script>
                    }

                    <div class="row person">
                        <div class="col-sm-12">
                                <div class="row well">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="fancybox-title bold">Paciente: </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span style="font-size:medium">@Model.Atendimento.Paciente.NomeCompleto</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                              <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="fancybox-title bold">Leito: </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span style="font-size:medium">@Model.Leito.Descricao</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="fancybox-title bold">Data Inicial: </span>
                                                    </div>
                                                </div>
                                              
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span style="font-size:medium">@System.DateTime.Parse(Model.DataInicial.ToString()).ToString() </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        </div>
                        
                    </div>
                    <div id="LeitoTable"></div>
                </form>
           @*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@
            <div class="modal-footer">
                <button type="button" id="cancelar-criar-editar-atendimento" data-dismiss="modal" class="btn default close-button">@L("Cancel")</button>
                <button type="button" id="teste" class="btn blue save-button"><i class="fa fa-save" ></i> <span>@L("Transferir")</span></button>
                @*<button type="button" id="@(btnSalvarId)" onclick="waitingDialog.show();setTimeout(salvarAtendimento())" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>*@
            </div>
           @* </div>*@
        </div>
        
    </div>
    
</div>

<style>
   .person {
       width:100%;
     
    }
   .well{
            margin-left: 3px !important;
    margin-right: -16px !important;
   }
</style>

@*<div class="row">
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsEmergencia" id="chk-isEmergencia" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsEmergencia ? "checked=\"checked\"" : "") />
                    <label for="chk-isEmergencia">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Emergencia")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsInternado" id="chk-isInternado" class="md-check" type="checkbox" value="@Model.IsEmergencia" checked />
                    <label for="chk-isInternado">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Internacao")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsSetor" id="chk-isSetor" class="md-isSetor" type="checkbox" value="true" @Html.Raw(Model.IsSetor ? "checked=\" checked\"" : "") />
                    <label for="chk-isSetor">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Setor")
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsFornecedor" id="chk-isFornecedor" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsFornecedor ? "checked=\" checked\"" : "") />
                    <label for="chk-isFornecedor">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Fornecedor")
                    </label>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="row">
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsVisitante" id="chk-isVisitante" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsVisitante ? "checked=\"checked\"" : "") />
                    <label for="chk-isVisitante">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Visitante")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsAcompanhante" id="chk-isAcompanhante" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsAcompanhante ? "checked=\" checked\"" : "") />
                    <label for="chk-isAcompanhante">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Acompanhante")
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <div class="form-group">
                <div class="md-checkbox">
                    <input name="IsMedico" id="chk-isMedico" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsMedico ? "checked=\" checked\"" : "") />
                    <label for="chk-isMedico">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        @L("Medico")
                    </label>
                </div>
            </div>
        </div>
    </div>*@