﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Relatorios.FiltroModel

@{
    ViewBag.CurrentPageName = PageNames.App.Assistenciais.Assistencial;
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("PrescricaoMedica")</span>
                </h1>
            </div>
        </div>
    </div>
    @*<div class="col-xs-6 text-right">
            <button data-formato="Excel" class="btnExportar btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            <button data-formato="PDF" class="btnExportar btn btn-default"><i class="fa fa-file-pdf-o"></i> @L("ExportToPdf")</button>
            <button data-formato="Word" class="btnExportar btn btn-default"><i class="fa fa-file-word-o"></i> @L("ExportToWord")</button>
        </div>*@
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">

            <div class="form-body" enter-key="vm.getEntradas()">
                <div class="row margin-bottom-10">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @if (Model.Empresas.Count() == 1)
                        {
                            <input type="hidden" name="Empresa" id="Empresa" value="@Model.Empresas[0].Value" />
                            <span class="form-control">@Model.Empresas[0].Text</span>
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.Empresa, Model.Empresas, new { @class = "form-control" })
                        }
                    </div>

                    <div class="form-group col-md-4" style="padding-top:2%">
                        <button type="button" id="btnVisualizar" class="btn btn-primary blue"><i class="fa fa-search"></i>Visualizar</button>
                    </div>

                </div>
            </div>

        </div>

        <div id="dvVisualizar" class="row">
            <iframe id="fVisualizar" name="ReportPreview" src="" style="width:100%; height:400px; border:none 0; background-color:white"></iframe>
        </div>
        @*<div class="row">
            <div class="col-md-12 text-right">
                <button type="button" id="btn-imprimir" class="btn btn-default"><i class="fa fa-print"></i>Imprimir</button>
            </div>
        </div>*@

    </div>
</div>
@section Styles
{

}
<script>
    $(function () {
        //var urlGrupoClasse = "@Url.Action("ListarGrupoClasse")";
        //var urlGrupoSubClasse = "@Url.Action("ListarGrupoSubClasse")";
        var urlVisualizar = "@Url.Action("Visualizar","AssistenciaisRelatorios")";
        //var urlExportar = "@Url.Action("Exportar")";

        var empresa = $("#Empresa");
        //var classe = $("#Classe");
        //var subClasse = $("#SubClasse");
        var painel = $("#dvVisualizar");
        painel.hide();


        function carregaRelatorio() {
            var url = urlVisualizar + montarParam();
            $('#fVisualizar').attr('src', url);
            painel.show();
        }


        $("#btnVisualizar").click(function (e) {
            e.preventDefault();
            carregaRelatorio();
            //var url = urlVisualizar + montarParam();
            //fVisualizar.src = url;
            //painel.show();
        });

        carregaRelatorio();

        //Exportar arquivos Word, PDF, Excel
        $(".btnExportar").click(function (e) {
            e.preventDefault();
            window.open(urlExportar + montarParam() + "&formato=" + $(this).data("formato"));
        });

        $('#btn-imprimir').on('click', function (e) {
            e.preventDefault();
            printReport("RVPrescricaoMedica");
        });


        function montarParam() {
            return "?Empresa=" + empresa.val() + "&PescricaoId=" + $('#id-' + localStorage["AtendimentoId"]).val();
        }
    });
</script>
