﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Orcamentos.OrcamentosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.Orcamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/AmbulatorioEmergencias/Home/Orcamentos/index.min.css")
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>@L("Orcamentos")</span>
    </h4>
</div>

<div class="modal-body container-fluid">
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form id="OrcamentosFilterForm" class="horizontal-form">
                    <div class="form-body" enter-key="vm.getOrcamentos()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="OrcamentosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetOrcamentosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="OrcamentosTable"></div>
            <div class="pagina" id="criar-ou-editar"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var _$OrcamentosTable = $('#OrcamentosTable');
        var _OrcamentosService = abp.services.app.orcamento;
        var _$filterForm = $('#OrcamentosFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Atendimento.Orcamento.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Atendimento.Orcamento.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Atendimento.Orcamento.Delete')
        };

        _$OrcamentosTable.jtable({

            title: app.localize('Orcamentos'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _OrcamentosService.listarTodos
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '7%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }

                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deleteOrcamentos(data.record.id);
                                });
                        }

                        return $span;
                    }
                }
                ,
                descricao: {
                    title: app.localize('Descricao'),
                    width: '8%'
                }
                ,
                data: {
                    title: app.localize('Data'),
                    width: '4%',
                    display: function (data) {
                        return moment(data.record.data).format('L');
                    }
                }
                ,
                convenio: {
                    title: app.localize('Convenio'),
                    width: '7%',
                    display: function (data) {
                        return data.record.convenio.nomeFantasia;
                    }
                }
                ,
                plano: {
                    title: app.localize('Plano'),
                    width: '7%',
                    display: function (data) {
                        return data.record.plano.nome;
                    }
                }
                ,
                empresa: {
                    title: app.localize('Empresa'),
                    width: '7%',
                    display: function (data) {
                        return data.record.empresa.nomeFantasia;
                    }
                }
                ,
                paciente: {
                    title: app.localize('Paciente'),
                    width: '20%',
                    display: function (data) {
                        if (data.record.paciente != null) {
                            return data.record.paciente.nomeCompleto;
                        } else if (data.record.preAtendimento != null) {
                            return data.record.preAtendimento.nomeCompleto;
                        }
                    }
                }
            }
        });

        function getOrcamentos(reload) {
            if (reload) {
                _$OrcamentosTable.jtable('reload');
            } else {
                _$OrcamentosTable.jtable('load', {
                    filtro: $('#OrcamentosTableFilter').val()
                });
            }
        }

        function deleteOrcamentos(Orcamento) {
            abp.message.confirm(
                app.localize('DeleteWarning', Orcamento.senha),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _OrcamentosService.excluir(Orcamento)
                            .done(function () {
                                getOrcamentos(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        //function createRequestParams() {
        //    var prms = {};
        //    _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        //    return $.extend(prms);
        //}

        //$('#ShowAdvancedFiltersSpan').click(function () {
        //    $('#ShowAdvancedFiltersSpan').hide();
        //    $('#HideAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideDown();
        //});

        //$('#HideAdvancedFiltersSpan').click(function () {
        //    $('#HideAdvancedFiltersSpan').hide();
        //    $('#ShowAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideUp();
        //});

        $('#CreateNewOrcamentoButton').click(function () {
            //   _createOrEditModal.open();
            $('#criar-ou-editar').load('Orcamentos/_CriarOuEditarOrcamento');
        });

      
        $('#ExportarOrcamentosParaExcelButton').click(function () {
            _OrcamentosService
                .listarParaExcel({
                    filtro: $('#OrcamentosTableFilter').val(),
                    //sorting: $(''),
                    maxResultCount: $('span.jtable-page-size-change select').val()
                })
                .done(function (result) {
                    app.downloadTempFile(result);
                });
        });

        $('#GetOrcamentosButton, #RefreshOrcamentosListButton').click(function (e) {
            e.preventDefault();
            getOrcamentos();
        });

        abp.event.on('app.CriarOuEditarOrcamentoModalSaved', function () {
            getOrcamentos(true);
        });

        getOrcamentos();

        $('#OrcamentosTableFilter').focus();


    });



</script>

