﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Diagnosticos.ModelosLaudos.CriarOuEditarModeloLaudoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditModeloLaudo") + ": " + Model.Id) : L("CreateNewModeloLaudo")))

<div class="modal-body">
    <form name="ModeloLaudoInformationsForm" role="form" novalidate class="form-validation">
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
        }

        @using (Html.Row())
        {
            Html.SWInput(new SWTag("descricao", "Descricao", L("Descricao"), value: Model.Descricao, col: 9));
            Html.Select2For(m => m.LaudoGrupoId, "cbo-laudo-grupo", "sel2LauGrupo", L("GrupoLaudo"), Model.LaudoGrupoId.ToString(), Model.LaudoGrupo.Descricao, "laudoGrupo/ListarDropdown", "", col: 3);
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="conteudo">@L("Conteudo")</label>
                    <textarea name="Modelo" id="conteudo" rows="5" class="form-control text-editor">@Model.Modelo</textarea>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
