﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers




@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Diagnosticos.ModelosLaudos.ModeloLaudoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosDiagnostico.ModeloLaudo;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/ModelosLaudos/index.min.css")

<link href="~/libs/summernote/summernote.css" rel="stylesheet" />


}
@section Scripts
{
    <script src="~/libs/summernote/summernote.js"></script>
    @using (Html.InjetarJavascript()) { }

    @Html.IncludeScript("~/Scripts/MyScripts.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/ModelosLaudos/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ModelosLaudos")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarModelosLaudosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (true/*IsGranted(AppPermissions.Pages_Tenant_Assistencial_LaudoMedico_Create)*/)
            {
            <button id="CreateNewModeloLaudoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewModeloLaudo")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ModelosLaudosFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getModelosLaudos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ModelosLaudosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetModelosLaudosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ModelosLaudosTable"></div>
    </div>
</div>
