﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.TabelasResultados.TabelasResultadosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.TabelaResultado;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/TabelaResultados/index.min.css")

}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/TabelaResultados/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("TabelaResultado")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarTabelaResultadoParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_TabelaResultado_Create))
            {
            <button id="CreateNewTabelaResultadoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("NovaTabelaResultado")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="TabelaResultadoFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getTabelaResultado()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="TabelaResultadoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetTabelaResultadoButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="TabelaResultadosTable"></div>
    </div>
</div>
