﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Diagnosticos.Imagens.LaudoMovimentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Diagnosticos.Laboratorio;
}

@section Styles
{
    <link href="~/libs/summernote/summernote.css" rel="stylesheet" />
    <link href="~/libs/jquery-minicolors/css/jquery.minicolors.css" rel="stylesheet" />

}
@section Scripts
{
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")

    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Diagnosticos/Laboratorio/Index.js")

}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Exames")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">

    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="contasPagarFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFeriados()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="cbo-empresa-id">@L("Empresa")</label>
                                                    <select name="EmpresaId" id="cbo-empresa-id" class="form-control input-sm select2">
                                                        @if (Model.EmpresaId.HasValue)
                                                        {
                                                            <option value="@Model.EmpresaId.Value">@Model.NomeEmpresa</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">

                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Periodo")</label>
                                                            <input type="text" id="periodo" class="form-control date-range-picker periodo" />

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Ignorar")</label>
                                                            <input type="checkbox" id="ignorarPeriodo" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                    <label for="Codigo">@L("Convenio")</label>
                                                    <select name="ConvenioId" value="@Model.ConvenioId" id="convenioIndexId" class="editar form-control select2 selectConvenio"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                    <label for="PacienteId">@L("Paciente")</label>
                                                    <select name="PacienteId" value="@Model.PacienteId" id="pacienteIndexId" class="editar form-control select2 selectPaciente"></select>
                                                </div>
                                            </div>
                                        </div>
                                     


                                        <div id="AdvacedLancamentosFiltersArea" style="display: none">
                                            <div class="form-body" style="padding:3px;">

                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                                            <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                                        </div>
                                        <div class="col-md-7 text-right">
                                            <button id="refreshLancamentosButton" class="btn blue botao-atualizar"> @L("Refresh")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <div id="examesLaboratorioTable"></div>
</div>
</div>
