﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Diagnosticos.Laboratorio.ResultadoExameViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Diagnosticos.Laboratorio;
}

@section Styles
{
    <link href="~/libs/summernote/summernote.css" rel="stylesheet" />
    <link href="~/libs/jquery-minicolors/css/jquery.minicolors.css" rel="stylesheet" />

}
@section Scripts
{
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")

    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Diagnosticos/Laboratorio/ResultadoExames.js")

}


<div class="portlet light">

    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Resultados"))

    <div class="portlet-body">
        <div class="form">
            <form id="contasPagarFilterForm" role="form" class="form-validation">

                <div class="row">
                    <input type="hidden" id="coletaId" value="@Model.ColetaId" />
                    <input type="hidden" id="resultadoExameId" value="@Model.ResultadoExameId" />
                    <input type="hidden" id="itensJson" value="@Model.ItensJson" />
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label for="Codigo">@L("Codigo")</label>
                            <input type="text" id="codigoExame" readonly class="form-control input-sm" value="@Model.Codigo" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="Codigo">@L("Paciente")</label>
                            <input type="text" id="pacienteExame" readonly class="form-control input-sm" value="@Model.Paciente" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <label for="Codigo">@L("DataColeta")</label>
                            <input type="text" id="dataColetaExame" readonly class="form-control input-sm" value="@Model.DataColeta" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <label for="Codigo">@L("Exame")</label>
                            <input type="text" id="exame" readonly class="form-control input-sm" value="@Model.Exame" />
                            <input type="hidden" id="exameId" value="@Model.ExameId" />
                            <input type="hidden" id="itemId"  />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <input type="text" id="item" readonly class="form-control input-sm"  />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <input type="text" id="valorAlfanumerico" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <input type="text" id="unidade" readonly class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group  ">
                            <span class="btn green" id="inserirResultadoExame" style="top:0px;"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="laudoResultadoExamesLaboratorioTable"></div>
    </div>
    <div class="modal-footer">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn default close-button">@L("Cancel")</button>
        </div>
        <div class="col-sm-3">
            <div>
                <button type="button" id="salvar" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>
        </div>
    </div>
</div>
