﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.ClassificacoesRisco.ClassificacoesRiscoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.ClassificacaoRisco;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/Home/ClassificacoesRisco/index.min.css")

}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>@L("ClassificacoesRisco")</span>
    </h4>
</div>

<div class="modal-body container-fluid">

    @*<div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("ClassificacaoRisco")</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button id="ExportarClassificacoesRiscoParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                @if (IsGranted(AppPermissions.Pages_Tenant_Atendimento_ClassificacoesRisco_Create))
                {
                    <button id="CreateNewClassificacaoRiscoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewClassificacaoRisco")</button>
                }
            </div>
        </div>*@
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form id="ClassificacoesRiscoFilterForm" class="horizontal-form">
                    <div class="form-body" enter-key="vm.getClassificacoesRisco()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="ClassificacoesRiscoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetClassificacoesRiscoButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="ClassificacoesRiscoTable"></div>
            <div class="pagina" id="criar-ou-editar"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var _$ClassificacoesRiscoTable = $('#ClassificacoesRiscoTable');
        var _ClassificacoesRiscoService = abp.services.app.classificacaoRisco;
        var _$filterForm = $('#ClassificacoesRiscoFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Atendimento.ClassificacaoRisco.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Atendimento.ClassificacaoRisco.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Atendimento.ClassificacaoRisco.Delete')
        };

        _$ClassificacoesRiscoTable.jtable({

            title: app.localize('ClassificacoesRisco'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _ClassificacoesRiscoService.listarTodos
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '7%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }

                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deleteClassificacoesRisco(data.record.id);
                                });
                        }

                        $('<button class="btn btn-default btn-xs" title="' + app.localize('SelecionarClassificacaoRisco') + '"><i class="glyphicon glyphicon-hand-up"></i></button>')
                           .appendTo($span)
                           .click(function () {
                               //   selecionarClassificacaoRisco(data.record.id);
                           });


                        return $span;
                    }
                }
                ,
                senha: {
                    title: app.localize('Senha'),
                    width: '4%'
                }
                ,
                prioridade: {
                    title: app.localize('Prioridade'),
                    width: '6%'
                }
                ,
                especialidade: {
                    title: app.localize('Especialidade'),
                    width: '12%',
                    display: function (data) {
                        return data.record.especialidade.nome;
                    }
                }
                ,
                paciente: {
                    title: app.localize('Paciente'),
                    width: '20%',
                    display: function (data) {
                        if (data.record.paciente != null) {
                            return data.record.paciente.nomeCompleto;
                        } else {
                            return data.record.preAtendimento.nomeCompleto;
                        }
                    }
                }
                //telefone: {
                //    title: app.localize('Telefone'),
                //    width: '7%'
                //}
                //,
                //observacao: {
                //    title: app.localize('Observacao'),
                //    width: '12%'
                //}
            }
        });

        function getClassificacoesRisco(reload) {
            if (reload) {
                _$ClassificacoesRiscoTable.jtable('reload');
            } else {
                _$ClassificacoesRiscoTable.jtable('load', {
                    filtro: $('#ClassificacoesRiscoTableFilter').val()
                });
            }
        }

        function deleteClassificacoesRisco(ClassificacaoRisco) {
            abp.message.confirm(
                app.localize('DeleteWarning', ClassificacaoRisco.senha),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _ClassificacoesRiscoService.excluir(ClassificacaoRisco)
                            .done(function () {
                                getClassificacoesRisco(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        //function createRequestParams() {
        //    var prms = {};
        //    _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        //    return $.extend(prms);
        //}

        //$('#ShowAdvancedFiltersSpan').click(function () {
        //    $('#ShowAdvancedFiltersSpan').hide();
        //    $('#HideAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideDown();
        //});

        //$('#HideAdvancedFiltersSpan').click(function () {
        //    $('#HideAdvancedFiltersSpan').hide();
        //    $('#ShowAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideUp();
        //});

        $('#CreateNewClassificacaoRiscoButton').click(function () {
            //   _createOrEditModal.open();
            $('#criar-ou-editar').load('ClassificacoesRisco/_CriarOuEditarClassificacaoRisco');
        });

      
        $('#ExportarClassificacoesRiscoParaExcelButton').click(function () {
            _ClassificacoesRiscoService
                .listarParaExcel({
                    filtro: $('#ClassificacoesRiscoTableFilter').val(),
                    //sorting: $(''),
                    maxResultCount: $('span.jtable-page-size-change select').val()
                })
                .done(function (result) {
                    app.downloadTempFile(result);
                });
        });

        $('#GetClassificacoesRiscoButton, #RefreshClassificacoesRiscoListButton').click(function (e) {
            e.preventDefault();
            getClassificacoesRisco();
        });

        abp.event.on('app.CriarOuEditarClassificacaoRiscoModalSaved', function () {
            getClassificacoesRisco(true);
        });

        getClassificacoesRisco();

        $('#ClassificacoesRiscoTableFilter').focus();


    });



</script>

