﻿
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.Relatorios.FiltroModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.Relatorio;// Faturamentos.Relatorio
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("RelatorioContaMedica")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button data-formato="Excel" class="btnExportar btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        <button data-formato="PDF" class="btnExportar btn btn-default"><i class="fa fa-file-pdf-o"></i> @L("ExportToPdf")</button>
        <button data-formato="Word" class="btnExportar btn btn-default"><i class="fa fa-file-word-o"></i> @L("ExportToWord")</button>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">

            <div class="form-body" enter-key="vm.getEntradas()">
                <div class="row margin-bottom-10">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Empresa, Model.Empresas, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-4" style="padding-top:2%">
                        <button type="button" id="btnVisualizar" class="btn btn-primary blue"><i class="fa fa-search"></i>Visualizar</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="dvVisualizar" class="row">
            <iframe id="fVisualizar" src="" style="width:100%; height:400px; border:none 0; background-color:white"></iframe>
        </div>
    </div>
</div>
@section Styles
{

}
@section Scripts
{
    <script>
        $(function () {

            var urlVisualizar = "@Url.Action("Visualizar")";

            var empresa = $("#Empresa");
            var painel = $("#dvVisualizar");
            painel.hide();

            $("#btnVisualizar").click(function () {
                var url = urlVisualizar + montarParam();
                fVisualizar.src = url;
                painel.show();
            });


            //Exportar arquivos Word, PDF, Excel
            $(".btnExportar").click(function () {
                window.open(urlExportar + montarParam() + "&formato=" + $(this).data("formato"));
            });

         
        });
    </script>
}