﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Home.AssistenciaisViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.Resultado;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Resultados/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Resultados/Index.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/ResultadosExames/_CriarOuEditarModal.js")

    @using (Html.InjetarJavascript()) { }

}

<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user-md"></i>
            <span class="caption-subject bold uppercase">@L("Resultados")</span>
            <span class="caption-helper">@L("ColetasLaboratoriais")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        <!--Grid de atendimentos-->
        <div class="form">
            <form id="AtendimentosFilterForm" class="horizontal-form">
                <input type="hidden" name="IsAmbulatorioEmergencia" id="is-ambulatorio-emergencia" value="@Model.IsAmbulatorioEmergencia.ToString()" />
                <input type="hidden" name="IsInternacao" id="is-internacao" value="@Model.IsInternacao.ToString()" />

                <div class="form-body" enter-key="vm.getAtendimentos()">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">@L("Empresa")</label>
                                @if (Model.Empresas.Count() == 1)
                                {
                                    <input type="hidden" name="EmpresaId" value="@Model.Empresas.FirstOrDefault().Value" id="cbo-empresas" />
                                    <input type="text" class="form-control" name="EmpresaLabel" value="@Model.Empresas.FirstOrDefault().Text" id="empresa-label" disabled />
                                }
                                else
                                {
                                    @*@Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEmpresa"), id = "cbo-empresas" })*@
                                    <select name="EmpresaId" id="cbo-empresas" class="form-control select2 selectEmpresa ">
                                        @if (Model.EmpresaId.HasValue)
                                        {
                                            <option value="@Model.EmpresaId.Value">@Model.Empresa.NomeFantasia</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">@L("TipoAtendimento")</label>
                                <select name="TipoAtendimento" id="tipo-atendimento" class="form-control">
                                    <option value="INT" selected="selected">@L("Internados")</option>
                                    <option value="AMB">@L("AmbulatorioEmergencia")</option>
                                    <option value="ALL">@L("Todos")</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">@L("TipoFiltroData")</label>
                                <select class="form-control" name="FiltroData" id="filtro-data">
                                    <option value="Atendimento">@L("Atendimentos")</option>
                                    <option value="Internado">@L("Internados")</option>
                                    <option value="Alta">@L("Altas")</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="col-md-3" id="date-field-area">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input type="text" id="date-field" class="form-control date-range-picker" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">@L("Filtro")</label>
                                <input id="Filtro" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAtendimentosFiltersArea" style="display: none">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Paciente")</label>
                                    <select name="PacienteId" id="paciente-id" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Medico")</label>
                                    <select name="MedicoId" id="medico-id" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("Convenio")</label>
                                    <select name="ConvenioId" id="convenio-id" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">@L("UnidadeOrganizacional")</label>
                                    <select name="UnidadeOrganizacionalId" id="unidade-organizacional-id" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-sm-3">
                        <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                    <div class="col-sm-9 text-right">
                        @*<button id="ExportAtendimentosToExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@
                        <button id="criarColetaButton" class="btn blue botao-atualizar" hidden > @L("CriarColeta")</button>
                        <button id="buscarExamesSolicitadosButton" class="btn blue  botao-atualizar" ><i class="fa fa-refresh"></i> @L("ExamesSolicitados")</button>
                        <button id="RefreshAtendimentosButton" class="btn blue botao-atualizar" ><i class="fa fa-refresh"></i> @L("Refresh")</button>
                        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_Resultado_Create))
                        {
                            <button id="CreateNewResultadoButton" class="btn btn-primary botao-novo"><i class="fa fa-plus"></i> @L("CreateNewColeta")</button>
                        }
                    </div>
                </div>
            </form>
        </div>
        @*<div id="AtendimentosTable"></div>*@
        <div id="examesSolicitadosTable" hidden></div>
        <p class="white-space">&nbsp;</p>
        <!--Grid de coletas-->
        @*@using (Html.SWDivRetratil("resultados-table", L("Coletas"), false, 12, true, true))
        {*@
            @*<div class="row margin-bottom-5">
                <div class="col-xs-12 text-right">
                    <img src="~/Common/Images/Icons/excel.png" id="ExportarResultadosParaExcelButton" alt="Exportar para Excel" class="icone-export" style="border:none;" />
                    
                </div>
            </div>*@
            <div class="form">
                <form id="ResultadosFilterForm" class="horizontal-form">
                    <input type="hidden" name="AtendimentoId" id="atendimento-id" />
                    <input type="hidden" name="FaturamentoContaId" id="faturamento-conta-id" />
                    <div class="form-body" enter-key="vm.getResultados()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="ResultadosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetResultadosButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="ResultadosTable"></div>
        @*}*@
        <!--Grid de exames-->
        @*@using (Html.SWDivRetratil("exames-table", L("Exames"), false, 12, true, true))
        {
            <div class="form">
                <form id="ExamesFilterForm" class="horizontal-form">
                    <input type="hidden" name="ResultadoId" id="resultado-id-exame" />
                    <div class="form-body" enter-key="vm.getExames()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="ExamesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetExamesButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="ExamesTable"></div>
        }*@
    </div>
</div>
