﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ProdutosGruposTratamento.ProdutosGruposTratamentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.ProdutoGrupoTratamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosGruposTratamento/index.min.css")
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosGruposTratamento/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosGruposTratamento/Index.js")
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("GrupoTratamento")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarProdutosGruposTratamentoParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosSuprimentos_GrupoTratamento_Create))
            {
            <button id="CreateNewProdutoGrupoTratamentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProdutoGrupoTratamento")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ProdutosGruposTratamentoFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getProdutosGruposTratamento()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ProdutosGruposTratamentoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetProdutosGruposTratamentoButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ProdutosGruposTratamentoTable"></div>
    </div>
</div>
