﻿body {
    font-size: 11px;
}

.page-container {
    padding: 10px 10px 0 10px;
}

.page-content-wrapper .page-content {
    margin-left: 200px;
    padding: 0px 0 0 10px;
}

.page-sidebar {
    width: 200px;
}

.page-header.navbar {
    /*background: #364150;*/
    height: 65px;
    min-height: 65px;
}

.page-header-fixed .page-container {
    margin-top: 65px;
}

.page-header.navbar .page-top {
    height: 65px;
}

.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown {
    height: 65px;
}

a.dropdown-toggle {
    height: 65px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle {
    font-size: 11px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
    font-size: 11px;
}

.portlet.light > .portlet-title {
    background: #e1e3e4;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    min-height: 40px;
    margin-bottom: 0px;
}

    .portlet.light > .portlet-title > .actions {
        padding-top: 6px;
        padding-right: 0px;
        padding-bottom: 6px;
        padding-left: 0px;
    }

.portlet.light {
    background: #f8fafb;
}

    .portlet.light .portlet-body {
        padding-top: 0px;
    }

.portlet > .portlet-title > .caption {
    font-size: 14px !important;
}

.form-group {
    margin-bottom: 10px;
}

select.form-control, input.form-control, output {
    font-size: 11px !important;
    height: 24px !important;
    padding: 0px 6px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 9px !important;
    padding-right: 9px !important;
}

.row {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.portlet.light {
    padding: 6px 10px 9px 10px !important;
}

.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 12px;
}

.md-checkbox label > .box {
    height: 15px;
    width: 15px;
}

.md-checkbox label {
    padding-left: 20px;
}

    .md-checkbox label > .check {
        height: 15px;
    }

.chosen-container {
    font-size: 11px;
}

.portlet-body-morris-fit {
    margin-right: 0px;
    margin-left: 0px;
}

.dropdown-menu {
    font-size: 11px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm {
    font-size: 11px !important;
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    font-size: 11px;
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    /*padding: 6px 12px 5px 12px;*/
    padding: 4px 12px 2px 12px;
}

    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-xs {
        padding: 1px 6px 3px 6px;
    }
/*.page-sidebar{
    background: #364150;
}*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
    font-size: 12px !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    font-size: 12px !important;
}

.page-head .page-title > h1 {
    font-size: 18px !important;
}

    .page-head .page-title > h1 > small {
        font-size: 10px !important;
    }

.label:not(.md-skip) {
    padding: 2px 6px 3px 6px;
    font-size: 9px;
}
/* jtable */
.jtable-busy-message {
    font-weight: normal !important;
    font-size: 14px !important;
}

.jtable-main-container > div.jtable-title div.jtable-title-text {
    line-height: 24px !important;
}

.jtable-main-container {
    font-weight: normal !important;
    font-size: 11px !important;
}

    .jtable-main-container .jtable .jtable-column-header {
        height: 24px !important;
    }

    .jtable-main-container > table.jtable > thead th.jtable-column-header-sortable div.jtable-column-header-container {
        background-size: 14px 16px !important;
        /*background-size: 16px 18px;*/
    }

    .jtable-main-container > table.jtable > thead th.jtable-column-header div.jtable-column-header-container {
        height: 18px !important;
    }

    .jtable-main-container .jtable .jtable-data-row td {
        height: 28px !important;
    }

    .jtable-main-container > div.jtable-title div.jtable-title-text {
        font-weight: normal !important;
        font-size: 13px !important;
    }

    .jtable-main-container > table.jtable > thead th {
        font-weight: normal !important;
        font-size: 11px !important;
    }

    .jtable-main-container > div.jtable-bottom-panel {
        font-weight: normal !important;
        font-size: 11px !important;
    }

.select2-container--bootstrap .select2-selection--single {
    height: 24px !important;
}

.select2-container--bootstrap .select2-selection {
    font-size: 11px !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0px;
    width: 19px;
    height: 19px;
}

.form-control.checkbox-color {
    background-color: #36c6d3 !important;
    color: #36c6d3 !important;
    border-color: #36c6d3 !important;
}

.form-md-radios > label {
    font-size: 11px;
}

.md-radio label > .box {
    height: 15px;
    width: 15px;
}

.md-radio label > .check {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
}

.fieldsetformline {
    border: 1px solid #c2cad8;
    padding: 3px;
    margin: 10px;
}

.legendformline {
    margin-bottom: 0px;
    width: auto;
    border-bottom: 0;
    font-size: 100%;
    color: #c2cad8;
    padding: 3px;
}

/*.fieldsetform, .legendform{
    padding: 5px;
}*/

.legendform {
    font-size: 100%;
    color: #c2cad8;
    border-bottom: 1px solid #c2cad8;
    margin-bottom: 4px;
    width: 100%;
}

.modal .modal-body {
    background: #f8fafb;
}

.modal .modal-header {
    background: #e1e3e4;
    padding: 5px;
    min-height: 45px;
}

.modal-header > .align-left {
    position: absolute;
    left: 0px;
    padding-top: 5px;
    padding-left: 10px;
}

.modal-header > .align-right {
    position: absolute;
    right: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.upper {
    text-transform: uppercase;
}

.corfundo-cancel-close {
    background: #F80E3F !important;
    border-color: #F80E3F !important;
    color: #ffffff !important;
}

.corfundo-verde {
    background: #72D313 !important;
    border-color: #72D313 !important;
}

.botao-novo {
    background: #72D313 !important;
    border-color: #72D313 !important;
    width: 236px;
    height: 40px;
    icon: url(../Images/Icons/add-square-button.png);
}

.botao-atualizar {
    height: 40px;
}

.save-button {
    background: #72D313 !important;
    border-color: #72D313 !important;
    width: 236px;
    height: 30px;
}

.close-button {
    background: #F80E3F !important;
    border-color: #F80E3F !important;
    color: #ffffff !important;
    font-weight: 600px !important;
    width: 120px;
    height: 30px;
}

.icone-export {
    width: 25px;
    height: 25px;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.icone-export:hover {
    cursor: pointer;
}

.icone {
    /*padding-left: 10px;*/
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background: no-repeat left center;
    text-decoration: none;
}

.icone.xls {
        background-image: url(../Images/Icons/add-square-button.png);
    }

.botao-padrao-header {
   height: 40px;
}

.botao-padrao-footer {
   height: 30px;
}