﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Startup;

@{
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

@model SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto

<script>
    localStorage["DataAtendimento"] = '@(string.Format("{0:D4}{1:D2}{2:D2}T{3:D2}{4:D2}{5:D2}",atendimento.DataRegistro.Year,atendimento.DataRegistro.Month,atendimento.DataRegistro.Day,atendimento.DataRegistro.Hour,atendimento.DataRegistro.Minute,atendimento.DataRegistro.Second))';
    localStorage["AtendimentoId"] = '@(atendimento.Id)';
    var _senhaService = abp.services.app.senha;
    var _terminalSenhasService = abp.services.app.terminalSenhas;
    $(document).ready(function () {
        $.fn.modal.Constructor.prototype.enforceFocus = function () { };
        if ($('#movimentacao-senha-id').val() !== null && $('#movimentacao-senha-id').val() !== undefined) {
            $('#chamar-senha').show();
            $('#combo-local-chamada').hide();
        }
        else {
            $('#chamar-senha').hide();
            $('#combo-local-chamada').show();
        }
    });
    $('#chamar-senha').on('click', function (e) {
        e.preventDefault();
       _terminalSenhasService.chamarSenha(
            $('#tipo-local-chamada-id').val(),
            $('#local-chamada-id').val(),
            $('#movimentacao-senha-id').val()
        );
        $.cookie('localChamada', $('#local-chamada-id').val());
        $('#chamar-senha').hide();
        $('#combo-local-chamada').show();
    });
    selectSW('.selectTipoLocalChamada2', "/api/services/app/TipoLocalChamada/ListarTipoLocalChamadaDropdown");

    $('#tipo-local-chamada-id-2').on('change', function () {
        _senhaService.criarMovimento('@(atendimento.Id)', $('#tipo-local-chamada-id-2').val())
        .done(function () {
            abp.notify.info(app.localize('SenhaEncaminhada'));
            $('#combo-local-chamada').hide();
        })
    });

    var _novoTevMovimento = new app.ModalManager({
        viewUrl: abp.appPath + 'Mpa/Assistenciais/_TevMovimento',
        scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/_TevMovimento.js',
        modalClass: 'NovoTevMovimentoModal'
    });


    var _registrosArquivos = new app.ModalManager({
        viewUrl: abp.appPath + 'Mpa/Assistenciais/ListarRegistroArquivos',
        scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Assistenciais/RegistrosArquivos/Index.js',
        modalClass: 'ListarRegistroArquivos'
    });



    $('#ChamadaPep').on('click', function (e) {
       // e.preventDefault();

        _registrosArquivos.open({ id: '@(atendimento.Id)' });
        

    });




    //$('#novo-tev-movimento-@(atendimento.Id)').on('click', function (e) {
    function novoTevMovimento() {
        //e.preventDefault();
        _novoTevMovimento.open({
            atendimentoId: '@(atendimento.Id)'
        });
    }
    //});

</script>

<div class="row">
    <div class="col-sm-12" id="header-area-@atendimento.Id" data-id="@Model.Id">
        @*@Html.Action("HeaderAtendimento", "Assistenciais", new { id = Model.Id })*@
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus-sign-alt"></i>
                    @(string.Format("{0}: {1} - {2:D10}{3}", L("Prontuario"), atendimento.Paciente.NomeCompleto, L("Atendimento") + ": " + atendimento.Codigo, atendimento.Paciente.Nascimento.HasValue ? " - " + L("Nascimento") + ": " + atendimento.Paciente.Nascimento.Value.ToString("dd/MM/yyyy") : string.Empty))
                </div>
                <!--ações page-->


                <div class="actions">
                    <button class="btn btn-circle btn-icon-only btn-default fa fa-tasks fa-3x" id="chamar-senha" title="@L("ChamarSenha")"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div id="conteudo-modulo-@atendimento.Id" class="hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <iframe name="FormularioDinamicoArea" frameborder="0" id="formulario-dinamico-area-@atendimento.Id" src="" class="embed-responsive-item" />
                        </div>
                    </div>
                </div>
                <div id="menu-modulo-@atendimento.Id" data-current-page-name="@ViewBag.CurrentPageName" data-menu-name="@MpaNavigationProvider.AssistencialMenuName" data-key="@Model.Id">
                    @Html.Action("SidebarTab", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuName = MpaNavigationProvider.AssistencialMenuName, key = Model.Id })
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3 left" id="tev-movimento">
                        @Html.Partial("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Home/_ControlaTev.cshtml")
                    </div>
                    <div class="col-md-6">&nbsp;</div>
                    <div class="col-md-3" id="combo-local-chamada">
                        @if (atendimento.IsAmbulatorioEmergencia)
                        {
                            <div class="form-inline float-right">
                                <label>@L("EncaminharPaciente")</label>
                                <select name="TipoLocalChamadaId" id="tipo-local-chamada-id-2" class="form-control select2 selectTipoLocalChamada2"></select>
                            </div>
                        }

                        <div class="actions">
                            <button class="btn btn-circle btn-icon-only btn-default fa fa-tasks fa-3x" id="ChamadaPep" title="PEP - Prontuário Eletrônico do Paciente"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

