﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.PainelSenhas.Dto

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Home.AssistenciaisViewModel


@{
    //Layout = "~/Areas/Mpa/Views/Aplicacao/Assistenciais/AmbulatoriosEmergencias/Home/Layout/_Layout.cshtml";
    ViewBag.CurrentPageName = Model.IsAmbulatorioEmergencia ? PageNames.App.Assistenciais.AssistencialAtendimentos.AmbulatorioEmergencia : PageNames.App.Assistenciais.AssistencialAtendimentos.Internacao;
    //var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Assistenciais.AssistencialAtendimentos.Dto.CriarOuEditarAssistencialAtendimento;
    //var tipoAtendimento = Model.IsAmbulatorioEmergencia ? "amb" : "int";
    long localChamadaId = 0;
    LocalChamadaDto localChamada = new LocalChamadaDto();
    TipoLocalChamadaDto tipoLocalChamada = new TipoLocalChamadaDto();
    long tipoLocalChamadaId = 0;
    if (ViewBag.LocalChamadaId != null)
    {
        localChamadaId = Convert.ToInt64(ViewBag.LocalChamadaId);
        localChamada = ViewBag.LocalChamada as LocalChamadaDto;
        tipoLocalChamadaId = Convert.ToInt64(ViewBag.TipoLocalChamadaId);
        tipoLocalChamada = ViewBag.TipoLocalChamada as TipoLocalChamadaDto;
    }
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Home/index.min.css")
}

@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Home/Index.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Assistenciais/RegistrosArquivos/Index.js")
<script src="~/libs/PDFObject/pdfobject.js"></script>
}

<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user-md"></i>
            <span class="caption-subject bold uppercase">@L("Atendimentos")</span>
            <span class="caption-helper">@L("AssistencialAtendimentos")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        @*<div class="tabbable tabbable-tabdrop">*@
        <ul class="nav nav-tabs" id="abas-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")">
            <li class="active" id="aba-principal-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")">
                <a id="link-principal-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" href="#AtendimentosTab-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" data-toggle="tab">
                    @L((Model.IsAmbulatorioEmergencia ? "AmbulatorioEmergencia" : "Internacao")).ToUpper()
                </a>
            </li>
        </ul>
        <div class="tab-content" id="conteudo-abas-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")">
            <div class="tab-pane active" id="AtendimentosTab-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")">
                <div class="form">
                    <form id="AssistencialAtendimentosFilterForm-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" class="horizontal-form">
                        <input type="hidden" name="IsAmbulatorioEmergencia" id="is-ambulatorio-emergencia-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" value="@Model.IsAmbulatorioEmergencia.ToString()" />
                        <input type="hidden" name="IsInternacao" id="is-internacao-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" value="@Model.IsInternacao.ToString()" />
                        <input type="hidden" name="FiltroData" id="filtro-data-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" value="@(Model.IsAmbulatorioEmergencia ? "Atendimento" : "Internado")" />
                        <input type="hidden" name="UserMedicoId" id="user-medico-id-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" value="@(ViewBag.UserMedicoId)" />

                        <div class="form-body" enter-key="vm.getAssistencialAtendimentos()">
                            @if (Model.IsAmbulatorioEmergencia)
                            {
                                <div class="row" id="painel-senha">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("TipoLocalChamada")</label>
                                            <select name="TipoLocalChamadaId" id="tipo-local-chamada-id" class="form-control select2 selectTipoLocalChamada" style="width:100%;">
                                                @if (ViewBag.LocalChamadaId > 0)
                                                {
                                                    <option value="@tipoLocalChamadaId">@((string.IsNullOrWhiteSpace(tipoLocalChamada.Codigo) ? string.Empty : string.Format("{0} - ", tipoLocalChamada.Codigo)) + tipoLocalChamada.Descricao)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("LocalChamada")</label>
                                            <select name="LocalChamadaId" id="local-chamada-id" class="form-control select2 selectLocalChamada">
                                                @if (ViewBag.LocalChamadaId > 0)
                                                {
                                                    <option value="@localChamadaId">@((string.IsNullOrWhiteSpace(localChamada.Codigo) ? string.Empty : string.Format("{0} - ", localChamada.Codigo)) + localChamada.Descricao)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("Senha")</label>
                                            <select name="MovimentacaoSenhalId" id="movimentacao-senha-id" class="form-control select2 selectSenha" style="width:100%"></select>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Medico")</label>
                                        <select name="MedicoId" id="medico-id" class="form-control select2">
                                            @if (ViewBag.UserMedicoId != null)
                                            {
                                                var medicoId = Convert.ToInt64(ViewBag.UserMedicoId);
                                                var medico = ViewBag.UserMedico as SW10.SWMANAGER.ClassesAplicacao.Services.Cadastros.Medicos.Dto.MedicoDto;
                                                <option value="@medicoId">@((string.IsNullOrWhiteSpace(medico.Codigo) ? string.Empty : string.Format("{0} - ", medico.Codigo)) + medico.NomeCompleto)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("TipoFiltroData")</label>
                                        <select class="form-control input-sm" name="TipoFiltroData" id="tipo-filtro-data-@(Model.IsAmbulatorioEmergencia?"amb":"int")">
                                            <option value="Atendimento">@L("Atendimentos")</option>
                                            <option value="Internado">@L("Internados")</option>
                                            <option value="Alta">@L("Altas")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3" id="date-field-area-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRange")</label>
                                        <input type="text" id="date-field-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" class="form-control date-range-picker" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">@L("Filtro")</label>
                                        <input id="Filtro-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                    </div>
                                </div>
                            </div>
                            <div id="AdvacedAssistencialAtendimentosFiltersArea" style="display: none">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Paciente")</label>
                                            <select name="PacienteId" id="paciente-id" class="form-control select2"></select>
                                            @*<input name="PacienteSearch" id="paciente-search" type="text" class="form-control">*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Empresa")</label>
                                            @*@if (Model.Empresas.Count() == 1)
                                                {
                                                    <input type="hidden" name="EmpresaId" value="@Model.Empresas.FirstOrDefault().Value" id="cbo-empresas-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" />
                                                    <input type="text" class="form-control" name="EmpresaLabel" value="@Model.Empresas.FirstOrDefault().Text" id="empresa-label-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" disabled />
                                                }
                                                else
                                                {*@
                                            <select name="EmpresaId" id="comboEmpresa" class="form-control select2" style="width:100%;">
                                                <option value="@(Model.EmpresaId > 0 ? Model.EmpresaId.ToString() : string.Empty)"> @(Model.Empresa != null ? Model.Empresa.NomeFantasia : "Filtrar Por Empresa") </option>
                                            </select>
                                            @*}*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("Convenio")</label>
                                            <select name="ConvenioId" id="convenio-id" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">@L("UnidadeOrganizacional")</label>
                                            <select name="UnidadeOrganizacionalId" id="unidade-organizacional-id" class="form-control select2"></select>
                                            @*@Html.DropDownListFor(m => m.UnidadeOrganizacionalId, Model.UnidadesOrganizacionais, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "unidade-organizacional-id" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-sm-3">
                                <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                                <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                            </div>
                            <div class="col-sm-9 text-right">
                                <button id="ExportAssistencialAtendimentosToExcelButton-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                <button id="RefreshAssistencialAtendimentosButton-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="AssistencialAtendimentosTable-@(Model.IsAmbulatorioEmergencia ? "amb" : "int")"></div>

                <p class="white-space">&nbsp;</p>
                <div class="row">
                    @foreach (var item in Model.ListaStatus)
                    {
                        <div class="col-sm-1">
                            <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                            <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
</div>

<script>
    //window.document.addEventListener('onload', function () {
    localStorage["TipoAtendimento"] = '@(Model.IsAmbulatorioEmergencia ? "amb" : "int")';
    //});

    window.document.addEventListener('visibilitychange', function () {
        if (document.visibilityState == "visible") {
            //alert('@(Model.IsAmbulatorioEmergencia)');
            localStorage["TipoAtendimento"] = '@(Model.IsAmbulatorioEmergencia ? "amb" : "int")';
        }
    });
</script>