﻿#AssistencialAtendimentosTable .jtable-main-container .jtable-title {
  min-width: 100%;
}
#AssistencialAtendimentosTable .jtable-main-container .jtable {
  min-width: 100%;
}
#AssistencialAtendimentosTable .jtable-main-container .jtable-bottom-panel {
  min-width: 100%;
}
.user-edit-dialog-profile-image {
  margin-bottom: 20px;
}
#foto-paciente {
    max-height: 100px;
}

/*# sourceMappingURL=index.css.map */
