﻿@{
    Layout = null;
}



@using SW10.SWMANAGER.Web.Areas.Mpa.Startup;

@{
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

@model SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto








@*<div class="note note-success note-bordered">
    
    
    <h3>@L("WelcomePage_Title")</h3>
    <p>
      aaa  @L("EmConstrucao")
    </p>

</div>*@


<script>

    // $('#tab-horizontal-2781-1-2').on('click', function (e) {
    //     alert('opaaa');
    //});



    (function () {
        $(function () {

            $(document).ready(function () {

               // setActivePage('Mpa/AtendimentoLeitoMov/_AltaModal');
                _modalAlta.open({ atendimentoId: '@(atendimento.Id)' });
               
            });


            var _modalAlta = new app.ModalManager({
                viewUrl: abp.appPath + 'Mpa/AtendimentoLeitoMov/_AltaModal',
                scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Atendimentos/Altas/Alta/_CriarOuEditarModal.js',
                modalClass: 'AltaModalViewModel'
            });


    });
    })();





</script>