﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Erros.ErrosViewModel

@{
//  ViewBag.CurrentPageName = PageNames.App.Pacientes.Paciente;
}

@section Styles
{
    @*@Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/index.min.css")*@
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Erros/Index.js")
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>
}
<div class="row margin-bottom-5">

    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Erros")</span>
                </h1>
            </div>
        </div>
    </div>

</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        <table class="table table-responsive table-striped table-bordered">

            @foreach (var Erro in Model.Erros)
            {
                <tr>

                    <td>@Html.DisplayFor(m => Erro.CodigoErro)</td>
                    @if (string.IsNullOrEmpty(Erro.Descricao))
                    {
                        <td class="grid-auto-columns"> @L(Erro.CodigoErro, Erro.Parametros.ToArray())</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(m => Erro.Descricao)</td>
                    }
                </tr>
            }
        </table>


        <div class="modal-footer">
            <button type="button" class="btn default close-button" data-dismiss="modal">@L("Ok")</button>
        </div>
    </div>
</div>
