﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Filas.PainelSenhaViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAtendimento.PainelSenha;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />


    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
}


@section Scripts
{

    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/PainelSenhas/Index.js")

}

@{
    var backgroundColor = "#14169b";
    var tamanhoFonteChamadaAnterior = "35px";
}

<div id="divPrincipal" class="portlet light ">

    <div class="row" id="divPainel">
        <div class="col-sm-3">
            <div class="form-group">
                <select name="PainelId" id="painelId" class="editar form-control select2 selectPainel"></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <div class="row" style="font-size:30px;display:block;background-color: @backgroundColor; vertical-align: middle; color:#ffffff; ">
            @*<div class="col-sm-3"></div>*@
            <div class="col-sm-5">
                <div class="form-group" style="position:center;  text-align:center;">
                    <label>@L("Local")</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group" style="position:center;  text-align:center;">
                    <label>@L("Senha")</label>
                </div>
            </div>
        </div>
        <br />



        <div class="row" style=" display:block;background-color: @backgroundColor ; color:#ffffff; ">
            @*<div class="col-sm-3"></div>*@
            <div class="col-sm-5">
                <div class="form-group " style="position:center;  text-align:center;  font-size:60px; height:180px; ">
                    <label id="lblLocalChamadaAtual"></label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group" style="font-size:60px; height:180px; position:center;  text-align:center;  ">
                    <label id="lblSenhaAtual"></label>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="font-size:30px; height:100px; background-color: @backgroundColor;  color:#ffffff; position:center;  text-align:center; ">
            <div class="col-sm-12"></div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="form-group " style="font-weight:900; font-size:70px; height:120px; position:center;  text-align:center; ">
                    <label>@L("UltimasChamadas") </label>
                </div>
            </div>
        </div>

        <div>


            <div class="row">
                <div class="col-sm-4" style="display:block; color:#ffffff; position:center;  text-align:center;">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-sm-11" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color: @backgroundColor;">
                                <label id="lblLocalChamadaAterior1"> </label>
                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="position:center; color:#ffffff;">
                                    <div class="col-sm-5 " style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-sm-4" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;"></div>*@
                            <div class="col-sm-11" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                <label id="lblSenhaAnterior1"> </label>
                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="position:center; color:#ffffff;">
                                    <div class="col-sm-5 " style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4" style="display:block; color:#ffffff; text-align:center;">
                    <div class="form-group ">

                        <div class="row" style="position:center; color:#ffffff;">
                            <div class="col-sm-11 " style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                <label id="lblLocalChamadaAterior2"> </label>
                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="position:center; color:#ffffff;">
                                    <div class="col-sm-5 " style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            @*<div class="col-sm-4" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;"></div>*@
                            <div class="col-sm-11" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                <label id="lblSenhaAnterior2"></label>
                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="position:center; color:#ffffff;">
                                    <div class="col-sm-5 " style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4" style="display:block; color:#ffffff; position:center;  text-align:center;">
                    <div class="form-group ">

                        <div class="row">
                            <div class="col-sm-12" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                <label id="lblLocalChamadaAterior3"></label>
                            </div>
                          
                        </div>
                        <div class="row">
                            @*<div class="col-sm-4" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;"></div>*@
                            <div class="col-sm-12" style="font-size:@tamanhoFonteChamadaAnterior; height:100px; background-color:@backgroundColor;">
                                <label id="lblSenhaAnterior3"> </label>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
