﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Atendimentos.ModalEtiquetaVisitanteViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EtiquetaVisitante")))

<script src="~/libs/PDFObject/pdfobject.js"></script>

<div class="modal-body container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="EtiquetaVisitante" style="margin:auto; width:90%; height:1000px; border:4px solid #6da6c6; border-radius: 5px;"></div>
        </div>
    </div>
</div>

<script>
    var caminho = "/Mpa/AtendimentoRelatorio/VisitanteEtiqueta?visitanteId=" + '@Model.VisitanteId';
    PDFObject.embed(caminho, "#EtiquetaVisitante");
</script>

