﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoItemModalViewModel


@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.PreMovimentoItem;
}

@if (Model != null)
{
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEntrada") + ": " + Model.NumeroSerie) : L("CreateNewEntrada")))
            <div class="modal-body container-fluid">
                <form name="PreMovimentoItemInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="PreMovimentoId" id="PreMovimentoId" value="@Model.PreMovimentoId" />
                    @*<input type="hidden" name="ProdutoId" id="ProdutoId" value="@Model.ProdutoId" />*@
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    else
                    {
                        //Model.Data = DateTime.Now;
                    }
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group ">

                                <label for="ProdutoId">@L("Produto")</label>
                                @Html.DropDownListFor(m => m.ProdutoId, Model.Produtos, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div id="divNumeroSerie" class="form-group" @Html.Raw( Model.IsNumeroSerie?  "":  "hidden") >
                                <label>@L("NumeroSerie")</label>
                                <input name="NumeroSerie" id="NumeroSerie"   class="form-control  input-sm" type="text" value="@Model.NumeroSerie"   @Html.Raw( Model.IsNumeroSerie? "required" :  "") >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("Quantidade")</label>
                                <input name="Quantidade" id="QuantidadeItemid"  class="form-control  input-sm" type="text" value="@(Model.Quantidade.ToString())"  @Html.Raw( Model.IsNumeroSerie? "readonly" :  "") >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="CustoUnitario">@L("CustoUnitario")</label>
                                <input  name="CustoUnitario" id="custoUnitarioId" class="form-control input-sm" type="text" value="@(Model.CustoUnitario.ToString())">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label for="CustoTotal">@L("CustoTotal")</label>
                                <input type="text" name="CustoTotal" id="custoTotalId" class="form-control input-sm"   value="@(Model.CustoTotal.ToString())">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="ProdutoUnidadeId">@L("Unidade")</label>
                                @Html.DropDownListFor(m => m.ProdutoUnidadeId, Model.Unidades, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label for="perIPIId">@L("PerIPI")</label>
                                <input type="text" name="PerIPI" id="perIPIId" class="form-control input-sm" value="@(Model.PerIPI.ToString())">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label for="ValorIPI">@L("ValorIPI")</label>
                                <input type="text" name="ValorIPI" id="valorIPIId" class="form-control input-sm" value="@(Model.ValorIPI.ToString())">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
                        <button type="button" id="salvar-PreMovimento-Item" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


