﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.Entrada;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />


}




@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>


    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>





    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

    <script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>



    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/confirmacaoMovimentos/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/confirmacaoMovimentos/_CriarOuEditarPreMovimentoItemModal.js")
}
@if (Model != null)
{

    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEntrada") + ": " + Model.Documento) : L("CreateNewEntrada")))

        <div class="portlet-body" >

            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation" >
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEstadoId" id="PreMovimentoEstadoId" value="@Model.PreMovimentoEstadoId" />

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row" >

                    <div class="col-sm-4">
                        <div class="form-group">

                            <label for="EmpresaId">@L("Empresa")</label>
                            <input type="text" name="Empresa" id="empresa" class="form-control input-sm" disabled="disabled" value="@(Model.Empresa !=null ? Model.Empresa.NomeFantasia : string.Empty)" />

                            @*@Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("SelecioneLista"), new { @disabled = "disabled",  @class = "form-control edited selectpicker ", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                            @*<select name="EmpresaId" value="@Model.Empresas" id="EmpresaId" class="editar form-control select2 selectEmpresa">
                                <option value="@Model.EmpresaId">@(Model.Empresa != null ? string.Concat(Model.Empresa.Codigo, " - ", Model.Empresa.NomeFantasia) : null) </option>
                            </select>*@

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group  ">

                            <label for="Fornecedor-Id">@L("Fornecedor")</label>
                            @*<input type="search" name="fornecedorSearch" id="fornecedor-search" class="form-control input-sm" value="@(Model.Fornecedor !=null ? Model.Fornecedor.Descricao : string.Empty)" />*@

                            @*@Html.DropDownListFor(m => m.FornecedorId, Model.Fornecedores, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", @required = "required", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                            <input name="FornecedorId" id="FornecedorId" required class="form-control input-sm disabled" type="text" disabled="disabled" value="@Model.Fornecedor.Descricao" >


                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label>@L("Documento")</label>
                            <input name="Documento" id="DocumentoId" required class="form-control input-sm" type="text" disabled = "disabled"  value="@Model.Documento">

                        </div>
                    </div>

                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>@L("Serie")</label>
                            <input name="Serie" id="SerieId" class="form-control input-sm" type="text" disabled = "disabled"  value="@Model.Serie">

                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEmissao")</label>
                            <input name="Emissao" id="Emissao" class="form-control input-sm" type="text" disabled = "disabled"  value="@(Model.IsEditMode? Model.Emissao.ToShortDateString(): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            @*<input type="search" name="estoqueSearch" id="estoque-search" class="form-control@(Model.EstoqueId == 0 ? " " : " edited")" value="@(Model.EstoqueId > 0 ? Model.ProdutoEstoque.Descricao : string.Empty)" />*@
                            <label for="EstoqueID">@L("Estoque")</label>
                            @*@Html.DropDownListFor(m => m.EstoqueId, Model.Estoques, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control  selectpicker", required = "required", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            @*<select name="EstoqueId" value="@Model.EstoqueId" id="EstoqueId" class="editar form-control select2 selectEstoque" required>
                                <option value="@Model.EstoqueId">@(Model.Estoque != null ? string.Concat(Model.Estoque.Codigo, " - ", Model.Estoque.Descricao) : "Informe um estoque") </option>
                            </select>*@
                            <input type="text" name="EstoqueId" id="EstoqueId" class="form-control input-sm" disabled="disabled" value="@(Model.Estoque !=null ? Model.Estoque.Descricao : string.Empty)" />

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="TipoMovimentoId">@L("TipoDocumento")</label>
                            @*@Html.DropDownListFor(m => m.EstTipoMovimentoId, Model.TipoMovimentos, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input type="text" name="EstTipoMovimentoId" id="EstTipoMovimentoId" class="form-control input-sm" disabled="disabled" value="@(Model.TipoMovimento !=null ? Model.TipoMovimento.Descricao : string.Empty)" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="CentroCustoId">@L("CentroCusto")</label>
                            @*<input type="search" name="centroCustoSearch" id="centroCusto-search" class="form-control input-sm" value="@( Model.CentroCusto != null ? Model.CentroCusto.Descricao : string.Empty)" />*@

                            @*@Html.DropDownListFor(m => m.CentroCustoId, Model.CentroCustos, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input type="text" name="CentroCustoId" id="CentroCustoId" class="form-control input-sm" disabled="disabled" value="@(Model.CentroCusto !=null ? Model.CentroCusto.Descricao : string.Empty)" />

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <label for="OrdemId">@L("OrdemCompra")</label>
                            @*@Html.DropDownListFor(m => m.OrdemId, Model.Ordens, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input type="text" name="OrdemId" id="OrdemId" class="form-control input-sm" disabled="disabled" value="@(Model.OrdemCompra !=null ? Model.OrdemCompra.Descricao : string.Empty)" />

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEntrada")</label>
                            <input name="Movimento" id="movimento" class="form-control input-sm" type="text" disabled = "disabled" value="@(Model.IsEditMode? Model.Movimento.ToShortDateString() : DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                    @*<div class="col-sm-3">
                            <div class="form-group ">
                                <label for="EmpresaId">@L("TotalProduto")</label>
                                <input type="text" name="TotalProduto" id="totalProdutoId" class="form-control input-sm" value="@(Model.TotalProduto.ToString())">
                            </div>
                        </div>*@

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="totalDocumento">@L("TotalDocumento")</label>
                            <input type="text" name="TotalDocumento" id="totalDocumento" class="form-control input-sm text-right maskNumber" disabled = "disabled" value="@(Model.TotalDocumento.ToString())">

                        </div>
                    </div>
                
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="CFOPId">@L("CFOP")</label>
                            @*@Html.DropDownListFor(m => m.CFOPId, Model.CFOPs, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input type="text" name="CFOPId" id="CFOPId" class="form-control input-sm" disabled="disabled" value="@(Model.CFOP !=null ? Model.CFOP.Descricao : string.Empty)" />
                        </div>

                    </div>
                    <div class="row">

                    </div>



                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ICMSPer")</label>
                            <input name="ICMSPer" id="ICMSPer" class="form-control  input-sm text-right" type="text" disabled = "disabled" value="@(Model.ICMSPer.ToString()) ">

                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorICMS")</label>
                            <input name="ValorICMS" id="valorICMS" class="form-control  input-sm text-right" type="text" disabled = "disabled" value="@(Model.ValorICMS.ToString()) ">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label>@L("DescontoPer")</label>
                            <input name="DescontoPer" id="DescontoPer" class="form-control input-sm text-right" type="text" disabled = "disabled" value="@(Model.DescontoPer.ToString()) ">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@L("ValorDesconto")</label>
                            <input name="ValorDesconto" id="ValorDesconto" class="form-control  input-sm text-right" type="text" disabled = "disabled" value="@(Model.ValorDesconto.ToString()) ">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@L("ValorAcrescimo")</label>
                            <input name="AcrescimoDecrescimo" id="ValorAcrescimo" class="form-control input-sm text-right" type="text" disabled = "disabled" value="@(Model.AcrescimoDecrescimo.ToString()) ">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-2">
                        <label for="CFOPId">@L("TipoFrete")</label>
                        <div class="form-group ">
                            @*@Html.DropDownListFor(m => m.TipoFreteId, Model.TipoFretes, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input type="text" name="TipoFreteId" id="TipoFreteId" class="form-control input-sm" disabled="disabled" value="@(Model.TipoFrete !=null ? Model.TipoFrete.Descricao : string.Empty)" />

                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="frete">@L("Frete")</label>
                            <input type="text" name="Frete" id="frete" class="form-control input-sm text-right" disabled = "disabled" value="@(Model.Frete.ToString())">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DescontoFretePer")</label>
                            <input name="FretePer" id="FretePer" class="form-control input-sm text-right" type="text" disabled = "disabled" value="@(Model.FretePer.ToString()) ">

                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorFrete")</label>
                            <input name="ValorFrete" id="ValorFrete" class="form-control input-sm text-right" type="text" disabled = "disabled" value="@(Model.ValorFrete.ToString()) ">

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group ">

                            <label for="Frete_FornecedorId">@L("Transportadora")</label>
                            @*@Html.DropDownListFor(m => m.Frete_FornecedorId, Model.Fornecedores, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <input name="Frete_FornecedorId" id="Frete_FornecedorId" required class="form-control input-sm disabled" type="text" disabled="disabled" value="@(Model.Frete_Fornecedor != null ? Model.Frete_Fornecedor.Descricao : "")" > 
                        </div>
                    </div>

                </div>
                <p class="white-space">&nbsp;</p>

                <div class="row">

                    <div class="col-sm-2">
                        <div class="md-checkbox"  style="position:relative; top:25px">
                            <input name="Contabiliza" id="Contabiliza" class="md-check" type="checkbox" disabled = "disabled" value="true" @Html.Raw(Model.Contabiliza ? "checked=\" checked\"" : "") />
                            <label for="Contabiliza">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Contabiliza")
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="md-checkbox" style="position:relative; top:25px">
                            <input name="Consiginado" id="Consiginado" class="md-check" type="checkbox" value="true" disabled = "disabled" @Html.Raw(Model.Consiginado ? "checked=\" checked\"" : "") />
                            <label for="Consiginado">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Consignado")
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="md-checkbox" style="position:relative; top:25px">
                            <input name="AplicacaoDireta" id="AplicacaoDiretaId" class="md-check" type="checkbox" value="true" disabled = "disabled" @Html.Raw(Model.AplicacaoDireta ? "checked=\" checked\"" : "") />
                            <label for="AplicacaoDiretaId">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("AplicacaoDireta")
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="NumeroNotaFiscal">@L("NumeroNotaFiscal")</label>
                        <input type="text" name="NumeroNotaFiscal" id="NumeroNotaFiscal" disabled = "disabled" class="form-control input-sm text-right">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group "  id="divPaciente"@Html.Raw(!Model.AplicacaoDireta ? "hidden=\" hidden\"" : "")>

                            <label for="PacienteId">@L("Paciente")</label>
                            @*@Html.DropDownListFor(m => m.PacienteId, Model.Pacientes, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                            <input name="PacienteId" id="PacienteId" required class="form-control input-sm disabled" type="text" disabled="disabled" value="@((Model.Atendimento !=null && Model.Atendimento.Paciente != null) ? Model.Atendimento.Paciente.NomeCompleto : "")"> 
                            

                        </div>
                    </div>

                </div>

                <p class="white-space">&nbsp;</p>
               
                <div id="EstoquePreMovimentoItemTable"></div>
                <div class="modal-footer">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">

                        <div id="divConfirmarEntrada">  @*@Html.Raw(((!Model.PermiteConfirmacaoEntrada || Model.PreMovimentoEstadoId == 2)) ? "hidden=\" hidden\"" : "")>*@
                            @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_PreMovimento_ConfirmarMovimento))
                            {
                                <button id="ConfirmarEntradaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("ConfirmarEntrada")</button>
                            }
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn default close-button">@L("Cancel")</button>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>

}
