﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.EstoqueTransferenciaProdutoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.Transferencia;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
}


@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>

    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/ConfirmacaoMovimentos/_TransferenciaModal.js")
}
@if (Model != null)
{

    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("ConfirmarTransferencia") + ": " + Model.Documento) : L("CreateNewTransferencia")))

        <div class="portlet-body">

            <form name="transferenciaInformationsForm" role="form" novalidate class="form-validation">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEntradaId" id="preMovimentoEntradaId" value="@Model.PreMovimentoEntradaId" />
                <input type="hidden" name="PreMovimentoSaidaId" id="preMovimentoSaidaId" value="@Model.PreMovimentoSaidaId" />

                @*<input type="hidden" name="PreAtendimentoId" id="preAtendimentoId" value="@Model.PreMovimentoSaidaId" />*@
              

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataTransferencia")</label>
                            <input name="Movimento" id="Movimento" class="form-control input-sm" type="text" disabled = "disabled" value="@(Model.IsEditMode? Model.Movimento: DateTime.Now)">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label>@L("Documento")</label>
                            <input name="Documento" id="DocumentoId" readonly class="form-control input-sm" type="text" value="@Model.Documento">

                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EstoqueID">@L("EstoqueSaida")</label>
                            @Html.DropDownListFor(m => m.EstoqueSaidaId, Model.EstoquesSaida, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control selectpicker", data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EstoqueID">@L("EstoqueEntrada")</label>
                            @Html.DropDownListFor(m => m.EstoqueEntradaId, Model.EstoquesEntrada, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control selectpicker", data_live_search = "true" })
                        </div>
                    </div>
                </div>

                <p class="white-space">&nbsp;</p>
                <p class="white-space">&nbsp;</p>
               
                <div id="EstoqueTransferenciaItemTable"></div>
                <div class="modal-footer">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-3">
                            <div id="divConfirmarSaida" >
                                @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_PreMovimento_ConfirmarMovimento))
                                {
                                    <button id="ConfirmarSaidaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("ConfirmaTransferencia")</button>
                                }
                            </div>
                        </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn default close-button">@L("Cancel")</button>
                    </div>
                  
                </div>


            </form>
        </div>
    </div>

}


