﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@*remover isso*@
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.FaturamentoItensAutorizacoes.FaturamentoItemAutorizacaoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosFaturamento.FaturamentoItemAutorizacao;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/FaturamentoItensAutorizacoes/index.min.css")
}
@section Scripts
{`
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/FaturamentoItensAutorizacoes/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("FaturamentoItemAutorizacao")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Faturamento_FaturamentoItemAutorizacao_Create))
            {
            <button id="CreateNewPreMovimentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAutorizacao")</button>
        }
        <button id="RefreshAtendimentosButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="CentralAutorizacaoForm" class="horizontal-form">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ConvenioId">@L("Convenio")</label>
                            <select name="ConvenioId" value="@Model.ConvenioId" id="convenioId" class="editar form-control select2 selectConvenio" required></select>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="FaturamentoGrupoId">@L("Grupo")</label>
                            <select name="FaturamentoGrupoId" value="@Model.FaturamentoGrupoId" id="faturamentoGrupoId" class="editar form-control select2 selecFaturamentoGrupo" required></select>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="FaturamentoSubGrupoId">@L("SubGrupo")</label>
                            <select name="FaturamentoSubGrupoId" value="@Model.FaturamentoSubGrupoId" id="faturamentoSubGrupoId" class="editar form-control select2 selecFaturamentoSubGrupo" required></select>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="FaturamentoItemId">@L("FaturamentoItem")</label>
                            <select name="FaturamentoItemId" value="@Model.FaturamentoItemId" id="faturamentoItemId" class="editar form-control select2 selecFaturamentoItem" required></select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label>@L("Filtro")</label>
                        <input id="filtro" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                    </div>
                    

                </div>
            </form>
        </div>


        <div id="AutorizacaoTable"></div>
    </div>
</div>
