﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers
@using SW10.SWMANAGER.Authorization


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.Divisoes.CriarOuEditarDivisaoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDivisao") + ": " + Model.Descricao) : L("CreateNewDivisao")))

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#DivisaoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Divisao")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="DivisaoInformationsTab">
                <form name="DivisaoInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="IsResposta" id="is-resposta" value="@Model.IsResposta" />
                    <input type="hidden" name="DivisaoPrincipalTroca" id="divisao-principal-troca" value="@Model.Id" />
                    <input type="hidden" name="Id" id="id" value="@Model.Id" />
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>@L("Codigo")</label>
                                <input class="form-control input-sm" value="@Model.Codigo" type="text" name="Codigo">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>@L("Descricao")</label>
                                <input class="form-control input-sm" value="@Model.Descricao" type="text" name="Descricao">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>@L("Ordem")</label>
                                <input class="form-control input-sm" value="@Model.Ordem" type="text" name="Ordem">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @using (Html.Row())
                        {
                            using (Html.Col("md", 8))
                            {
                                <label>@L("TipoPrescricao")</label>
                            }
                            using (Html.Col("md", 4))
                            {
                                <label>@L("TipoDivisao")</label>
                            }
                        }
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select name="TipoPrescricaoId" id="tipo-prescricao-id" class="form-control select2" style="width:100%;">
                                        @if (Model.TipoPrescricaoId.HasValue)
                                        {
                                            <option value="@Model.TipoPrescricaoId.Value">@(string.Format("{0} - {1}", Model.TipoPrescricao.Codigo, Model.TipoPrescricao.Descricao))</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input name="IsDivisaoPrincipal" id="chk-is-divisao-principal" class="form-control icheck checkbox-inline" type="checkbox" value="true" @Html.Raw(Model.IsDivisaoPrincipal ? "checked=\"checked\"" : "") />
                                    <label for="chk-is-divisao-principal">@L("DivisaoPrincipal")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li id="lst-montagem-tela-tab" class="active">
                            <a href="#montagem-tela-tab" data-toggle="tab" aria-expanded="true" id="lnk-montagem-tela-tab">
                                @L("MontagemTela")
                            </a>
                        </li>
                        <li id="lst-configuracao-tab">
                            <a href="#configuracao-tab" data-toggle="tab" aria-expanded="true" id="lnk-configuracao-tab">
                                @L("Configuracao")
                            </a>
                        </li>
                        <li id="lst-tipo-prescricao-tab">
                            <a href="#tipo-prescricao-tab" data-toggle="tab" aria-expanded="true" id="lnk-tipo-prescricao-tab">
                                @L("TiposPrescricao")
                            </a>
                        </li>
                        <li id="lst-divisao-principal-tab" class="@(Model.IsDivisaoPrincipal ?  "hidden" : "")">
                            <a href="#divisao-principal-tab" data-toggle="tab" aria-expanded="true" id="lnk-divisao-principal-tab">
                                @L("DivisaoPrincipal")
                            </a>
                        </li>
                        <li id="lst-sub-divisao-tab" class="@(Model.IsDivisaoPrincipal ?  "" : "hidden")">
                            <a href="#sub-divisao-tab" data-toggle="tab" aria-expanded="true" id="lnk-sub-divisao-tab">
                                @L("SubDivisoes")
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="montagem-tela-tab" aria-expanded="true">
                            @*@Html.Partial("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/Divisoes/_MontarTiposRespostas.cshtml", Model)*@
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="Todos" id="is-todos-montagem-tela" class="form-control icheck checkbox-inline" type="checkbox" value="true" />
                                        <label for="is-todos-montagem-tela">@L("Todos")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsQuantidade" id="is-quantidade" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsQuantidade ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-quantidade">@L("IsQuantidade")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsUnidadeMedida" id="is-unidade-medida" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsUnidadeMedida ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-unidade-medida">@L("IsUnidadeMedida")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsVelocidadeInfusao" id="is-velocidade-infusao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsVelocidadeInfusao ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-velocidade-infusao">@L("IsVelocidadeInfusao")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsFormaAplicacao" id="is-forma-aplicacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsFormaAplicacao ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-forma-aplicacao">@L("IsFormaAplicacao")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsFrequencia" id="is-frequencia" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsFrequencia ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-frequencia">@L("IsFrequencia")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsDataInicio" id="is-data-inicio" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsDataInicio ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-data-inicio">@L("IsDataInicio")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsDiasAplicacao" id="is-dias-aplicacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsDiasAplicacao ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-dias-aplicacao">@L("IsDiasAplicacao")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsObservacao" id="is-observacao" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsObservacao ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-observacao">@L("IsObservacao")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsAcm" id="is-acm" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsAcm ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-acm">@L("IsAcm")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsUrgente" id="is-urgente" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsUrgente ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-urgente">@L("IsUrgente")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsAgora" id="is-agora" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.IsAgora ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-agora">@L("IsAgora")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @*<div class="form-group">
                                            <input name="IsObservacao" id="is-observacao" type="checkbox" class="form-control icheck checkbox-inline" value="true" @Html.Raw(Model.IsObservacao ? "checked=\"checked\"" : "") />&nbsp;
                                            <label for="is-observacao">@L("IsObservacao")</label>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="configuracao-tab" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="Todos" id="is-todos-configuracao" class="form-control icheck checkbox-inline" type="checkbox" value="true" />
                                        <label for="is-todos-configuracao">@L("Todos")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsCopiarPrescricao" id="is-copiar-prescricao" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsCopiarPrescricao ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-copiar-prescricao">@L("IsCopiarPrescricao")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsControlaVolume" id="is-controla-volume" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsControlaVolume ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-controla-volume">@L("IsControlaVolume")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsExameLaboratorial" id="is-exame-laboratorial" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsExameLaboratorial ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-exame-laboratorial">@L("IsExameLaboratorial")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsExameImagem" id="is-exame-imagem" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsExameImagem ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-exame-imagem">@L("IsExameImagem")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsMedicamento" id="is-medicamento" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsMedicamento ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-medicamento">@L("IsMedicamento")</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="IsProdutoEstoque" id="is-produto-estoque" type="checkbox" class="form-control icheck checkbox-inline chk-configuracao" value="true" @Html.Raw(Model.IsProdutoEstoque ? "checked=\"checked\"" : "") />&nbsp;
                                        <label for="is-produto-estoque">@L("IsProdutoEstoque")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tipo-prescricao-tab" aria-expanded="true">
                            <div class="form">
                                <form id="TiposPrescricaoFilterForm" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row margin-bottom-10">
                                            <div class="col-md-12">
                                                <div class="inputs inputs-full-width">
                                                    <div class="portlet-input">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label">@L("Filtro")</label>
                                                                        <input id="TiposPrescricaoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Assistenciais_Prescricao_Divisao_Create))
                                                                    {
                                                                        <button id="SelecionarTipoPrescricaoButton" class="btn btn-primary blue"><i class="fa fa-check-square-o"></i> @L("SelecionarTipoPrescricao")</button>
                                                                        <button id="CreateNewTipoPrescricaoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateTipoPrescricao")</button>
                                                                    }
                                                                    <button id="RefreshSubDivisoesListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="tipos-prescricao-table"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade in @(Model.IsDivisaoPrincipal ?  "hidden" : "")" id="divisao-principal-tab" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>@L("DivisaoPrincipal")</label>
                                        <select name="DivisaoPrincipalId" id="divisao-principal-id" class="form-control select2" style="width:100%;">
                                            @if (Model.DivisaoPrincipalId.HasValue)
                                            {
                                                <option value="@Model.DivisaoPrincipalId.Value">@(string.Format("{0} - {1}", Model.DivisaoPrincipal.Codigo, Model.DivisaoPrincipal.Descricao))</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sub-divisao-tab" class="tab-pane fade in @(Model.IsDivisaoPrincipal ?  "" : "hidden")" aria-expanded="true">
                            <div class="form">
                                <form id="SubDivisoesFilterForm" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row margin-bottom-10">
                                            <div class="col-md-12">
                                                <div class="inputs inputs-full-width">
                                                    <div class="portlet-input">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label">@L("Filtro")</label>
                                                                        <input id="SubDivisoesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    <button id="ExportarSubDivisoesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                                                    @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Assistenciais_Prescricao_Divisao_Create))
                                                                    {
                                                                        <button id="SelecionarSubDivisaoButton" class="btn btn-primary blue"><i class="fa fa-check-square-o"></i> @L("SelecionarSubDivisao")</button>
                                                                        <button id="CreateNewSubDivisaoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSubDivisao")</button>
                                                                    }
                                                                    <button id="RefreshSubDivisoesListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="sub-divisoes-table"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p class="white-space">&nbsp;</p>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
