﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.ClassesAplicacao
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.Divisoes.DivisaoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("SelecionarSubDivisao")))

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/Divisoes/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/Divisoes/Index.js")
}

<input type="hidden" name="DivisaoPrincipalId" id="divisao-principal-id-selecionar" value="@(ViewBag.DivisaoPrincipalId)" />
@*<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("SelecionarSubDivisao")</span>
                </h1>
            </div>
        </div>
    </div>
</div>*@
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div id="DivisaoItensTable"></div>
    </div>
</div>

<div id="modal-footer">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</div>
