﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Especialidades.EspecialidadesViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosGlobais.Especialidade;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Especialidades/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Especialidades/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Especialidades/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-md-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Especialidade")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-right">
        @*<button id="ExportarEspecialidadesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

        <img src="~/Common/Images/Icons/excel.png" id="ExportarEspecialidadesParaExcelButton" alt="Exportar para Excel" class="icone-export" />
        @*<img src="~/Common/Images/Icons/pdf.png" alt="Exportar para PDF" class="icone-export" />
        <img src="~/Common/Images/Icons/printer.png" alt="Imprimir" class="icone-export" />*@

        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_Especialidade_Create))
        {
            @*<button id="CreateNewEspecialidadeButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEspecialidade")</button>*@
            <button id="CreateNewEspecialidadeButton" class="btn btn-primary botao-novo" style="margin-left: 15px"><i class="fa fa-plus"></i> @L("CreateNewEspecialidade")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="EspecialidadesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getEspecialidades()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="EspecialidadesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetEspecialidadesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="EspecialidadesTable"></div>
    </div>
</div>
