﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Pacientes.PacientesViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosGlobais.Paciente;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/index.min.css")

}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>@L("Pacientes")</span>
    </h4>
</div>

<div class="modal-body container-fluid">

    @*<div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Paciente")</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button id="ExportarPacientesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                @if (IsGranted(AppPermissions.Pages_Tenant_Atendimento_Pacientes_Create))
                {
                    <button id="CreateNewPacienteButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPaciente")</button>
                }
            </div>
        </div>*@
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form id="PacientesFilterForm" class="horizontal-form">
                    <div class="form-body" enter-key="vm.getPacientes()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="PacientesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetPacientesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="PacientesTable"></div>
            <div class="pagina" id="criar-ou-editar"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var _$PacientesTable = $('#PacientesTable');
        var _PacientesService = abp.services.app.paciente;
        var _$filterForm = $('#PacientesFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Atendimento.Paciente.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Atendimento.Paciente.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Atendimento.Paciente.Delete')
        };

        _$PacientesTable.jtable({

            title: app.localize('Pacientes'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _PacientesService.listarParaIndex
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '12%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }

                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deletePacientes(data.record);
                                });
                        }

                        $('<button class="btn btn-default btn-xs" title="' + app.localize('SelecionarPaciente') + '"><i class="glyphicon glyphicon-hand-up"></i></button>')
                          .appendTo($span)
                          .click(function () {
                              // selecionarPaciente(data.record.id);
                          });


                        return $span;
                    }
                },
                nomeCompleto: {
                    title: app.localize('NomeCompleto'),
                    width: '15%'
                },
                rg: {
                    title: app.localize('Rg'),
                    width: '8%'
                },
                cpf: {
                    title: app.localize('Cpf'),
                    width: '8%'
                },
                nascimento: {
                    title: app.localize('Nascimento'),
                    width: '8%',
                    display: function (data) {
                        return moment(data.record.nascimento).format('L');
                    }
                },
                telefone: {
                    title: app.localize('Telefone'),
                    sorting: false,
                    width: '15%',
                    display: function (data) {
                        return data.record.telefone1;
                    }
                },
                nomeMae: {
                    title: app.localize('NomeMae'),
                    width: '15%'
                },
                nomePai: {
                    title: app.localize('NomePai'),
                    width: '15%'
                }
            }
        });

        function getPacientes(reload) {
            if (reload) {
                _$PacientesTable.jtable('reload');
            } else {
                _$PacientesTable.jtable('load', {
                    filtro: $('#PacientesTableFilter').val()
                });
            }
        }

        function deletePacientes(Paciente) {
            abp.message.confirm(
                app.localize('DeleteWarning', Paciente.senha),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _PacientesService.excluir(Paciente)
                            .done(function () {
                                getPacientes(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        //function createRequestParams() {
        //    var prms = {};
        //    _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        //    return $.extend(prms);
        //}

        //$('#ShowAdvancedFiltersSpan').click(function () {
        //    $('#ShowAdvancedFiltersSpan').hide();
        //    $('#HideAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideDown();
        //});

        //$('#HideAdvancedFiltersSpan').click(function () {
        //    $('#HideAdvancedFiltersSpan').hide();
        //    $('#ShowAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideUp();
        //});

        $('#CreateNewPacienteButton').click(function () {
            //   _createOrEditModal.open();
            $('#criar-ou-editar').load('Pacientes/_CriarOuEditarPaciente');
        });

      
        $('#ExportarPacientesParaExcelButton').click(function () {
            _PacientesService
                .listarParaExcel({
                    filtro: $('#PacientesTableFilter').val(),
                    //sorting: $(''),
                    maxResultCount: $('span.jtable-page-size-change select').val()
                })
                .done(function (result) {
                    app.downloadTempFile(result);
                });
        });

        $('#GetPacientesButton, #RefreshPacientesListButton').click(function (e) {
            e.preventDefault();
            getPacientes();
        });

        abp.event.on('app.CriarOuEditarPacienteModalSaved', function () {
            getPacientes(true);
        });

        getPacientes();

        $('#PacientesTableFilter').focus();


    });



</script>

