﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.InstituicoesTransferencia.CriarOuEditarInstituicaoTransferenciaModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditInstituicaoTransferencia") + ": " + Model.Descricao) : L("CreateNewInstituicaoTransferencia")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#InstituicaoTransferenciaInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("InstituicaoTransferencia")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="InstituicaoTransferenciaInformationsTab">
                <form name="InstituicaoTransferenciaInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" value="" type="text" name="CodInstituicaoTransferencia">
                                <label>@L("CodInstituicaoTransferencia")</label>
                            </div>

                            <div class="form-group">
                                <input type="text" name="Descricao" class="form-control" value="@Model.Descricao" required>
                                <label>@L("Description")</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
