﻿@using SW10.SWMANAGER.Web.Extensions


@{
    Layout = null;
}

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="row form-group" ng-repeat="formConfig in formsConfig">
            <div class="col-md-{{formConfig.TotCols}}" ng-repeat="Col1 in formConfig.ColConfigs">
                @*<input type="hidden" name="Resposta" value="{{Col1.Valores[0].Resposta}}" />*@
                <div class="col-md-12">
                    <label for="{{Col1.Name}}">{{Col1.Label}}</label>
                    <input ng-show="Col1.Type == 'text' || Col1.Type =='email'|| Col1.Type =='range' || Col1.Type =='datetimesingle' || Col1.Type =='datetimerange'"
                    type="{{Col1.Type}}"
                    placeholder="{{Col1.Placeholder}}"
                    name="{{Col1.Name}}"
                    id="{{Col1.Id}}"
                    ng-model="Col1.Value"
                    ng-readonly="ReadOnly"
                    class="form-control input-sm {{Col1.Type=='datetimerange'?'date-range-picker':Col1.Type=='datetimesingle'?'date-single-picker':''}}">
                    <select ng-show="Col1.Type === 'select'"
                            id="{{Col1.Id}}"
                            ng-model="Col1.Value"
                            ng-readonly="ReadOnly"
                            class="form-control selectpicker"
                            data_live_search="true"
                            data_none_selected_text=@L("Atendimento")>
                        <option ng-repeat="multiOpcao in Col1.MultiOption" value="{{multiOpcao.Opcao}}">{{multiOpcao.Opcao}}</option>
                    </select>
                    <textarea ng-show="Col1.Type == 'textarea'"
                              placeholder="{{Col1.Placeholder}}"
                              name="{{Col1.Name}}"
                              id="{{Col1.Id}}"
                              ng-model="Col1.Value"
                              ng-readonly="ReadOnly"
                              class="form-control jtable-textarea-input text-editor"></textarea>
                    <div ng-show="Col1.Type === 'radio'">
                        <div ng-repeat="multiOpcao in Col1.MultiOption">
                            <div class="md-radio-list">
                                <div class="md-radio-inline">
                                    @*<input type="radio" name="{{Col1.Name}}" ng-model="Col1.Value" ng-readonly="ReadOnly" id="rdo-{{Col1.Name}}-{{multiOpcao.Id}}" value="{{multiOpcao.Opcao}}" class="md-radio-inline" /><label for="rdo-{{Col1.Name}}-{{multiOpcao.Id}}">{{multiOpcao.Opcao}}</label>*@
                                    <input type="radio" name="{{Col1.Name}}" ng-model="multiOpcao.Selecionado" ng-readonly="ReadOnly" id="rdo-{{Col1.Name}}-{{multiOpcao.Id}}" value="{{multiOpcao.Opcao}}" class="md-radio-inline" /><label for="rdo-{{Col1.Name}}-{{multiOpcao.Id}}">{{multiOpcao.Opcao}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="Col1.Type === 'checkbox'">
                        <div class="checkbox" ng-repeat="multiOpcao in Col1.MultiOption">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input type="checkbox"
                                           name="{{Col1.Name}}"
                                           ng-model="multiOpcao.Selecionado"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-readonly="ReadOnly"
                                           value="{{multiOpcao.Opcao}}"
                                           class="md-check"
                                           id="chk-{{Col1.Name}}-{{multiOpcao.Id}}">
                                    <label for="chk-{{Col1.Name}}-{{multiOpcao.Id}}">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {{multiOpcao.Opcao}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
        </div>
    </div>
</div>
