﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Configuracoes.GeradorFormularios.FormRespostaViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Configuracoes.GeradorFormulario;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Configuracoes/GeradorFormularios/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Configuracoes/GeradorFormularios/ListarDados.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@Model.FormName</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarGeradorFormulariosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Configuracoes_GeradorFormulario_Create))
            {
            <button id="CreateNewGeradorFormularioButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRegistro")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="GeradorFormulariosFilterForm" class="horizontal-form">
                <input type="hidden" name="FormId" id="form-id" value="@Model.FormId" />
                <input type="hidden" name="FormName" id="form-name" value="@Model.FormName" />
                <div class="form-body" enter-key="vm.getGeradorFormularios()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="GeradorFormulariosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetGeradorFormulariosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="GeradorFormulariosTable"></div>
        <p class="white-space">&nbsp;</p>
        <div><a href="@Url.Action("Index","GeradorFormularios")" class="btn btn-default">Voltar</a></div>
    </div>
</div>