﻿@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Controladorias.NotasFiscais.NotasFiscaisViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Controladoria.NotasFiscais;
}
@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Controladorias/NotasFiscais/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Controladorias/NotasFiscais/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("NotasFiscais")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">

    </div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        <div class="form">
            <form id="NotasFiscaisFilterForm" class="horizontal-form">
                <div class="form-body">
                    <input type="hidden" name="UserName" id="user-name" value="@Model.UserName" />
                    <input type="hidden" name="Password" id="password" value="@Model.Password" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("Empresa")</label>
                                @Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("FiltroEmpresa"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEmpresa"), id = "cbo-empresas" })
                             </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("DateRange")</label>
                                <input type="text" class="form-control date-range-picker" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">@L("Filtro")</label>
                                <input id="Filtro" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                            </div>
                        </div>
                    </div>

                    <div id="AdvacedNotasFiscaisFiltersArea" style="display: none">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Service")</label>
                                    <input name="ServiceName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" style="display: block">@L("Duration")</label>
                                <div class="input-group" style="width: 250px !important;">
                                    <input type="number" name="MinExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8">
                                    <span class="input-group-addon">
                                        ---
                                    </span>
                                    <input type="number" name="MaxExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Action")</label>
                                    <input type="text" name="MethodName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("ErrorState")</label>
                                    <select name="HasException" class="form-control">
                                        <option value="">@L("All")</option>
                                        <option value="false">@L("Success")</option>
                                        <option value="true">@L("HasError")</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("Browser")</label>
                                    <input type="text" name="BrowserInfo" class="form-control" ng-model="vm.requestParams.browserInfo">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row margin-bottom-10">
                    <div class="col-sm-3">
                        <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                    <div class="col-sm-9 text-right">
                        <button id="ExportNotasFiscaisToExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        <button id="RefreshNotasFiscaisButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                        @if (IsGranted(AppPermissions.Pages_Tenant_Controladoria_NotasFiscais))
                        {
                            <button name="BtnSincronizar" id="btn-sincronizar" class="btn btn-primary"><i class="fa fa-cloud-download"></i> @L("SincronizarNotas")</button>
                            @*<button name="BtnNfeDistribuicaoDfe" id="btn-nfe-distribuicao-dfe" class="btn btn-primary"><i class="fa fa-filter"></i> @L("SincronizarNotas")</button>*@
                        }

                    </div>
                </div>
            </form>
        </div>

        <div id="NotasFiscaisTable"></div>
        @*<div class="row">
                <div class="col-sm-12">
                    @if (IsGranted(AppPermissions.Pages_Tenant_Controladoria_NotasFiscais))
                    {
                        <button name="BtnSincronizar" id="btn-sincronizar" class="btn blue"><i class="fa fa-cloud-download"></i> @L("SincronizarNotas")</button>
                    }
                </div>
            </div>*@
    </div>
</div>
