﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoItemModalViewModel


@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.PreMovimentoItem;
}

@if (Model != null)
{
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditConfirmacao") + ": " + Model.NumeroSerie) : L("CreateNewConfirmacao")))
            <div class="modal-body container-fluid">
                <form name="PreMovimentoItemInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="PreMovimentoId" id="PreMovimentoId" value="@Model.PreMovimentoId" />
                    <input type="hidden" name="EstoquePreMovimentoLoteValidadeId" id="EstoquePreMovimentoLoteValidadeId" value="@Model.EstoquePreMovimentoLoteValidadeId" />
                    <input type="hidden" name="EstoqueId" id="EstoqueId" value="@Model.EstoqueId" />
                    <input type="hidden" name="LotesValidadesJson" id="lotesValidadesJson" value="@Model.LotesValidadesJson" />
                    <input type="hidden" name="NumerosSerieJson" id="numerosSerieJson" value="@Model.NumerosSerieJson" />
                    <input type="hidden" name="ProdutoId" id="produtoId" value="@Model.ProdutoId" />


                    <input type="hidden" name="IdGrid" id="idGrid" value="@Model.IdGrid" />

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    else
                    {
                        //Model.Data = DateTime.Now;
                    }
                    @*<div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="ProdutoId">@L("CodigoBarra")</label>
                                <input name="CodigoBarra" id="CodigoBarra" class="form-control  input-sm" type="text" value="@(Model.CodigoBarra)">
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group ">
                                <label for="ProdutoId">@L("Produto")</label>
                                @*@Html.DropDownListFor(m => m.ProdutoId, Model.Produtos, L("SelecioneLista"), new { @class = "form-control selectpicker", required = "required" })*@



                                @*<select name="ProdutoId" value="@Model.ProdutoId" id="ProdutoId" class="editar form-control select2 selectProduto " width: 100%>
                                        <option value="@Model.ProdutoId">@(Model.Produto != null ? Model.Produto.Descricao : "Informe um produto") </option>
                                        <option value=""> </option>
                                    </select>*@

                                <input name="ProdutoId" id="produtoId" class="form-control  input-sm" disabled value="@(Model.Produto.Descricao)">

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div id="divNumeroSerie" class="form-group " @Html.Raw(Model.IsNumeroSerie ? "" : "hidden")>
                                <label for="NumeroSerieId">@L("NumeroSerie")</label>
                                <input name="NumeroSerie" id="numeroSerieId" class="form-control  input-sm" value="@(Model.NumeroSerie)">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("Quantidade")</label>
                                <input name="Quantidade" id="Quantidade" required class="form-control  input-sm" type="text" readonly value="@(Model.Quantidade.ToString())">

                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group ">
                                <label for="produto-search">@L("Unidade")</label>
                                <input name="ProdutoUnidadeId" id="produtoUnidadeId" class="form-control  input-sm" disabled value="@(string.Concat(Model.ProdutoUnidade.Sigla, " - ",  Model.ProdutoUnidade.Descricao))">

                                @*@Html.DropDownListFor(m => m.ProdutoUnidadeId, Model.Unidades, L("SelecioneLista"), new { @class = "form-control edited ",  required = "required" })*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@L("QuantidadeAtendida")</label>
                                <input name="QuantidadeAtendida" id="quantidadeAtendida" class="form-control  input-sm" type="text" readonly value="@(Model.QuantidadeAtendida.ToString())">
                            </div>
                        </div>
                    </div>
                </form>
                <form name="LoteValidadeForm" role="form" novalidate class="form-validation">
                    <p class="white-space">&nbsp;</p>

                    <div id="divLoteValidade" @Html.Raw((Model.Produto.IsValidade || Model.Produto.IsLote ? "" : "hidden"))>



                        <input type="hidden" name="IdGridLoteValidade" id="idGridLoteValidade" />
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="LaboratorioId">@L("Laboratorio")</label>
                                    @Html.DropDownListFor(m => m.LaboratorioId, Model.Laboratorios, L("SelecioneLista"), new { @Required = "Required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                                </div>
                            </div>
                            @*<div class="col-sm-2">
                                    <div class="form-group  ">
                                        <label for="LoteId">@L("Lote")</label>
                                        <input name="Lote" id="LoteId" required class="form-control input-sm" type="text">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group ">
                                        <label>@L("Validade2")</label>
                                        <input name="Validade" id="validadeId" required="required" class="form-control input-sm" type="text">

                                    </div>
                                </div>*@


                            <div class="col-sm-4">
                                <div class="form-group  ">
                                    <label>@L("LoteValidade")</label>
                                    <select name="LoteValidadeId" value="@Model.LoteValidadeId" id="loteValidadeId" class="editar form-control select2 loteValidade" width: 100%>
                                        @*<option value="@Model.LoteValidade.Id">@(Model.Produto != null ? Model.Produto.Descricao : "Informe um produto") </option>
                                        <option value=""> </option>*@
                                    </select>



                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group ">
                                    <label>@L("Quantidade")</label>
                                    <input name="Quantidade" id="quantidadeLote" required class="form-control input-sm" type="text">
                                </div>
                            </div>

                            <div class="form-group ">
                                <button type="button" id="inserir" class="btn blue">
                                    <span>@L("Inserir")</span>
                                </button>
                            </div>

                        </div>
                        <div id="loteValidadeTable"></div>
                    </div>

                </form>
                <form name="NumeroSerieForm" role="form" novalidate class="form-validation">
                    <p class="white-space">&nbsp;</p>

                    <div id="divNumeroSerie" @Html.Raw((Model.Produto.IsSerie ? "" : "hidden"))>
                        <input type="hidden" name="IdGridLoteValidade" id="idGridLoteValidade" />
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="NumeroSerie">@L("NumeroSerie")</label>
                                    <input name="NumeroSerie" id="numeroSerie" required class="form-control input-sm" type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="inserirNuneroSerie" class="btn blue"><i class="fa fa-save"></i> <span>@L("Inserir")</span></button>
                            </div>
                        </div>
                        <div id="numeroSerieTable"></div>
                    </div>
                    <p class="white-space">&nbsp;</p>
                    <div class="modal-footer">
                        <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
                        <button type="button" id="salvar-PreMovimento-Item" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@*<script type="text/javascript">

    var _$loteValidadeTable2 = $('#loteValidadeTable');
    var _preMovimentoItemService = abp.services.app.estoquePreMovimentoItem;
    //var lista = [];

    //$('#inserir').on('click', function () {

    //    var _$LoteValidadeForm = $('form[name=LoteValidadeForm');

    //    //if (!_$LoteValidadeForm.valid()) {
    //    //    return;
    //    //}
    //    var preMovimentoItem = _$LoteValidadeForm.serializeFormToObject();

    //    if ($('#lotesValidadesJson').val() != '') {
    //        lista = JSON.parse($('#lotesValidadesJson').val());
    //    }

    //   
    //    if ($('#idGridLoteValidade').val() != '') {

    //        for (var i = 0; i < lista.length; i++) {
    //            if (lista[i].IdGridLoteValidade == $('#idGridLoteValidade').val())
    //            {
    //                lista[i].LaboratorioId = $('#LaboratorioId').val();
    //                lista[i].Lote = $('#LoteId').val();
    //                lista[i].Validade = $('#validadeId').val();
    //                lista[i].Quantidade = retirarMascara($('#quantidadeLote').val());
    //                lista[i].LoteValidadeId = $('#loteValidadeId').val();
    //                break;
    //            }

    //        }
    //    }
    //    else {
    //        preMovimentoItem.Quantidade = retirarMascara(preMovimentoItem.Quantidade);
    //        preMovimentoItem.IdGridLoteValidade = lista.length == 0 ? 1 : lista[lista.length - 1].IdGridLoteValidade + 1;
    //        lista.push(preMovimentoItem);
    //    }

    //    $('#lotesValidadesJson').val(JSON.stringify(lista));

    //    $('#idGridLoteValidade').val('');
    //    $('#LaboratorioId').val('').selectpicker('refresh');
    //    $('#LoteId').val('');
    //    $('#validadeId').val('');
    //    $('#quantidadeLote').val('');

    //    getLoteValidadeTable();
    //    atulizarQuantidadeAtendida();

    //    $('#LaboratorioId').focus();

    //});


    function retornarListaLoteValidade(filtro) {

       
        var js = $('#lotesValidadesJson').val();
        var res = _preMovimentoItemService.listarLoteValidadeJson(js);
        return res;
    }



    _$loteValidadeTable2.jtable({

        title: app.localize('LoteValidade'),
        paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,


        actions: {
            listAction: {
                method: retornarListaLoteValidade
            }
        },

        fields: {
            id: {
                key: true,
                list: false
            },


            actions: {

                title: app.localize('Actions'),
                width: '8%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');
                    if ($('#preMovimentoEstadoId').val() != 2) {
                        $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                            .appendTo($span)
                            .click(function (e) {
                                e.preventDefault();
                              //  editLoteValidade(data);
                                // _createOrEditLoteValidadeModal.open({ preMovimentoItemId: data.record.estoquePreMovimentoItemId, produtoLoteValidadeId: data.record.id });
                            });

                        $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                            .appendTo($span)
                            .click(function (e) {
                                e.preventDefault();

                               // excluirLoteValidade(data);
                            });
                    }
                    return $span;
                }
            },

            Laboratorio: {
                title: app.localize('Laboratorio'),
                width: '40%',
                display: function (data) {
                    if (data.record) {
                        return data.record.laboratorio;
                    }
                }
            },
            Lote: {
                title: app.localize('Lote'),
                width: '10%',
                display: function (data) {
                    if (data.record) {
                        return data.record.lote;
                    }
                }
            },


            Validade: {
                title: app.localize('Validade2'),
                width: '20%',
                display: function (data) {
                    if (data.record.validade) {
                        return moment(data.record.validade).format("L");
                    }
                }
            },

            Quantidade: {
                title: app.localize('Quantidade'),
                width: '10%',
                display: function (data) {
                    if (data.record.quantidade) {
                        return posicionarDireita(data.record.quantidade.toFixed(2));
                    }
                }
            },
        }
    });




    function getLoteValidadeTable(reload) {
       
        if (reload) {
            _$loteValidadeTable2.jtable('reload');
        } else {

            _$loteValidadeTable2.jtable('load', { filtro: $('#id').val() });//, entradaConfirmada: $('#entradaConfirmadaId').val() });
        }
    }

    getLoteValidadeTable();


    //function retirarMascara(valor) {

    //    while (valor.indexOf('_') != -1) valor = valor.replace('_', '');
    //    while (valor.indexOf('.') != -1) valor = valor.replace('.', '');

    //    valor = valor.replace(',', '.');

    //    return valor;
    //}

</script>*@

