﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.AtendimentoSolicitacao;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")

}


@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>

    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

    <script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>

    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/ConfirmacaoSolicitacoes/_CriarOuEditarModal.js")
}
@if (Model != null)
{
    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSolicitacao") + ": " + Model.Documento) : L("CreateNewSolicitacao")))

        <div class="portlet-body">

            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEstadoId" id="PreMovimentoEstadoId" value="@Model.PreMovimentoEstadoId" />
                <input type="hidden" name="Itens" id="itens" value="@Model.Itens" />

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EstTipoMovimentoId">@L("TipoDocumento")</label>
                            @Html.DropDownListFor(m => m.EstTipoMovimentoId, Model.TipoMovimentos, L("SelecioneLista"), new { @disabled = "disabled", required = "required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EmpresaId">@L("Empresa")</label>
                            @Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("SelecioneLista"), new { @disabled = "disabled", required = "required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="EstoqueID">@L("Estoque")</label>
                            @Html.DropDownListFor(m => m.EstoqueId, Model.Estoques, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control  selectpicker", required = "required", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })
                        </div>
                    </div>
                    <div class="col-sm-2">

                        <div class="form-group">
                            <label>@L("Solicitacao")</label>
                            <input name="Documento" id="documento" class="form-control input-sm" type="text" readonly value="@Model.Documento">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEmissao")</label>
                            <input name="Emissao" id="Emissao" class="form-control input-sm" type="text" readonly value="@(Model.IsEditMode? Model.Emissao.ToShortDateString(): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div id="grupoOrganizacional" @Html.Raw((Model.EstTipoMovimentoId == 3) ? "hidden=\"hidden\"" : "")>
                            <div class="form-group  ">
                                <label for="UnidadeOrganizacional-Id">@L("UnidadeOrganizacional")</label>
                                @Html.DropDownListFor(m => m.UnidadeOrganizacionalId, Model.UnidadesOrganizacionais, L("SelecioneLista"), new { @disabled = "disabled", @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("UnidadeOrganizacional") })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div id="atendimento" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId != 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="atendimentoId">@L("Atendimento")</label>
                            <select name="AtendimentoId" value="@Model.AtendimentoId" id="atendimentoId" class="editar form-control select2 selectAtendimento">
                                <option value="@Model.AtendimentoId"> @(Model.Atendimento != null ? Model.Atendimento.Paciente.NomeCompleto : "") </option>
                            </select>
                        </div>
                    </div>
                    <div id="divHoraPrescrita" class="col-sm-2" @Html.Raw((Model.EstTipoMovimentoId != 3) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="HoraPrescrita">@L("HoraPrescrita")</label>
                            <input name="HoraPrescrita" id="horaPrescrita" class="form-control input-sm" type="text" value="@(Model.IsEditMode? string.Format("{0: dd/MM/yyyy HH:mm}", Model.HoraPrescrita): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="paciente" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group">
                            <label for="pacienteInputId">@L("Paciente")</label>
                            <input name="PacienteInput" id="pacienteInputId" class="form-control input-sm hidden" type="text" value="@(Model.Paciente != null ? Model.Paciente.NomeCompleto : "")">
                            <div id="divPaciente">
                                <select name="PacienteId" value="@Model.PacienteId" id="pacienteId" class="form-control select2 selectPaciente ">
                                    <option value="@Model.PacienteId"> @(Model.Paciente != null ? Model.Paciente.NomeCompleto : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="medico" class="col-sm-6" @Html.Raw((Model.EstTipoMovimentoId == 2 || Model.EstTipoMovimentoId == 4) ? "hidden=\"hidden\"" : "")>
                        <div class="form-group  ">
                            <label for="Medico-Id">@L("Medico")</label>
                            <input name="MedicoSolcitanteId" id="medicoSolcitanteId" class="form-control input-sm hidden" type="text" value="@(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "")">
                            <div id="divMedico">
                                <select name="MedicoSolcitanteId" value="@Model.MedicoSolcitanteId" id="medicoSolcitanteId" class="form-control select2 selectMedico  ">
                                    <option value="@Model.MedicoSolcitanteId"> @(Model.MedicoSolicitante != null ? Model.MedicoSolicitante.NomeCompleto : "") </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="observacao">@L("Observacao")</label>
                        <input name="Observacao" id="observacao" class="form-control input-sm" type="text" readonly value="@(Model.Observacao)">
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-6">


                        <label for="ProdutoId">@L("Produto")</label>

                        <select name="ProdutoId" id="produtoId" tabindex="11" class="editar form-control select2 selectProduto" width: 100%>
                        </select>

                    </div>

                </div>*@

                <p class="white-space">&nbsp;</p>
                <div id="EstoquePreMovimentoItemTable"></div>

                <p class="white-space">&nbsp;</p>

                <div class="modal-footer">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-2">
                        @*<button type="button" id="btnImprimir" class="btn default">@L("Imprimir")</button>   Visualizar*@



                        <button type="button" id="btnImprimir" class="btn btn-primary blue"><i class="fa fa-print"></i>Imprimir</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn default close-button">@L("Cancel")</button>
                    </div>
                    <div class="col-sm-1">
                        <div @Html.Raw((Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : ""))>
                            <button type="button" id="salvar-PreMovimento" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
