﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@*remover isso*@
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Diagnosticos.Laboratorio.ResultadoExameViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Laboratorio.ConfirmacaoResultados;
}


@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Diagnosticos/ConfirmacaoResultadosExames/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ConfirmacaoResultadoExames")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ResultadosFilterForm" class="horizontal-form">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("N.I.C")</label>
                            <input id="paciente" value="@Model.Codigo" readonly class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input id="coletaId" type="hidden" value="@Model.ColetaId" />
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("Paciente")</label>
                            <input id="paciente" value="@Model.Paciente" readonly class="form-control input-sm" />
                            <input type="hidden" id="pacienteId" value="@Model.PacienteId"  />

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataColeta")</label>
                            <input id="dataColeta" value="@Model.DataColeta" readonly class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="examesTable"></div>

      

    </div>

    <div class="modal-footer">

        <div class="col-sm-6">
            <div class="row">
                @foreach (var item in Model.ExamesStatus)
                {
                    <div class="col-sm-3">
                        <div style="text-align:center; display:inline-block;">   <span style="display:inline-block; width:20px; height:20px;  text-align:center; background-color: @item.Cor; border-radius: 25px;">  </span> </div>
                        <label>@item.Descricao</label>
                    </div>
                }

            </div>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn default close-button">@L("Cancel")</button>
        </div>
        <div class="col-sm-4">
            <div>
                <button type="button" id="salvar" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label id="exame"></label>
                <div id="historicoTable"></div>
            </div>
        </div>
    </div>
</div>
