﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Filas.TermialSenhaViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAtendimento.PainelSenha;
}


@section Scripts
{

    @Html.IncludeScript("/Areas/Mpa/Views/Aplicacao/Atendimentos/TerminalSenhas/Index.js")

    @*<script>
            $('.fila-painel').each(function () {
                $(this).click(function (e) {

                    e.preventDefault();
                   
                    alert('sdfsadfsdfsdf');
                });
            });
        </script>*@
}

<div class="portlet light portlet-fullscreen">

    @*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(""))*@

    <div class="col-xs-12">
        @*<div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-1">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Senhas")</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5"></div>
            </div>*@
        <br><br><br><br>

        @foreach (var fila in Model.Filas)
        {
            <div class="row container">
                <div class="col-md-4"></div>
                <div class="col-md-5">

                    <a href="#" id="@fila.FilaId" class="btn btn-info fila-painel" style="font-size:30px;display:block;background-color:@fila.Cor;width:400px;height:90px; display: table-cell; vertical-align: middle;">@fila.DescricaoFila</a>
                    <br><br><br><br>

                </div>
                <div class="col-md-4"></div>
            </div>

        }

    </div>
</div>
