﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.ContasMedicas.ContasMedicasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Faturamentos.FaturamentoContasMedicas;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Faturamentos/ContasMedicas/index.min.css")
}
@section Scripts
{


<script src="~/libs/jquery-chosen/js/chosen.js"></script>
<script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>


<script src="~/Scripts/jquery.mask.min.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>

<script src="~/Scripts/inputmask/inputmask.js"></script>
<script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
<script src="~/Scripts/jquery.inputmask.bundle.js"></script>
<script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

<script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
<script src="~/Scripts/inputmask/inputmask.extensions.js"></script>



@Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
@Html.IncludeScript("~/Scripts/MyScripts.js")


    <script src="~/Areas/Mpa/Views/Aplicacao/Faturamentos/ModuloFaturamento.js"></script>
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/ContasMedicas/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/ContasMedicas/Index.js")
    @using (Html.InjetarJavascript()) { }
}





<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ContaMedica")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ContasMedicasFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getContasMedicas()">
                    <form>
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.Row())
                                        {
                                            Html.Select2For(m => m.EmpresaId, "comboEmpresa", "select2Empresa", L("Empresa"), "", "", "empresa/ListarDropdown", null, 2, true);
                                            //Html.Select2For(m => m.EmpresaId, "comboTipoAtendimento", "select2TipoAtendimento", L("TipoAtendimento"), "", "", "tipoAtendimento/ListarDropdown", null, 2, true);
                                            Html.Select2For(m => m.ConvenioId, "comboConvenio", "select2Convenio", L("Convenio"), "", "", "convenio/ListarDropdown", null, 2, true);
                                            Html.Select2For(m => m.PacienteId, "comboPaciente", "select2Paciente", L("Paciente"), "", "", "paciente/ListarDropdown", null, 4, true);
                                            <div class="col-sm-2">
                                                <label for="ContasMedicasTableFilter" class="transparente">Filtro</label>
                                                <input id="ContasMedicasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    @*@using (Html.CheckboxSW("filtroEmergencia", "tipo-atendimento-amb", L("Emergencia"), true, col: 2)) { }
                                        @using (Html.CheckboxSW("filtroInternacao", "tipo-atendimento-int", L("Internacao"), false, col: 2)) { }*@
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input name="IsAmbulatorioEmergencia" id="is-ambulatorioemergencia-amb" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                            <label for="is-ambulatorioemergencia-sub">@L("IsAmbulatorioEmergencia")</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input name="IsInternacao" id="is-internacao-int" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela-sub" value="true" @Html.Raw(false ? "checked=\"checked\"" : "") />&nbsp;
                                            <label for="is-internacao-sub">@L("IsInternacao")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                @using (Html.Row())
                {
                    <div id="AdvacedContasMedicasFiltersArea" style="display: none">
                        <div class="form-body" style="padding:3px;">
                            @{
                                Html.InputFor(m => m.NumeroGuia, new SWTag("numGuia", "NumeroGuia", "", col: 2), L("NumeroGuia"));
                                Html.InputFor(m => m.NumeroGuia, new SWTag("numAtendimento", "NumeroAtendimento", "", col: 2), L("Atendimento"));
                                Html.Select2For(m => m.GuiaId, "filtroTipoGuia", "select2TipoGuia", L("TipoGuia"), "", "", "guia/ListarDropdown", null, 2, true);
                                Html.Select2For(m => m.MedicoId, "comboMedico", "select2Medico", L("Medico"), "", "", "medico/ListarDropdown", null, 4, true);


                                <div id="divDataRange" class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">@L("DateRangeAtendimento")</label>
                                        <input id="dateRangeAtendimento" type="text" class="form-control date-range-picker dateRangeAtendimento" />
                                    </div>
                                </div>
                                // using (Html.DateRangePicker 1 a (new SWTag("dateRange", "dateRName", L("Periodo"), col: 2))) { }
                            }
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
            <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
        </div>
        <div class="col-md-7 text-right">
            <button id="RefreshContasMedicasButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
            <button id="ExportarContasMedicasParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            @*@if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_ContaMedica_Create))
                {*@
            <button id="CreateNewContaMedicaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewContaMedica")</button>
            @*}*@
        </div>
    </div>
    <p class="white-space">&nbsp;</p>
    <div id="ContasMedicasTable"></div>
    <p class="white-space">&nbsp;</p>
    <div class="row">
        @foreach (var item in Model.ListaStatus)
        {
            <div class="col-sm-1"> 
                  <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>  
                  <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>  
            </div>
        }
    </div>

</div>

