﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Financeiros.GrupoContasAdministrativaViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditGrupoContaAdministrativa") + ": " + Model.Descricao) : L("CreateNewGrupoContaAdministrativa")))

<div class="modal-body">


    <div class="tab-content">
        <div class="tab-pane active" id="grupoContaAdministrativaInformationsTab">
            <form name="grupoContaAdministrativaInformationsForm" role="form" class="form-validation">

                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="SubGrupos" id="subGrupos" value="@Model.SubGrupos" />
                <div class="row">
                    <div class="col-sm-4">
                        <label>@L("Codigo")</label>
                        <input type="text" name="Codigo" id="codigo" class="form-control input-sm" value="@Model.Codigo" required>
                    </div>
                    <div class="col-sm-8">
                        <label>@L("Descricao")</label>
                        <input type="text" name="Descricao" id="descricao" class="form-control input-sm" value="@Model.Descricao" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>@L("GrupoDRE")</label>
                        <select name="GrupoDREId" value="@Model.GrupoDREId" id="grupoDREId" class="editar form-control select2 selectgrupodre " required>
                            <option value="@Model.GrupoDREId">@(Model.GrupoDRE != null ? string.Concat(Model.GrupoDRE.Codigo, " - ", Model.GrupoDRE.Descricao) : null) </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <input name="IsValorIncideResultadoOperacionalEmpresa" id="isValorIncideResultadoOperacionalEmpresa" class="form-control icheck checkbox-inline" type="checkbox" value="true" @Html.Raw(Model.IsValorIncideResultadoOperacionalEmpresa ? "checked=\"checked\"" : "") />
                        <label for="IsValorIncideResultadoOperacionalEmpresa">@L("ValorIncideResultadoOperacionalEmpresa")</label>
                    </div>
                </div>

            </form>


            <p class="white-space">&nbsp;</p>

            <form name="SubGrupoContasAdministrativaInformationsForm" role="form" novalidate>

                <div class="portlet box blue">

                    <div class="portlet-title">
                        <div class="caption">
                            @L("SubGrupos")
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <input type="hidden" name="IdGrid" id="idGrid" />

                        <div class="row">
                            <div class="col-sm-4">
                                <label>@L("Codigo")</label>
                                <input type="text" name="CodigoSubGrupo" id="codigoSubGrupo" class="form-control input-sm" required>
                            </div>
                            <div class="col-sm-8">
                                <label>@L("Descricao")</label>
                                <input type="text" name="DescricaoSubGrupo" id="descricaoSubGrupo" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input name="IsSubGrupoContaNaoOperacional" id="isSubGrupoContaNaoOperacional" class="form-control icheck checkbox-inline" type="checkbox">
                                    <label for="IsSubGrupoContaNaoOperacional">@L("NaoOperacional")</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input name="IsUtilizadoCalculoSalario" id="isUtilizadoCalculoSalario" class="form-control icheck checkbox-inline" type="checkbox">
                                <label for="IsUtilizadoCalculoSalario">@L("UtilizadoCalculoSalario")</label>
                            </div>
                            <div class="col-sm-4">
                                <input name="IsSomadoDespesas" id="isSomadoDespesas" class="form-control icheck checkbox-inline" type="checkbox">
                                <label for="IsSomadoDespesas">@L("SomadoDespesas")</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <input name="IsUsaFormula" id="isUsaFormula" class="form-control icheck checkbox-inline" type="checkbox">
                                <label for="IsUsaFormula">@L("UsaFormula")</label>
                            </div>
                            <div class="col-sm-6">
                                <input name="IsNaoDetalhaContaAdministrativa" id="isNaoDetalhaContaAdministrativa" class="form-control icheck checkbox-inline" type="checkbox">
                                <label for="IsNaoDetalhaContaAdministrativa">@L("NaoDetalhaContaAdministrativa")</label>
                            </div>
                            <div class="col-sm-1">
                                <button name="Inserir" id="inserir" class="btn blue " tabindex="14"><i class="fa fa-check"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>

                    </div>
            </form>

            <div id="subGrupoTable"></div>

        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
