﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using Abp.Extensions
@using SW10.SWMANAGER.Web.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers;

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Grupos.CriarOuEditarGrupoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.Grupo;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Grupos/index.min.css")
}

@section Scripts
    {
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Grupos/_CriarOuEditarModal.js")
    @*@Html.InjetarJavascript()*@
}

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditGrupoClasseSubClasse") + ": " + Model.Descricao) : L("CreateNewGrupoClasseSubClasse")))

<div class="portlet light">

    <div class="portlet-body">
        <div class="modal-body container-fluid">
            <form name="GrupoInformationsForm" role="form" novalidate class="form-validation" id="form-grupo">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
                }

                <input type="hidden" name="ClasseList" value="@Model.ClasseList" id="classes-list" />

                <input type="hidden" name="Id" id="id" value="@Model.Id" />

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group inline-block">
                            <label for="codigo-grupo">@L("Codigo")</label>
                            <input type="text" name="Codigo" id="codigo-grupo" class="form-control input-sm" readonly value="@Model.Codigo">
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <label for="descricao-grupo">@L("Descricao")</label>
                            <input type="text" name="Descricao" id="descricao-grupo" class="form-control input-sm" value="@Model.Descricao" required>
                        </div>
                    </div>
                </div>
            </form>

            @*
        ---------------------
            CLASSE
        ---------------------
            *@

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        @L("ProdutosClasse")
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>

                <div class="portlet-body">

                    <input type="hidden" name="IdGrid" id="idGrid" />

                    @using (Html.Row())
                    {
                        using (Html.Col("sm", 12))
                        {
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="sw-form-cabecalho" id="cabec-config">
                                            <span class="sw-form-titulo" id="operacao-classe">@L("NovoRegistro")</span>
                                            @*<span class="sw-form-btn" id="btn-remover-selecao"><i class="fa fa-close sw-form-btn-icone"></i></span>
                                            <span class="sw-form-btn" id="btn-apagar-config"><i class="fa fa-trash-o sw-form-btn-icone"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                                <form name="ClasseInformationsForm" role="form" novalidate class="form-validation" id="form-classe">

                                    <input type="hidden" name="IdGridClasse" id="idGridClasse" value="" />

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group inline-block">
                                                <label>@L("Codigo")</label>
                                                <input @*name="Codigo"*@ class="form-control input-sm" id="codigo-classe" type="text" readonly value="">
                                            </div>
                                        </div>

                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <label for="descricao-classe">@L("Descricao")</label>
                                                <input type="text" name="Descricao" id="descricao-classe" class="form-control input-sm" value="" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-11">
                                        </div>

                                        @*<div class="col-sm-1">
                                        <button name="Inserir" id="inserir" class="btn blue " tabindex="14"><i class="fa fa-check"></i></button>
                                    </div>*@

                                        @using (Html.Col("sm", 1))
                                        {
                                            <button type="button" class="btn blue" id="salvar-classe" style="position:relative; top:-1px; right:-5px;"><i id="icone-btn-salvar" class="fa fa-plus"></i></button>
                                        }
                                    </div>

                                </form>
                        }
                    }

                    @using (Html.Row())
                    {
                        using (Html.Col("sm", 12))
                        {
                            <div class="row" id="linhaGruposRelacionadas" style="display:block">

                                <div class="portlet light bordered">
                                    <div class="portlet-body">
                                        <button id="btn-nova-classe" class="btn blue btn-xs" @*class="btn btn-primary blue"*@><i class="fa fa-plus"></i> @L("CreateNewProdutoClasse")</button>

                                        <div id="classes-table"></div>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>

        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<style>
    .contornado {
        border: 1px solid #4fabff;
        border-radius: 2px;
        padding: 7px;
        margin-bottom: 5px;
    }

    .contorno-placebo {
        border: 1px solid #c2cad8;
        border-radius: 2px;
        padding: 7px;
        margin-bottom: 5px;
    }

    .titulo-azul {
        border-bottom: 1px solid #4fabff;
    }

    .sw-form-titulo {
        /*padding-bottom: 3px;
        border-bottom: 1px solid grey;*/
    }

    .sw-form-cabecalho {
        margin-bottom: 13px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 1px solid #c2cad8;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 30px;
        font-weight: bold;
        vertical-align: middle;
    }

    .sw-form-btn {
        border: 1px solid #c2cad8;
        border-radius: 2px;
        margin: 3px;
        float: right;
        padding: 3px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        top: -5px;
    }

    .sw-form-btn-icone {
        display: inline-block;
        width: 100%;
        position: relative;
        top: -2px;
    }
</style>

