﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Grupos.GruposViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.Grupo;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Grupos/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Grupos/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Grupo")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @*<button id="ExportarGruposParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>*@

        <img src="~/Common/Images/Icons/excel.png" id="ExportarGruposParaExcelButton" alt="Exportar para Excel" class="icone-export" />

        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosSuprimentos_Grupo_Create))
            {
            <button id="CreateNewGrupoButton" class="btn btn-primary botao-novo"><i class="fa fa-plus"></i> @L("CreateNewProdutoGrupo")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="GruposFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getGrupos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="GruposTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetGruposButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="GruposTable"></div>
    </div>
</div>


<style>
.Centralizado
{
    text-align: center;
}
</style>