﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.AtendimentosLeitosMov.CriarOuEditarAtendimentoLeitoMovModalViewModel
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("HistoricoLeitos")))

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/Home//Internacoe/MapaLeitos/index.min.css")
    @*@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/Home/Internacoe/MapaLeitos/_HistoricoLeito.js")
        @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/Home/Internacoe/MapaLeitos/Index.cshtml")*@
    @*@Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")*@
}

@{
    //ViewBag.CurrentPageName = PageNames.App.Atendimentos.Internacao;
    long btnLeito = Convert.ToInt64(Model.Id.ToString());
}

<div class="modal-body container-fluid">
    <div class="tabbable-line container-fluid">
        <div class="tab-content container-fluid">
            <form name="TrasferirAtendimentosInformationsTab" role="form" novalidate class="form-validation">
                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="AtendimentoId" id="atendimentoId" value="@Model.Atendimento.Id">

                    <script>
                    </script>
                }

                <div class="row person">
                    <div class="col-sm-12 row well">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="fancybox-title bold">Paciente: </span>
                                        <input type="hidden" id="desocuparLeito " name="Id" value="@Model.Id" />
                                        <input type="hidden" id="dataInclusao " name="DataInclusao" value="@Model.AtendimentoLeitoMov?.DataInclusao" />
                                        <input type="hidden" id="dataRegistro " name="DataRegistro" value="@Model.Atendimento?.DataRegistro" />
                                        <input type="hidden" id="movimentoId"/>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span style="font-size:medium">@( Model.Atendimento != null && Model.Atendimento.Paciente != null ? Model.Atendimento.Paciente.NomeCompleto : "")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="fancybox-title bold">Leito: </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span style="font-size:medium">@(Model.Leito != null ? Model.Leito.Descricao : "")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="fancybox-title bold">Data Inicial: </span>
                                    </div>
                                </div>

                                <div class="row">
                                    @if (Model.Atendimento != null && Model.Atendimento.DataRegistro != null)
                                    {
                                        <span style="font-size:medium">
                                            @( ((DateTime)Model.Atendimento.DataRegistro).ToString())
                                        </span>
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div id="divDataNova" hidden>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>@L("NovaData")</label>
                                <input name="DataNova" id="dataNova" class="form-control input-sm " type="text">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group  ">
                                <span class="btn green" id="btnAtualizarMovimento" style="top:20px;"><i class="fa fa-check"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AtendimentosLeitosMovTable"></div>
            </form>
            <div class="modal-footer">
                <button type="button" id="cancelar-criar-editar-atendimento" data-dismiss="modal" class="btn default close-button">@L("Cancel")</button>
            </div>
        </div>

    </div>

</div>

<style>
    .person {
        width: 100%;
    }

    .well {
        margin-left: 3px !important;
        margin-right: -16px !important;
    }
</style>

<script>
    localStorage["HistoricoAtendimentoId"] = '@(Model.AtendimentoId.Value)';
</script>