﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Prescricoes.CriarOuEditarPrescricaoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Assistenciais.AmbulatoriosEmergencias.Medicos.Prescricao;
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}
@section Styles{
    <style type="text/css">
        th {
            text-align: center;
        }

        td, th {
            font-size: 8pt;
        }
    </style>
    <link href="~/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/index.min.css" rel="stylesheet" />
}

@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": " + Model.Codigo + " - " + atendimento.Paciente.NomeCompleto) : L("CreateNew") + ": " + L("MedicoPrescricao")))*@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": ") : L("CreateNew") + ": " + L("MedicoPrescricao")))

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#PrescricaoCompletaTab-@(atendimento.Id)" data-toggle="tab" aria-expanded="true" id="lnk-prescricao-completa-tab-@(atendimento.Id)">
                    @L("PrescricaoCompleta")
                </a>
            </li>
            <li>
                <a href="#PrescricaoDetalhadaInformationsTab-@(atendimento.Id)" data-toggle="tab" aria-expanded="true">
                    @L("PrescricaoDetalhada")
                </a>
            </li>
            <li>
                <a href="#VisualizacaoTab-@(atendimento.Id)" data-toggle="tab" aria-expanded="true" id="lnk-visualizacao-tab-@(atendimento.Id)">
                    @L("Visualizacao")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane " id="PrescricaoDetalhadaInformationsTab-@(atendimento.Id)">
                <form name="PrescricaoInformationsForm-@atendimento.Id" data-atendimento-id="@(atendimento.Id)" role="form" novalidate class="form-validation">
                    <input type="hidden" name="Id" id="id-@atendimento.Id" value="@Model.Id" />
                    <input type="hidden" name="AtendimentoId" id="atendimento-id-@atendimento.Id" value="@atendimento.Id" />
                    <input type="hidden" name="UnidadeOrganizacionalId" id="unidade-organizacional-id-@atendimento.Id" value="@atendimento.UnidadeOrganizacionalId" />
                    <input type="hidden" name="DataPrescricao" id="data-prescricao-@atendimento.Id" value="@Model.DataPrescricao" />
                    <input type="hidden" name="RespostasList" id="respostas-list-@(atendimento.Id)" value="@Model.RespostasList" />
                    <input type="hidden" name="PrestadorId" id="prestador-id-@atendimento.Id" value="" />
                    <input type="hidden" name="PrescricaoStatusId" id="prescricao-status-id-@atendimento.Id" value="@(Model.PrescricaoStatusId.HasValue ? Model.PrescricaoStatusId.Value : 1)" />
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="CreatorUserId" id="creator-user-id-@atendimento.Id" value="@Model.CreatorUserId" />
                    }
                    @if (Model.Divisoes != null && Model.Divisoes.Count() > 0)
                    {
                        foreach (var divisao in Model.Divisoes)
                        {
                            if (divisao.IsDivisaoPrincipal && Model.Divisoes.Where(m => m.DivisaoPrincipalId == divisao.Id).Count() > 0)
                            {
                                continue;
                            }
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-columns"></i>
                                        <span id="titulo-@divisao.Id">
                                            @if (divisao.DivisaoPrincipalId.HasValue)
                                            {
                                                WriteLiteral(string.Format("{0} / {1}", divisao.DivisaoPrincipal.Descricao, divisao.Descricao));
                                            }
                                            else
                                            {
                                                WriteLiteral(string.Format("{0}", divisao.Descricao));
                                            }
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="btn-new-divisao-id" data-divisao-id="@(divisao.Id)"><i class="fa fa-plus font-white" style="min-height:16px;height:16px;min-width:13px;width:13px;font-size:18px;"></i></a>
                                        <a href="javascript:;" class="reload" data-original-title="" title="" data-divisao-id="@(divisao.Id)"> </a>
                                        <a href="javascript:;" class="expand" data-tipo-portlet="divisao" data-original-title="" title="" data-divisao-id="@(divisao.Id)"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" style="display:none;">
                                    <p class="white-space">&nbsp;</p>
                                    <div class="row">
                                        <div title="@divisao.Descricao" data-divisao-id="@(divisao.Id)" class="jtable-divisao" id="divisao-table">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </form>
            </div>

            <div class="tab-pane active" id="PrescricaoCompletaTab-@(atendimento.Id)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-pencil">@L("PrescricaoItem")</i>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                    <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-12" id="divisao-id-0-area-@(atendimento.Id)">
                                        @{
                                            var model = new SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Prescricoes.PrescricaoItemRespostaViewModel(new SW10.SWMANAGER.ClassesAplicacao.Services.Assistenciais.Dto.PrescricaoItemRespostaDto());
                                            model.Divisao = new SW10.SWMANAGER.ClassesAplicacao.Services.Cadastros.Assistenciais.Prescricoes.Divisoes.Dto.DivisaoDto();
                                            model.DivisaoId = 0;
                                        }
                                        @Html.Partial("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/_PrescricaoItemResposta.cshtml", model)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-footer">
                                            <button type="button" data-divisao-id="0" class="btn btn-default cancelar-divisao" id="cancelar-prescricao-item-resposta-divisao-0-@(atendimento.Id)"><i class="fa fa-close"></i></button>
                                            <button type="button" data-divisao-id="0" class="btn blue salvar-divisao" id="salvar-prescricao-item-resposta-divisao-0-@(atendimento.Id)"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="prescricao-completa-@(atendimento.Id)-area"></div>
                </div>
            </div>

            <div class="tab-pane" id="VisualizacaoTab-@(atendimento.Id)" style="margin:auto; width:90%; height:1000px; border:7px solid #6da6c6; border-radius: 5px;">
                @*@Html.Action("PrescricaoMedica", "AssistenciaisRelatorios")*@
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="fechar-prescricao-@atendimento.Id" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="salvar-prescricao-@atendimento.Id" class="btn blue save-button"><i class="fa fa-save"></i>@L("Save")</button>
</div>
<script src="~/libs/PDFObject/pdfobject.js"></script>
<script>
    $(document).ready(function () {
        var _prescricoesService = abp.services.app.prescricaoMedica;
        var _prescricaoItemRespostaService = abp.services.app.prescricaoItemResposta;
        var _prescricaoItemService = abp.services.app.prescricaoItem;
        var _divisaoService = abp.services.app.divisao;
        var _unidadeService = abp.services.app.unidade;
        var _velocidadeInfusaoService = abp.services.app.velocidadeInfusao;
        var _formaAplicacaoService = abp.services.app.formaAplicacao;
        var _frequenciaService = abp.services.app.frequencia;
        var _unidadeOrganizacionalService = abp.services.app.unidadeOrganizacional;
        var _medicoService = abp.services.app.medico;
        var _$filterForm = $('#PrescricoesItensFilterForm-' + localStorage["AtendimentoId"]);

        //var _modalManager;
        var _$prescricaoForm = null;

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Assistencial.AmbulatorioEmergencia.Medico.Prescricao.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Assistencial.AmbulatorioEmergencia.Medico.Prescricao.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Assistencial.AmbulatorioEmergencia.Medico.Prescricao.Delete')
        };

        function init() {
            //_modalManager = modalManager;
            $('.modal-dialog').css({ 'width': '90%', 'max-width': '1100px' });
            $.fn.modal.Constructor.prototype.enforceFocus = function () { };
            //moment.locale('pt-BR');
            $('#lnk-prescricao-completa-tab-@(atendimento.Id)').trigger('click');
        }

        function exibirRelatorio() {
            var caminho = '@Url.Action("VisualizarPDF", "AssistenciaisRelatorios")';
            PDFObject.embed(caminho, "#VisualizacaoTab-@(atendimento.Id)");
        }

        function retornarLista() {
            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = $('#respostas-list-' + localStorage["AtendimentoId"]).val();
            if (list.length > 0) {
                var js = list;
                var res = _prescricoesService.listarRespostasJson(JSON.parse(js), localStorage["DivisaoId"]);
                return res;
            }
            else {
                var res = _prescricoesService.listarRespostas({
                    filtro: '',
                    divisaoId: localStorage["DivisaoId"],
                    principalId: $('#id-' + localStorage["AtendimentoId"]).val()
                });
                return res;
            }
        }

        function deletePrescricoesItens(prescricaoItem) {
            abp.message.confirm(
                app.localize('DeleteWarning', prescricaoItem.descricao),
                function (isConfirmed) {
                    if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                        $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
                    }
                    var lista = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
                    for (var i = 0; i < lista.length; i++) {
                        if (lista[i].IdGridPrescricaoItemResposta == prescricaoItem.idGridPrescricaoItemResposta) {
                            if (lista[i].IsDeleted) {
                                lista[i].IsDeleted = false;
                                lista[i].DeleterUserId = '';
                            }
                            else {
                                lista[i].IsDeleted = true;
                                lista[i].DeleterUserId = abp.session.userId;
                            }
                            break;
                        }
                    }
                    $('#respostas-list-' + localStorage["AtendimentoId"]).val(JSON.stringify(lista));
                    abp.notify.info(app.localize('ListaAtualizada'));
                    abp.event.trigger('app.CriarOuEditarPrescricaoModalSaved');
                    getPrescricaoItens();
                }
            );
        }

        function editPrescricaoItem(idPrescricaoItem, idGrid, idDivisao) {
            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
            for (var i = 0; i < list.length; i++) {
                if (list[i].IdGridPrescricaoItemResposta == idGrid && list[i].DivisaoId == idDivisao) {
                    var data = { result: list[i] };
                    break;
                }
            }

            if (data.result.PrescricaoItemId != null) {
                _prescricaoItemService.obter(data.result.PrescricaoItemId, { async: false, cache: false }).done(function (result) {
                    $('#prescricao-item-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.PrescricaoItemId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                        .val(data.result.PrescricaoItemId)
                    //.trigger('change');
                });
            }
            else {
                $('#prescricao-item-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            //localStorage["DivisaoId"] = idDivisao;
            if (data.result.Quantidade && data.result.Quantidade != null && data.result.Quantidade != undefined && data.result.Quantidade != '') {
                $('#quantidade-' + localStorage["AtendimentoId"]).val(data.result.Quantidade);
            }
            else {
                $('#quantidade-' + localStorage["AtendimentoId"]).val('');
            }
            $('#horarios-' + localStorage["AtendimentoId"]).val(data.result.Horarios);
            $('#divisao-id-' + localStorage["AtendimentoId"]).val(idDivisao);
            $('#data-inicial-' + localStorage["AtendimentoId"]).val(moment(data.result.DataInicial).format('L'));
            $('#total-dias-' + localStorage["AtendimentoId"]).val(data.result.TotalDias);
            $('#observacao-' + localStorage["AtendimentoId"]).val(data.result.Observacao);
            $('#id-grid-prescricao-item-resposta-' + localStorage["AtendimentoId"]).val(idGrid);
            $('#prescricao-item-resposta-id-' + localStorage["AtendimentoId"]).val(data.result.Id);

            if (data.result.UnidadeId != null) {
                _unidadeService.obter(data.result.UnidadeId, { async: false, cache: false }).done(function (result) {
                    $('#unidade-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.UnidadeId + '">' + result.sigla + ' - ' + result.descricao + '</option>'))
                        .val(data.result.UnidadeId)
                    //.trigger('change');
                });
            }
            else {
                $('#unidade-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            if (data.result.VelocidadeInfusaoId != null) {
                _velocidadeInfusaoService.obter(data.result.VelocidadeInfusaoId, { async: false, cache: false }).done(function (result) {
                    $select = $('#velocidade-infusao-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.VelocidadeInfusaoId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                        .val(data.result.VelocidadeInfusaoId)
                    //.trigger('change');
                });
            }
            else {
                $('#velocidade-infusao-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            if (data.result.FormaAplicacaoId && data.result.FormaAplicacaoId != null && data.result.FormaAplicacaoId != undefined) {
                _formaAplicacaoService.obter(data.result.FormaAplicacaoId, { async: false, cache: false }).done(function (result) {
                    $select = $('#forma-aplicacao-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.FormaAplicacaoId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                        .val(data.result.FormaAplicacaoId)
                    //.trigger('change');
                });

            }
            else {
                $('#forma-aplicacao-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }
            if (data.result.FrequenciaId && data.result.FrequenciaId != null && data.result.FrequenciaId != undefined) {
                _frequenciaService.obter(data.result.FrequenciaId, { async: false, cache: false }).done(function (result) {
                    $select = $('#frequencia-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.FrequenciaId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                        .val(data.result.FrequenciaId)
                    //.trigger('change');
                });
            }
            else {
                $('#frequencia-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            if (data.result.IsSeNecessario) {
                $('#is-se-necessario-' + localStorage["AtendimentoId"]).attr('checked', 'checked');
            }
            else {
                $('#is-se-necessario-' + localStorage["AtendimentoId"]).removeAttr('checked');
            }

            if (data.result.IsUrgente) {
                $('#is-urgente-' + localStorage["AtendimentoId"]).attr('checked', 'checked');
            }
            else {
                $('#is-urgente-' + localStorage["AtendimentoId"]).removeAttr('checked');
            }

            if (data.result.UnidadeOrganizacionalId != null) {
                _unidadeOrganizacionalService.obterPorId(data.result.UnidadeOrganizacionalId, { async: false, cache: false }).done(function (result) {
                    $select = $('#unidade-organizacional-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.UnidadeOrganizacionalId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                        .val(data.result.UnidadeOrganizacionalId)
                    //.trigger('change');
                });
            }
            else {
                $('#unidade-organizacional-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            if (data.result.MedicoId != null) {
                _medicoService.obter(data.result.MedicoId, { async: false, cache: false }).done(function (result) {
                    $select = $('#medico-id-' + localStorage["AtendimentoId"])
                        .append($('<option value="' + data.result.MedicoId + '">' + result.codigo + ' - ' + result.nomeCompleto + '</option>'))
                        .val(data.result.MedicoId)
                    //.trigger('change');
                });
            }
            else {
                $('#medico-id-' + localStorage["AtendimentoId"])
                    .val(null)
                    .trigger('change');
            }

            $('#salvar-prescricao-item-resposta-divisao-' + localStorage["AtendimentoId"] + ' i').removeClass('fa-plus').addClass('fa-check');
            //$('#frequencia-id-' + localStorage["AtendimentoId"]).trigger('change');
            criarComboHora();
            //aplicarSelect2Padrao();
            //$('.select2').css('width', '100%');
        }

        function CreatePrescricaoItem(divisaoId) {
            //localStorage["DivisaoId"] = divisaoId;
            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
            $('#id-grid-prescricao-item-resposta-' + localStorage["AtendimentoId"]).val(list.length + 1);
            $('#quantidade-' + localStorage["AtendimentoId"]).val('');
            //$('#divisao-id-' + localStorage["AtendimentoId"]).val(localStorage["DivisaoId"]);
            $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#prescricao-id-' + localStorage["AtendimentoId"]).val($('#id-' + localStorage["AtendimentoId"]).val());
            $('#unidade-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#velocidade-infusao-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#forma-aplicacao-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#frequencia-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#is-se-necessario-' + localStorage["AtendimentoId"]).removeAttr('checked');
            $('#is-urgente-' + localStorage["AtendimentoId"]).removeAttr('checked');
            //$('#unidade-organizacional-id-' + localStorage["AtendimentoId"]).val(null).change();
            //$('#medico-id-' + localStorage["AtendimentoId"]).val(null).change();
            $('#data-inicial-' + localStorage["AtendimentoId"]).val(moment().format('L'));
            $('#total-dias-' + localStorage["AtendimentoId"]).val('');
            $('#observacao-' + localStorage["AtendimentoId"]).val('');
            $('#prescricao-item-resposta-id-' + localStorage["AtendimentoId"]).val('0');
            $('#div-horarios-' + localStorage["AtendimentoId"]).html('');
            $('#hora-inicial-' + localStorage["AtendimentoId"]).val('');

            $('#salvar-prescricao-item-resposta-divisao-' + localStorage["AtendimentoId"] + ' i').removeClass('fa-check').addClass('fa-plus');
        }

        function lerDivisao(divisaoId) {
            $('#divisao-id-area-' + localStorage["AtendimentoId"]).load('/mpa/assistenciais/_prescricaoitemresposta?divisaoId=' + divisaoId);
            localStorage["DivisaoId"] = divisaoId;
            //getPrescricaoItens();
            //CreatePrescricaoItem(localStorage["DivisaoId"]);

            //getPrescricaoItens();
        }

        function getPrescricaoItens() {
            var table = $('.jtable-divisao[data-divisao-id="' + localStorage["DivisaoId"] + '"]');
            table.jtable('load', {
                Filtro: '',
                PrincipalId: $('#id-' + localStorage["AtendimentoId"]).val(),
                DivisaoId: localStorage["DivisaoId"],
            });
        }

        function createRequestParams() {
            var prms = {};
            _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
            return $.extend(prms, _selectedDateRange);
        }

        function prescricaoCompleta() {
            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());

            $('#prescricao-completa-' + localStorage["AtendimentoId"] + '-area').load('/mpa/assistenciais/_prescricaocompleta/', { 'list': list });
        }

        function atualizarTempData() {
            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
            if (list.length > 0) {
                $.ajax({
                    cache: false,
                    async: false,
                    url: '/mpa/assistenciaisrelatorios/AtualizarTempData/',
                    method: 'post',
                    data: {
                        list: list
                    },
                    success: function () {
                        exibirRelatorio();
                    }
                });
            }
        }

        function suspenderPrescricaoItem(record) {
            abp.message.confirm(
                app.localize('SuspenderPrescricaoItemWarning', record.prescricaoItem),
                function (isConfirmed) {
                    abp.ui.setBusy();
                    _prescricaoItemRespostaService.suspender(record.id)
                    .done(function () {
                        if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                            $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
                        }
                        var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
                        for (var i = 0; i < list.length; i++) {
                            if (list[i].IdGridPrescricaoItemResposta == record.IdGridPrescricaoItemResposta) {
                                list[i].PrescricaoItemStatusId = 2;
                                $('#respostas-list-' + localStorage["AtendimentoId"]).val(JSON.stringify(list));
                                abp.notify.info(app.localize('ItemSuspenso'));
                                getPrescricaoItens();
                                break;
                            }
                        }
                    })
                    .always(function () {
                        abp.ui.clearBusy();
                    });
                }
            );
        }

        $('.accordion').accordion({
            active: false,
            heightStyle: 'content',
            collapsible: true,
            activate: function (event, ui) {
                if (ui.newHeader[0]) {
                    localStorage["DivisaoId"] = $('#' + ui.newHeader[0].id).data('divisao-id');
                    //        console.log(localStorage["DivisaoId"]);
                    //        lerDivisao(localStorage["DivisaoId"]);
                    //        CreatePrescricaoItem(localStorage["DivisaoId"]);
                    getPrescricaoItens();
                }
            }
        });

        $('.jtable-divisao').each(function () {
            $(this).jtable({
                title: app.localize($(this).title),
                paging: true,
                sorting: true,
                multiSorting: true,
                actions: {
                    listAction: {
                        method: retornarLista
                    }
                },
                fields: {
                    id: {
                        key: true,
                        list: false
                    },
                    actions: {
                        title: app.localize('Actions'),
                        width: '20%',
                        sorting: false,
                        display: function (data) {
                            var $span = $('<span></span>');
                            if (_permissions.edit && data.record.prescricaoItemStatusId != 2) {
                                $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                    .appendTo($span)
                                    .click(function (e) {
                                        e.preventDefault();
                                        //editPrescricaoItem(data.record.id, data.record.idGridPrescricaoItemResposta, data.record.divisaoId);
                                        _createOrEditModal.open({
                                            id: data.record.id,
                                            divisaoId: localStorage["DivisaoId"],
                                            gridId: data.record.idGridPrescricaoItemResposta,
                                        })
                                    });
                            }
                            if (_permissions.delete && data.record.prescricaoItemStatusId != 2) {
                                $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                    .appendTo($span)
                                    .click(function (e) {
                                        e.preventDefault();
                                        deletePrescricoesItens(data.record);
                                    });
                            }
                            if (data.record.prescricaoItemStatusId != 2) {
                                $('<button class="btn btn-danger btn-xs" title="' + app.localize('Suspender') + '"><i class="fa fa-ban"></i></button>')
                                    .appendTo($span)
                                    .click(function (e) {
                                        e.preventDefault();
                                        suspenderPrescricaoItem(data.record);
                                    });
                            }
                            return $span;
                        }
                    },
                    prescricaoItem: {
                        title: app.localize('PrescricaoItem'),
                        width: '40%',
                        sorting: false,
                        display: function (data) {
                            if (data.record.isDeleted) {
                                return '<span style="text-decoration:line-through;color:red;">' + data.record.prescricaoItem.descricao + '</span>';
                            }
                            else {
                                return data.record.prescricaoItem.descricao;
                            }
                        }
                    },
                    quantidade: {
                        title: app.localize('Quantidade'),
                        width: '10%',
                        sorting: false,
                        display: function (data) {
                            if (data.record.isDeleted) {
                                return '<span style="text-decoration:line-through;color:red;">' + data.record.quantidade + '</span>';
                            }
                            else {
                                return data.record.quantidade;
                            }
                        }
                    },
                    unidade: {
                        title: app.localize('Unidade'),
                        width: '20%',
                        sorting: false,
                        display: function (data) {
                            if (data.record.isDeleted) {
                                return '<span style="text-decoration:line-through;color:red;">' + data.record.unidade.descricao + '</span>';
                            }
                            else {
                                return data.record.unidade.descricao;
                            }
                        }
                    },
                    frequencia: {
                        title: app.localize('Frequencia'),
                        width: '10%',
                        sorting: false,
                        display: function (data) {
                            if (data.record.isDeleted) {
                                return '<span style="text-decoration:line-through;color:red;">' + data.record.frequencia.descricao + '</span>';
                            }
                            else {
                                return data.record.frequencia.descricao;
                            }
                        }
                    },
                }
            });
        });

        $('.salvar-divisao').on('click', function (e) {
            e.preventDefault();
            salvarDivisao();
            salvarPrescricao(true);
        });

        $('.cancelar-divisao').on('click', function (e) {
            e.preventDefault();
            CreatePrescricaoItem(localStorage["DivisaoId"]);
            //salvarDivisao();
            //salvarPrescricao(true);
        });

        function salvarDivisao() {

            if(
                $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val() == null ||
                $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val() == '' ||
                $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val() == "" ||
                $('#prescricao-item-id-' + localStorage["AtendimentoId"]).length == 0 ||
                $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val() == undefined
            ){
                abp.notify.info(app.localize('SelecionarPrescricaoItem'));
                return;
            }
            var _prescricaoForm = $('form[data-atendimento-id="' + localStorage["AtendimentoId"] + '"]'); //$(this).parents('form:first');
            //var divisaoForm = $('form[data-divisao-id="' + localStorage["DivisaoId"] + '"]'); //$('form[name="FormDivisao"]');
            var divisaoForm =$('#form-divisao-'+localStorage["AtendimentoId"]);
            //divisaoForm.validate();
            //if (!divisaoForm.valid()) {
            //    return;
            //}
            var prescricaoForm = _prescricaoForm.serializeFormToObject();
            var form1 = divisaoForm.serializeFormToObject();
            form1.PrescricaoId = prescricaoForm.Id;
            if (form1.Horarios != null && form1.Horarios != '' && form1.Horarios != "" && form1.Horarios != undefined) {
                var horas = form1.Horarios.split(' ')
                var strHorarios = ''
                for (var i = 0; i < horas.length; i++) {
                    strHorarios += zeroEsquerda($('select[name=HoraDiaId-' + i + ']').val(), 2) + ':00 ';
                }
                var len = strHorarios.length;
                strHorarios = strHorarios.substring(0, len - 1);
                form1.Horarios = strHorarios;
            }
            //localStorage["DivisaoId"] = $(this).data('divisao-id');
            //if ($(this).data('divisao-id') == 0) {
            _prescricaoItemService.obter(form1.PrescricaoItemId)
                .done(function (data) {
                    form1.DivisaoId = data.divisaoId;
                });
            //}

            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var lista = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
            if (lista.length > 0) {
                var itemProcessado = false;
                for (var i = 0; i < lista.length; i++) {
                    if (lista[i].IdGridPrescricaoItemResposta == form1.IdGridPrescricaoItemResposta) {
                        lista[i].Quantidade = form1.Quantidade;
                        lista[i].UnidadeId = form1.UnidadeId;
                        lista[i].VelocidadeInfusaoId = form1.VelocidadeInfusaoId;
                        lista[i].FormaAplicacaoId = form1.FormaAplicacaoId;
                        lista[i].FrequenciaId = form1.FrequenciaId;
                        lista[i].IsSeNecessario = form1.IsSeNecessario;
                        lista[i].IsUrgente = form1.IsUrgente;
                        lista[i].UnidadeOrganizacionalId = form1.UnidadeOrganizacionalId;
                        lista[i].MedicoId = form1.MedicoId;
                        lista[i].DataInicial = form1.DataInicial;
                        lista[i].TotalDias = form1.TotalDias;
                        lista[i].Observacao = form1.Observacao;
                        lista[i].PrescricaoItemId = form1.PrescricaoItemId;
                        lista[i].DivisaoId = form1.DivisaoId;
                        lista[i].PrescricaoId = form1.PrescricaoId;
                        lista[i].Horarios = form1.Horarios;
                        itemProcessado = true;
                        break;
                    }
                }
                if (!itemProcessado) {

                    form1.IdGridPrescricaoItemResposta = lista.length == 0 ? 1 : lista[lista.length - 1].IdGridPrescricaoItemResposta + 1;
                    form1.PrescricaoId = $('#id-' + localStorage["AtendimentoId"]).val();
                    form1.PrescricaoMedicaId = $('#id-' + localStorage["AtendimentoId"]).val();
                    form1.DivisaoId = $('#divisao-id-' + localStorage["AtendimentoId"]).val();
                    lista.push(form1);
                }
            }
            else {
                form1.IdGridPrescricaoItemResposta = lista.length == 0 ? 1 : lista[lista.length - 1].IdGridPrescricaoItemResposta + 1;
                form1.PrescricaoId = $('#id-' + localStorage["AtendimentoId"]).val();
                form1.PrescricaoMedicaId = $('#id-' + localStorage["AtendimentoId"]).val();
                form1.DivisaoId = $('#divisao-id-' + localStorage["AtendimentoId"]).val();
                lista.push(form1);
            }
            var strList = JSON.stringify(lista);
            $('#respostas-list-' + localStorage["AtendimentoId"]).val(JSON.stringify(lista));
            abp.notify.info(app.localize('ListaAtualizada'));

            getPrescricaoItens();
            prescricaoCompleta();
            CreatePrescricaoItem(localStorage["DivisaoId"]);


            //var prescricaoForm = $(this).parents('form:first');
            //var divisaoForm = $('form[name="FormDivisao"]');
            //divisaoForm.validate();
            //if (!divisaoForm.valid()) {
            //    return;
            //}
            //prescricaoForm.serializeFormToObject();
            //var form1 = divisaoForm.serializeFormToObject();
            //form1.PrescricaoId = prescricaoForm.Id;
            //var horas = form1.Horarios.split(' ')
            //var strHorarios = ''
            //for (var i = 0; i < horas.length; i++) {
            //    strHorarios += zeroEsquerda($('select[name=HoraDiaId-' + i + ']').val(), 2) + ':00 ';
            //}
            //var len = strHorarios.length;
            //strHorarios = strHorarios.substring(0, len - 1);
            //form1.Horarios = strHorarios;
            ////localStorage["DivisaoId"] = $(this).data('divisao-id');
            ////if ($(this).data('divisao-id') == 0) {
            //_prescricaoItemService.obter(form1.PrescricaoItemId)
            //    .done(function (data) {
            //        form1.DivisaoId = data.divisaoId;
            //    });
            ////}

            //if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
            //    $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            //}
            //var lista = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
            //if (lista.length > 0) {
            //    var itemProcessado = false;
            //    for (var i = 0; i < lista.length; i++) {
            //        if (lista[i].IdGridPrescricaoItemResposta == form1.IdGridPrescricaoItemResposta) {
            //            lista[i].Quantidade = form1.Quantidade;
            //            lista[i].UnidadeId = form1.UnidadeId;
            //            lista[i].VelocidadeInfusaoId = form1.VelocidadeInfusaoId;
            //            lista[i].FormaAplicacaoId = form1.FormaAplicacaoId;
            //            lista[i].FrequenciaId = form1.FrequenciaId;
            //            lista[i].IsSeNecessario = form1.IsSeNecessario;
            //            lista[i].IsUrgente = form1.IsUrgente;
            //            lista[i].UnidadeOrganizacionalId = form1.UnidadeOrganizacionalId;
            //            lista[i].MedicoId = form1.MedicoId;
            //            lista[i].DataInicial = form1.DataInicial;
            //            lista[i].TotalDias = form1.TotalDias;
            //            lista[i].Observacao = form1.Observacao;
            //            lista[i].PrescricaoItemId = form1.PrescricaoItemId;
            //            lista[i].DivisaoId = form1.DivisaoId;
            //            lista[i].PrescricaoId = form1.PrescricaoId;
            //            lista[i].Horarios = form1.Horarios;
            //            itemProcessado = true;
            //            break;
            //        }
            //    }
            //    if (!itemProcessado) {
            //        form1.IdGridPrescricaoItemResposta = lista.length == 0 ? 1 : lista[lista.length - 1].IdGridPrescricaoItemResposta + 1;
            //        form1.PrescricaoId = $('#id-' + localStorage["AtendimentoId"]).val();
            //        lista.push(form1);
            //    }
            //}
            //else {
            //    form1.IdGridPrescricaoItemResposta = lista.length == 0 ? 1 : lista[lista.length - 1].IdGridPrescricaoItemResposta + 1;
            //    form1.PrescricaoId = $('#id-' + localStorage["AtendimentoId"]).val();
            //    lista.push(form1);
            //}
            //var strList = JSON.stringify(lista);
            //$('#respostas-list-' + localStorage["AtendimentoId"]).val(JSON.stringify(lista));
            //abp.notify.info(app.localize('ListaAtualizada'));
            //abp.event.trigger('app.CriarOuEditarPrescricaoModalSaved');
            //getPrescricaoItens();
            //prescricaoCompleta();
            //CreatePrescricaoItem(localStorage["DivisaoId"]);
        }

        $('.btn-edit').on('click', function (e) {
            e.preventDefault();
            editPrescricaoItem($(this).data('registro-id'), $(this).data('grid-id'), '0');
        });

        $('#salvar-prescricao-' + localStorage["AtendimentoId"]).on('click', function (e) {
            e.preventDefault();
            //salvarPrescricao()

            if ($('#respostas-list-' + localStorage["AtendimentoId"]).val() == '') {
                $('#respostas-list-' + localStorage["AtendimentoId"]).val('[]')
            }
            var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());

            $.ajax({
                cache: false,
                async: false,
                url: '/mpa/assistenciaisrelatorios/AtualizarTempData/',
                method: 'post',
                data: {
                    list: list
                },
                success: function () {
                    salvarPrescricao();
                    $.ajax({
                        cache: false,
                        async: false,
                        url: '/mpa/assistenciaisrelatorios/GerarArquivoPrescricao/',
                        method: 'post',
                        //data: {
                        //    list: list
                        //},
                        success: function () {

                            //   exibirRelatorio();
                            abp.notify.success(app.localize('SavedSuccessfully'));
                            abp.event.trigger('app.CriarOuEditarPrescricaoModalSaved');
                            //_modalManager.close();
                            $('.close-button').trigger('click');

                        }
                    });
                }
            });

            


        });

        function salvarPrescricao(voltarIndex) {
            var _$formPrescricao = $('form[name="PrescricaoInformationsForm-' + localStorage["AtendimentoId"] + '"]');
            _$formPrescricao.validate();
            if (!_$formPrescricao.valid()) {
                return;
            }
            var prescricao = _$formPrescricao.serializeFormToObject();
            prescricao.RespostasList = $('#respostas-list-' + localStorage["AtendimentoId"]).val();
            $('#salvar-prescricao-' + localStorage["AtendimentoId"]).buttonBusy(true);
            _prescricoesService.criarOuEditar(prescricao)
                .done(function (data) {
                    $('#id-@(atendimento.Id)').val(data.id);
                    $('#respostas-list-' + localStorage["AtendimentoId"]).val(data.respostasList)
                    if(!voltarIndex)
                    {
                        abp.notify.success(app.localize('SavedSuccessfully'));
                        abp.event.trigger('app.CriarOuEditarPrescricaoModalSaved');
                        //_modalManager.close();
                        $('.close-button').trigger('click');
                    }
                })
                .always(function () {
                    $('#salvar-prescricao-' + localStorage["AtendimentoId"]).buttonBusy(false);
                });
        }

        $('#lnk-prescricao-completa-tab-' + localStorage["AtendimentoId"]).on('click', function (e) {
            //    localStorage["DivisaoId"] = 0;
            //    lerDivisao(localStorage["DivisaoId"]);
            prescricaoCompleta();
        });

        $('#lnk-visualizacao-tab-' + localStorage["AtendimentoId"]).on('click', function (e) {
            e.preventDefault();
            atualizarTempData();
            //exibirRelatorio();
        });

        $('#show-prescricoes-paciente-' + localStorage["AtendimentoId"]).on('click', function (e) {
            e.preventDefault();
            if ($('#prescricoes-paciente-area-' + localStorage["AtendimentoId"]).hasClass('hidden')) {
                $('#prescricoes-paciente-area-' + localStorage["AtendimentoId"]).removeClass('hidden');
            }
            else {
                $('#prescricoes-paciente-area-' + localStorage["AtendimentoId"]).addClass('hidden');
            }
        });

        $('.fa-close').on('click', function (e) {
            e.preventDefault();
            $('#' + localStorage["TargetConteudo"]).data('reload', '0');
            LerParcial(localStorage["TargetConteudo"], '/mpa/Assistenciais/MedicoPrescricao', '');
        });

        $('.close-button').on('click', function (e) {
            e.preventDefault();
            $('#' + localStorage["TargetConteudo"]).data('reload', '0');
            LerParcial(localStorage["TargetConteudo"], '/mpa/Assistenciais/MedicoPrescricao', '');
        });

        $('.reload').on('click', function (e) {
            e.preventDefault();
            localStorage["DivisaoId"] = $(this).data('divisao-id');
            getPrescricaoItens();
        });

        $('.expand[data-tipo-portlet="divisao"]').on('click', function (e) {
            e.preventDefault();
            localStorage["DivisaoId"] = $(this).data('divisao-id');
            getPrescricaoItens();
        });

        $('.btn-new-divisao-id').each(function () {
            $(this).on('click', function (e) {
                e.preventDefault();
                localStorage["DivisaoId"] = $(this).data('divisao-id');
                _divisaoService.obter(localStorage["DivisaoId"])
                    .done(function(divisao){
                        $('#divisao-id-' + @(atendimento.Id))
                            .append($('<option value="' + localStorage["DivisaoId"] + '">' + divisao.codigo + ' - ' + divisao.descricao + '</option>'))
                            .val(localStorage["DivisaoId"])
                            .trigger('change');
                        $('#lnk-prescricao-completa-tab-@(atendimento.Id)').trigger('click');
                    });
            });
        });

        $('#RefreshPrescricaoItemsRespostasListButton-@(atendimento.Id)').on('click', function (e) {
            e.preventDefault();
            getPrescricaoItens();
        });

        //atualizarTempData();
        CamposRequeridos();
        aplicarDateSingle();
        aplicarDateRange();
        init();

        var _createOrEditModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/Assistenciais/_CriarOuEditarRespostaModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/_CriarOuEditarRespostaModal.js',
            modalClass: 'CriarOuEditarRespostaModal'
        });
        @*$('#CreateNewPrescricaoItemRespostaButton-@(atendimento.Id)').on('click', function (e) {
            e.preventDefault();
            _createOrEditModal.open({
                id: $("#id-@(atendimento.Id)").val(),
                divisaoId: $(this).data('divisaoId')
            });
        });*@

        abp.event.on('app.CriarOuEditarRespostaModalSaved', function () {
            getPrescricaoItens();
        });

    });
</script>
