﻿@using SW10.SWMANAGER.Web.Navigation
@using System.Collections.Generic
@using SW10.SWMANAGER.ClassesAplicacao.Services.Assistenciais.Dto

@model IEnumerable<PrescricaoItemRespostaDto>


@{
    ViewBag.CurrentPageName = PageNames.App.Assistenciais.AmbulatoriosEmergencias.Medicos.Prescricao;
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}
<style type="text/css">
    th {
        text-align: center;
    }

    td, th {
        font-size: 8pt;
    }

    .deleted {
        text-decoration: line-through;
        color: red;
    }
</style>
@if (Model.Count() > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-pencil"></i>&nbsp;@L("Prescricao")
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            @{
                var listGroup = from r in Model
                                orderby r.Divisao.Ordem
                                group r by r.DivisaoId into g
                                select new { DivisaoId = g.Key, respostas = g.ToList() };
                foreach (var divisao in listGroup)
                {
                    <div class="portlet box green-meadow">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-columns"></i>
                                <span id="titulo-@divisao.DivisaoId.Value">@divisao.respostas.FirstOrDefault().Divisao.Descricao</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @*<table class="table table-condensed table-responsive table-bordered table-striped blue">*@
                            <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="width:20%;">@L("Actions")</th>
                                    <th style="width:40%;">@L("PrescricaoItem")</th>
                                    <th style="width:10%;">@L("Quantidade")</th>
                                    <th style="width:20%;">@L("Unidade")</th>
                                    @*<th>@L("FormaAplicacao")</th>*@
                                    <th style="width:10%;">@L("Freq")</th>
                                </tr>
                                @foreach (var resposta in divisao.respostas.OrderBy(m => m.Divisao.Ordem))
                                {
                                    <tr>
                                        <td>
                                            <button data-registro-id="@(resposta.Id)" data-divisao-id="@(resposta.DivisaoId)" data-grid-id="@(resposta.IdGridPrescricaoItemResposta)" class="btn btn-default btn-xs btn-edit" title="@L("Edit")"><i class="fa fa-edit"></i></button>
                                            <button data-grid-id="@(resposta.IdGridPrescricaoItemResposta)" data-descricao="@(resposta.PrescricaoItem.Descricao)" class="btn btn-default btn-xs btn-delete" title="@L("Delete")"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                        <td @(resposta.IsDeleted ? "class=deleted" : "")>
                                            @Html.DisplayFor(m => resposta.PrescricaoItem.Descricao)
                                            <script>
                                                $('#titulo-@(divisao.DivisaoId.Value)').html('@(resposta.Divisao.Descricao)')
                                            </script>
                                        </td>
                                        <td @(resposta.IsDeleted ? "class=deleted" : "") style="text-align:right">
                                            @Html.DisplayFor(m => resposta.Quantidade)
                                        </td>
                                        <td @(resposta.IsDeleted ? "class=deleted" : "")>
                                            @Html.DisplayFor(m => resposta.Unidade.Descricao)
                                        </td>
                                        @*<td>@Html.DisplayFor(m => resposta.FormaAplicacao.Descricao)</td>*@
                                        <td @(resposta.IsDeleted ? "class=deleted" : "")>
                                            @Html.DisplayFor(m => resposta.Frequencia.Descricao)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
                }
<script type="text/javascript">
    (function () {
        $(function () {
            var _prescricoesService = abp.services.app.prescricaoMedica;
            var _prescricaoItemRespostaService = abp.services.app.prescricaoItemResposta;
            var _prescricaoItemService = abp.services.app.prescricaoItem;
            var _unidadeService = abp.services.app.unidade;
            var _divisaoService = abp.services.app.divisao;
            var _velocidadeInfusaoService = abp.services.app.velocidadeInfusao;
            var _formaAplicacaoService = abp.services.app.formaAplicacao;
            var _frequenciaService = abp.services.app.frequencia;
            var _unidadeOrganizacionalService = abp.services.app.unidadeOrganizacional;
            var _medicoService = abp.services.app.medico;

            function prescricaoCompleta() {
                $('#prescricao-completa-' + localStorage['AtendimentoId'] + '-area').load('/mpa/assistenciais/_prescricaocompleta/', { 'list': JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val()) });
            }

            function deletePrescricaoCompletaItem(idGrid, descricao) {
                abp.message.confirm(
                    app.localize('DeleteWarning', descricao),
                    function (isConfirmed) {
                        var lista = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
                        for (var i = 0; i < lista.length; i++) {
                            if (lista[i].IdGridPrescricaoItemResposta == idGrid) {
                                if (lista[i].IsDeleted) {
                                    lista[i].IsDeleted = false;
                                    lista[i].DeleterUserId = '';
                                }
                                else {
                                    lista[i].IsDeleted = true;
                                    lista[i].DeleterUserId = abp.session.userId;
                                }
                                break;
                            }
                        }
                        $('#respostas-list-' + localStorage["AtendimentoId"]).val(JSON.stringify(lista));
                        localStorage["RespostasList"] = JSON.stringify(lista);
                        abp.notify.info(app.localize('ListaAtualizada'));
                        abp.event.trigger('app.CriarOuEditarPrescricaoModalSaved');
                        prescricaoCompleta();
                    }
                );
            }

            function editPrescricaoItem(idPrescricaoItem, idGrid, idDivisao) {
                var list = JSON.parse($('#respostas-list-' + localStorage["AtendimentoId"]).val());
                for (var i = 0; i < list.length; i++) {
                    if (list[i].IdGridPrescricaoItemResposta == idGrid) {
                        var data = { result: list[i] };
                        break;
                    }
                }
                preencherForm(data.result, idGrid, idDivisao);
                $('#salvar-prescricao-item-resposta-divisao-' + localStorage["AtendimentoId"] + ' i').removeClass('fa-plus').addClass('fa-check');
            }

            $('.btn-edit').on('click', function (e) {
                e.preventDefault();
                editPrescricaoItem($(this).data('registro-id'), $(this).data('grid-id'), '0');
            });

            $('.btn-delete').on('click', function (e) {
                e.preventDefault();
                deletePrescricaoCompletaItem($(this).data('grid-id'), $(this).data('descricao'));
            });

            function preencherForm(result, idGrid, idDivisao) {
                var data = { result: result };

                if (data.result.PrescricaoItemId != null) {
                    _prescricaoItemService.obter(data.result.PrescricaoItemId, { async: false, cache: false }).done(function (result) {
                        $('#prescricao-item-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.PrescricaoItemId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                            .val(data.result.PrescricaoItemId)
                            .trigger('change');
                    });
                }
                else {
                    $('#prescricao-item-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                //localStorage["DivisaoId"] = idDivisao;
                $('#quantidade-' + localStorage["AtendimentoId"]).removeAttr('disabled').val(data.result.Quantidade);
                $('#data-inicial-' + localStorage["AtendimentoId"]).removeAttr('disabled').val(moment(data.result.DataInicial).format('L'));
                $('#total-dias-' + localStorage["AtendimentoId"]).removeAttr('disabled').val(data.result.TotalDias);
                $('#observacao-' + localStorage["AtendimentoId"]).removeAttr('disabled').val(data.result.Observacao);
                $('#id-grid-prescricao-item-resposta-' + localStorage["AtendimentoId"]).val(idGrid);
                $('#prescricao-item-resposta-id-' + localStorage["AtendimentoId"]).val(data.result.Id);

                //$('#divisao-id-' + localStorage["AtendimentoId"]).val(data.result.DivisaoId).trigger('change');
                if (data.result.DivisaoId != null) {
                    _divisaoService.obter(data.result.DivisaoId, { async: false, cache: false }).done(function (result) {
                        $('#divisao-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.DivisaoId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                            .val(data.result.DivisaoId)
                            .trigger('change');
                    });
                }
                else {
                    $('#divisao-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                if (data.result.UnidadeId != null) {
                    _unidadeService.obter(data.result.UnidadeId, { async: false, cache: false }).done(function (result) {
                        $('#unidade-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.UnidadeId + '">' + result.sigla + ' - ' + result.descricao + '</option>'))
                            .val(data.result.UnidadeId)
                            .trigger('change');
                    });
                }
                else {
                    $('#unidade-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                if (data.result.VelocidadeInfusaoId != null) {
                    _velocidadeInfusaoService.obter(data.result.VelocidadeInfusaoId, { async: false, cache: false }).done(function (result) {
                        $select = $('#velocidade-infusao-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.VelocidadeInfusaoId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                            .val(data.result.VelocidadeInfusaoId)
                            .trigger('change');
                    });
                }
                else {
                    $('#velocidade-infusao-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                if (data.result.FormaAplicacaoId != null) {
                    _formaAplicacaoService.obter(data.result.FormaAplicacaoId, { async: false, cache: false }).done(function (result) {
                        $select = $('#forma-aplicacao-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.FormaAplicacaoId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                            .val(data.result.FormaAplicacaoId)
                            .trigger('change');
                    });

                }
                else {
                    $('#forma-aplicacao-id-' + localStorage["AtendimentoId"]).val(null).change();
                }
                if (data.result.FrequenciaId && data.result.FrequenciaId != null && data.result.FrequenciaId != undefined) {
                    _frequenciaService.obter(data.result.FrequenciaId, { async: false, cache: false })
                        .done(function (result) {
                            $select = $('#frequencia-id-' + localStorage["AtendimentoId"])
                                .removeAttr('disabled')
                                .append($('<option value="' + data.result.FrequenciaId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                                .val(data.result.FrequenciaId)
                                .trigger('change');
                            $('#hora-inicial-' + localStorage["AtendimentoId"]).removeAttr('disabled');
                            $('.input-group-addon').trigger('click');
                        });
                }
                else {
                    $('#hora-inicial-' + localStorage["AtendimentoId"]).removeAttr('disabled');
                    $('#frequencia-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                if (data.result.IsSeNecessario) {
                    $('#is-se-necessario-' + localStorage["AtendimentoId"]).attr('checked', 'checked');
                }
                else {
                    $('#is-se-necessario-' + localStorage["AtendimentoId"]).removeAttr('checked');
                }

                if (data.result.IsUrgente) {
                    $('#is-urgente-' + localStorage["AtendimentoId"]).attr('checked', 'checked');
                }
                else {
                    $('#is-urgente-' + localStorage["AtendimentoId"]).removeAttr('checked');
                }

                if (data.result.UnidadeOrganizacionalId != null) {
                    _unidadeOrganizacionalService.obterPorId(data.result.UnidadeOrganizacionalId, { async: false, cache: false }).done(function (result) {
                        $select = $('#unidade-organizacional-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.UnidadeOrganizacionalId + '">' + result.codigo + ' - ' + result.descricao + '</option>'))
                            .val(data.result.UnidadeOrganizacionalId)
                            .trigger('change');
                    });
                }
                else {
                    $('#unidade-organizacional-id-' + localStorage["AtendimentoId"]).val(null).change();
                }

                if (data.result.MedicoId != null) {
                    _medicoService.obter(data.result.MedicoId, { async: false, cache: false }).done(function (result) {
                        $select = $('#medico-id-' + localStorage["AtendimentoId"])
                            .removeAttr('disabled')
                            .append($('<option value="' + data.result.MedicoId + '">' + result.sisPessoa.nomeCompleto + '</option>'))
                            .val(data.result.MedicoId)
                            .trigger('change');
                    });
                }
                else {
                    $('#medico-id-' + localStorage["AtendimentoId"]).val(null).change();
                }
            }
        });
    })();
</script>
