﻿
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Prescricoes.PrescricaoItemRespostaViewModel
@{
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

<form name="FormDivisao" data-divisao-id="@(Model.DivisaoId)" id="form-divisao-@(atendimento.Id)">
    <input type="hidden" name="IdGridPrescricaoItemResposta" id="id-grid-prescricao-item-resposta-@(atendimento.Id)" value="@(Model.IdGridPrescricaoItemResposta.HasValue ? Model.IdGridPrescricaoItemResposta : 0)" />
    <input type="hidden" name="Id" id="prescricao-item-resposta-id-@(atendimento.Id)" value="@Model.Id" />
    <input type="hidden" name="ProdutoId" id="produto-id-@(atendimento.Id)" value="" />
    <input type="hidden" name="PrescricaoItemStatusId" id="prescricao-item-status-id-@(atendimento.Id)" value="1" />
    <input type="hidden" name="Horarios" id="horarios-@(atendimento.Id)" value="@Model.Horarios" />

    @*@if (Model.IsEditMode)
        {
            <input type="hidden" name="CreationTime" id="creation-time-@(atendimento.Id)" value="@Model.CreationTime" />
        }*@
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@L("Divisao")</label>
                <select name="DivisaoId" id="divisao-id-@(atendimento.Id)" class="form-control input-sm select2">
                    @if (Model.DivisaoId.HasValue && Model.DivisaoId.Value > 0)
                    {
                        <option value="@Model.DivisaoId.Value">@Model.Divisao.Codigo - @Model.Divisao.Descricao</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@L("PrescricaoItem")</label>
                <select name="PrescricaoItemId" id="prescricao-item-id-@(atendimento.Id)" data-divisao-id="" class="form-control input-sm select2" required="required">
                    @if (Model.PrescricaoItemId.HasValue)
                    {
                        <option value="@Model.PrescricaoItemId">@Model.PrescricaoItem.Codigo - @Model.PrescricaoItem.Descricao</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>@L("Quantidade")</label>
            <input type="text" name="Quantidade" id="quantidade-@(atendimento.Id)" value="@Model.Quantidade" class="form-control input-sm" @Html.Raw(Model.Divisao.IsQuantidade ? "" : "disabled=\"disabled\"") />
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label>@L("Unidade")</label>
                <select name="UnidadeId" id="unidade-id-@(atendimento.Id)" class="form-control input-sm select2" @Html.Raw(Model.Divisao.IsUnidadeMedida ? "" : "disabled=\"disabled\"")>
                    @if (Model.UnidadeId.HasValue)
                    {
                        <option value="@Model.UnidadeId.Value">@Model.Unidade.Descricao</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("VelocidadeInfusao")</label>
                <select name="VelocidadeInfusaoId" id="velocidade-infusao-id-@(atendimento.Id)" class="form-control input-sm select2" @Html.Raw(Model.Divisao.IsVelocidadeInfusao ? "" : "disabled=\"disabled\"")>
                    @if (Model.VelocidadeInfusaoId.HasValue)
                    {
                        <option value="@Model.VelocidadeInfusaoId.Value">@Model.VelocidadeInfusao.Descricao</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("FormaAplicacao")</label>
                <select name="FormaAplicacaoId" id="forma-aplicacao-id-@(atendimento.Id)" class="form-control input-sm select2" @Html.Raw(Model.Divisao.IsFormaAplicacao ? "" : "disabled=\"disabled\"")>
                    @if (Model.FormaAplicacaoId.HasValue)
                    {
                        <option value="@Model.FormaAplicacaoId.Value">@Model.FormaAplicacao.Descricao</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("UnidadeOrganizacional")</label>
                <select name="UnidadeOrganizacionalId" id="unidade-organizacional-id-@(atendimento.Id)" class="form-control input-sm select2">
                    @if (atendimento.UnidadeOrganizacionalId.HasValue)
                    {
                        <option value="@atendimento.UnidadeOrganizacionalId.Value">@atendimento.UnidadeOrganizacional.Descricao</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("Medico")</label>
                <select name="MedicoId" id="medico-id-@(atendimento.Id)" class="form-control input-sm select2">
                    @if (atendimento.MedicoId.HasValue)
                    {
                        <option value="@atendimento.MedicoId.Value">@atendimento.Medico.NomeCompleto</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("Frequencia")</label>
                <select name="FrequenciaId" id="frequencia-id-@(atendimento.Id)" class="form-control input-sm select2" @Html.Raw(Model.Divisao.IsFrequencia ? "" : "disabled=\"disabled\"")>
                    @if (Model.FrequenciaId.HasValue)
                    {
                        <option value="@Model.FrequenciaId.Value">@Model.Frequencia.Descricao</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@L("HoraInicial")</label>
                <div class="input-group">
                    <input type="time" name="HoraInicial" id="hora-inicial-@(atendimento.Id)" value="@(Model.UnidadeOrganizacionalId.HasValue && !string.IsNullOrWhiteSpace(Model.UnidadeOrganizacional.HoraInicioPrescricao) ? Model.UnidadeOrganizacional.HoraInicioPrescricao : string.IsNullOrWhiteSpace(atendimento.UnidadeOrganizacional.HoraInicioPrescricao) ? DateTime.Now.AddHours(1).Hour.ToString() + ":00" : atendimento.UnidadeOrganizacional.HoraInicioPrescricao)" class="form-control input-sm" @Html.Raw(Model.Divisao.IsFrequencia ? "" : "disabled=\"disabled\"") />
                    <span class="input-group-addon" title="@L("CalcularHorarios")">
                        <i class="fa fa-calculator"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@L("Horarios")</label>
                <div id="div-horarios-@(atendimento.Id)"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input name="IsAgora" id="is-agora-@(atendimento.Id)" type="checkbox" class="form-control icheck checkbox-inline" value="true" @Html.Raw(Model.Divisao.IsAgora ? "" : "disabled=\"disabled\"") />
                <label for="is-agora-@(atendimento.Id)">@L("IsAgora")</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input name="IsAcm" id="is-acm-@(atendimento.Id)" type="checkbox" class="form-control icheck checkbox-inline" value="true" @Html.Raw(Model.Divisao.IsAcm ? "" : "disabled=\"disabled\"") />
                <label for="is-acm-@(atendimento.Id)">@L("IsAcm")</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input name="IsUrgente" id="is-urgente-@(atendimento.Id)" type="checkbox" class="form-control icheck checkbox-inline" value="true" @Html.Raw(Model.Divisao.IsUrgente ? "" : "disabled=\"disabled\"") />
                <label for="is-urgente-@(atendimento.Id)">@L("IsUrgente")</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>@L("DataInicial")</label>
            @{
                var horaIni = atendimento.UnidadeOrganizacional.HoraInicioPrescricao;
                var hora = string.IsNullOrEmpty(horaIni) ? DateTime.Now.Hour : int.Parse(horaIni.Substring(0, 2));
            }
            <input type="text" name="DataInicial" id="data-inicial-@(atendimento.Id)" value="@(Model.DataInicial.HasValue ? Model.DataInicial.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy"))" class="form-control input-sm date-single-picker" @Html.Raw(Model.Divisao.IsDataInicio ? "" : "disabled=\"disabled\"") />
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <label>@L("TotalDias")</label>
                    <input type="text" name="TotalDias" id="total-dias-@(atendimento.Id)" value="@Model.TotalDias" class="form-control input-sm" @Html.Raw(Model.Divisao.IsDiasAplicacao ? "" : "disabled=\"disabled\"") />
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@L("Observacao")</label>
                <textarea name="Observacao" id="observacao-@(atendimento.Id)" class="form-control"></textarea>
            </div>
        </div>
    </div>
</form>

<script>
    var aHorasDia = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"];

    function criarComboHora() {
        var horas = $('#horarios-@(atendimento.Id)').val();
        var collection = horas.split(' ');
        $('#div-horarios-@(atendimento.Id)').html('').css('line-height', '30px;');
        for (var i = 0; i < collection.length; i++) {
            var index = aHorasDia.indexOf(collection[i]);
            var append = '<div class="col-md-2"><select name="HoraDiaId-' + i + '" class="form-group mapa-horario">';
            for (var x = 0; x < aHorasDia.length; x++) {
                var aValue = aHorasDia[x].split(':');
                var value = aValue[0];
                var selected = '';
                if (x == index) {
                    selected = 'selected';
                }
                append += '<option value="' + value + '" ' + selected + '>' + aHorasDia[x] + '</option>';
            }
            append += '</select></div>';
            $('#div-horarios-@(atendimento.Id)').append(append);
        }
    }

    aplicarSelect2Padrao();
    //$(document).ready(function () {
    var _frequenciaService = abp.services.app.frequencia;
    var _prescricaoItemService = abp.services.app.prescricaoItem;
    $('#prescricao-item-id-@(atendimento.Id)').select2({
        allowClear: true,
        placeholder: app.localize("SelecioneLista"),
        ajax: {
            url: "/api/services/app/prescricaoitem/listarDropdown",
            dataType: 'json',
            delay: 250,
            method: 'Post',
            data: function (params) {
                if (params.page == undefined) {
                    params.page = '1';
                }
                return {
                    search: params.term,
                    page: params.page,
                    totalPorPagina: 10,
                    id: $('#divisao-id-' + localStorage["AtendimentoId"]).val()
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.result.items,
                    pagination: {
                        more: (params.page * 10) < data.result.totalCount
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 0
    }).on('change', function () {

            if ($(this).val() != null) {
                _prescricaoItemService.obter($(this).val(), { async: false, cache: false })
                    .done(function (data) {
                        //if (data.quantidade && data.quantidade != null && data.quantidade != undefined && data.quantidade != '') {
                        if (data.divisao.isQuantidade) {
                            $('#quantidade-@(atendimento.Id)').removeAttr('disabled').val(data.quantidade);
                        }
                        else {
                            $('#quantidade-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isTotalDias) {
                            $('#total-dias-@(atendimento.Id)').removeAttr('disabled').val(data.totalDias);
                        }
                        else {
                            $('#total-dias-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isUnidadeMedida) {
                            if (data.unidadeId && data.unidadeId != null && data.unidadeId != undefined) {
                                //                                    _unidadeService.obter(data.unidadeId).done(function (result) {
                                $('#unidade-id-@(atendimento.Id)')
                                    .removeAttr('disabled')
                                    .append($('<option value="' + data.unidadeId + '">' + data.unidade.sigla + ' - ' + data.unidade.descricao + '</option>'))
                                    .val(data.unidadeId)
                                //.trigger('change')
                                ;
                                //                                    });
                            }
                            else {
                                $('#unidade-id-@(atendimento.Id)').removeAttr('disabled').val(null).change();
                            }
                        }
                        else {
                            $('#unidade-id-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isFrequencia) {
                            if (data.frequenciaId && data.frequenciaId != null && data.frequenciaId != undefined) {
                                //                                    _frequenciaService.obter(data.frequenciaId)
                                //                                        .done(function (result) {
                                $('#frequencia-id-@(atendimento.Id)')
                                    .removeAttr('disabled')
                                    .append($('<option value="' + data.frequenciaId + '">' + data.frequencia.descricao + '</option>'))
                                    .val(data.frequenciaId)
                                //.trigger('change')
                                ;

                                $('#hora-inicial-@(atendimento.Id)').removeAttr('disabled');
                                $('.input-group-addon').trigger('click');

                                //                                        });
                            }
                            else {
                                $('#frequencia-id-@(atendimento.Id)').removeAttr('disabled').val(null).change;
                                $('#hora-inicial-@(atendimento.Id)').removeAttr('disabled')
                            }
                        }
                        else {
                            $('#frequencia-id-@(atendimento.Id)').attr('disabled', 'disabled');
                            $('#hora-inicial-@(atendimento.Id)').removeAttr('disabled')
                        }
                        if (data.divisao.isFormaAplicacao) {
                            if (data.formaAplicacaoId && data.formaAplicacaoId != null && data.formaAplicacaoId != undefined) {
                                //                                    _formaAplicacaoService.obter(data.formaAplicacaoId).done(function (result) {
                                $('#forma-aplicacao-id-@(atendimento.Id)')
                                    .removeAttr('disabled')
                                    .append($('<option value="' + data.formaAplicacaoId + '">' + data.formaAplicacao.codigo + ' - ' + data.formaAplicacao.descricao + '</option>'))
                                    .val(data.formaAplicacaoId)
                                //.trigger('change')
                                ;
                                //                                    });
                            }
                            else {
                                $('#forma-aplicacao-id-@(atendimento.Id)').removeAttr('disabled').val(null).change;
                            }
                        }
                        else {
                            $('#forma-aplicacao-id-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isVelocidadeInfusao) {
                            if (data.velocidadeInfusaoId && data.velocidadeInfusaoId != null && data.velocidadeInfusaoId != undefined) {
                                //                                    _velocidadeInfusaoService.obter(data.velocidadeInfusaoId).done(function (result) {
                                $('#velocidade-infusao-id-@(atendimento.Id)')
                                    .removeAttr('disabled')
                                    .append($('<option value="' + data.velocidadeInfusaoId + '">' + data.velocidadeInfusao.codigo + ' - ' + data.velocidadeInfusao.descricao + '</option>'))
                                    .val(data.velocidadeInfusaoId)
                                //.trigger('change')
                                ;
                                //                                    });
                            }
                            else {
                                $('#velocidade-infusao-id-@(atendimento.Id)').removeAttr('disabled').val(null).change;
                            }
                        }
                        else {
                            $('#velocidade-infusao-id-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.produtoId && data.produtoId != null && data.produtoId != undefined) {
                            $('#produto-id-@(atendimento.Id)').val(data.produtoId);
                        }
                        if (data.divisao.isDataInicio) {
                            $('#data-inicial-@(atendimento.Id)').removeAttr('disabled');
                        }
                        else {
                            $('#data-inicial-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isDiasAplicacao) {
                            $('#total-dias-@(atendimento.Id)').removeAttr('disabled');
                        }
                        else {
                            $('#total-dias-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isUrgente) {
                            $('#is-urgente-@(atendimento.Id)').removeAttr('disabled');
                        }
                        else {
                            $('#is-urgente-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isAcm) {
                            $('#is-acm-@(atendimento.Id)').removeAttr('disabled');
                        }
                        else {
                            $('#is-acm-@(atendimento.Id)').attr('disabled', 'disabled');
                        }
                        if (data.divisao.isAgora) {
                            $('#is-agora-@(atendimento.Id)').removeAttr('disabled');
                        }
                        else {
                            $('#is-agora-@(atendimento.Id)').attr('disabled', 'disabled');
                        }

                    });
            }
        });

    $('#frequencia-id-@(atendimento.Id)').select2({
        ajax: {
            url: '/api/services/app/frequencia/listarDropdown',
            dataType: 'json',
            delay: 250,
            method: 'Post',
            data: function (params) {
                if (params.page == undefined)
                    params.page = '1';
                return {
                    search: params.term,
                    page: params.page,
                    totalPorPagina: 10,
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data.result.items,
                    pagination: {
                        more: (params.page * 10) < data.result.totalCount
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 0
    })
        .on('change', function () {
            var id = $(this).val();
            if (id && id != null && id != undefined && id != '') {
                _frequenciaService.obter($(this).val())
                .done(function (data) {
                    $('#horarios-@(atendimento.Id)').val(definirHorarios(
                        data.intervalo,
                        $('#hora-inicial-@(atendimento.Id)').val()
                    ));
                    criarComboHora();
                })
                //aplicarSelect2Padrao();
                //$('.select2').css('width', '100%');
            }
        });

    $('.input-group-addon').on('click', function (e) {
        e.preventDefault();
        var id = $('#frequencia-id-@(atendimento.Id)').val();
        if (id && id != null && id != undefined && id != '') {
            _frequenciaService.obter(id)
            .done(function (data) {
                $('#horarios-@(atendimento.Id)')
                    .val(definirHorarios(
                        data.intervalo,
                        $('#hora-inicial-' + localStorage["AtendimentoId"]).val()
                    ));
                criarComboHora();
            });
            //aplicarSelect2Padrao();
            //$('.select2').css('width', '100%');
        }
    });

    $('#unidade-id-@(atendimento.Id)').select2({
        ajax: {
            url: '/api/services/app/produtounidade/listarUnidadePorProdutoDropdown',
            dataType: 'json',
            delay: 250,
            method: 'Post',
            data: function (params) {
                if (params.page == undefined)
                    params.page = '1';
                return {
                    search: params.term,
                    page: params.page,
                    totalPorPagina: 10,
                    filtros: [$('#produto-id-@(atendimento.Id)').val()]
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data.result.items,
                    pagination: {
                        more: (params.page * 10) < data.result.totalCount
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 0
    });

    $('.select2').css('width', '100%');
    //});

</script>
