﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers
@using SW10.SWMANAGER.Authorization

@{
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Novo"))

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">@L("TevMovimento")</div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div id="tev-movimento-grid-@atendimento.Id"></div>
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/_formTevMovimento.cshtml")
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
