﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@{
    ViewBag.CurrentPageName = PageNames.App.Assistenciais.AmbulatoriosEmergencias.Medicos.Prescricao;
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

@Html.IncludeStyle("/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/index.min.css")
@Html.IncludeScript("/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/Index.js")


<script src="~/libs/PDFObject/pdfobject.js"></script>

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row margin-bottom-5">
                    <div class="col-md-12">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span>@L("Prescricao")</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <form id="PrescricoesFilterForm-@atendimento.Id" class="horizontal-form">
                        <input type="hidden" name="PacienteId" id="paciente-id-@atendimento.Id" value="@atendimento.PacienteId" />
                        <div class="form-body" enter-key="vm.getPrescricoes()">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <input type="hidden" name="PrincipalId" value="@(atendimento.Id)" />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("DateRange")</label>
                                                            <input type="text" id="date-range-prescricao-@atendimento.Id" class="form-control date-range-picker" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="PrescricoesTableFilter-@atendimento.Id" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button id="ExportarPrescricoesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                                        @if (IsGranted(AppPermissions.Pages_Tenant_Assistencial_AmbulatorioEmergencia_Medico_Prescricao_Create))
                                                        {
                                                            <button id="CreateNewPrescricaoButton-@atendimento.Id" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPrescricao")</button>
                                                        }
                                                        <button id="RefreshPrescricoesListButton-@atendimento.Id" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" >
                    <div class="col-sm-6">
                        <div id="PrescricoesTable-@atendimento.Id"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel" id="imagemPrescricoes-@atendimento.Id" style="height:500px"  ></div>
                    </div>
                </div>
               
                <p class="white-space">&nbsp;</p>
                <div class="row">
                    @foreach (var item in atendimento.ListaStatus)
                    {
                        <div class="col-sm-1">
                            <span style="display:inline-block; vertical-align:middle; width:20px; height:20px; text-align:center; background-color: @item.Cor; border-radius: 25px;"> </span>
                            <span style="display:inline-block; vertical-align:middle; width:20px;"> @item.Descricao </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
