﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Materiais.MateriaisViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.Material;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Materiais/index.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")

}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Materiais/Index.js")
    @*@Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")*@
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Material")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarMateriaisParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_Material_Create))
            {
            <button id="CreateNewMaterialButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("NovoMaterial")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="MateriaisFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getMateriais()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        @*@<div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <button id="RefreshMateriaisListButton" class="btn btn-default" style="display: block; width: 100%"><span class="fa fa-search"></span> @L("Search")</button>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="input-group">
                                            <input id="MateriaisTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetMateriaisButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="MateriaisTable"></div>
    </div>
</div>
