﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using Abp.Extensions
@using SW10.SWMANAGER.Web.Extensions

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Unidades.CriarOuEditarUnidadeModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.Unidade;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Unidades/index.min.css")
    @*<link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />*@
}
@section Scripts
    {
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Unidades/_CriarOuEditarModal.js")
}

<div class="portlet light">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditUnidade") + ": " + Model.Descricao) : L("CreateNewUnidade")))
    <div class="portlet-body">
        <div class="modal-body container-fluid">
            <form name="UnidadeInformationsForm" role="form" novalidate class="form-validation" id="form-unidade">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
                }

                <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                <div class="row">
                    @*<div class="col-sm-2">
                        <div class="form-group">
                            <label for="codigo">@L("Codigo")</label>
                            <input type="text" readonly id="codigo" class="form-control input-sm" value="@Model.Id" required>
                        </div>
                    </div>*@

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="sigla">@L("Sigla")</label>
                            <input type="text" name="Sigla" id="sigla" class="form-control input-sm" value="@Model.Sigla" required>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="descricao">@L("Descricao")</label>
                            <input type="text" name="Descricao" id="descricao" class="form-control input-sm" value="@Model.Descricao" required>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="fator">@L("Fator")</label>
                            <input type="text" readonly name="Fator" id="fator" class="form-control input-sm" value="@Html.Raw(Model.IsEditMode ? Model.Fator : 1)" required>
                        </div>

                    </div>
                </div>
                <div class="row" id="linhaUnidadesRelacionadas" style="display:none"> 
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <button id="btn-novo-produto-unidade" class="btn blue btn-xs" @*class="btn btn-primary blue"*@><i class="fa fa-plus"></i> @L("AdicionarProdutoUnidade")</button>

                            <div id="unidades-relacionadas-table"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")




@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditUnidade") + ": " + Model.Descricao) : L("CreateNewUnidade")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#UnidadeInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Unidade")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="UnidadeInformationsTab">
                <form name="UnidadeInformationsForm" role="form" novalidate class="form-validation">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Nome" class="form-control@(Model.Nome.IsNullOrEmpty() ? "" : " edited")" value="@Model.Nome" required>
                                <label>@L("Nome")</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Descricao" required>
                                <label>@L("Descricao")</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Fator" class="form-control@(Model.Fator.IsNullOrEmpty() ? "" : " edited")" value="@Model.Fator" required>
                                <label>@L("Fator")</label>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@
