﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using System.Web.Script.Serialization
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.SolicitacaoInternacao.RelSolicInternacaoModalViewModel

@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditContaMedica") + ": " + Model.Titular) : L("CreateNewContaMedica")))*@
@*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewContaMedica")))*@


<script src="~/libs/PDFObject/pdfobject.min.js"></script>

<div>
    <button id="guia-teste">Solicitação Intrnação</button>
    <div class="row">
        <div class="col-sm-12">
            <iframe id="fVisualizar" src="" style="width:100%; height:10px; border:none 0; background-color:white"></iframe>
        </div>
    </div>
    <div id="relat" style="width:100%; height:700px; display:none;"></div>

    
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script type="text/javascript">

    // Teste relatorio Guia Spsadt
    var iframeRelatoriog = $("#fVisualizarg");
    iframeRelatoriog.hide();


    $("#guia-teste").click(function (e) {
        e.preventDefault();
        var url = '@Url.Action("VisualizarSpsadt")';
        $('#relat').show();
        var caminho = "@Url.Action("VisualizarSpsadt", "FatGuiasSolicitacaoInternacao", new { ContaId = 0, AtendimentoId = Model.AtendimentoIdTeste })";
        // alert(caminho);
        PDFObject.embed(caminho, "#relat");
    });


    var url = '@Url.Action("VisualizarSpsadt")';
    $('#relat').show();
    var caminho = "@Url.Action("VisualizarSpsadt", "FatGuiasSolicitacaoInternacao", new { ContaId = 0, AtendimentoId = Model.AtendimentoIdTeste })";
    // alert(caminho);
    PDFObject.embed(caminho, "#relat");
    // FIM - Teste relatorio Guia Spsadt

    @*// Relatorio
    var iframeRelatorio = $("#fVisualizar");
    iframeRelatorio.hide();

    $("#atualizar-btn").click(function () {
        var url = '@Url.Action("VisualizarRelatorio")' + '?contaMedicaId=' + '@Model.Id';
        //console.log('url : ' + url);
        fVisualizar.src = url;
        iframeRelatorio.show();
    });
    // FIM - relatorio*@




</script>