﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Financeiros.ContasPagarViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Financeiro.ContasReceber;
}

@section Styles
{
}
@section Scripts
{

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>


    @*@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Feriados/_CriarOuEditarModal.js")*@
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Financeiros/ContasReceber/Index.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Financeiros/ContasReceber/_CriarOuEditarModalQuitacaoLancamentos.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ContasReceber")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">

    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="contasPagarFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFeriados()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>

                                        <div class="row">


                                            <div class="col-sm-3">

                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Vencimento")</label>
                                                            <input type="text" id="vencimento" class="form-control date-range-picker vencimento" />

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Ignorar")</label>
                                                            <input type="checkbox" id="ignorarVencimento" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="PessoaId">@L("Pessoa")</label>
                                                    <select name="PessoaId" value="@Model.PessoaId" id="pessoaId" class="editar form-control select2 selectForncedor"></select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="EmpresaId">@L("Empresa")</label>
                                                    <select name="EmpresaId" id="empresaFiltroId" class="editar form-control select2 selectEmpresa"></select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="SituacaoId">@L("Situacao")</label>
                                                    <select name="SituacaoId" id="situacaoId" class="editar form-control select2 selectSituacao"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="AdvacedLancamentosFiltersArea" style="display: none">
                                            <div class="form-body" style="padding:3px;">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="row">
                                                            <div class="col-sm-8">


                                                                <div class="form-group">
                                                                    <label class="control-label">@L("DateRangeEmissao")</label>
                                                                    <input type="text" id="emissao" class="form-control date-range-picker emissao" />
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">@L("Ignorar")</label>
                                                                    <input type="checkbox" id="ignorarEmissao" class="form-control" checked="checked" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Documento")</label>
                                                            <input type="text" id="documento" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="ContaAdministrativaId">@L("ContaAdministrativa")</label>
                                                            <select name="ContaAdministrativaId" id="contaAdministrativaId" class="editar form-control select2 selectContaAdministrativa"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="CentroCustoId">@L("CentroCusto")</label>
                                                            <select name="CentroCustoId" id="centroCustoId" class="editar form-control select2 selectCentroCusto"></select>
                                                        </div>
                                                    </div>

                                                </div>

                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="MeioPagamentoId">@L("MeioPagamento")</label>
                                                        <select name="MeioPagamentoId" id="meioPagamentoFiltroId" class="editar form-control select2 selectMeioPagamento"></select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="TipoDocumentoId">@L("TipoDocumento")</label>
                                                        <select name="TipoDocumentoId" id="tipoDocumentoId" class="editar form-control select2 selectTipoDocumento"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>



            </form>



            <div class="row">
                <div class="col-md-5">
                    <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                </div>
                <div class="col-md-7 text-right">
                    @if (IsGranted(AppPermissions.Pages_Tenant_Financeiro_ContasPagar_Create))
                    {
                        <button id="CreateNewButton" class="btn btn-primary blue novo-lancamento botao-novo">@L("CreateNewContasReceber")</button>
                                                <button id="btnQuitarLancamentos" class="btn  blue botao-atualizar"> @L("QuitarLancamentos")</button>
                    }
                    <button id="refreshLancamentosButton" class="btn blue botao-atualizar"> @L("Refresh")</button>

                </div>
            </div>

        </div>



    </div>
</div>
                    </div>
                </div>
        </div>
        </form>
    </div>
<div id="contasPagarTable"></div>
</div>
</div>
