﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAssistenciais.PrescricoesItens;
}

<div class="portlet light">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_botoes.cshtml", new ModalHeaderViewModel("Cadastro agilizado de produtos"))

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form">
                    <form id="ProdutosDisponiveisFilterForm" class="horizontal-form">
                        <div class="form-body">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Estoque")</label>
                                                            <select id="produtos-disponiveis-estoque-id" class="form-control input-sm select2"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Grupo")</label>
                                                            <select id="produtos-disponiveis-grupo-id" class="form-control input-sm select2"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="ProdutosDisponiveisTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button id="RefreshProdutosDisponiveisListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@L("Divisao")</label>
                            <select id="produtos-disponiveis-divisao-id" class="form-control input-sm select2" required></select>
                        </div>
                    </div>
                </div>
                <div id="ProdutosDisponiveisTable"></div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <form id="ProdutosIncluidosFilterForm" class="horizontal-form">
                        <div class="form-body">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Estoque")</label>
                                                            <select id="produtos-incluidos-estoque-id" class="form-control input-sm select2"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Grupo")</label>
                                                            <select id="produtos-incluidos-grupo-id" class="form-control input-sm select2"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="ProdutosIncluidosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button id="RefreshProdutosIncluidosListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="ProdutosIncluidosTable"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="fechar-item-prescricao" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="salvar-item-prescricao" class="btn blue save-button"><i class="fa fa-save"></i>@L("Save")</button>
</div>
