﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.PrescricoesItens.PrescricaoItemViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAssistenciais.PrescricoesItens;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/PrescricoesItens/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/PrescricoesItens/Index.js")
    @using (Html.InjetarJavascript()) { }
}

<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user-md"></i>
            <span class="caption-subject bold uppercase">@L("PrescricoesItens")</span>
            <span class="caption-helper">@L("CadastroPrescricao")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        <p class="white-space">&nbsp;</p>
        @using (Html.SWDivRetratil("cadastro-agilizado", L("CadastroAgilizado"), false, 12, true, false))
        {
            <div class="row">
                <div class="col-md-4 text-center center-block">
                    <button type="button" name="Produtos" id="produtos" class="btn btn-default"><i class="glyphicon glyphicon-barcode">&nbsp;@L("Produtos")</i></button>
                </div>
                <div class="col-md-4 text-center center-block">
                    <button type="button" name="ExamesLaboratoriais" id="exames-laboratoriais" class="btn btn-default"><i class="fa fa-flask">&nbsp;@L("ExamesLaboratoriais")</i></button>
                </div>
                <div class="col-md-4 text-center center-block">
                    <button type="button" name="ExamesImagem" id="exames-imagem" class="btn btn-default"><i class="fa fa-heartbeat">&nbsp;@L("ExamesImagem")</i></button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="form">
                    <form id="PrescricoesItensFilterForm" class="horizontal-form">
                        <div class="form-body">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="PrescricoesItensTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button id="ExportarPrescricoesItensParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                                        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Assistenciais_Prescricao_PrescricaoItem_Create))
                                                        {
                                                            <button id="CreateNewPrescricaoItemButton" class="btn btn-primary save-button"><i class="fa fa-plus"></i> @L("CreateNewPrescricaoItem")</button>
                                                        }
                                                        <button id="RefreshPrescricoesItensListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="PrescricoesItensTable"></div>
            </div>
        </div>
    </div>
</div>
