﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Financeiros.ContaAdministrativaViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditContaAdministrativa") + ": " + Model.Descricao) : L("CreateNewContaAdministrativa")))

<div class="modal-body">


    <div class="tab-content">
        <div class="tab-pane active" id="contaAdministrativaInformationsTab">
            <form name="contaAdministrativaInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <input type="hidden" name="CentrosCustos" id="centrosCustos" value="@Model.CentrosCustos" />
                <input type="hidden" name="Exibir" id="exibir" value="@Model.Exibir" />
                <input type="hidden" name="Empresas" id="empresas" value="@Model.Empresas" />

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">

                            <label>@L("Codigo")</label>
                            <input type="text" name="Codigo" id="codigo" class="form-control input-sm" value="@Model.Codigo" required>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>@L("Descricao")</label>
                            <input type="text" name="Descricao" id="descricao" class="form-control input-sm" value="@Model.Descricao" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input name="IsNaoContabilizarReceberGerencial" id="isNaoContabilizarReceberGerencial" class="form-control icheck checkbox-inline" type="checkbox" value="true" @Html.Raw(Model.IsNaoContabilizarReceberGerencial ? "checked=\"checked\"" : "") />
                            <label for="IsNaoContabilizarReceberGerencial">@L("NaoContabilizarReceberGerencial")</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input name="IsNaoContabilizarPagarGerencial" id="isNaoContabilizarPagarGerencial" class="form-control icheck checkbox-inline" type="checkbox" value="true" @Html.Raw(Model.IsNaoContabilizarPagarGerencial ? "checked=\"checked\"" : "") />
                            <label for="IsNaoContabilizarPagarGerencial">@L("NaoContabilizarPagarGerencial")</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("SubGrupoContaAdministrativa")</label>
                            <select name="SubGrupoContaAdministrativaId" id="subGrupoContaAdministrativaId" value="@Model.SubGrupoContaAdministrativaId" class="editar form-control select2 selectsubgrupoContaadministrativa " required>
                                <option value="@Model.SubGrupoContaAdministrativaId">@(Model.SubGrupoContaAdministrativa != null ? string.Concat(Model.SubGrupoContaAdministrativa.Codigo, " - ", Model.SubGrupoContaAdministrativa.Descricao) : null) </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@L("RateioPadrao")</label>
                            <select name="RateioCentroCustoId" id="rateioCentroCustoId" value="@Model.RateioCentroCustoId" class="editar form-control select2 selectrateiopadrao ">
                                <option value="@Model.RateioCentroCustoId">@(Model.RateioCentroCusto != null ? string.Concat(Model.RateioCentroCusto.Codigo, " - ", Model.RateioCentroCusto.Descricao) : null) </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <input type="radio" name="options" class="toggle" id="isReceita" value="isReceita" @Html.Raw(Model.IsReceita ? "checked=\"checked\"" : "") />
                            @L("Receita")
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <input type="radio" name="options" class="toggle" id="isDespesa" value="isDespesa" @Html.Raw(Model.IsDespesa ? "checked=\"checked\"" : "") />
                            @L("Despesa")
                        </div>
                    </div>
                </div>



                <form name="RateioItemInformationsForm" id="rateioItemInformationsForm" role="form" novalidate>

                    <div id="dadosInsert" @Html.Raw(Model.Exibir == "true" ? "" : "hidden")>

                        <div class="portlet box blue">

                            <div class="portlet-title">
                                <div class="caption">
                                    @L("CentroCusto")
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <input type="hidden" name="IdGridCentroCusto" id="idGridCentroCusto" />
                                <input type="hidden" name="IdRateioCentroCusto" id="idRateioCentroCusto" />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>@L("CentroCusto")</label>
                                        <select name="CentroCustoId" id="centroCustoId" class="editar form-control select2 selectcentrocusto  " ></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@L("Percentual")</label>
                                        <input type="text" name="Percentual" id="percentual" class="form-control input-sm" >
                                    </div>
                                    <div class="col-sm-1">
                                        <label> </label>
                                        <button name="Inserir" id="inserir" class="btn blue " tabindex="14"><i class="fa fa-check"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>@L("SomaPercentual")</label>
                            <input type="text" name="SomaPercentual" id="somaPercentual" class="form-control input-sm" readonly>
                        </div>
                    </div>
                </div>

                <div id="centroCustoTable"></div>



                <p class="white-space">&nbsp;</p>
                <form name="EmpresaInformationsForm" id="empresaInformationsForm" role="form" novalidate>


                    <div class="portlet box blue">

                        <div class="portlet-title">
                            <div class="caption">
                                @L("Empresa")
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <input type="hidden" name="IdGridEmpresa" id="idGridEmpresa" />
                            <input type="hidden" name="IdEmpresa" id="idEmpresa" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>@L("Empresa")</label>
                                    <select name="EmpresaId" id="empresaId" class="editar form-control select2 selectempresa "></select>
                                </div>

                                <div class="col-sm-1">
                                    <label></label>
                                    <button name="Inserir" id="inserirEmpresa" class="btn blue " tabindex="14"><i class="fa fa-check"></i>  </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <div id="empresaTable"></div>




            </form>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
