﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Financeiros.FormaPagamentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastroFinanceiro.FormaPagamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Financeiros/FormaPagamento/index.min.css")
}
@section Scripts
{
<script src="~/Scripts/jquery.mask.min.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>



    @*@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Feriados/_CriarOuEditarModal.js")*@
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Financeiros/FormaPagamento/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("FormaPagamento")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Financeiro_FormaPagamento_Create))
        {
            <button id="CreateNewFormaPagamentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFormaPagamento")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="formaPagamentoFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFeriados()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="formaPagamentoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetFeriadosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="FormaPagamentoTable"></div>
    </div>
</div>
