﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Setores.SetoresViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.Setor;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Setores/index.min.css")

}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Setores/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Setor")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarSetorsParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_Setor_Create))
            {
            <button id="CreateNewSetorButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("NovoSetor")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="SetorsFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getSetors()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        @*<div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <button id="RefreshSetorsListButton" class="btn btn-default" style="display: block; width: 100%"><span class="fa fa-search"></span> @L("Search")</button>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="input-group">
                                            <input id="SetorsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetSetorsButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="SetorsTable"></div>
    </div>
</div>
