﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ProdutosPortaria.CriarOuEditarProdutoPortariaModalViewModel


<div class="portlet light">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProdutoPortaria") + ": " + Model.Codigo) : L("CreateNewProdutoPortaria")))
    <div class="portlet-body">
        <div class="modal-body container-fluid">
            <form name="ProdutoPortariaInformationsForm" role="form" novalidate class="form-validation">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>@L("Codigo")</label>
                            <input type="text" name="Codigo" id="codigo" class="form-control input-sm" value="@Model.Codigo" required maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>@L("Descricao")</label>
                            <textarea name="Descricao" id="descricao" rows="5" maxlength="254" class="form-control input-sm text-editor">@Model.Descricao</textarea>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")








@*@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ProdutosPortaria.CriarOuEditarProdutoPortariaModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProdutoPortaria") + ": " + Model.Descricao) : L("CreateNewProdutoPortaria")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#ProdutoPortariaInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("ProdutoPortaria")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="ProdutoPortariaInformationsTab">
                <form name="ProdutoPortariaInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Codigo" id="codigo" class="form-control@(Model.Codigo.IsNullOrEmpty() ? "" : " edited")" value="@Model.Codigo">
                                <label>@L("Codigo")</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Descricao" required>
                                <label>@L("Descricao")</label>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@
