﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Equipamentos.EquipamentosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.EquipamentoInterfaceamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Equipamentos/index.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")

<a href="~/Areas/Mpa/Views/Aplicacao/Atendimentos/AtendimentosLeitosMov/_CriarOuEditarModal.cshtml">~/Areas/Mpa/Views/Aplicacao/Atendimentos/AtendimentosLeitosMov/_CriarOuEditarModal.cshtml</a>
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Equipamentos/Index.js")
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Equipamento")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarEquipamentosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_EquipamentoInterfaceamento_Create))
            {
            <button id="CreateNewEquipamentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("NovoEquipamento")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="EquipamentosFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getEquipamentos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                       @*<div class="row">
                                            <@*div class="col-xs-6">
                                                @Html.DropDownListFor(m => m.EstadoId, Model.Estados, L("FiltroEstado"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEstado"), id = "cbo-estados" })
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <button id="RefreshEquipamentosListButton" class="btn btn-default" style="display: block; width: 100%"><span class="fa fa-search"></span> @L("Search")</button>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="input-group">
                                            <input id="EquipamentosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetEquipamentosButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="EquipamentosTable"></div>
    </div>
</div>
