﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.VersoesTiss.VersoesTissViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosDominioTiss.VersaoTiss;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/VersoesTiss/index.min.css")
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/VersoesTiss/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/VersoesTiss/Index.js")
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("VersaoTiss")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarVersoesTissParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_DominioTiss_VersoesTiss_Create))
        {
            <button id="CreateNewVersaoTissButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewVersaoTiss")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        <div class="form">
            <form id="VersoesTissFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getVersoesTiss()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                       <div class="input-group">
                                          <input id="VersoesTissTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                          <span class="input-group-btn">
                                            <button id="GetVersoesTissButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                          </span>
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="VersoesTissTable"></div>
    </div>
</div>
