﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.PreAtendimentos.PreAtendimentosViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Atendimentos.PreAtendimento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Atendimentos/PreAtendimentos/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/PreAtendimentos/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Atendimentos/PreAtendimentos/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("PreAtendimento")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right botoes">
        <button id="ExportarPreAtendimentosParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Atendimento_PreAtendimentos_Create))
        {
            <button id="CreateNewPreAtendimentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPreAtendimento")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PreAtendimentosFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getPreAtendimentos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    @*<form>*@
                                        <div class="input-group">
                                            <input id="PreAtendimentosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetPreAtendimentosButton" class="btn default"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
            </form>
            
        </div>
        <div id="PreAtendimentosTable"></div>
    </div>
</div>

