﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Feriados.CriarOuEditarFeriadoModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFeriado") + ": " + Model.Descricao) : L("CreateNewFeriado")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#FeriadoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Feriado")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="FeriadoInformationsTab">
                <form name="FeriadoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>@L("DiaMesAno")</label>
                                <input class="form-control input-sm" type="text" id="dia-mes-ano" name="DiaMesAno">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@L("Descricao")</label>
                                    <input type="text" name="Descricao" class="form-control input-sm" value="@Model.Descricao" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
