﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@*remover isso*@
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.PreMovimentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.BaixaConsignado;
}

@section Styles
{
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")

    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/BaixaConsignados/index.min.css")

}
@section Scripts
{
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")

    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/BaixaConsignados/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("BaixaConsignado")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">

        @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_Entrada_Create))
            {
            <button id="CreateNewBaixaValeButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewBaixaConsignado")</button>
        }


        <button id="RefreshAtendimentosButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PreMovimentoFilterForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>

                                       
                                        <div class="input-group">
                                            <div class="row">


                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label">@L("DateRangeEmissao")</label>
                                                        <input type="text" class="form-control date-range-picker" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group  ">
                                                        <label for="Fornecedor-Id">@L("Fornecedor")</label>
                                                        <select name="FornecedorId" value="@Model.FornecedorId" id="fornecedorId" required class="editar form-control select2 selectForncedor">
                                                            <option value="@Model.FornecedorId"> @(Model.Fornecedor != null ? Model.Fornecedor.Descricao : "") </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xs-4">
                                                    <label>@L("Filtro")</label>
                                                    <input id="BaixaTableFilter" name="Filtro" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div id="MovimentoTable"></div>
    </div>
</div>
