﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ProdutosCodigosMedicamento.ProdutosCodigoMedicamentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosSuprimentos.ProdutoCodigoMedicamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosCodigosMedicamento/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosCodigosMedicamento/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ProdutosCodigosMedicamento/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ProdutoCodigoMedicamento")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarProdutosCodigosMedicamentoParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosSuprimentos_ProdutosCodigoMedicamento_Create))
            {
            <button id="CreateNewProdutoCodigoMedicamentoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProdutoCodigoMedicamento")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ProdutosCodigosMedicamentoFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getProdutosCodigosMedicamento()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ProdutosCodigosMedicamentoTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetProdutosCodigosMedicamentoButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ProdutosCodigosMedicamentoTable"></div>
    </div>
</div>
