﻿@using Abp.Application.Services.Dto
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Cep.CepsViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosGlobais.Cep;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Ceps/index.min.css")

    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Ceps/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Ceps/Index.js")

    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")

}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Cep")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarCepsParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_Cep_Create))
            {
            <button id="CreateNewCepButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCep")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="CepsFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getCeps()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                @Html.DropDownListFor(m => m.EstadoId, Model.Estados, L("FiltroEstado"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEstado"), id = "cbo-estados" })
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <button id="RefreshCepsListButton" class="btn btn-default" style="display: block; width: 100%"><span class="fa fa-search"></span> @L("Search")</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <input id="CepsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetCepsButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="CepsTable"></div>
    </div>
</div>
