﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.AtestadosMedicos.AtestadoMedicoViewModel

@{
    Layout = "~/Areas/Mpa/Views/Aplicacao/Assistenciais/Home/Layout/_Layout.cshtml";

    ViewBag.CurrentPageName = PageNames.App.Assistenciais.AtestadoMedico;

    //capturando o paciente

    var paciente = TempData.Peek("Paciente") as SW10.SWMANAGER.ClassesAplicacao.Services.Cadastros.Pacientes.Dto.PacienteDto;

}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Assistenciais/AtestadosMedicos/index.min.css")
    <link href="~/libs/linecontrol-editor/editor.css" rel="stylesheet" />
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Assistenciais/AtestadosMedicos/Index.js")
    <script src="~/libs/linecontrol-editor/editor.js"></script>
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
}

@*<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("AtestadoMedico")</span>
                </h1>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-sm-9">
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <textarea class="text-editor" name="AtestadoContainer" id="atestado-container"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div class="accordion">
                            <h3>@L("Template")</h3>
                            <div>
                                @foreach (var item in Model.Templates)
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input name="Template" id="@item.Id" class="md-check" type="checkbox" value="true" />
                                                    <label for="@item.Id">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @item.Name.Replace("Atestado Médico","")@*@L("IsAgendaConsulta")*@
                                                    </label>
                                                </div>
                                            </div>
                                            @*<input type="radio" class="form-control radio" name="Template" id="@item.Id" value="@item.Id" /><label for="@item.Id">@item.Name.Replace("Atestado Médico", "")</label>*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="form">
        <form id="AtestadosMedicosFilterForm" class="horizontal-form">
            <div class="form-body" enter-key="vm.getAtestadosMedicos()">
                <div class="row margin-bottom-10">
                    <div class="col-md-12">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input id="AtestadosMedicosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                        <span class="input-group-btn">
                                            <button id="GetAtestadosMedicosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="AtestadosMedicosTable"></div>*@
