﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.GrausInstrucoes.CriarOuEditarGrauInstrucaoModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditGrauInstrucao") + ": " + Model.Descricao) : L("CreateNewGrauInstrucao")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#GrauInstrucaoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("GrauInstrucao")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="GrauInstrucaoInformationsTab">
                <form name="GrauInstrucaoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>@L("Codigo")</label>
                                <input name="Codigo" class="form-control input-sm" type="text" value="@Model.Codigo">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control@(Model.DiaMesAno.ToString().IsNullOrEmpty() ? "" : " edited")" value="@(Model.DiaMesAno.ToString("dd/MM/yyyy").Equals("01/01/0001")?DateTime.Now.ToShortDateString():Model.DiaMesAno.ToShortDateString())" type="text" id="dia-mes-ano" name="DiaMesAno">
                                    <label>@L("DiaMesAno")</label>
                                </div>*@
                            <div class="form-group">
                                <label>@L("Descricao")</label>
                                <input type="text" name="Descricao" class="form-control input-sm" value="@Model.Descricao" required>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
