﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Authorization



@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoModalViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.Entrada;
}


@section Styles
{
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />


    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")


}




@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>


    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>





    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>

    <script src="~/Scripts/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>



    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/_CriarOuEditarPreMovimentoItemModal.js")
}
@if (Model != null)
{

    <div class="portlet light">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Botoes.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEntrada") + ": " + Model.Documento) : L("CreateNewEntrada")))

        <div class="portlet-body">

            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                <input type="hidden" name="PreMovimentoEstadoId" id="PreMovimentoEstadoId" value="@Model.PreMovimentoEstadoId" />
                <input type="hidden" name="NFeItens" id="NFeItens" value=@Model.NFeItens />
                <input type="hidden" name="LancamentosJson" id="lancamentosJson"  value="@Model.LancamentosJson" />

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EstTipoMovimentoId">@L("TipoMovimento")</label>
                            <select name="EstTipoMovimentoId" value="@Model.EstTipoMovimentoId" id="EstTipoMovimentoId" class="editar form-control select2 selectTipoMovimento">
                                <option value="@Model.EstTipoMovimentoId">@(Model.TipoMovimento != null ? string.Concat(Model.TipoMovimento.Codigo, " - ", Model.TipoMovimento.Descricao) : null) </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="EmpresaId">@L("Empresa")</label>
                            @*<input type="search" name="EmpresaSearch" id="empresa-search" class="form-control input-sm" value="@(Model.EmpresaId > 0 ? Model.Empresa.NomeFantasia : string.Empty)" />*@
                            @*@Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, L("SelecioneLista"), new { required = "required", @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@


                            <select name="EmpresaId" value="@Model.EmpresaId" id="EmpresaId" class="editar form-control select2 selectEmpresa" required>
                                <option value="@Model.EmpresaId">@(Model.Empresa != null ? string.Concat(Model.Empresa.Codigo, " - ", Model.Empresa.NomeFantasia) : null) </option>
                            </select>


                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="EstoqueID">@L("Estoque")</label>
                            <select name="EstoqueId" value="@Model.EstoqueId" id="EstoqueId" class="editar form-control select2 selectEstoque" required>
                                <option value="@Model.EstoqueId">@(Model.Estoque != null ? string.Concat(Model.Estoque.Codigo, " - ", Model.Estoque.Descricao) : "") </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="OrdemId">@L("OrdemCompra")</label>
                            <select name="OrdemId" value="@Model.Ordens" id="OrdemId" class="editar form-control select2 selectOrdemCompra"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group  ">
                            <label for="Fornecedor-Id">@L("Fornecedor")</label>
                            <select name="FornecedorId" value="@Model.FornecedorId" id="FornecedorId" required class="editar form-control select2 selectForncedor">
                                <option value="@Model.FornecedorId"> @(Model.Fornecedor != null ? Model.Fornecedor.Descricao : "") </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label>@L("Documento")</label>
                            <input name="Documento" id="DocumentoId" required class="form-control input-sm" type="text" value="@Model.Documento">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>@L("Serie")</label>
                            <input name="Serie" id="SerieId" class="form-control input-sm" type="text" value="@Model.Serie">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEmissao")</label>
                            <input name="Emissao" id="Emissao" class="form-control input-sm" type="text" value="@(Model.IsEditMode? Model.Emissao.ToShortDateString(): DateTime.Now.ToShortDateString())">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("DataEntrada")</label>
                            <input name="Movimento" id="movimento" class="form-control input-sm" type="text" value="@(Model.IsEditMode? Model.Movimento.ToShortDateString() : DateTime.Now.ToShortDateString())">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="CentroCustoId">@L("CentroCusto")</label>
                            <select name="CentroCustoId" value="@Model.CentroCustoId" id="CentroCustoId" class="editar form-control select2 selectCentroCusto">
                                <option value="@Model.CentroCustoId">@(Model.CentroCusto != null ? string.Concat(Model.CentroCusto.Codigo, " - ", Model.CentroCusto.Descricao) : "") </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="CFOPId">@L("CFOP")</label>
                            @*@Html.DropDownListFor(m => m.CFOPId, Model.CFOPs, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                            <select name="CFOPId" value="@Model.CFOPId" id="CFOPId" class="editar form-control select2 selectCFOP">
                                <option value="@Model.CFOPId">@(Model.CFOP != null ? string.Concat(Model.CFOP.Numero, " - ", Model.CFOP.Descricao) : "Informe um CFOP") </option>
                            </select>
                        </div>
                    </div>


                </div>



                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorICMS")</label>
                            <input name="ValorICMS" id="valorICMS" class="form-control  input-sm text-right" type="text" value="@(Model.ValorICMS.ToString()) ">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label for="TotalProduto">@L("TotalProduto")</label>
                            <input type="text" name="TotalProduto" id="totalProdutoId" class="form-control input-sm text-right" value="@(Model.TotalProduto.ToString())">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorDesconto")</label>
                            <input name="DescontoPer" id="descontoPer" class="form-control  input-sm text-right" type="text" value="@(Model.DescontoPer.ToString()) ">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorAcrescimo")</label>
                            <input name="AcrescimoDecrescimo" id="ValorAcrescimo" class="form-control input-sm text-right" type="text" value="@(Model.AcrescimoDecrescimo.ToString()) ">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="totalDocumento">@L("TotalDocumento")</label>
                            <input type="text" name="TotalDocumento" id="totalDocumento" class="form-control input-sm text-right maskNumber" value="@(Model.TotalDocumento.ToString())">

                        </div>
                    </div>
                </div>




                @*<div class="row">



                        <div class="col-sm-2">
                            <div class="form-group ">
                                <label>@L("DescontoPer")</label>
                                <input name="DescontoPer" id="DescontoPer" class="form-control input-sm text-right" type="text" value="@(Model.DescontoPer.ToString()) ">
                            </div>
                        </div>



                    </div>


                    <div class="row">

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>@L("ICMSPer")</label>
                                <input name="ICMSPer" id="ICMSPer" class="form-control  input-sm text-right" type="text" value="@(Model.ICMSPer.ToString()) ">

                            </div>
                        </div>


                    </div>*@







                <div class="row">

                    <div class="col-sm-3">
                        <label for="TipoFreteId">@L("TipoFrete")</label>
                        <div class="form-group ">
                            @*@Html.DropDownListFor(m => m.TipoFreteId, Model.TipoFretes, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@

                            <select name="TipoFreteId" value="@Model.TipoFreteId" id="TipoFreteId" class="editar form-control select2 selectTipoFrete">
                                <option value="@Model.TipoFreteId">@(Model.TipoFrete != null ? string.Concat(Model.TipoFrete.Codigo, " - ", Model.TipoFrete.Descricao) : "") </option>
                            </select>


                        </div>
                    </div>

                    @*<div class="col-sm-2">
                            <div class="form-group">
                                <label for="frete">@L("Frete")</label>
                                <input type="text" name="Frete" id="frete" class="form-control input-sm text-right" value="@(Model.Frete.ToString())">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>@L("DescontoFretePer")</label>
                                <input name="FretePer" id="FretePer" class="form-control input-sm text-right" type="text" value="@(Model.FretePer.ToString()) ">

                            </div>
                        </div>*@

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>@L("ValorFrete")</label>
                            <input name="ValorFrete" id="ValorFrete" class="form-control input-sm text-right" type="text" value="@(Model.ValorFrete.ToString()) ">

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group ">
                            <label for="Frete_FornecedorId">@L("Transportadora")</label>
                            @*@Html.DropDownListFor(m => m.Frete_FornecedorId, Model.Fornecedores, L("SelecioneLista"), new { @class = "form-control edited selectpicker", data_live_search = "true", data_none_selected_text = L("SelecioneLista") })*@
                            <select name="Frete_FornecedorId" value="@Model.Frete_FornecedorId" id="Frete_FornecedorId" class="editar form-control select2 selectForncedor">
                                <option value="@Model.Frete_FornecedorId">@(Model.Frete_Fornecedor != null ? Model.Frete_Fornecedor.Descricao : "") </option>
                                <option value=""> </option>
                            </select>
                        </div>
                    </div>
                </div>
                @*<p class="white-space">&nbsp;</p>*@

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input name="Contabiliza" id="Contabiliza" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.Contabiliza ? "checked=\"checked\"" : "") />&nbsp;
                            <label for="Contabiliza">@L("Contabiliza")</label>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                            <div class="md-checkbox" style="position:relative; top:25px">
                                <input name="Consiginado" id="Consiginado" class="md-check" type="checkbox" value="true" @Html.Raw(Model.Consiginado ? "checked=\" checked\"" : "") />
                                <label for="Consiginado">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("Consignado")
                                </label>
                            </div>
                        </div>*@
                    <div class="col-md-2">
                        @*<div class="col-md-2">*@
                        <div class="form-group">
                            <div class="form-group">
                                <input name="AplicacaoDireta" id="AplicacaoDiretaId" type="checkbox" class="form-control icheck checkbox-inline chk-montagem-tela" value="true" @Html.Raw(Model.AplicacaoDireta ? "checked=\"checked\"" : "") />&nbsp;
                                <label for="AplicacaoDiretaId">@L("AplicacaoDireta")</label>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="col-sm-4">
                        <label for="NumeroNotaFiscal">@L("NumeroNotaFiscal")</label>
                        <input type="text" name="NumeroNotaFiscal" id="NumeroNotaFiscal" class="form-control input-sm text-right">
                    </div>

                    <div class="col-sm-1">
                        <label for="NumeroNotaFiscal"> </label>
                        <button name="BtnBuscarNotas" id="btn-buscarNotas" class="btn btn-primary"><i class="fa fa-cloud-download"></i> @L("BuscarNota")</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group " id="divPaciente" @Html.Raw(!Model.AplicacaoDireta ? "hidden=\" hidden\"" : "")>
                            <label for="PacienteId">@L("Paciente")</label>
                            <select name="PacienteId" value="@Model.PacienteId" id="pacienteId"  class="editar form-control select2 selectPaciente">
                                <option value="@Model.PacienteId"> @(Model.Paciente != null ? Model.Paciente.NomeCompleto : "") </option>
                            </select>

                        </div>
                    </div>

                </div>

                <p class="white-space">&nbsp;</p>

                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <ul class="nav nav-tabs">

                            @if (Model.PossuiItensConsignados)
                            {
                                <li class="active">
                                    <a href="#tabItensConsignados" data-toggle="tab" aria-expanded="true">@L("ItensConsignados") </a>
                                </li>
                            }

                            @if (!Model.PossuiItensConsignados)
                            {
                                <li class="active">
                                    <a href="#tabProduto" data-toggle="tab" aria-expanded="true">@L("Produto")</a>
                                </li>
                            }

                            @if (Model.PossuiVales)
                            {
                                <li>
                                    <a href="#tabVales" data-toggle="tab" aria-expanded="true">@L("Vales") </a>
                                </li>
                            }

                            @if (Model.PossuiNota)
                            {
                                <li>
                                    <a href="#tabNota" data-toggle="tab" aria-expanded="true">@L("Nota") </a>
                                </li>
                            }

                            <li>
                                <a href="#tabFinanceiro" data-toggle="tab" aria-expanded="true">@L("Financeiro") </a>
                            </li>

                        </ul>

                        <div class="tab-content clearfix">


                            @if (Model.PossuiItensConsignados)
                            {
                                <div class="tab-pane fade in active" id="tabItensConsignados">
                                    <div id="itensConsignadosTable"></div>
                                </div>
                            }


                            @if (!Model.PossuiItensConsignados)
                            {
                                <div class="tab-pane fade in active" id="tabProduto">

                                    <p class="white-space">&nbsp;</p>
                                    <div id="exTab3" @Html.Raw(Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : "")>
                                        <button id="btn-novo-PreMovimentoItem" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Item")</button>
                                    </div>
                                    <div id="EstoquePreMovimentoItemTable"></div>
                                </div>
                            }
                            @if (Model.PossuiVales)
                            {
                                <div class="tab-pane" id="tabVales">
                                    <div id="valesTable"></div>
                                </div>
                            }


                            @if (Model.PossuiNota)
                            {
                                <div class="tab-pane" id="tabNota">
                                    <div id="notaTable"></div>
                                </div>
                            }





                            <div class="tab-pane" id="tabFinanceiro">


                                <p class="white-space">&nbsp;</p>
                                <div class="portlet box blue">

                                    <div class="portlet-title">
                                        <div class="caption">
                                            @L("LancamentoSimples")
                                        </div>


                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        </div>


                                    </div>
                                    <div class="portlet-body">


                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>@L("ParcelaInicial")</label>
                                                    <input name="ParcelaInicial" id="parcelaInicial" class="form-control input-sm " type="number" value="1">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>@L("QuantidadeParcelas")</label>
                                                    <input name="QuantidadeParcelas" id="quantidadeParcelas" class="form-control input-sm " type="number" value="1">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>@L("DataPrimeiraParcela")</label>
                                                    <input name="DataPrimeiraParcela" id="dataPrimeiraParcela" class="form-control input-sm" type="text">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>@L("MesCompetencia")</label>
                                                    <input name="MesCompetenciaParcelas" id="mesCompetenciaParcelas" class="form-control input-sm minhaData" type="number" max="12" maxlength="2">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>@L("AnoCompetencia")</label>
                                                    <input name="AnoCompetenciaParcelas" id="anoCompetenciaParcelas" class="form-control input-sm minhaData" type="number" maxlength="4">
                                                </div>
                                            </div>

                                            <div class="col-sm-1">
                                                <div class="form-group  ">
                                                    <label></label>
                                                    <button id="gerarParcelas" class="btn blue " tabindex="14">@L("GerarParcelas")</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <p class="white-space">&nbsp;</p>




                                <div class="tab-content clearfix">

                                    <div class="tab-pane fade in active" id="tabParcelas">
                                        <subform name="LancamentoInformationsForm" role="form" id="lancamentoInformationsForm">

                                            <div class="portlet box blue">

                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        @L("Parcela")
                                                    </div>

                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                                    </div>

                                                    <div class="tools">
                                                        <span><i class="limpar fa fa-eraser"></i></span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body ">

                                                    <input type="hidden" name="IdGridLancamento" id="idGridLancamento" />
                                                    <input type="hidden" name="CorLancamentoFundo" id="corLancamentoFundo" />
                                                    <input type="hidden" name="CorLancamentoLetra" id="corLancamentoLetra" />
                                                    <input type="hidden" name="LancamentoId" id="lancamentoId" />

                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label for="Valor">@L("Valor")</label>
                                                            <input name="Valor" id="valor" class="form-control input-sm calcularTotal" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="Juros">@L("Juros")</label>
                                                            <input name="Juros" id="juros" class="form-control input-sm calcularTotal" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="Multa">@L("Multa")</label>
                                                            <input name="Multa" id="multa" class="form-control input-sm calcularTotal" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="AcrescimoDescrecimo">@L("Acrescimo")</label>
                                                            <input name="AcrescimoDescrecimo" id="acrescimoDecrescimo" class="form-control input-sm calcularTotal" type="text">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="Total">@L("Total")</label>
                                                            <input name="Total" id="total"  class="form-control input-sm" type="text" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-1">
                                                            <div class="form-group">
                                                                <label>@L("Parcela")</label>
                                                                <input name="Parcela" id="parcela" class="form-control input-sm require " type="text" value="1">
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label>@L("NossoNumero")</label>
                                                                <input name="NossoNumero" id="nossoNumero" class="form-control input-sm require " type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>@L("CodigoBarras")</label>
                                                                <input name="CodigoBarras" id="codigoBarras" class="form-control input-sm require" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>@L("LinhaDigitavel")</label>
                                                                <input name="LinhaDigitavel" id="linhaDigitavel" class="form-control input-sm " type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>@L("Emissao")</label>
                                                                <input name="DataCadastro" id="dataCadastro" class="form-control input-sm " type="text" value="@(DateTime.Now.ToShortDateString())">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>@L("Vencimento")</label>
                                                                <input name="DataVencimento" id="dataVencimento" class="form-control input-sm " type="text">
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>@L("MesCompetencia")</label>
                                                                <input name="Mes" id="mes" class="form-control input-sm minhaData" type="number" max="12" maxlength="2">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>@L("AnoCompetencia")</label>
                                                                <input name="Ano" id="ano" class="form-control input-sm minhaData" type="number" maxlength="4">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group  ">
                                                                <label for="SituacaoLancamentoId">@L("Situacao")</label>
                                                                <input name="SituacaoDescricao" id="situacaoDescricao" class="form-control input-sm calcularTotal" type="text" value="01 - Aberto" readonly>
                                                                <input type="hidden" name="SituacaoId" id="situacaoId" value="0" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <div class="form-group  ">
                                                                <label></label>
                                                                @*<button name="Inserir" id="inserir" class="btn btn-primary blue "   style="position:relative; top:19px;" tabindex="14"><i class="fa fa-plus"></i> </button>*@

                                                                <span class="btn green" id="inserir" style="top:20px;"><i class="fa fa-plus"></i></span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                          

                                        </subform>
                                        <div id="lancamentosTable"></div>





                                    </div>








                                </div>

                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-1">

                        @*<div id="divConfirmarEntrada" @Html.Raw(((!Model.PermiteConfirmacaoEntrada || Model.PreMovimentoEstadoId == 2)) ? "hidden=\" hidden\"" : "")>
                                @if (IsGranted(AppPermissions.Pages_Tenant_Suprimentos_Estoque_PreMovimento_ConfirmarEntrada))
                                {
                                    <button id="ConfirmarEntradaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("ConfirmarEntrada")</button>
                                }
                            </div>*@

                        <button type="button" id="btnLoteValidade" class="btn blue botao-padrao-footer">
                            <i class="fa fa-print"></i>LoteValidade
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="btnImprimir" class="btn  blue botao-padrao-footer"><i class="fa fa-print"></i>Imprimir</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn default close-button">@L("Cancel")</button>
                    </div>
                    <div class="col-sm-3">
                        <div @Html.Raw((Model.PreMovimentoEstadoId == 2 ? "hidden=\" hidden\"" : ""))>
                            <button type="button" id="salvar-PreMovimento" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
