﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.InfornacaoLoteValidadeTodosModel


@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.PreMovimentoItem;
}


@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/index.min.css")


    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
}


@section Scripts
{
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")
}



<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(""))

        <div class="modal-body container-fluid">

            <form name="hiddenForm" novalidate class="form-validation">
                <div>
                    @*<input id="fornecedorId" name="fornecedorId" value="@Model.FornecedorId" hidden />
                        <input id="CNPJNota" name="CNPJNota" value="@Model.CNPJNota" hidden />*@
                </div>
            </form>

            <div class="accordion">
                @foreach (var item in Model.InformacoesLoteValidade)
                {
                    <h3>@item.DescricaoProduto</h3>
                    <div>
                        <form name="importacaoProdutosForm" id="@item.Index" novalidate class="form-validation">
                            <input name="ProdutoId" value="@item.ProdutoId" id="ProdutoId_@item.Index" hidden />
                            <input name="EstoquePreMovimentoLoteValidadeId" value="@item.EstoquePreMovimentoLoteValidadeId" id="estoquePreMovimentoLoteValidadeId_@item.Index" hidden />
                            <input name="PreMovimentoItemId" value="@item.PreMovimentoItemId" id="PreMovimentoItemId_@item.Index" hidden />
                            <input name="Quantidade" value="@item.Quantidade.ToString()" id="Quantidade@item.Index" hidden />

                            @if (!string.IsNullOrEmpty(item.DescricaoProdutoNota))
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group  ">
                                            <label>@L("Produto")</label>
                                            <input name="DescricaoProdutoNota" id="descricaoProdutoNota" class="form-control input-sm" type="text" value="@(item.DescricaoProdutoNota)" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                @*<div class="col-sm-6">
                                        <div class="form-group  ">
                                            <label>@L("Laboratorio")</label>
                                            <input name="LaboratorioId" id="laboratorioId_@item.Index" class="form-control input-sm select2 selectLaboratorio" type="text" value="@(item.LaboratorioId)">
                                        </div>
                                    </div>*@


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="LaboratorioId">@L("Laboratorio")</label>
                                        <select name="LaboratorioId" value="@item.LaboratorioId" id="LaboratorioId_@item.Index" class="editar form-control select2 selectLaboratorio">
                                            <option value="@item.LaboratorioId">@(item.Laboratorio != null ? string.Concat(item.Laboratorio.Codigo, " - ", item.Laboratorio.Descricao) : "") </option>
                                        </select>

                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group  ">
                                        <label>@L("Lote")</label>
                                        <input name="Lote" id="loteId_@item.Index" class="form-control input-sm" type="text" value="@(item.Lote)">
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group  ">
                                        <label>@L("Validade2")</label>
                                        <input name="Validade" id="ValidadeId_@item.Index" class="form-control input-sm  date-single-picker" type="text" value="@((item.Validade != null)?  ((DateTime)item.Validade).ToShortDateString() : String.Empty)">
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                   
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="salvar" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                <button type="button" class="btn default close-button" data-dismiss="modal">@L("Close")</button>
            </div>

            @*</form>*@
        </div>
    </div>
</div>



<script type="text/javascript">





    (function ($) {
        $(function () {
            app.modals.ImportacaoProdutosViewModel = function () {

                var _modalManager;

                this.init = function (modalManager) {
                    _modalManager = modalManager;
                }
                
                var _ErrorModal = new app.ModalManager({
                    viewUrl: abp.appPath + 'Mpa/Erros/ExibirErros',
                });

                var _estoquePreMovimentoLoteValidadeService = abp.services.app.estoquePreMovimentoLoteValidade;



                $('.accordion').accordion({
                    active: false,
                    heightStyle: 'content',
                    collapsible: true,
                    //activate: function (event, ui) {
                    //    if (ui.newHeader[0]) {
                    //        localStorage["DivisaoId"] = $('#' + ui.newHeader[0].id).attr('data-divisao-id');
                    //        lerDivisao(localStorage["DivisaoId"]);
                    //    }
                    //}
                });

                $('#salvar').click(function (e) {
                    e.preventDefault();

                   

                    var _$masterForm = $('form[name=importacaoProdutosForm');

                    if (!_$masterForm.valid()) {
                        return;
                    }


                    lista = [];

                    for (var i = 0; i < _$masterForm.length ; i++) {
                        var form = $('form[id=' + i + ']');
                        var serial = form.serializeFormToObject();
                        serial.Quantidade = serial.Quantidade.replace(',', '.');
                        lista.push(serial);

                    }

                    var _$hiddenForm = $('form[name=hiddenForm');

                    var hiddenForm = _$hiddenForm.serializeFormToObject();


                    //var _importacaoProdutosForm = _$importacaoProdutosForm.serializeFormToObject();

                    _estoquePreMovimentoLoteValidadeService.atualizarLotesValidades(lista)
                          .done(function (data) {

                              if (data.errors.length > 0) {
                                  _ErrorModal.open({ erros: data.errors });
                              }
                              else {
                                  abp.notify.info(app.localize('SavedSuccessfully'));
                                  _modalManager.close();

                              }
                          })
                          .always(function () {
                          })

                });

               // $('input[name="Validade"]').daterangepicker({

               //     "singleDatePicker": true,
               //     "showDropdowns": true,
               //     autoUpdateInput: false,
               //     minDate: new Date(),
               //     changeYear: true,
               //     yearRange: 'c-10:c+10',
               //     showOn: "both",
               //     "locale": {
               //         "format": moment.locale().toUpperCase() === 'PT-BR' ? "DD/MM/YYYY" : moment.locale().toUpperCase() === 'US' ? "MM/DD/YYYY" : "YYYY-MM-DD",
               //         "separator": " - ",
               //         "applyLabel": "Apply",
               //         "cancelLabel": "Cancel",
               //         "fromLabel": "From",
               //         "toLabel": "To",
               //         "customRangeLabel": "Custom",
               //         "daysOfWeek": [
               //             app.localize('Dom'),
               //             app.localize('Seg'),
               //             app.localize('Ter'),
               //             app.localize('Qua'),
               //             app.localize('Qui'),
               //             app.localize('Sex'),
               //             app.localize('Sab')
               //         ],
               //         "monthNames": [
               //             app.localize("Jan"),
               //             app.localize("Fev"),
               //             app.localize("Mar"),
               //             app.localize("Abr"),
               //             app.localize("Mai"),
               //             app.localize("Jun"),
               //             app.localize("Jul"),
               //             app.localize("Ago"),
               //             app.localize("Set"),
               //             app.localize("Out"),
               //             app.localize("Nov"),
               //             app.localize("Dez"),
               //         ],
               //         "firstDay": 0,

               //         onClose: function (dateText, inst) {
               //             var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
               //             var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
               //             $(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
               //         }

               //     }
               // },

               //function (selDate) {
               //    $('input[name="Validade"]').val(selDate.format('L')).addClass('form-control edited');
               //    // obterIdade(selDate);
               //});



                //$('.validade').onload(function (e) {
                //    alert('asdfasfd');
                //});


            };

            selectSW('.selectLaboratorio', "/api/services/app/produtoLaboratorio/ListarDropdown");

            aplicarDateSingle();
          
        });

    })(jQuery);
</script>