﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Movimentos.CriarOuEditarPreMovimentoItemModalViewModel


@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosEstoque.PreMovimentoItem;
}


@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/index.min.css")

    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
    <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
    <script src="~/libs/jquery-te/jquery-te-1.4.0.min.js"></script>
}


<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Lote/Validades por Produto"))

        <div class="modal-body container-fluid">
            <form name="preMovimentoInformationsForm" role="form" novalidate class="form-validation">

                <input type="hidden" name="PreMovimentoId" id="PreMovimentoId" value="@Model.PreMovimentoId" />


                <div id="LoteValidadeTable"></div>
                <div class="modal-footer">
                    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Close")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('.modal-dialog').css('width', '800px');

        //var _createOrEditLoteValidadeModal = new app.ModalManager({
        //    viewUrl: abp.appPath + 'Mpa/PreMovimentos/CriarOuEditarLoteValidadeModal',
        //    scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/_CriarOuEditarLoteValidadeModal.js',
        //    modalClass: 'CriarOuEditarEstoquePreMovimentoLoteValidadeDtoModalViewModel'
        //});


        var _createOrEditLoteValidadeProdutoModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/PreMovimentos/InformarLoteValidadeProdutoModal',
            //   scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Suprimentos/Estoques/PreMovimentos/_InformarLoteValidadeProduto.js',
            modalClass: 'EstoquePreMovimentoLoteValidadeProdutoViewModel'
        });



        var _loteValidadeService = abp.services.app.estoquePreMovimentoItem;

        $(LoteValidadeTable).jtable({

            title: app.localize('LoteValidade'),
            paging: true,
            sorting: true,
            edit: false,
            create: false,
            multiSorting: true,


            actions: {
                listAction: {
                    method: _loteValidadeService.listarPorMovimentacaoLoteValidade
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },

                actions: {
                    title: app.localize('Actions'),
                    width: '8%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');


                        $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                            .appendTo($span)
                            .click(function (e) {
                                e.preventDefault();
                                                         
                                _createOrEditLoteValidadeProdutoModal.open({ preMovimentoItemId: data.record.id, produtoId: data.record.produto.id });
                            });


                        return $span;
                    }
                },

                ProdutoId: {
                    type: 'hidden',
                    defaultValue: function (data) {
                        if (data.record.produto) {
                            return data.record.produto.id;
                        }
                    }
                },
                Produto: {
                    title: app.localize('Produto'),
                    width: '40%',
                    display: function (data) {
                        if (data.record.produto) {
                            return data.record.produto.descricao;
                        }
                    }
                },
                Quantidade: {
                    title: app.localize('Quantidade'),
                    width: '20%',
                    display: function (data) {
                        if (data.record.quantidade) {
                            return posicionarDireita(data.record.quantidade.toFixed(2)); //posicionarDireita(number_format(data.record.quantidade, 2, ',', '.'));
                        }
                    }
                },

                QuantidadeInformada: {
                    title: app.localize('QuantidadeInformada'),
                    width: '20%',
                    display: function (data) {
                        if (data.record.quantidade) {
                            return posicionarDireita(data.record.quantidadeAtendida.toFixed(2)); //posicionarDireita(number_format(data.record.quantidade, 2, ',', '.'));
                        }
                    }
                },

                QuantidadeRestante: {
                    title: app.localize('QuantidadeRestante'),
                    width: '20%',
                    display: function (data) {
                        if (data.record.quantidade) {
                            return posicionarDireita((data.record.quantidade - data.record.quantidadeAtendida).toFixed(2)); //posicionarDireita(number_format(data.record.quantidade, 2, ',', '.'));
                        }
                    }
                },

            }

        });



        function getLoteValidadeTable(reload) {
            if (reload) {
                $(LoteValidadeTable).jtable('reload');
            } else {
                $(LoteValidadeTable).jtable('load', { filtro: $('#PreMovimentoId').val() });
            }
        }

        getLoteValidadeTable();


        abp.event.on('app.app.preMovimentoLoteValidadeModalSaved', function () {
            getLoteValidadeTable();
        });



    })


</script>