﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Extensions

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Fornecedores.CriarOuEditarFornecedorModalViewModel

<div class="portlet light">

    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFornecedor") + ": " + (Model.SisPessoa.TipoPessoaId.Equals("F") ? Model.SisPessoa.NomeCompleto : Model.SisPessoa.NomeFantasia)) : L("CreateNewFornecedor")))
    <div class="portlet-body">
        <form name="FornecedorForm" role="form" novalidate class="form-validation" id="form-fornecedor">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
            }

            <input type="hidden" name="Id" id="id" value="@Model.Id" />
            <input type="hidden" name="SisPessoaId" id="sisPessoaId" value="@Model.SisPessoaId" />
            <input type="hidden" name="Enderecos" id="enderecos" value="@Model.Enderecos" />



            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="FisicaJuridica">@L("TipoPesssoa")</label>
                        <select name="FisicaJuridica" @*class="center-block"*@ id="tipo-pessoa-id" value="@Model.SisPessoa.FisicaJuridica">
                            <option value="0">Tipo de Pessoa</option>
                            <option value="F" @Html.Raw(@Model.SisPessoa.FisicaJuridica == "F" ? "selected" : "")>Física</option>
                            <option value="J" @Html.Raw(@Model.SisPessoa.FisicaJuridica == "J" ? "selected" : "")>Jurídica </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2" id="divCPF" @Html.Raw(Model.SisPessoa.FisicaJuridica == "J" ? "hidden=\" hidden\"" : "")>
                    <div class="form-group">
                        <label for="Cpf">@L("CPF")</label>
                        <input type="text" name="Cpf" id="Cpf" class="form-control input-sm" value="@Model.SisPessoa.Cpf">
                    </div>
                </div>

                <div class="col-sm-2" id="divCNPJ" @Html.Raw(Model.SisPessoa.FisicaJuridica == "F" ? "hidden=\" hidden\"" : "")>
                    <div class="form-group">
                        <label for="Cnpj">@L("CNPJ")</label>
                        <input type="text" name="Cnpj" id="Cnpj" class="form-control input-sm" value="@Model.SisPessoa.Cnpj">
                    </div>
                </div>

            </div>

            <div id="divPesssoaFisica" @Html.Raw(Model.SisPessoa.FisicaJuridica == "J" ? "hidden=\" hidden\"" : "")>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="NomeCompleto">@L("NomeCompleto")</label>
                            <input type="text" name="NomeCompleto" id="nomeCompleto" class="form-control input-sm" value="@Model.SisPessoa.NomeCompleto">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Rg">@L("Rg")</label>
                            <input type="text" name="Rg" id="Rg" class="form-control input-sm" value="@Model.SisPessoa.Rg">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="EmissaoRg">@L("EmissaoRg")</label>
                            <input type="text" name="EmissaoRg" id="emissaoRg" class="form-control input-sm minhadata" value="@(Model.SisPessoa.EmissaoRg !=null? ((DateTime)Model.SisPessoa.EmissaoRg).ToShortDateString(): null)">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Emissor">@L("Emissor")</label>
                            <input type="text" name="Emissor" id="emissor" class="form-control input-sm" value="@Model.SisPessoa.Emissor">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="NacionalidadeId">@L("NacionalidadeId")</label>
                            <select name="NacionalidadeId" value="@Model.NacionalidadeId" id="nacionalidadeId" class="editar form-control select2 selectNacionalidade" required>
                                <option value="@Model.SisPessoa.NacionalidadeId">@(Model.SisPessoa.Nacionalidade != null ? string.Concat(Model.SisPessoa.Nacionalidade.Codigo, " - ", Model.SisPessoa.Nacionalidade.Descricao) : "") </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Nascimento">@L("Nascimento")</label>
                            <input type="text" name="Nascimento" id="nascimento" class="form-control input-sm minhaData" value="@((Model.IsEditMode && Model.SisPessoa.Nascimento!=null) ? ((DateTime)Model.SisPessoa.Nascimento).ToShortDateString(): null)">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="NaturalidadeId">@L("Naturalidade")</label>
                            <select name="NaturalidadeId" value="@Model.NaturalidadeId" id="naturalidadeId" class="editar form-control select2 selectNaturalidade" required>
                                <option value="@Model.NaturalidadeId">@(Model.SisPessoa.Naturalidade != null ? string.Concat(Model.SisPessoa.Naturalidade.Codigo, " - ", Model.SisPessoa.Naturalidade.Descricao) : "") </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ProfissaoId">@L("Profissao")</label>
                            <select name="ProfissaoId" value="@Model.ProfissaoId" id="profissaoId" class="editar form-control select2 selectProfissao" required>
                                <option value="@Model.ProfissaoId">@(Model.SisPessoa.Profissao != null ? string.Concat(Model.SisPessoa.Profissao.Codigo, " - ", Model.SisPessoa.Profissao.Descricao) : "") </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="NomePai">@L("NomePai")</label>
                            <input type="text" name="NomePai" id="nomePai" class="form-control input-sm" value="@Model.SisPessoa.NomePai">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="NomeMae">@L("NomeMae")</label>
                            <input type="text" name="NomeMae" id="nomeMae" class="form-control input-sm" value="@Model.SisPessoa.NomeMae">
                        </div>
                    </div>

                </div>
            </div>

            <div id="divPesssoaJuridica" @Html.Raw(Model.SisPessoa.FisicaJuridica == "F" ? "hidden=\" hidden\"" : "")>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InscricaoMunicipal">@L("InscricaoMunicipal")</label>
                            <input type="text" name="InscricaoMunicipal" id="inscricaoMunicipal" class="form-control input-sm" value="@Model.SisPessoa.InscricaoMunicipal">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InscricaoEstadual">@L("InscricaoEstadual")</label>
                            <input type="text" name="InscricaoEstadual" id="inscricaoEstadual" class="form-control input-sm" value="@Model.SisPessoa.InscricaoEstadual">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="RazaoSocial">@L("RazaoSocial")</label>
                            <input type="text" name="RazaoSocial" id="razaoSocial" class="form-control input-sm" value="@Model.SisPessoa.RazaoSocial">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="NomeFantasia">@L("NomeFantasia")</label>
                            <input type="text" name="NomeFantasia" id="nomeFantasia" class="form-control input-sm" value="@Model.SisPessoa.NomeFantasia">
                        </div>
                    </div>
                </div>
            </div>




            <form name="EnderecoInformationsForm" role="form" novalidate>

                <div class="portlet box blue">

                    <div class="portlet-title">
                        <div class="caption">
                            @L("Endereco")
                        </div>

                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        </div>


                    </div>
                    <div class="portlet-body">

                        <input type="hidden" name="IdGrid" id="idGrid" />


                        <div class="row">
                            <div class="col-sm-2">
                                <label for="CEP">@L("CEP")</label>
                                <input type="text" name="CEP" id="CEP" class="form-control input-sm">
                            </div>
                            <div class="col-sm-2">
                                <label for="TipoLogradouroId">@L("TipoLogradouro")</label>
                                <select name="TipoLogradouroId" id="tipoLogradouroId" class="editar form-control select2 selectTipoLogradouro" required>
                                    @*<option value="@Model.FaturamentoItemId">@(Model.FaturamentoItem != null ? string.Concat(Model.FaturamentoItem.Codigo, " - ", Model.FaturamentoItem.Descricao) : null) </option>*@
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <label for="Logradouro">@L("Logradouro")</label>
                                <input type="text" name="Logradouro" id="logradouro" class="form-control input-sm">
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-1">
                                <label for="Numero">@L("Numero")</label>
                                <input type="text" name="Numero" id="numero" class="form-control input-sm">
                            </div>
                            <div class="col-sm-5">
                                <label for="Complemento">@L("Complemento")</label>
                                <input type="text" name="Complemento" id="complemento" class="form-control input-sm">
                            </div>
                            <div class="col-sm-6">
                                <label for="BairroId">@L("Bairro")</label>
                                <input type="text" name="BairroId" id="bairroId" class="form-control input-sm">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label for="CidadeId">@L("Cidade")</label>
                                <select name="CidadeId" id="cidadeId" class="editar form-control select2 selectCidade" required>
                                    @*<option value="@Model.FaturamentoItemId">@(Model.FaturamentoItem != null ? string.Concat(Model.FaturamentoItem.Codigo, " - ", Model.FaturamentoItem.Descricao) : null) </option>*@
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="EstadoId">@L("Estado")</label>
                                <select name="EstadoId" id="estadoId" class="editar form-control select2 selectEstado" required>
                                    @*<option value="@Model.FaturamentoItemId">@(Model.FaturamentoItem != null ? string.Concat(Model.FaturamentoItem.Codigo, " - ", Model.FaturamentoItem.Descricao) : null) </option>*@
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="PaisId">@L("Pais")</label>
                                <select name="PaisId" id="paisId" class="editar form-control select2 selectPais" required>
                                    @*<option value="@Model.FaturamentoItemId">@(Model.FaturamentoItem != null ? string.Concat(Model.FaturamentoItem.Codigo, " - ", Model.FaturamentoItem.Descricao) : null) </option>*@
                                </select>
                            </div>

                            <div class="col-sm-1">
                                <button name="btnInserir" id="btnInserir" class="btn blue " tabindex="14"><i class="fa fa-check"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>


                        <div class="row">


                        </div>

                    </div>
                </div>
            </form>

            <div id="EnderecosTable"></div>

            <div class="modal-footer">
                <div class="col-sm-6">
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn default close-button">@L("Cancel")</button>
                </div>
                <div class="col-sm-1">
                    <div)>
                        <button type="button" id="btnsalvar" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </div>

        </form>
    </div>
</div>








