﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Pacientes.PacientesViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Pacientes.Paciente;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/index.min.css")
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Fornecedores/_FornecedorBuscaCadastroPaciente.js")
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
}

<input type="hidden" name="PacienteId" id="paciente-id" value="" />

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Paciente")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PacientesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getPacientes()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="PacientesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetPacientesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="PacientesTable"></div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('ul.ui-autocomplete').css('z-index', '99999999999');
        var _$PacientesTable = $('#PacientesTable');
        var _PacientesService = abp.services.app.paciente;
        var _$filterForm = $('#PacientesFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Delete')
        };

        var _createOrEditModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/Pacientes/CriarOuEditarModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/_CriarOuEditarModal.js',
            modalClass: 'CriarOuEditarPacienteModal'
        });

        var _userPermissionsModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/Users/PermissionsModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/_PermissionsModal.js',
            modalClass: 'UserPermissionsModal'
        });
        _$PacientesTable.jtable({

            title: app.localize('Pacientes'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _PacientesService.listarParaIndex
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '12%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }

                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deletePacientes(data.record);
                                });
                        }

                        return $span;
                    }
                },
                nomeCompleto: {
                    title: app.localize('NomeCompleto'),
                    width: '15%'
                },
                rg: {
                    title: app.localize('Rg'),
                    width: '8%'
                },
                cpf: {
                    title: app.localize('Cpf'),
                    width: '8%'
                },
                nascimento: {
                    title: app.localize('Nascimento'),
                    width: '8%',
                    display: function (data) {
                        return moment(data.record.nascimento).format('L');
                    }
                },
                telefone: {
                    title: app.localize('Telefone'),
                    sorting: false,
                    width: '15%',
                    display: function (data) {
                        return data.record.telefone1;
                    }
                },
                nomeMae: {
                    title: app.localize('NomeMae'),
                    width: '15%'
                },
                nomePai: {
                    title: app.localize('NomePai'),
                    width: '15%'
                }
            }
        });

        function getPacientes(reload) {
            if (reload) {
                _$PacientesTable.jtable('reload');
            } else {
                _$PacientesTable.jtable('load', {
                    filtro: $('#PacientesTableFilter').val()
                });
            }
        }

        function deletePacientes(Paciente) {

            abp.message.confirm(
                app.localize('DeleteWarning', Paciente.primeiroNome),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _PacientesService.excluir(Paciente)
                            .done(function () {
                                getPacientes(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        function createRequestParams() {
            var prms = {};
            _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
            return $.extend(prms);
        }

        $('#ShowAdvancedFiltersSpan').click(function () {
            $('#ShowAdvancedFiltersSpan').hide();
            $('#HideAdvancedFiltersSpan').show();
            $('#AdvacedAuditFiltersArea').slideDown();
        });

        $('#HideAdvancedFiltersSpan').click(function () {
            $('#HideAdvancedFiltersSpan').hide();
            $('#ShowAdvancedFiltersSpan').show();
            $('#AdvacedAuditFiltersArea').slideUp();
        });

        $('#CreateNewPacienteButton').click(function () {
            _createOrEditModal.open();
        });

        $('#ExportarPacientesParaExcelButton').click(function () {
            _PacientesService
                .listarParaExcel({
                    filtro: $('#PacientesTableFilter').val(),
                    //sorting: $(''),
                    maxResultCount: $('span.jtable-page-size-change select').val()
                })
                .done(function (result) {
                    app.downloadTempFile(result);
                });
        });

        $('#GetPacientesButton, #RefreshPacientesListButton').click(function (e) {
            e.preventDefault();
            getPacientes();
        });

        abp.event.on('app.CriarOuEditarPacienteModalSaved', function () {
            getPacientes(true);
        });

        getPacientes();

        $('#PacientesTableFilter').focus();

        $('#PacientesTableFilter')
                .autocomplete({
                    minLength: 3,
                    delay: 0,
                    source: function (request, response) {
                        var term = $('#PacientesTableFilter').val();
                        var url = '/mpa/pacientes/autocomplete';
                        var fullUrl = url + '/?term=' + term;
                        $.getJSON(fullUrl, function (data) {
                            if (data.result.length == 0) {
                                $('#paciente-id').val(0);
                                $("#PacientesTableFilter").focus();
                                abp.notify.info(app.localize("ListaVazia"));
                                return false;
                            };
                            response($.map(data.result, function (item) {
                                $('#paciente-id').val(0);
                                //
                                //
                                return {
                                    label: item.nomeCompleto,
                                    value: item.nomeCompleto,
                                    realValue: item.id
                                };
                            }));
                        });
                    },
                    select: function (event, ui) {
                        $('#paciente-id').val(ui.item.realValue);
                        $('#PacientesTableFilter').val(ui.item.value);
                        //$('.save-button').removeAttr('disabled');
                        return false;
                    },
                    change: function (event, ui) {
                        event.preventDefault();
                        if (ui.item == null) {
                            //
                            //
                            //$('.save-button').attr('disabled', 'disabled');
                            $('#paciente-id').val('');
                            $("#PacientesTableFilter").val('').focus();
                            abp.notify.info(app.localize("PacienteInvalido"));
                            return false;
                        }
                    },
                });
    });
</script>