﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Fornecedores.FornecedoresViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosGlobais.Fornecedor;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Fornecedores/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
}
@section Scripts
{
<script src="~/Scripts/jquery.mask.min.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>


    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Fornecedores/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Fornecedores/Index.js")
    @Html.IncludeScript("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Fornecedor")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarFornecedoresParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if(IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_Fornecedor_Create))
        {
            <button id="CreateNewFornecedorButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFornecedor")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="FornecedoresFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFornecedores()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="FornecedoresTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetFornecedoresButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="FornecedoresTable"></div>
    </div>
</div>
