﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers


@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Convenios.CriarOuEditarConvenioModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + " " + L("Convenio") + ": " + Model.NomeFantasia) : L("CreateNew") + " " + L("Convenio")))

<div class="modal-body container-fluid">

    <div class="tabbable-line container-fluid">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#ConvenioInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Convenio")
                </a>
            </li>
            <li class="">
                <a href="#PlanosTab" data-toggle="tab" aria-expanded="false">
                    @L("Planos")
                </a>
            </li>
        </ul>

        <div class="tab-content container-fluid">

            <div class="tab-pane active" id="ConvenioInformationsTab">

                <form name="ConvenioInformationsForm" role="form" novalidate class="form-validation">

                    <input type="hidden" id="logotipo" name="Logotipo" value="@(Convert.ToBase64String(Model.Logotipo))" />
                    <input type="hidden" id="logotipo-mime-type" name="LogotipoMimeType" value="@(Model.LogotipoMimeType)" />
                    <input type="hidden" id="sisPessoaId" name="SisPessoaId" value="@(Model.SisPessoaId)" />

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }

                    @using (Html.Row())
                    {
                        <div class="col-sm-2">

                            @using (Html.Row())
                            {
                                <div class="col-sm-12 center-block text-center">

                                    @{
                                        var imgSrc = string.Empty;
                                        if (Model.Logotipo.Length > 0)
                                        {
                                            var base64 = Convert.ToBase64String(Model.Logotipo);
                                            imgSrc = string.Format("data:{0};base64,{1}", Model.LogotipoMimeType, base64);
                                        }
                                        else
                                        {
                                            imgSrc = Url.Content("~/Common/Images/nopicture.jpg");
                                        }
                                    }

                                    <img src="@imgSrc" id="logotipo-img" class="img-thumbnail img-rounded" />

                                </div>
                            }
                            @using (Html.Row())
                            {
                                <div class="col-sm-12 center-block text-center">
                                    <button name="CapturarImagem" id="capturar-imagem" class="btn btn-primary">@L("SelecionarArquivo")</button>
                                </div>
                            }
                        </div>
                        <div class="col-sm-10">
                            @using (Html.Row())
                            {
                                Html.InputFor(m => m.NomeFantasia, new SWTag("nome-fantasia", "NomeFantasia", "", col: 6, value: Model.NomeFantasia), L("NomeFantasia"));
                                Html.InputFor(m => m.RazaoSocial, new SWTag("razao-social", "RazaoSocial", "", col: 6, value: Model.RazaoSocial), L("RazaoSocial"));
                            }
                        </div>
                    }

                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.Cnpj, new SWTag("cnpj", "Cnpj", "", col: 3, value: Model.Cnpj), L("Cnpj"));
                        Html.InputFor(m => m.InscricaoEstadual, new SWTag("inscricao-estadual", "InscricaoEstadual", "", col: 3, value: Model.InscricaoEstadual), L("InscricaoEstadual"));
                        Html.InputFor(m => m.InscricaoMunicipal, new SWTag("inscricao-municipal", "InscricaoMunicipal", "", col: 3, value: Model.InscricaoMunicipal), L("InscricaoMunicipal"));
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label>@L("NumeroRegistroAns")</label>
                                <input name="RegistroANS" id="registroANS" required class="form-control input-sm" type="text" value="@Model.RegistroANS" maxlength="8">
                            </div>
                        </div>
                    }
                    @using (Html.Row())
                    {
                        <div class="col-sm-3">
                            @using (Html.Row())
                            {
                                Html.InputFor(m => m.Cep, new SWTag("cep", "Cep", "", col: 9, value: Model.Cep), L("Cep"));

                                <div class="col-sm-1 media-middle left">
                                    <button name="BtnBuscarCep" id="btn-buscar-cep" class="btn blue btn-xs" title="@L("BuscarCep")" style="position:relative; top:21px;"><i id="icon-btn-buscar-cep" class="fa fa-search"></i></button>
                                </div>

                                <div class="col-sm-2">&nbsp;</div>
                            }
                        </div>

                        var paisValue = Model.Pais != null ? Model.Pais.Id.ToString() : "";
                        var paisText = Model.Pais != null ? Model.Pais.Nome : "";
                        Html.Select2For(m => m.PaisId, "pais-id", "paisSel2", L("Pais"), paisValue, paisText, "pais/listarDropdown", "", col: 3);

                        var estadoValue = Model.Estado != null ? Model.Estado.Id.ToString() : "";
                        var estadoText = Model.Estado != null ? Model.Estado.Nome : "";
                        Html.Select2For(m => m.EstadoId, "estado-id", "estadoSel2", L("Estado"), estadoValue, estadoText, "estado/listarDropdown", "", col: 3);

                        var cidadeValue = Model.Cidade != null ? Model.Cidade.Id.ToString() : "";
                        var cidadeText = Model.Cidade != null ? Model.Cidade.Nome : "";
                        Html.Select2For(m => m.CidadeId, "cidade-id", "cidadeSel2", L("Cidade"), cidadeValue, cidadeText, "cidade/listarDropdown", "", col: 3);
                    }

                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.Logradouro, new SWTag("logradouro", "Logradouro", "", col: 5, value: Model.Logradouro), L("Logradouro"));
                        Html.InputFor(m => m.Numero, new SWTag("numero", "Numero", "", col: 2, value: Model.Numero), L("Numero"));
                        Html.InputFor(m => m.Complemento, new SWTag("complemento", "Complemento", "", col: 2, value: Model.Complemento), L("Complemento"));
                        Html.InputFor(m => m.Bairro, new SWTag("bairro", "Bairro", "", col: 3, value: Model.Bairro), L("Bairro"));
                    }

                    @using (Html.Row())
                    {
                        <div class="col-sm-6">

                            @using (Html.Row())
                            {
                                //var tipoTelefoneValue = Model.TipoTelefone1 != null ? Model.TipoTelefone.Id.ToString() : "";
                                //var tipoTelefoneText = Model.TipoTelefone1 != null ? Model.T : "";
                                //Html.Select2For(m => m.Cidade, "cidade-id", "cidadeSel2", "", cidadeValue, cidadeText, "cidade/listarDropdown", "", col: 3);

                                @*<div class="col-sm-4">
                                        <div class="form-grou">
                                            <label>@L("TipoTelefone")</label>
                                            @Html.DropDownListFor(m => m.TipoTelefone1, Model.TiposTelefone, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "tipo-telefone-1" })
                                        </div>
                                    </div>*@

                                Html.InputFor(m => m.Telefone1, new SWTag("telefone1", "Telefone", "", col: 8, value: Model.Telefone1), L("Telefone"));
                            }

                        </div>

                        <div class="col-sm-6">


                            @using (Html.Row())
                            {
                                @*<div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("TipoTelefone")</label>
                                            @Html.DropDownListFor(m => m.TipoTelefone2, Model.TiposTelefone, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "tipo-telefone-2" })
                                        </div>
                                    </div>*@

                                Html.InputFor(m => m.Telefone2, new SWTag("telefone2", "Telefone", "", col: 8, value: Model.Telefone2), L("Telefone"));
                            }
                        </div>
                    }
                    @using (Html.Row())
                    {
                        <div class="col-sm-6">
                            @using (Html.Row())
                            {
                                @*<div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("TipoTelefone")</label>
                                            @Html.DropDownListFor(m => m.TipoTelefone3, Model.TiposTelefone, L("SelecioneLista"), new { @class = "form-control", id = "tipo-telefone-3" })
                                        </div>
                                    </div>*@

                                Html.InputFor(m => m.Telefone3, new SWTag("telefone3", "Telefone", "", col: 8, value: Model.Telefone3), L("Telefone"));
                            }
                        </div>
                        <div class="col-sm-6">
                            @using (Html.Row())
                            {
                                @*<div class="col-sm-4">
                                        <div class="form-group">
                                            <label>@L("TipoTelefone")</label>
                                            @Html.DropDownListFor(m => m.TipoTelefone4, Model.TiposTelefone, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "tipo-telefone-4" })
                                        </div>
                                    </div>*@

                                Html.InputFor(m => m.Telefone4, new SWTag("telefone4", "Telefone", "", col: 8, value: Model.Telefone4), L("Telefone"));
                            }
                        </div>
                    }
                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.DataInicialContrato, new SWTag("data-inicial-contrato", "DataInicialContrato", "", col: 3, value: Model.DataInicialContrato.ToString("dd/MM/yy")), L("DataInicialContrato"));
                        Html.InputFor(m => m.DataUltimaRenovacaoContrato, new SWTag("data-ultima-renovacao-contrato", "DataUltimaRenovacaoContrato", "", col: 3, value: Model.DataUltimaRenovacaoContrato.ToString("dd/MM/yy")), L("DataUltimaRenovacaoContrato"));
                        Html.InputFor(m => m.DataProximaRenovacaoContratual, new SWTag("telefone3", "DataProximaRenovacaoContratual", "", col: 3, value: Model.DataProximaRenovacaoContratual.ToString("dd/MM/yy")), L("DataProximaRenovacaoContratual"));
                        Html.InputFor(m => m.Email, new SWTag("email", "Email", "", col: 3, value: Model.Email), L("Email"));
                    }
                    @using (Html.Row())
                    {
                        <br />
                        Html.CheckboxSWFor(m => m.IsAtivo, "chk-is-ativo", L("Ativo"), Model.IsAtivo, col: 12);
                    }

                </form>
            </div>

            <div class="tab-pane" id="PlanosTab">

                <div id="ConveniosTable">JTABLE PLANOS</div>

            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
