﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.LeitoCaracteristicas.LeitoCaracteristicasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAtendimento.LeitoCaracteristica;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/LeitoCaracteristicas/index.min.css")
    @Html.IncludeStyle("~/libs/jquery-chosen/css/chosen.css")
    @*<link href="~/libs/jquery-minicolors/css/jquery.minicolors.css" rel="stylesheet" />*@
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/LeitoCaracteristicas/_CriarOuEditarModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/LeitoCaracteristicas/Index.js")
    @Html.IncludeScript("~/libs/jquery-chosen/js/chosen.js")
    @*<script src="~/libs/jquery-minicolors/jquery.minicolors.min.js"></script>*@
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("LeitoCaracteristica")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarLeitoCaracteristicasParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Atendimento_LeitoCaracteristicas_Create))
        {
            <button id="CreateNewLeitoCaracteristicaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLeitoCaracteristica")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="LeitoCaracteristicasFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getLeitoCaracteristicas()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="LeitoCaracteristicasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetLeitoCaracteristicasButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="LeitoCaracteristicasTable"></div>
    </div>
</div>
