﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals


@{
    Layout = "~/Areas/Mpa/Views/Aplicacao/Assistenciais/Home/Layout/_Layout.cshtml";
    ViewBag.CurrentPageName = PageNames.App.Assistenciais.Assistencial;
}

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.FichasPacientes.FichasPacientesViewModel

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Assistenciais/FichasPacientes/index.min.css")
    <link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />

}
@section Scripts
{
    <script src="~/Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/_CriarOuEditarModal.js"></script>
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Assistenciais/FichasPacientes/Index.js")
    <script src="~/libs/jquery-chosen/js/chosen.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("FichaPaciente")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @*<button id="ExportarFichasPacientesParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Tenant_Assistencial_FichaPaciente_Create))
                {
                <button id="CreateNewFichaPacienteButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFichaPaciente")</button>
            }*@
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="FichasPacientesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFichasPacientes()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="FichasPacientesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetFichasPacientesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="FichaPaciente">
            @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Paciente") + ": " + Model.CriarOuEditarPacienteModalViewModel.NomeCompleto) : ""))
            @{Html.RenderPartial("~/Areas/Mpa/Views/Aplicacao/Cadastros/Pacientes/_FichaPaciente.cshtml", Model.CriarOuEditarPacienteModalViewModel); }
            <p class="white-space">&nbsp;</p>
            <button name="Salvar" id="salvar" class="btn btn-primary"><i class="fa fa-save"></i>@L("Save")</button>
        </div>
    </div>
</div>
