﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Diagnosticos.Laudos.LaudoGrupoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosDiagnostico.LaudoGrupo;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/LaudoGrupos/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Diagnosticos/LaudoGrupos/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("LaudoGrupos")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarLaudoGruposParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (true/*IsGranted(AppPermissions.Pages_Tenant_Assistencial_LaudoMedico_Create)*/)
            {
            <button id="CreateNewLaudoGrupoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLaudoGrupo")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="LaudoGruposFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getLaudoGrupos()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="LaudoGruposTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetLaudoGruposButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="LaudoGruposTable"></div>
    </div>
</div>
