﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.PreAtendimentos.PreAtendimentosViewModel

    <div class="row margin-bottom-5">

        <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("PesquisarPreAtendimento")</span>
                        </h1>
                    </div>
                </div>
            </div>

    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form id="PreAtendimentosFilterForm" class="horizontal-form">
                    <div class="form-body" enter-key="vm.getPreAtendimentos()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input id="PreAtendimentosTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                                <span class="input-group-btn">
                                                    <button id="GetPreAtendimentosButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="PreAtendimentosTable"></div>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        var _$preAtendimentosTable = $('#PreAtendimentosTable');
        var _preAtendimentosService = abp.services.app.preAtendimento;
        var _$filterForm = $('#PreAtendimentosFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Atendimento.PreAtendimento.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Atendimento.PreAtendimento.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Atendimento.PreAtendimento.Delete')
        };

        _$preAtendimentosTable.jtable({
            title: app.localize('PreAtendimentos'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _preAtendimentosService.listarParaIndex
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '12%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        //if (_permissions.edit) {
                        //    $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                        //        .appendTo($span)
                        //        .click(function () {
                        //            _createOrEditModal.open({ id: data.record.id });
                        //        });
                        //}

                        //if (_permissions.delete) {
                        //    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                        //        .appendTo($span)
                        //        .click(function () {
                        //            deletePreAtendimentos(data.record);
                        //        });
                        //}

                        $('<button class="btn btn-default btn-xs" title="' + app.localize('AtenderPreAtendimento') + '"><i class="glyphicon glyphicon-hand-up"></i></button>')
                           .appendTo($span)
                           .click(function () {
                               selecionarPreAtendimento(data.record);
                           });

                        return $span;
                    }
                }
                ,
                descricao: {
                    title: app.localize('Descricao'),
                    width: '15%'
                }
                ,
                nomeCompleto: {
                    title: app.localize('Nome'),
                    width: '15%'
                }
                ,
                nascimento: {
                    title: app.localize('Nascimento'),
                    width: '8%',
                    display: function (data) {
                        return moment(data.record.nascimento).format('L');
                    }
                }
                ,
                dataRegistro: {
                    title: app.localize('DataRegistro'),
                    width: '8%',
                    display: function (data) {
                        return moment(data.record.dataRegistro).format('L');
                    }
                }
                ,
                telefone: {
                    title: app.localize('Telefone'),
                    width: '8%'
                }
                ,
                observacao: {
                    title: app.localize('Observacao'),
                    width: '8%'
                }
                ,
                services: {
                    title: app.localize('Sexo'),
                    sorting: false,
                    width: '15%'
                }
            }
        });

        function selecionarPreAtendimento(preAtendimentoSelecionado) {
            $('#pre-atendimento-id').val(preAtendimentoSelecionado.id);
            $('#pre-atendimento-existente-id').val(preAtendimentoSelecionado.id);
            $('#pre-atendimento-descricao').val(preAtendimentoSelecionado.descricao);
            $('#pre-atendimento-nome-completo').val(preAtendimentoSelecionado.nomeCompleto);
            var dataNascimento = moment(preAtendimentoSelecionado.nascimento).format('DD/MM/YYYY');
            $('#pre-atendimento-nascimento').val(dataNascimento);
            $('#pre-atendimento-telefone').val(preAtendimentoSelecionado.telefone);
            $('#pre-atendimento-observacao').val(preAtendimentoSelecionado.observacao);
        }

        function getPreAtendimentos(reload) {
            if (reload) {
                _$preAtendimentosTable.jtable('reload');
            } else {
                _$preAtendimentosTable.jtable('load', {
                    filtro: $('#PreAtendimentosTableFilter').val()
                });
            }
        }

        function deletePreAtendimentos(PreAtendimento) {
            abp.message.confirm(
                app.localize('DeleteWarning', PreAtendimento.primeiroNome),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _preAtendimentosService.excluir(PreAtendimento)
                            .done(function () {
                                getPreAtendimentos(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        //function createRequestParams() {
        //    var prms = {};
        //    _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        //    return $.extend(prms);
        //}

        //$('#ShowAdvancedFiltersSpan').click(function () {
        //    $('#ShowAdvancedFiltersSpan').hide();
        //    $('#HideAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideDown();
        //});

        //$('#HideAdvancedFiltersSpan').click(function () {
        //    $('#HideAdvancedFiltersSpan').hide();
        //    $('#ShowAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideUp();
        //});

        $('#GetPreAtendimentosButton, #RefreshPreAtendimentosListButton').click(function (e) {
            e.preventDefault();
            getPreAtendimentos();
        });

        getPreAtendimentos();

        $('#PreAtendimentosTableFilter').focus();
    });

</script>
