﻿@using ReportViewerForMvc;
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model IEnumerable<SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.Relatorios.AtendimentoEtiqueta>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("AtendimentoEtiqueta")))
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label>Linhas</label>
                    <input type="number" value="@ViewBag.Linhas" name="Linhas" id="linhas" class="form-control input-sm" />
                </div>
            </div>
            <div class="2">
                <button class="btn btn-primary" id="btn-visualizar" style="position:relative;top:20px;"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;@L("Refresh")</button>
            </div>
        </div>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, htmlAttributes: new { @class = "iframe", @style = "border:none;" })
    </div>
</div>