﻿@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Atendimentos.Relatorios.FiltroModel

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("RelatorioInternacao")</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <div class="form-body" enter-key="vm.getEntradas()">
                <div class="row margin-bottom-10">
                   <div class="col-sm-1">
                   </div>
                    <div class="form-group col-md-3 text-left" style="padding-top:2%">
                        <button type="button" id="btn-retorna-internacoes" class="btn"><i class="fa fa-mail-reply"></i>    Internações</button>
                    </div>
                    <div class="form-group col-md-3 text-right">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Empresa, Model.Empresas, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5 text-left" style="padding-top:2%">
                        <button type="button" id="btnVisualizar" class="btn btn-primary blue"><i class="fa fa-search"></i>Visualizar</button>
                        <div style="display:inline-block; width:10px;"></div>
                        <input id="sintetico" type="checkbox" class="form-control icheck checkbox-inline" value="true" />&nbsp;
                        <label for="sintetico">@L("Sintetico")</label>
                    </div>
                    
                        @*<div class="form-group col-md-2">
                           
                                <input id="sintetico" type="checkbox" class="form-control icheck checkbox-inline" value="true" />&nbsp;
                                <label for="sintetico">@L("Sintetico")</label>
                        
                        </div>*@
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="relatorio-leitos" style="margin:auto; width:90%; height:1000px; border:7px solid #6da6c6; border-radius: 5px;"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/libs/PDFObject/pdfobject.js"></script>
    <script>
        $(function () {
            // Retornar a "Internacoes"
            $('#btn-retorna-internacoes').on('click', function (e) {
                window.location.href = "/Mpa/Internacoes";
            });

            $("#btnVisualizar").click(function () {
                var sintetico = $('#sintetico').swChkValor();
                renderizarRelatorio(sintetico);
            });

            // Novo formato (exibindo direto em pdf)
            function renderizarRelatorio(sintetico) {
                var empresa = $("#Empresa");
                var caminho = '';
                if (sintetico) {
                    caminho = "/Mpa/AtendimentoRelatorio/ReltorioLeitosPdfSintetico?empresaId=" + empresa.val();
                } else {
                    // teste para remover duplicatas
                    caminho = "/Mpa/AtendimentoRelatorio/ReltorioLeitosPdfTeste?empresaId=" + empresa.val();

                 //   caminho = "/Mpa/AtendimentoRelatorio/ReltorioLeitosPdf?empresaId=" + empresa.val();
                }
                PDFObject.embed(caminho, "#relatorio-leitos");
            }
            // Fim - novo formato

            renderizarRelatorio();
        });
    </script>
}