﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.SolicitacoesExames.CriarOuEditarSolicitacaoExameItemViewModel

@{
    var atendimento = TempData.Peek("Atendimento") as SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto;
}

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSolicitacaoExame") + ": " + Model.Solicitacao.Codigo + " - " + atendimento.Paciente.NomeCompleto) : L("CreateNewSolicitacaoExame")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#SolicitacaoExameItemInformationsTab-@atendimento.Id" data-toggle="tab" aria-expanded="true">
                    @L("SolicitacaoExameItem")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="SolicitacaoExameItemInformationsTab-@atendimento.Id">
                <form name="SolicitacaoExameItemInformationsForm-@atendimento.Id" role="form" novalidate class="form-validation">
                    <input type="hidden" name="Id" id="solicitacao-exame-item-id-@atendimento.Id" value="@Model.Id" />
                    <input type="hidden" name="SolicitacaoExameId" id="solicitacao-exame-id-@atendimento.Id" value="@Model.SolicitacaoExameId" />
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="CreatorUserId" id="creator-user-id-@atendimento.Id" value="@Model.CreatorUserId" />
                        <input type="hidden" name="ValorItemId" id="valor-item-id-@atendimento.Id" value="@Model.FaturamentoItemId" />
                        <input type="hidden" name="ValorMaterialId" id="valor-material-id-@atendimento.Id" value="@Model.MaterialId" />
                    }
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>@L("Exame")</label>
                                <select Id="faturamento-item-id-@atendimento.Id" name="FaturamentoItemId" class="form-control select2" required="required" style="width: 100%;">
                                    @if (Model.FaturamentoItem != null)
                                    {
                                        <option value="@Model.FaturamentoItemId" selected>@Model.FaturamentoItem.Codigo - @Model.FaturamentoItem.Descricao</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@L("Material")</label>
                                <select Id="material-id-@atendimento.Id" name="MaterialId" class="form-control select2" style="width: 100%;">
                                    @if (Model.Material != null)
                                    {
                                        <option value="@Model.MaterialId" selected>@Model.Material.Codigo - @Model.Material.Descricao</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@L("GuiaNumero")</label>
                                <input class="form-control input-sm" type="text" value="@Model.GuiaNumero" name="GuiaNumero" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@L("DataValidade")</label>
                                <input class="form-control input-sm date-single-picker" value="@(Model.DataValidade)" type="text" name="DataValidade" id="data-validade-@atendimento.Id">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@L("SenhaNumero")</label>
                                <input class="form-control input-sm" type="text" value="@Model.SenhaNumero" name="SenhaNumero" id="senha-numero-@atendimento.Id" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-footer-@atendimento.Id">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</div>
