﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ProdutosPalavrasChave.CriarOuEditarProdutoPalavraChaveModalViewModel


<div class="portlet light">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProdutoPalavraChave") + ": " + Model.Palavra) : L("CreateNewProdutoPalavraChave")))
    <div class="portlet-body">
        <div class="modal-body container-fluid">
            <form name="ProdutoPalavraChaveInformationsForm" role="form" novalidate class="form-validation">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="CreatorUserId" id="creatorUserId" value="@Model.CreatorUserId" />
                }

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>@L("Palavra")</label>
                            <input type="text" name="Palavra" id="palavra" class="form-control input-sm" value="@Model.Palavra" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>@L("Observacao")</label>
                            <textarea name="Observacao" id="observacao" rows="5" class="form-control input-sm text-editor">@Model.Observacao</textarea>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
