﻿@using Abp.Web.Mvc.Extensions
@using Abp.Application.Services.Dto
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Diagnosticos.Imagens.LaudoMovimentoViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Diagnosticos.RegistroExame;
}

@section Styles
{
}
@section Scripts
{



    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    @Html.IncludeScript("~/Scripts/MyScripts.js")


    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Diagnosticos/Imagens/Registro/Index.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Diagnosticos/Imagens/Registro/_CriarOuEditarModal.js")


}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("RegistrosExames")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">

    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="contasPagarFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFeriados()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>

                                        <div class="row">

                                            <div class="col-sm-4">

                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Periodo")</label>
                                                            <input type="text" id="periodo" class="form-control date-range-picker periodo" />

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Ignorar")</label>
                                                            <input type="checkbox" id="ignorarPeriodo" class="form-control" />
                                                        </div>
                                                    </div>

                                                    @*<div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label">@L("De")</label>
                                                                <input type="time" id="horarioInical" class="form-control" />

                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label">@L("Ate")</label>
                                                                <input type="time" id="horarioFinal" class="form-control" />

                                                            </div>
                                                        </div>*@

                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                    <label for="Codigo">@L("Convenio")</label>
                                                    <select name="ConvenioId" value="@Model.ConvenioId" id="convenioIndexId" class="editar form-control select2 selectConvenio"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                    <label for="PacienteId">@L("Paciente")</label>
                                                    <select name="PacienteId" value="@Model.PacienteId" id="pacienteIndexId" class="editar form-control select2 selectPaciente"></select>
                                                </div>
                                            </div>
                                        </div>




                                        <div id="AdvacedLancamentosFiltersArea" style="display: none">
                                            <div class="form-body" style="padding:3px;">

                                            </div>
                                        </div>



                                    </form>



                                    <div class="row">
                                        <div class="col-md-3">
                                            <span id="ShowAdvancedFiltersSpan" class="clickable-item text-muted"><i class="fa fa-angle-down"></i> @L("ShowFilters")</span>
                                            <span id="HideAdvancedFiltersSpan" class="clickable-item text-muted" style="display: none"><i class="fa fa-angle-up"></i> @L("HideFilters")</span>
                                        </div>
                                        <div class="col-md-9 text-right">

                                            <button id="criarRegistroButton" class="btn blue botao-atualizar"> @L("CriarRegistro")</button>
                                            <button id="buscarExamesFaturadosSemRegistroButton" class="btn blue botao-atualizar"> @L("ExamesFaturados")</button>
                                            <button id="buscarExamesSolicitadosButton" class="btn blue botao-atualizar"> @L("ExamesSolicitados")</button>
                                            <button id="refreshLancamentosButton" class="btn blue botao-atualizar"> @L("ExamesRegistrados")</button>
                                            <input type="hidden" id="hdnConsulta" />

                                            @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_Exame_Create))
                                            {
                                                <button id="CreateNewButton" class="btn btn-primary blue novo-lancamento botao-novo">@L("CreateNewRegistro")</button>
                                            }


                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <input type="hidden" id="atendimentoId" />
    <div id="registroExemesTable"></div>
    <div id="registroExemesSolicitadosTable" hidden></div>
    <div id="examesFaturadosSemRegistroTable" hidden></div>
</div>
