﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ElementosHtml.ElementoHtmlViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAssistenciais.Assistenciais;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/ElementosHtml/index.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/ElementosHtml/Index.js")
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
}

<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user-md"></i>
            <span class="caption-subject bold uppercase">@L("ElementosHtml")</span>
            <span class="caption-helper">@L("CadastrosGlobais")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form">
                    <form id="ElementosHtmlFilterForm" class="horizontal-form">
                        <div class="form-body">
                            <div class="row margin-bottom-10">
                                <div class="col-md-12">
                                    <div class="inputs inputs-full-width">
                                        <div class="portlet-input">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">@L("Filtro")</label>
                                                            <input id="ElementosHtmlTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button id="ExportarElementosHtmlParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                                                        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_CadastrosGlobais_ElementoHtml_Create))
                                                        {
                                                            <button id="CreateNewElementoHtmlButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewElementoHtml")</button>
                                                            <button id="RefreshElementosHtmlListButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                                        }
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="ElementosHtmlTable"></div>
            </div>
        </div>
    </div>
</div>
