﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.PrescricoesStatus.PrescricoesItensStatusViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAssistenciais.PrescricaoItemStatus;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/PrescricoesItensStatus/index.min.css")
    <link href="~/libs/jquery-minicolors/css/jquery.minicolors.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/PrescricoesItensStatus/Index.js")
    <script src="~/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
}


<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("PrescricaoItemStatus")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarPrescricoesItensStatusParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Cadastros_Assistenciais_Prescricao_PrescricaoItemStatus_Create))
            {
            <button id="CreateNewPrescricaoItemStatusButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNew")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PrescricoesItensStatusFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getPrescricoesItensStatus()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="PrescricoesItensStatusTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetPrescricoesItensStatusButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="PrescricoesItensStatusTable"></div>
    </div>
</div>
