﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Formatas.CriarOuEditarFormataModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFormata") + ": " + Model.Descricao) : L("CreateNewFormata")))

<div class="modal-body container-fluid">

    <div class="tabbable-line container-fluid">
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form name="FormataInformationsForm" role="form" novalidate class="form-validation">
                            <input type="hidden" name="Id" id="id" value="@Model.Id" />
                            <input type="hidden" name="FormataItens" id="formata-itens" value="@Model.FormataItens" />
                            @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                            }
                            @*@using (Html.Row())
                                {
                                    Html.InputFor(m => m.Codigo, Model.Codigo, L("Codigo"), 12, required: true);
                                }*@
                            @using (Html.Row())
                            {
                                Html.InputFor(m => m.Codigo, Model.Codigo, L("Codigo"), 3, required: true);
                                Html.InputFor(m => m.Descricao, Model.Descricao, L("NomeFormatacao"), 8, required: true);
                            }
                            @using (Html.Row())
                            {
                                <div id="formatacao" name="Formatacao" class="text-editor"></div>
                                <script>
                                    var valorFormatacao = '@Html.Raw(Model.Formatacao)';
                                </script>
                            }
                        </form>

                    </div>
                    <!--Olho que tudo vê ==>formulário de cadastro -->
                    <div>
                        @using (Html.InjetarJavascript()) { }
                        @using (Html.SWDivRetratil("formata-item", L("FormataItem"), false, 12, true, false))
                        {
                            var model = new SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.FormataItems.CriarOuEditarFormataItemModalViewModel(new SW10.SWMANAGER.ClassesAplicacao.Services.Cadastros.Laboratorios.FormataItems.Dto.FormataItemDto());
                            model.FormataId = Model.Id;
                            @Html.Partial("~/areas/mpa/views/aplicacao/cadastros/laboratorios/formatas/_criaroueditarItem.cshtml", model)
                        }
                    </div>
                    <div class="row margin-bottom-5">
                        <div class="col-xs-6">
                            <div class="page-head">
                                <div class="page-title">
                                    <h1>
                                        <span>@L("FormataItem")</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button id="ExportarFormataItemsParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                            <button id="CreateNewFormataItemButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFormataItem")</button>
                        </div>
                    </div>
                    <div id="formataItemTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>
    </div>*@

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
