﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Formatas.FormatasViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.FormatacaoExame;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Formatas/index.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
    <link href="~/libs/summernote/summernote.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/Formatas/Index.js")
    @Html.IncludeScript("~/metronic/assets/global/plugins/select2/js/select2.full.min.js")
    <script src="~/libs/summernote/summernote.js"></script>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Formata")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportarFormatasParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_Formata_Create))
        {
            <button id="CreateNewFormataButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("NovoFormata")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="FormatasFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getFormatas()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        @**<div class="row">
                                                <div class="col-xs-6">
                                                        @Html.DropDownListFor(m => m.EstadoId, Model.Estados, L("FiltroEstado"), new { @class = "form-control selectpicker", data_live_search = "true", data_none_selected_text = L("FiltroEstado"), id = "cbo-estados" })
                                                    </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <button id="RefreshFormatasListButton" class="btn btn-default" style="display: block; width: 100%"><span class="fa fa-search"></span> @L("Search")</button>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="input-group">
                                            <input id="FormatasTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetFormatasButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="FormatasTable"></div>
    </div>
</div>
