﻿@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamentos.ItensTabela.FaturamentoItensTabelaViewModel

@{
    ViewBag.CurrentPageName = PageNames.App.Faturamentos.Faturamento;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/ItensTabela/index.min.css")
}


  


<div class="row margin-bottom-5">

    <div class="col-xs-6 text-right">
        <button id="ExportarItensTabelaParaExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (true@*IsGranted(AppPermissions.Pages_Tenant_Cadastros_Faturamento_ItemTabela_Create)*@)
        {
            <button id="CreateNewItemTabelaButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewItemTabela")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="ItensTabelaFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getItensTabela()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ItensTabelaTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetItensTabelaButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ItensTabelaTable"></div>
    </div>
</div>



<script type="text/javascript">


    (function () {
        $(function () {

            //console.log('sdvdsvzsdfbvzdbfsdb');


        });
    })();

  //  $(document).ready(function () {

        

        var _$ItensTabelaTable = $('#ItensTabelaTable');
        var _ItensTabelaService = abp.services.app.faturamentoItemTabela;
        var _$filterForm = $('#ItensTabelaFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.ItensTabela.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.ItensTabela.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.ItensTabela.Delete')
        };

        var _createOrEditModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/FaturamentoItensTabela/CriarOuEditarModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/ItensTabela/_CriarOuEditarModal.js',
            modalClass: 'CriarOuEditarFaturamentoItemTabelaModal'
        });

        var _userPermissionsModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Mpa/Users/PermissionsModal',
            scriptUrl: abp.appPath + 'Areas/Mpa/Views/Aplicacao/Cadastros/Faturamentos/ItensTabela/_PermissionsModal.js',
            modalClass: 'UserPermissionsModal'
        });

        _$ItensTabelaTable.jtable({

            title: app.localize('ItensTabela'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _ItensTabelaService.listar
                }
            },

            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '5%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }

                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-o"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deleteItensTabela(data.record);
                                });
                        }

                        return $span;
                    }
                }
                ,
                codigo: {
                    title: app.localize('Codigo'),
                    width: '20%'
                }
                ,
                descricao: {
                    title: app.localize('Descricao'),
                    width: '20%'
                }
                //,
                //tipo: {
                //    title: app.localize('Tipo'),
                //    width: '10%',
                //    display: function (data) {
                //        if (data.record.tipoItemTabela) {
                //            return data.record.tipoItemTabela.descricao;
                //        }
                //    }
                //}
                //,
                //isInclusaoManual: {
                //    title: app.localize('IsInclusaoManual'),
                //    width: '5%'
                //}
            }
        });

        function getItensTabela(reload) {
            if (reload) {
                _$ItensTabelaTable.jtable('reload');
            } else {
                _$ItensTabelaTable.jtable('load', {
                    filtro: $('#ItensTabelaTableFilter').val()
                });
            }
        }

        function deleteItensTabela(itemTabela) {

            abp.message.confirm(
                app.localize('DeleteWarning', itemTabela.Nome),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _ItensTabelaService.excluir(itemTabela)
                            .done(function () {
                                getItensTabela(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        function createRequestParams() {
            var prms = {};
            _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
            return $.extend(prms);
        }

        $('#ShowAdvancedFiltersSpan').click(function () {
            $('#ShowAdvancedFiltersSpan').hide();
            $('#HideAdvancedFiltersSpan').show();
            $('#AdvacedAuditFiltersArea').slideDown();
        });

        $('#HideAdvancedFiltersSpan').click(function () {
            $('#HideAdvancedFiltersSpan').hide();
            $('#ShowAdvancedFiltersSpan').show();
            $('#AdvacedAuditFiltersArea').slideUp();
        });

        $('#CreateNewItemTabelaButton').click(function () {
            _createOrEditModal.open();
        });

        $('#ExportarItensTabelaParaExcelButton').click(function () {
            _ItensTabelaService
                .listarParaExcel({
                    filtro: $('#ItensTabelaTableFilter').val(),
                    //sorting: $(''),
                    maxResultCount: $('span.jtable-page-size-change select').val()
                })
                .done(function (result) {
                    app.downloadTempFile(result);
                });
        });

        $('#GetItensTabelaButton, #RefreshItensTabelaListButton').click(function (e) {
            e.preventDefault();
            getItensTabela();
        });

        abp.event.on('app.CriarOuEditarItemTabelaModalSaved', function () {
            getItensTabela(true);
        });

        getItensTabela();

        $('#ItensTabelaTableFilter').focus();
 //   });

    

</script>
}
<style>
    .Centralizado {
        text-align: center;
    }
</style>