﻿@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Suprimentos.Estoques.Relatorios.RelatorioEntradaModel

@{
    ViewBag.CurrentPageName = PageNames.App.SuprimentosRelatorio.SaldoProduto;
}

@*<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                   
                        <span>@L("MovimentacaoProduto")</span>
                   
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button data-formato="Excel" class="btnExportar btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        <button data-formato="PDF" class="btnExportar btn btn-default"><i class="fa fa-file-pdf-o"></i> @L("ExportToPdf")</button>
        <button data-formato="Word" class="btnExportar btn btn-default"><i class="fa fa-file-word-o"></i> @L("ExportToWord")</button>
    </div>
</div>*@
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(""))


        <div class="form">

            <div class="form-body" enter-key="vm.getEntradas()">
                <div class="row margin-bottom-10">
                    <input type="hidden" name="PreMovimentoId" id="preMovimentoId" value="@Model.PreMovimentoId" />
                </div>
                <div class="text-right">
                    <button type="button" id="btnVisualizar" class="btn btn-primary blue hidden" ><i class="fa fa-search"></i>Visualizar</button>
                </div>
            </div>

        </div>

        <div id="dvVisualizar" class="row">
            <iframe id="fVisualizar" src="" style="width:100%; height:400px; border:none 0; background-color:white"></iframe>
        </div>
    </div>
</div>

   <script>
        $(function () {

            $('.modal-dialog').css('width', '1200px');

            //$("#btnVisualizar").click(function (e) {
            //    e.preventDefault();


            //   

            //    var url = '/Mpa/RelatorioEntrada/Visualizar/' + $("#preMovimentoId").val();
            //    $("#fVisualizar").attr("src", url);
            //   // painel.show();
            //});


            var url = '/Mpa/RelatorioEntrada/Visualizar/' + $("#preMovimentoId").val();
            $("#fVisualizar").attr("src", url);

           
        });
    </script>
