﻿@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Navigation
@using Abp.Web.Mvc.Extensions

@model SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto



@section Scripts
{

    <script src="~/libs/PDFObject/pdfobject.js"></script>

}


@if (Model != null)
{

    <div class="portlet light margin-bottom-0" >
        <div class="portlet-body">
            @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(string.Format("{0}: {1} - {2:D10}{3}", L("Prontuario"), Model.Paciente.NomeCompleto, L("Atendimento") + ": " + Model.Codigo, Model.Paciente.Nascimento.HasValue ? " - " + L("Nascimento") + ": " + Model.Paciente.Nascimento.Value.ToString("dd/MM/yyyy") : string.Empty)))

            <div class="modal-body container-fluid"  id="divImg">
                <form name="preMovimentoInformationsFormsdfgsdfgsdfgsdfgsdfgsdfg" role="form" novalidate class="form-validation">

                    <input type="hidden" name="AtendimentoDoRegistroId" id="atendimentoDoRegistroId" value="@Model.Id" />

                    <div class="row">
                        <div class="col-sm-4">
                            <div id="registrosArquivosTable"></div>
                        </div>

                        <div  class="col-sm-8 profile">
                            <div id="divImagem">
                                <img id="imagemRegistroArquivo" class="img-thumbnail img-rounded" />
                            </div>
                            <div id="divPDF" style="margin:auto; width:90%; height:1000px; border:6px solid #6da6c6; border-radius: 5px;">
                                <div class="loader"></div>
                            </div>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn default close-button" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}




<script>



    
    




</script>